Repository hashicorp/terraform-provider-google, pull requests merged in 2018-09, with the labels that each got.

#1921 Addition of create_subnetwork and other fields relevant for Alias IPs
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/L

#1991 Updating the GCP dns api client.
  vendor/google.golang.org/api/dns/v1/dns-api.json
  vendor/google.golang.org/api/dns/v1/dns-gen.go
  vendor/vendor.json
Labels: size/XXL

#1990 Improving billing logging sink docs
  website/docs/r/logging_billing_account_sink.html.markdown
Labels: size/XS

#1993 Remove vendor code for UUIDs
  vendor/github.com/satori/go.uuid/LICENSE
  vendor/github.com/satori/go.uuid/README.md
  vendor/github.com/satori/go.uuid/uuid.go
  vendor/vendor.json
Labels: size/XL

#1994 Use Go v1.11.0
  .travis.yml
  README.md
  google/image_test.go
  google/resource_binaryauthorization_attestor.go
  google/resource_compute_instance_migrate_test.go
  google/resource_compute_network.go
  google/resource_sql_database_instance.go
  google/validation_test.go
Labels: size/M

#1970 Correct google_compute_ssl_certificate import example
  website/docs/r/compute_ssl_certificate.html.markdown
Labels: size/XS

#1933 Use differentiated issue templates.
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/question.md
Labels: size/L

#1968 Setting a default update_mask for all log sinks
  google/resource_logging_billing_account_sink.go
  google/resource_logging_folder_sink.go
  google/resource_logging_organization_sink.go
  google/resource_logging_project_sink.go
  google/resource_logging_sink.go
  website/docs/r/logging_project_sink.html.markdown
Labels: size/S

#1979 Add region choice to dataflow jobs
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
Labels: size/L

#2002 add documentation for dataproc metadata
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/XS

#2003 Store vpn_tunnel.router as a self_link. Fixes #1963.
  google/resource_compute_autoscaler.go
  google/resource_compute_vpn_tunnel.go
  google/resource_compute_vpn_tunnel_test.go
Labels: size/M

#1681 Allow recreation of recently deleted project and org custom roles
  google/resource_google_organization_iam_custom_role.go
  google/resource_google_organization_iam_custom_role_test.go
  google/resource_google_project_iam_custom_role.go
  google/resource_google_project_iam_custom_role_test.go
  website/docs/r/google_organization_iam_custom_role.html.markdown
  website/docs/r/google_project_iam_custom_role.html.markdown
Labels: enhancement, size/L

#2019 Run "go tool fix google" after Go 1.11
  google/resource_bigtable_instance.go
  google/resource_bigtable_table.go
  google/resource_google_project_services.go
Labels: size/XS

#2020 Source repo import.
  google/resource_source_repos_repository.go
  google/resource_source_repos_repository_test.go
Labels: size/S

#1931 #644 Add Support For BigQuery Access Control
  google/import_bigquery_dataset_test.go
  google/resource_bigquery_dataset.go
  google/resource_bigquery_dataset_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: size/L

#2009 Add labels functionality to managed DNS
  google/resource_dns_managed_zone.go
  google/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.markdown
Labels: size/S

#1957 Attached disk resource
  google/provider.go
  google/regional_utils.go
  google/resource_compute_attached_disk.go
  google/resource_compute_attached_disk_test.go
  website/docs/r/compute_attached_disk.html.markdown
  website/google.erb
Labels: size/XL

#2001 Add Cloud Composer Environments resource
  google/composer_operation.go
  google/provider.go
  google/provider_composer_gen.go
  google/resource_composer_environment.go
  google/resource_composer_environment_test.go
  website/docs/r/composer_environment.html.markdown
Labels: size/XXL

#1878 Remove duplicate ProjectIDRegex variable
  google/validation.go
  google/validation_test.go
Labels: size/S

#2027 updating changelog
  CHANGELOG.md
Labels: size/XS

#2032 Fix Composer test sweeper
  google/resource_composer_environment_test.go
Labels: size/S

#2029 Enable multiple alias IP ranges for compute instance.
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
Labels: size/L

#2030 add warning about imports to sql database instance
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#2040 Service account email for SQL instances
  google/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#2015 Autogenerate google_compute_ssl_certificate.
  google/provider_compute_gen.go
  google/resource_compute_ssl_certificate.go
  google/resource_compute_ssl_certificate_test.go
  website/docs/r/compute_ssl_certificate.html.markdown
Labels: size/L

#2038 Add support for max pods per node to node pool.
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
  vendor/google.golang.org/api/container/v1beta1/container-api.json
  vendor/google.golang.org/api/container/v1beta1/container-gen.go
  vendor/vendor.json
  website/docs/r/container_node_pool.html.markdown
Labels: size/XL

#2041 Fix _withPrivateCluster container test.
  google/resource_container_cluster_test.go
Labels: size/XS

#2035 Set correct nodepool Id using 4 part importer
  google/resource_container_node_pool.go
Labels: size/XS

#2045 Add information about vendoring to CONTRIBUTING.md
  .github/CONTRIBUTING.md
  README.md
Labels: size/S

#2005 Fix flaky TestAccComputeDisk_timeout test
  google/resource_compute_disk_test.go
Labels: size/XS

#2048 replace dataproc preview version
  google/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/XS

#2046 Remove hardcoded version in resource_container_node_pool_test.go
  google/resource_container_node_pool_test.go
Labels: size/XS

#2052 Fix Composer Test flakes/bucket sweeper
  google/resource_composer_environment_test.go
Labels: size/S

#2042 Add missing quotation marks to compute_ssl_certificate tests
  google/resource_compute_ssl_certificate_test.go
Labels: size/XS

#2049 get dataproc logs when jobs fail in test
  google/resource_dataproc_job_test.go
Labels: size/M

#2047 change delay in region instance group data source test
  google/data_source_google_compute_region_instance_group_test.go
Labels: size/XS

#2057 Just make sweeper warn instead of error
  google/resource_composer_environment_test.go
Labels: size/XS

#2064 Reduce rig datasource test target size to 1.
  google/data_source_google_compute_region_instance_group_test.go
Labels: size/XS

#2060 move all remaining import_ tests into resource-specific tests
  google/data_source_google_service_account_test.go
  google/import_bigquery_dataset_test.go
  google/import_bigquery_table_test.go
  google/import_google_project_iam_custom_role_test.go
  google/import_google_service_account_test.go
  google/import_kms_crypto_key_test.go
  google/import_kms_key_ring_test.go
  google/import_logging_project_sink_test.go
  google/import_spanner_database_test.go
  google/import_spanner_instance_test.go
  google/resource_bigquery_dataset_test.go
  google/resource_bigquery_table_test.go
  google/resource_google_project_iam_custom_role_test.go
  google/resource_google_service_account_test.go
  google/resource_kms_crypto_key_test.go
  google/resource_kms_key_ring_test.go
  google/resource_logging_project_sink_test.go
  google/resource_spanner_database_test.go
  google/resource_spanner_instance_test.go
  google/resource_storage_bucket_test.go
Labels: size/XXL

#2017 Add tests based on google_compute_address examples.
  google/resource_compute_address_generated_test.go
  website/docs/r/compute_address.html.markdown
Labels: size/M

#1906 Add a datasource for google_compute_instance
  google/data_source_google_compute_instance.go
  google/data_source_google_compute_instance_test.go
  google/data_source_google_compute_region_instance_group.go
  google/provider.go
  google/self_link_helpers.go
  website/docs/d/datasource_compute_instance.html.markdown
  website/docs/d/datasource_compute_region_instance_group.html.markdown
Labels: size/XL

#2073 Add filestore to Vendor.
  vendor/google.golang.org/api/file/v1beta1/file-api.json
  vendor/google.golang.org/api/file/v1beta1/file-gen.go
  vendor/vendor.json
Labels: size/XXL

#2074 Add Filestore client to config.
  google/config.go
Labels: size/XS

#2086 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: size/XS

#2085 Add docs about local provider to CONTRIBUTING
  .github/CONTRIBUTING.md
Labels: size/XS

#2075 Remove binary_log_enabled from Postgres test, as it's unsupported
  google/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#2054 Make runtime configs importable
  google/resource_runtimeconfig_config.go
  google/resource_runtimeconfig_config_test.go
  google/resource_runtimeconfig_variable.go
  google/resource_runtimeconfig_variable_test.go
  website/docs/r/runtimeconfig_config.html.markdown
  website/docs/r/runtimeconfig_variable.html.markdown
Labels: size/M

#1764 Be more specific about number of nodes in regional cluster
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2087 Supporting IP range reservation for global address
  google/resource_compute_global_address.go
  google/resource_compute_global_address_test.go
  website/docs/r/compute_global_address.html.markdown
Labels: size/L

#2065 Introduce a new Google provider landing page, complementary pages.
  website/docs/getting_started.html.markdown
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
  website/google.erb
Labels: size/XL

#1569 WIP: Add interconnect attachments. Fixes #1140.
  google/provider_compute_gen.go
  google/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: enhancement, new-resource, size/XL

#2095 remove containeranalysis from ignore list
  google/resource_google_project_services.go
Labels: size/XS

#2088 Implement Filestore Instance.
  google/config.go
  google/filestore_operation.go
  google/provider.go
  google/provider_filestore_gen.go
  google/resource_filestore_instance.go
  google/resource_filestore_instance_test.go
  google/resource_redis_instance.go
  website/docs/r/filestore_instance.html.markdown
  website/google.erb
Labels: size/XXL

#2097 Add tests for several compute resource examples, rearrange examples in docs
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_backend_bucket_generated_test.go
  google/resource_compute_disk_generated_test.go
  google/resource_compute_firewall_generated_test.go
  google/resource_compute_forwarding_rule_generated_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: size/XL

#2106 Magic Modules changes.
  google/resource_compute_global_address_generated_test.go
  google/resource_compute_health_check_generated_test.go
  google/resource_compute_http_health_check_generated_test.go
  google/resource_compute_https_health_check_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_compute_region_disk_generated_test.go
  google/resource_compute_route_generated_test.go
  google/resource_compute_router_generated_test.go
  google/resource_compute_ssl_policy_generated_test.go
  google/resource_compute_subnetwork_generated_test.go
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/XL

#2069 Replace "Google Apps domain" with "G Suite domain"
  website/docs/d/google_iam_policy.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/google_folder_iam_binding.html.markdown
  website/docs/r/google_folder_iam_member.html.markdown
  website/docs/r/google_kms_key_ring_iam.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
  website/docs/r/pubsub_subscription_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/spanner_database_iam.html.markdown
  website/docs/r/spanner_instance_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: size/XS

#2105 Simplify GKE cluster code
  google/resource_container_cluster.go
Labels: size/L

#2110 Vendor random provider to allow use in tests
  google/provider_test.go
  vendor/github.com/dustinkirkland/golang-petname/LICENSE
  vendor/github.com/dustinkirkland/golang-petname/README.md
  vendor/github.com/dustinkirkland/golang-petname/golang-petname.1
  vendor/github.com/dustinkirkland/golang-petname/petname.go
  vendor/github.com/terraform-providers/terraform-provider-random/LICENSE
  vendor/github.com/terraform-providers/terraform-provider-random/random/provider.go
  vendor/github.com/terraform-providers/terraform-provider-random/random/resource_id.go
  vendor/github.com/terraform-providers/terraform-provider-random/random/resource_integer.go
  vendor/github.com/terraform-providers/terraform-provider-random/random/resource_pet.go
  vendor/github.com/terraform-providers/terraform-provider-random/random/resource_shuffle.go
  vendor/github.com/terraform-providers/terraform-provider-random/random/resource_string.go
  vendor/github.com/terraform-providers/terraform-provider-random/random/resource_string_migration.go
  vendor/github.com/terraform-providers/terraform-provider-random/random/resource_uuid.go
  vendor/github.com/terraform-providers/terraform-provider-random/random/seed.go
  vendor/vendor.json
Labels: size/XXL

#2090 Check for project deletion when refreshing/deleting project_service.
  google/resource_google_project_service.go
  google/resource_google_project_service_test.go
Labels: size/M

#2102 Update google_cloudbuild_trigger documentation
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: size/S

#2096 Deprecate address in compute_instance family, undeprecate network_ip
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template_test.go
  google/resource_compute_instance_test.go
  website/docs/d/datasource_compute_instance.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/L

#2124 Fix TestAccComputeRoute_routeBasicExample
  google/resource_compute_route_generated_test.go
  website/docs/r/compute_route.html.markdown
Labels: size/XS

#2117 Do not send empty values for nested properties
  google/resource_binaryauthorization_attestor.go
  google/resource_binaryauthorization_policy.go
  google/resource_compute_autoscaler.go
  google/resource_compute_disk.go
  google/resource_compute_firewall.go
  google/resource_compute_health_check.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_disk.go
  google/resource_compute_router.go
  google/resource_compute_subnetwork.go
  google/resource_containeranalysis_note.go
  google/resource_filestore_instance.go
Labels: size/XL

#2125 Fix docs for BinAuth Policy cluster_admission_rules
  website/docs/r/binaryauthorization_policy.html.markdown
Labels: size/XS

#2133 Bugfix: Stop reading region from Redis API, remove unnecessary Flatten methods.
  google/resource_compute_ssl_certificate.go
  google/resource_compute_vpn_tunnel.go
  google/resource_filestore_instance.go
  google/resource_redis_instance.go
Labels: size/XS
