Repository hashicorp/terraform-provider-google, pull requests merged in 2018-11, with the labels that each got.

#2387 Regional Clusters are GA followup
  google/data_source_google_container_engine_versions.go
  google/resource_container_node_pool.go
Labels: size/XS

#2386 Remove google_project.app_engine
  google/resource_google_project.go
  google/resource_google_project_test.go
  website/docs/r/google_project.html.markdown
Labels: size/XL

#2392 Remove google_cloudfunctions_function.retry_on_failure
  google/resource_cloudfunctions_function.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/S

#2391 Remove max_pods_per_node from GA provider
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
Labels: size/M

#2383 initial 2.0 upgrade guide
  website/docs/version_2_upgrade.html.markdown
  website/google.erb
Labels: size/L

#2396 Remove google_endpoints_service.protoc_output
  google/resource_endpoints_service.go
  website/docs/r/endpoints_service.html.markdown
Labels: size/S

#2399 Remove google_compute_global_forwarding_rule.labels
  google/resource_compute_global_forwarding_rule.go
  google/resource_compute_global_forwarding_rule_test.go
Labels: size/L

#2394 Deprecated network_interface.address in code in instance template.
  google/resource_compute_instance_template.go
Labels: size/XS

#2397 Remove service_account_id from data.google_service_account_key
  google/data_source_google_service_account_key.go
  google/data_source_google_service_account_key_test.go
Labels: size/M

#2395 Make removals in google_container_cluster
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/XL

#2401 google_bigtable_instance add back validation to num_nodes.
  google/resource_bigtable_instance.go
  website/docs/r/bigtable_instance.html.markdown
Labels: size/XS

#2404 Fix make fmt
  google/resource_compute_instance_template.go
Labels: size/XS

#2407 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: size/XS

#2410 Change BigQuery access list to a set
  google/resource_bigquery_dataset.go
Labels: size/XS

#2412 Add support for new-style cloud functions triggers.
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#2416 add more changes to upgrade guide
  website/docs/version_2_upgrade.html.markdown
Labels: size/L

#2417 Magic Modules changes.
  google/access_context_manager_operation.go
  google/resource_access_context_manager_access_policy_test.go
Labels: size/XS

#2420 Remove unnecessary fields in PATCH updates
  google/resource_compute_firewall.go
  google/resource_compute_router.go
  google/resource_compute_ssl_policy.go
  google/resource_redis_instance.go
Labels: size/M

#2421 use import-style tests in sql database instance
  google/resource_sql_database_instance_test.go
Labels: size/XL

#2423 Add import support to project metadata.
  google/resource_compute_project_metadata.go
  google/resource_compute_project_metadata_test.go
  website/docs/r/compute_project_metadata.html.markdown
Labels: size/L

#2411 Add support for accelerators to dataproc
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/L

#2426 Add empty files and docs because of copying over beta resources
  google/resource_service_networking_connection.go
  google/resource_service_networking_connection_test.go
  google/service_networking_operation.go
  website/docs/r/service_networking_connection.html.markdown
  website/google.erb
Labels: size/M

#2427 Magic Modules changes.
  website/docs/r/redis_instance.html.markdown
Labels: size/XS

#2430 Fix ci tests
  google/resource_composer_environment_test.go
  google/resource_compute_firewall_test.go
  google/resource_compute_project_metadata_item.go
  google/resource_compute_snapshot.go
  google/resource_dataproc_job.go
  website/docs/r/compute_project_metadata_item.html.markdown
  website/docs/r/compute_snapshot.html.markdown
Labels: size/M

#2434 Add 2.0.0 branch to .travis.yml
  .travis.yml
Labels: size/XS

#2433 Merge OiCS links into TPG Master
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
Labels: size/L

#2431 Remove beta resources from the website
  website/google.erb
Labels: size/XS

#2436 Magic Modules changes.
  google/resource_compute_global_address_test.go
Labels: size/S

#2439 Fix generated test name formatting
  google/resource_compute_address_generated_test.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_backend_bucket_generated_test.go
  google/resource_compute_disk_generated_test.go
  google/resource_compute_firewall_generated_test.go
  google/resource_compute_forwarding_rule_generated_test.go
  google/resource_compute_global_address_generated_test.go
  google/resource_compute_health_check_generated_test.go
  google/resource_compute_http_health_check_generated_test.go
  google/resource_compute_https_health_check_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_compute_region_disk_generated_test.go
  google/resource_compute_route_generated_test.go
  google/resource_compute_router_generated_test.go
  google/resource_compute_ssl_certificate_generated_test.go
  google/resource_compute_ssl_policy_generated_test.go
  google/resource_compute_subnetwork_generated_test.go
  google/resource_compute_target_http_proxy_generated_test.go
  google/resource_compute_target_https_proxy_generated_test.go
  google/resource_compute_target_ssl_proxy_generated_test.go
  google/resource_compute_target_tcp_proxy_generated_test.go
  google/resource_compute_url_map_generated_test.go
  google/resource_compute_vpn_gateway_generated_test.go
  google/resource_compute_vpn_tunnel_generated_test.go
  google/resource_redis_instance_generated_test.go
  google/resource_storage_default_object_access_control_generated_test.go
  google/resource_storage_object_access_control_generated_test.go
Labels: size/L

#2438 Add new version.go file + linker flags.
  GNUmakefile
  version/version.go
Labels: size/XS

#2444 Magic Modules changes.
  website/docs/r/redis_instance.html.markdown
Labels: size/XS

#2450 Fix disk snapshot expand/encode, kmsKeyName decoder
  google/resource_compute_disk.go
  google/resource_compute_region_disk.go
Labels: size/S

#2121 Update cloudbuild trigger in place
  google/resource_cloudbuild_build_trigger.go
  google/resource_cloudbuild_build_trigger_test.go
Labels: size/M

#2464 Add docs about regional and zonal versions differing in GKE
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2419 Add documentation on resource.google_container_cluster
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2440 Make master_auth user/pass optional
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2451 New Resource: Stack Driver Group
  google/provider_monitoring_gen.go
  google/resource_monitoring_group.go
  google/resource_monitoring_group_generated_test.go
  google/resource_monitoring_group_test.go
  website/docs/r/container_cluster.html.markdown
  website/docs/r/monitoring_group.html.markdown
Labels: size/XL

#2461 Magic Modules changes.
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2469 Update pubsub topic to read after create, same as TPG #2346
  google/resource_pubsub_topic.go
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#2470 Add weird diff to storage bucket docs.
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#2474 add warning about node pools defined in clusters. See TPG #1712.
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2290 Add the sql ssl (client) cert resource
  google/provider.go
  google/resource_sql_ssl_cert.go
  google/resource_sql_ssl_cert_test.go
  website/docs/r/sql_ssl_cert.html.markdown
  website/google.erb
Labels: size/XL

#2475 use shorter beta link in docs instead of long description
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: size/M

#2415 Container cluster changes ancillary to beta support for autoprovisioning.
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/L

#2487 Fix page title for SQL SSL Cert
  website/docs/r/sql_ssl_cert.html.markdown
Labels: size/XS

#2428 Start autogenerating resource_dns_managed_zone
  google/provider.go
  google/provider_dns_gen.go
  google/resource_dns_managed_zone.go
  google/resource_dns_managed_zone_generated_test.go
  google/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/dns_managed_zone.markdown
Labels: size/XL

#2490 vendor composer v1beta1
  vendor/google.golang.org/api/composer/v1beta1/composer-api.json
  vendor/google.golang.org/api/composer/v1beta1/composer-gen.go
  vendor/vendor.json
Labels: size/XXL

#2492 Fix the breaking change in sqladmin.
  google/resource_sql_user.go
Labels: size/XS

#2488 Fix for permadiff in container cluster caused by beta resource.
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/M

#2413 Add billing account IAM
  google/iam_billing_account.go
  google/provider.go
  google/resource_google_billing_account_iam_test.go
  website/docs/r/google_billing_account_iam_binding.md
  website/docs/r/google_billing_account_iam_member.md
  website/docs/r/google_billing_account_iam_policy.md
  website/google.erb
Labels: size/XL

#2482 Add support for data source 'google_iam_role'
  google/data_source_google_iam_role.go
  google/data_source_google_iam_role_test.go
  google/provider.go
  website/docs/d/datasource_google_iam_role.html.markdown
  website/google.erb
Labels: size/M

#2484 Ignore empty json objects inside arrays
  google/resource_compute_autoscaler.go
  google/resource_compute_disk.go
  google/resource_compute_firewall.go
  google/resource_compute_health_check.go
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_disk.go
  google/resource_compute_router.go
  google/resource_compute_subnetwork.go
  google/resource_compute_url_map.go
  google/resource_monitoring_alert_policy.go
  google/resource_storage_default_object_access_control.go
  google/resource_storage_object_access_control.go
Labels: size/M

#2457 Update contributing.md after beta split
  .github/CONTRIBUTING.md
Labels: size/XS

#2144 Add a documentation entry for CNAME records
  website/docs/r/dns_record_set.markdown
Labels: size/XS

#2495 Minor no-op website change
  website/docs/r/dns_record_set.markdown
Labels: size/XS

#2500 Add beta provider symlink to local provider guide
  .github/CONTRIBUTING.md
Labels: size/XS

#2503 Move the set project logic higher in the read method
  google/resource_compute_address.go
  google/resource_compute_autoscaler.go
  google/resource_compute_backend_bucket.go
  google/resource_compute_disk.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_compute_health_check.go
  google/resource_compute_http_health_check.go
  google/resource_compute_https_health_check.go
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_disk.go
  google/resource_compute_route.go
  google/resource_compute_router.go
  google/resource_compute_ssl_certificate.go
  google/resource_compute_ssl_policy.go
  google/resource_compute_subnetwork.go
  google/resource_compute_target_http_proxy.go
  google/resource_compute_target_https_proxy.go
  google/resource_compute_target_ssl_proxy.go
  google/resource_compute_target_tcp_proxy.go
  google/resource_compute_url_map.go
  google/resource_compute_vpn_gateway.go
  google/resource_compute_vpn_tunnel.go
  google/resource_dns_managed_zone.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_group.go
  google/resource_monitoring_notification_channel.go
  google/resource_redis_instance.go
Labels: size/XL

#2393 Start removing beta igm/rigm fields.
  google/resource_compute_instance_group_manager.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_region_instance_group_manager_test.go
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: size/XXL

#2480 support firestore cloud function triggers
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  google/test-fixtures/cloudfunctions/firestore_trigger.js
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/M

#2505 Add upgrade guide docs for igm, rigm removals.
  google/test-fixtures/cloudfunctions/firestore_trigger.js
  website/docs/version_2_upgrade.html.markdown
Labels: size/XS

#2511 Pass the terraform resource into all flatten methods
  google/resource_compute_address.go
  google/resource_compute_autoscaler.go
  google/resource_compute_backend_bucket.go
  google/resource_compute_disk.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_compute_health_check.go
  google/resource_compute_http_health_check.go
  google/resource_compute_https_health_check.go
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_disk.go
  google/resource_compute_route.go
  google/resource_compute_router.go
  google/resource_compute_ssl_certificate.go
  google/resource_compute_ssl_policy.go
  google/resource_compute_subnetwork.go
  google/resource_compute_target_http_proxy.go
  google/resource_compute_target_https_proxy.go
  google/resource_compute_target_ssl_proxy.go
  google/resource_compute_target_tcp_proxy.go
  google/resource_compute_url_map.go
  google/resource_compute_vpn_gateway.go
  google/resource_compute_vpn_tunnel.go
  google/resource_dns_managed_zone.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_group.go
  google/resource_monitoring_notification_channel.go
  google/resource_redis_instance.go
  google/resource_resourcemanager_lien.go
  google/resource_storage_default_object_access_control.go
  google/resource_storage_object_access_control.go
  google/test-fixtures/cloudfunctions/firestore_trigger.js
Labels: size/XXL

#2526 Avoid overwriting errors so that they can be detected by handleNotFoundError.
  google/logging_exclusion_billing_account.go
  google/logging_exclusion_folder.go
  google/logging_exclusion_organization.go
  google/logging_exclusion_project.go
Labels: size/XS

#2525 Add nil check to fix panic in storage bucket.
  google/resource_storage_bucket.go
Labels: size/XS

#2527 Add to state before we send the create call.
  google/resource_dataproc_cluster.go
Labels: size/XS

#2502 New Resource: Stackdriver uptime check
  google/provider_monitoring_gen.go
  google/resource_monitoring_uptime_check_config.go
  google/resource_monitoring_uptime_check_config_generated_test.go
  google/resource_monitoring_uptime_check_config_test.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: size/XXL

#2539 Adding rubocop for generated inspec files
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/google.erb
Labels: size/XS

#2546 Docs update for kubernetes version.
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2545 Add documentation for new resource_compute_router_nat to Terraform provider
  google/resource_compute_router_nat.go
  google/resource_compute_router_nat_test.go
  website/docs/r/compute_router_nat.html.markdown
  website/google.erb
Labels: size/L

#2550 Add support for content-based load balancing to google_compute_health_check
  google/resource_compute_health_check.go
  website/docs/r/compute_health_check.html.markdown
Labels: size/S
