Repository hashicorp/terraform-provider-google, pull requests merged in 2018-04, with the labels that each got.

#1259 Set isn't a valid key for a TypeMap
  google/resource_compute_disk.go
Labels: enhancement

#1299 Fix broken link.
  website/docs/r/google_project.html.markdown
Labels: bug, documentation

#1261 Escape the display name in active folder data source (in case of spaces, etc)
  google/data_source_google_active_folder.go
  google/data_source_google_active_folder_test.go
Labels: enhancement

#1343 Clarify IAM policy deprecation.
  google/resource_google_project_iam_policy.go
Labels: documentation, easy
