Repository hashicorp/terraform-provider-google, pull requests merged in 2018-10, with the labels that each got.

#1974 Add "enable_tpu" flag to google_container_cluster
  google/data_source_google_container_cluster_test.go
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/M

#2135 use beta api for container analysis
  google/resource_containeranalysis_note.go
Labels: size/XS

#2136 use ga api for redis
  google/resource_redis_instance.go
Labels: size/XS

#2138 fix instance template interaction with regional disks, make docs more clear about valid values
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  website/docs/r/compute_instance_template.html.markdown
Labels: size/M

#2139 Make max_pods_per_node ForceNew
  google/resource_container_node_pool.go
Labels: size/XS

#1995 Fix perma-diff on instance templates.
  google/image.go
  google/resource_compute_instance_template.go
  google/utils.go
  vendor/github.com/hashicorp/terraform/helper/schema/data_source_resource_shim.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_data.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_diff.go
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/helper/schema/set.go
  vendor/vendor.json
Labels: size/L

#2155 Deprecate assigned_nat_ip in compute_instance family
  examples/endpoints-on-compute-engine/main.tf
  examples/shared-vpc/main.tf
  examples/shared-vpc/output.tf
  examples/two-tier/output.tf
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_test.go
  website/docs/d/datasource_compute_instance.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/dns_record_set.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: size/S

#2154 Bring google_dns_managed_zones to ga
  google/dns_operation.go
  google/resource_dns_managed_zone.go
Labels: size/XS

#2153 Fix error in instance template read.
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
Labels: size/M

#2147 Add google_app_engine_application resource.
  google/provider.go
  google/resource_app_engine_application.go
  google/resource_app_engine_application_test.go
  google/resource_google_project.go
  website/docs/r/app_engine_application.html.markdown
  website/google.erb
Labels: size/XL

#2137 Refactor google_sql_database_instance to use Expand functions.
  google/resource_sql_database_instance.go
Labels: size/XL

#2157 allow sending empty values for router fields
  google/resource_compute_router.go
Labels: size/XS

#2120 Stackdriver monitoring AlertPolicy resource
  google/provider_monitoring_gen.go
  google/resource_binaryauthorization_attestor.go
  google/resource_binaryauthorization_policy.go
  google/resource_compute_autoscaler.go
  google/resource_compute_firewall.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_router.go
  google/resource_compute_subnetwork.go
  google/resource_filestore_instance.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_alert_policy_test.go
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: size/XXL

#2148 Add the moitoring top level resource
  google/provider.go
  website/google.erb
Labels: size/XS

#2161 Move Bigtable config to cluster block.
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
  website/docs/r/bigtable_instance.html.markdown
Labels: size/XL

#2158 Add event_trigger to cloud functions
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XL

#2152 Deprecate handwritten beta fields.
  google/data_source_google_container_engine_versions.go
  google/iam_compute_subnetwork.go
  google/node_config.go
  google/resource_compute_backend_service.go
  google/resource_compute_global_forwarding_rule.go
  google/resource_compute_instance_group_manager.go
  google/resource_container_cluster.go
  google/resource_container_node_pool.go
Labels: size/M

#2156 Deprecate beta fields for (R)IGM.
  google/resource_compute_instance_group_manager.go
  google/resource_compute_region_instance_group_manager.go
  website/docs/r/compute_instance_group_manager.html.markdown
Labels: size/S

#2160 add doc about the different provider versions
  website/docs/provider_versions.html.markdown
  website/google.erb
Labels: size/M

#2142 Add deprecation message for generated beta fields.
  google/resource_binaryauthorization_attestor.go
  google/resource_binaryauthorization_policy.go
  google/resource_compute_address.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_compute_region_disk.go
  google/resource_compute_subnetwork.go
  google/resource_containeranalysis_note.go
  google/resource_filestore_instance.go
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
Labels: size/L

#2167 remove min_version from a bunch of fields that are in GA now
  google/resource_compute_address.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_compute_region_disk.go
  google/resource_compute_subnetwork.go
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/M

#2168 Fix cloud function datasource
  google/data_source_google_cloudfunctions_function.go
  website/docs/d/datasource_cloudfunctions_function.html.markdown
Labels: size/S

#2170 set role entity to nil on read if it isn't in state
  google/resource_storage_object_acl.go
Labels: size/XS

#2173 use https for link to versions doc
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/filestore_instance.html.markdown
Labels: size/XS

#2174 add retries for all calls in sql database resource
  google/resource_sql_database.go
Labels: size/S

#2111 Add new generated tests for examples
  google/resource_compute_ssl_certificate_generated_test.go
  google/resource_compute_target_http_proxy_generated_test.go
  google/resource_compute_target_https_proxy_generated_test.go
  google/resource_compute_target_ssl_proxy_generated_test.go
  google/resource_compute_target_tcp_proxy_generated_test.go
  google/resource_compute_vpn_gateway_generated_test.go
  google/resource_compute_vpn_tunnel_generated_test.go
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: size/XL

#2141 Add an address example with a VM instance
  google/resource_compute_address_generated_test.go
  website/docs/r/compute_address.html.markdown
Labels: size/M

#2131 Add example tests for Redis, Filestore, ContainerAnalysis
  google/resource_containeranalysis_note_generated_test.go
  google/resource_filestore_instance_generated_test.go
  google/resource_redis_instance_generated_test.go
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
Labels: size/XL

#2178 Remove beta-features header
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/compute_security_policy.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: size/M

#2186 Deprecate restore_policy in code
  google/resource_google_project_iam_policy.go
Labels: size/XS

#2208 Make google_compute_instance metadata authoritative.
  google/resource_compute_instance.go
  website/docs/r/compute_instance.html.markdown
Labels: size/M

#2206 labelfingerprint is beta for resources where labels are beta
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
Labels: size/XS

#2212 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#2204 set app engine to empty if api not enabled
  google/resource_google_project.go
Labels: size/XS

#2196 Fix handwritten provider_versions links
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: size/S

#2197 Fix generated provider_versions links
  google/resource_binaryauthorization_attestor.go
  google/resource_binaryauthorization_policy.go
  google/resource_compute_address.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_containeranalysis_note.go
  google/resource_filestore_instance.go
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/filestore_instance.html.markdown
Labels: size/S

#2199 Adding the missing word 'peer' to title of Compute Router Peer documentation page
  website/docs/r/compute_router_peer.html.markdown
Labels: size/XS

#2218 don't try to parse the source image if there is none
  google/resource_compute_instance_template.go
Labels: size/XS

#2209 Remove deprecated raw_key convenience property
  google/resource_compute_disk.go
  google/resource_compute_disk_test.go
  google/resource_compute_instance_migrate_test.go
  google/resource_compute_instance_test.go
  google/resource_compute_snapshot_test.go
  website/docs/r/compute_disk.html.markdown
Labels: size/XL

#2219 Remove address and create_timeout from Instance
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: size/S

#2205 Make google_compute_project_metadata authoritative.
  google/metadata.go
  google/resource_compute_project_metadata.go
  website/docs/r/compute_project_metadata.html.markdown
Labels: size/L

#2226 Add documentation support to the stackdriver alertPolicy
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_alert_policy_test.go
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: size/M

#2203 Make google_sql_database_instance authoritative.
  google/resource_sql_database_instance.go
Labels: size/L

#2233 Fix empty TypeList expands in generated resources
  google/resource_binaryauthorization_attestor.go
  google/resource_binaryauthorization_policy.go
  google/resource_compute_autoscaler.go
  google/resource_compute_disk.go
  google/resource_compute_health_check.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_disk.go
  google/resource_compute_router.go
  google/resource_containeranalysis_note.go
  google/resource_monitoring_alert_policy.go
Labels: size/S

#2224 Don't allow destroying backend buckets in dataproc
  google/resource_dataproc_cluster.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/M

#2246 PR from HEAD of Magic Modules after long-running PR merged in.
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: size/XS

#2229 Guard against nil empty typelists.
  google/resource_cloudfunctions_function.go
  google/resource_compute_backend_service.go
  google/resource_compute_security_policy.go
  google/resource_container_cluster.go
  google/resource_google_organization_policy.go
  google/resource_pubsub_subscription.go
  google/resource_sql_database_instance.go
Labels: size/M

#2201 fix a list rendering issue
  website/docs/d/google_container_registry_repository.html.markdown
Labels: size/XS

#2200 typo fix in google_container_registry_repository.html.markdown
  website/docs/d/google_container_registry_repository.html.markdown
Labels: size/XS

#2150 Actually add composer docs to sidebar
  website/google.erb
Labels: size/XS

#2228 adding attribute family for bigtable_table
  google/resource_bigtable_table.go
  google/resource_bigtable_table_test.go
  website/docs/r/bigtable_table.html.markdown
Labels: size/M

#2250 Test failures
  google/data_source_google_compute_instance_test.go
  google/resource_compute_instance_migrate_test.go
  google/resource_compute_snapshot_test.go
Labels: size/L

#2244 Removing create_timeout from compute image
  google/resource_compute_image.go
  google/resource_compute_image_test.go
  website/docs/r/compute_image.html.markdown
Labels: size/XS

#2241 Change deprecated fields back to 'Removed'
  google/resource_compute_instance.go
  google/resource_dataproc_cluster.go
Labels: size/XS

#2222 Support default booleans for Terraform configs
  google/resource_monitoring_alert_policy.go
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: size/XS

#2242 stop generating beta resources/fields
  google/resource_compute_address.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_compute_region_disk.go
  google/resource_compute_subnetwork.go
  google/resource_compute_vpn_tunnel.go
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
Labels: size/XL

#2235 Deprecate network fields
  google/resource_compute_instance.go
  google/resource_compute_network.go
  website/docs/r/compute_network.html.markdown
Labels: size/S

#2245 Autogenerate google_compute_url_map
  google/provider_compute_gen.go
  google/resource_compute_disk.go
  google/resource_compute_region_disk.go
  google/resource_compute_subnetwork.go
  google/resource_compute_url_map.go
  google/resource_compute_url_map_generated_test.go
  google/resource_compute_vpn_tunnel.go
  website/docs/r/compute_url_map.html.markdown
Labels: size/XXL

#2261 Add more import paths for google_service_account.
  google/resource_google_service_account.go
  google/resource_google_service_account_test.go
Labels: size/S

#2260 changes to (r)igm so that resources can be converted from beta back to ga
  google/resource_compute_instance_group_manager.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_region_instance_group_manager_test.go
Labels: size/XXL

#2275 Create a link to storage_bucket_acl documentation
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#2276 Add import tests for google_cloudiot_registry
  google/resource_cloudiot_registry.go
  google/resource_cloudiot_registry_test.go
Labels: size/S

#2256 Add support for google_storage_object_access_control
  google/provider.go
  google/provider_storage_gen.go
  google/resource_google_storage_object_access_control_test.go
  google/resource_storage_object_access_control.go
  google/transport.go
  website/docs/r/storage_object_access_control.html.markdown
Labels: size/XL

#2269 Add Open in Cloud Shell links to docs
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
Labels: size/L

#2271 Output from magician generating into ga and beta providers
  google/iam_compute_subnetwork.go
  google/resource_compute_instance_group_manager.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_region_instance_group_manager_test.go
  google/resource_container_cluster.go
Labels: size/S

#2293 use correct cloud console link
  website/docs/getting_started.html.markdown
Labels: size/XS

#2294 OiCS changes due to generating the beta provider
  website/docs/r/storage_object_access_control.html.markdown
Labels: size/XS

#2297 Magic Modules changes.
  google/resource_container_cluster_test.go
Labels: size/M

#2292 Add OiCS Links for 1.19.1 [Merge 10/22]
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
Labels: size/L

#2304 Adding ipv4 range back
  google/resource_compute_network.go
Labels: size/XS

#2303 Adding ipv4 range back
  website/docs/r/compute_network.html.markdown
Labels: size/XS

#2312 fix a typo
  website/docs/r/app_engine_application.html.markdown
Labels: size/XS

#2313 Add support for Google Cloud Bigtable replication
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
Labels: size/L

#2289 [Website] Add support for Google Cloud Bigtable replication.
  website/docs/r/bigtable_instance.html.markdown
Labels: size/XS

#2298 CI change only - any change here will indicate a dependency on a ruby minor version.
  google/resource_compute_global_forwarding_rule.go
  google/resource_compute_instance_group_manager.go
  google/resource_compute_region_instance_group_manager.go
Labels: size/XS

#2327 Empty commit with no code changes
  google/resource_compute_address_generated_test.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_backend_bucket_generated_test.go
  google/resource_compute_disk_generated_test.go
  google/resource_compute_firewall_generated_test.go
  google/resource_compute_forwarding_rule_generated_test.go
  google/resource_compute_global_address_generated_test.go
  google/resource_compute_health_check_generated_test.go
  google/resource_compute_http_health_check_generated_test.go
  google/resource_compute_https_health_check_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_compute_region_disk_generated_test.go
  google/resource_compute_route_generated_test.go
  google/resource_compute_router_generated_test.go
  google/resource_compute_ssl_certificate_generated_test.go
  google/resource_compute_ssl_policy_generated_test.go
  google/resource_compute_subnetwork_generated_test.go
  google/resource_compute_target_http_proxy_generated_test.go
  google/resource_compute_target_https_proxy_generated_test.go
  google/resource_compute_target_ssl_proxy_generated_test.go
  google/resource_compute_target_tcp_proxy_generated_test.go
  google/resource_compute_url_map_generated_test.go
  google/resource_compute_vpn_gateway_generated_test.go
  google/resource_compute_vpn_tunnel_generated_test.go
  google/resource_redis_instance_generated_test.go
  google/resource_spanner_database.go
  google/resource_spanner_database_test.go
Labels: size/XL

#2321 remove trigger_bucket and trigger_topic
  google/data_source_google_cloudfunctions_function.go
  google/data_source_google_cloudfunctions_function_test.go
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  google/resource_compute_global_forwarding_rule.go
  google/resource_compute_instance_group_manager.go
  google/resource_compute_region_instance_group_manager.go
Labels: size/XL

#2339 Catching up missing Spanner changes
  google/resource_spanner_database.go
  google/resource_spanner_database_test.go
Labels: size/L

#2340 Add support for google_cloudfunctions_function runtime
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/d/datasource_cloudfunctions_function.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#2341 support KMS encryption for instance templates
  google/resource_compute_disk_test.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  website/docs/r/compute_instance_template.html.markdown
Labels: size/L

#2317 Autogenerate {{Resource}}Destroy in tests.
  google/resource_compute_address_generated_test.go
  google/resource_compute_address_test.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_backend_bucket_generated_test.go
  google/resource_compute_backend_bucket_test.go
  google/resource_compute_disk_generated_test.go
  google/resource_compute_disk_test.go
  google/resource_compute_firewall_generated_test.go
  google/resource_compute_firewall_test.go
  google/resource_compute_forwarding_rule_generated_test.go
  google/resource_compute_forwarding_rule_test.go
  google/resource_compute_global_address_generated_test.go
  google/resource_compute_global_address_test.go
  google/resource_compute_health_check_generated_test.go
  google/resource_compute_health_check_test.go
  google/resource_compute_http_health_check_generated_test.go
  google/resource_compute_http_health_check_test.go
  google/resource_compute_https_health_check_generated_test.go
  google/resource_compute_https_health_check_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_compute_region_autoscaler_test.go
  google/resource_compute_region_disk_generated_test.go
  google/resource_compute_region_disk_test.go
  google/resource_compute_route_generated_test.go
  google/resource_compute_route_test.go
  google/resource_compute_router_generated_test.go
  google/resource_compute_router_test.go
  google/resource_compute_ssl_certificate_generated_test.go
  google/resource_compute_ssl_certificate_test.go
  google/resource_compute_ssl_policy_generated_test.go
  google/resource_compute_ssl_policy_test.go
  google/resource_compute_subnetwork_generated_test.go
  google/resource_compute_subnetwork_test.go
  google/resource_compute_target_http_proxy_generated_test.go
  google/resource_compute_target_http_proxy_test.go
  google/resource_compute_target_https_proxy_generated_test.go
  google/resource_compute_target_https_proxy_test.go
  google/resource_compute_target_ssl_proxy_generated_test.go
  google/resource_compute_target_ssl_proxy_test.go
  google/resource_compute_target_tcp_proxy_generated_test.go
  google/resource_compute_target_tcp_proxy_test.go
  google/resource_compute_url_map_generated_test.go
  google/resource_compute_url_map_test.go
  google/resource_compute_vpn_gateway_generated_test.go
  google/resource_compute_vpn_gateway_test.go
  google/resource_compute_vpn_tunnel_generated_test.go
  google/resource_compute_vpn_tunnel_test.go
  google/resource_redis_instance_generated_test.go
  google/resource_redis_instance_test.go
  google/transport_test.go
Labels: size/XXL

#2345 Make google_storage_default_object_acl authoritative.
  google/resource_storage_default_object_acl.go
  google/resource_storage_default_object_acl_test.go
  website/docs/r/storage_default_object_acl.html.markdown
Labels: size/L

#2353 use correct fields for bigtable test
  google/resource_bigtable_table_test.go
Labels: size/XS

#2351 Increase redis timeouts
  google/resource_redis_instance.go
  website/docs/r/redis_instance.html.markdown
Labels: size/XS

#2354 Update composer timeouts
  google/resource_composer_environment.go
Labels: size/XS

#2352 add retries on create for container cluster
  google/resource_container_cluster.go
Labels: size/XS

#2349 Remove duplicate storage_object_access_control test.
  google/resource_google_storage_object_access_control_test.go
Labels: size/M

#2355 Remove obsolete beta files.
  google/provider_binaryauthorization_gen.go
  google/provider_containeranalysis_gen.go
  google/provider_filestore_gen.go
  google/resource_binaryauthorization_attestor.go
  google/resource_binaryauthorization_policy.go
  google/resource_containeranalysis_note.go
  google/resource_containeranalysis_note_generated_test.go
  google/resource_filestore_instance.go
  google/resource_filestore_instance_generated_test.go
Labels: size/XXL

#2356 Remove name_prefix from container node pool
  google/resource_container_cluster_test.go
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
Labels: size/M

#2350 Remove beta generated resource maps from GA provider.
  google/filestore_operation.go
  google/resource_binaryauthorization_attestor_test.go
  google/resource_binaryauthorization_policy_test.go
  google/resource_containeranalysis_note_test.go
  google/resource_filestore_instance_test.go
Labels: size/XL

#2315 Make google_project_iam_policy authoritative.
  google/resource_google_project_iam_policy.go
  google/resource_google_project_iam_policy_test.go
  google/resource_google_project_test.go
  website/docs/r/google_project_iam.html.markdown
Labels: size/XL

#2368 Remove files that aren't managed by magic-modules or explicitly excluded.
  website/docs/d/datasource_compute_instance.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/container_node_pool.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/google_project.html.markdown
Labels: size/L

#2360 Update provider docs for 2.0.0
  website/docs/getting_started.html.markdown
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
  website/docs/provider_versions.html.markdown
Labels: size/S

#2371 Remove bad docs
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
Labels: size/XL

#2365 Fix typo in resource name
  website/docs/r/spanner_database.html.markdown
Labels: size/XS

#2364 regional and private clusters are in GA now
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/L

#2370 add diffsuppress for iam custom role stage. fixes TPG #1801
  google/resource_google_organization_iam_custom_role.go
  google/resource_google_project_iam_custom_role.go
Labels: size/XS

#2377 Update igm and rigm docs
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: size/M

#2381 Add missing resources and datasources to sidebar.
  website/google.erb
Labels: size/XS

#2378 Read Bigtable column family from the API
  google/resource_bigtable_table.go
  website/docs/r/bigtable_table.html.markdown
Labels: size/XS

#2382 Change instances in target pool to be a set
  google/resource_compute_target_pool.go
  google/resource_compute_target_pool_test.go
Labels: size/L
