Repository hashicorp/terraform-provider-google, pull requests merged in 2018-05, with the labels that each got.

#1386 Add IAM resources for Spanner databases.
  google/iam_spanner_database.go
  google/provider.go
  google/resource_spanner_database_iam_test.go
  website/docs/r/spanner_database_iam.html.markdown
  website/google.erb
Labels: enhancement, new-resource

#1385 Support subnetwork flow logs.
  google/resource_compute_subnetwork.go
  google/resource_compute_subnetwork_test.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: enhancement

#1387 Add support for IAM on Spanner Instances.
  google/iam_spanner_instance.go
  google/provider.go
  google/resource_spanner_instance_iam_test.go
  website/docs/r/spanner_instance_iam.html.markdown
  website/google.erb
Labels: enhancement, new-resource

#1190 #843: Add policy support to storage buckets
  google/iam_storage_bucket.go
  google/provider.go
  google/provider_test.go
  google/resource_storage_bucket_iam_test.go
  website/docs/r/storage_bucket_iam.html.markdown
Labels: enhancement, new-resource

#1503 Add App Engine Application support
  google/appengine_operation.go
  google/config.go
  google/resource_google_project.go
  google/resource_google_project_test.go
  vendor/google.golang.org/api/appengine/v1/appengine-api.json
  vendor/google.golang.org/api/appengine/v1/appengine-gen.go
  vendor/vendor.json
  website/docs/r/google_project.html.markdown
Labels: enhancement, new-resource

#1575 Add link to sidebar for liens.
  website/google.erb
Labels: documentation
