Repository hashicorp/terraform-provider-google, pull requests merged in 2018-12, with the labels that each got.

#2556 fix folder iam binding test
  google/resource_google_folder_iam_binding_test.go
  google/resource_google_folder_iam_member_test.go
Labels: size/S

#2557 Remove auto_healing_policies from tests
  google/data_source_google_compute_region_instance_group_test.go
  google/resource_compute_backend_service_test.go
Labels: size/S

#2577 Accommodate the new iamcredentials service in tests
  google/resource_google_project_services_test.go
  google/resource_kms_crypto_key_iam_test.go
  google/resource_kms_key_ring_iam_test.go
Labels: size/XS

#2548 Add 'image_uri' to dataproc cluster definition.
  google/resource_dataproc_cluster.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/XS

#2578 Remove the ContainerCluster_sharedVpc test
  google/resource_container_cluster_test.go
Labels: size/M

#2576 Add router nat resource. For TPG #2249.
  google/provider.go
  google/resource_compute_router_nat.go
  google/resource_compute_router_nat_test.go
Labels: size/XL

#2553 added ignored_files and included_files to google_cloudbuild_trigger
  google/resource_cloudbuild_build_trigger.go
  google/utils.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: size/S

#2584 Fix issue with Bigtable instance cluster update at 2.0.0
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
Labels: size/XS

#2572 Deprecate convenience fields in google_compute_snapshot
  google/provider.go
  google/provider_compute_gen.go
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
  google/resource_compute_snapshot.go
  google/resource_compute_snapshot_test.go
  website/docs/r/compute_snapshot.html.markdown
Labels: documentation, size/XXL

#2597 Fix google_container_cluster docs about fields gone GA
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#2598 Add google_organization_custom_role to version_2_upgrade.html.markdown
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#2601 Remove beta fields from GA Container resources
  google/node_config.go
  google/resource_container_cluster_test.go
  google/resource_container_node_pool_test.go
Labels: size/L

#2602 Add node_config properties to version_2_upgrade.html.markdown
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#2589 Add region disk support to attached disk
  google/resource_compute_attached_disk.go
  google/resource_compute_attached_disk_test.go
Labels: size/M

#2603 Fix spanner database iam binding import
  google/iam_spanner_database.go
  google/resource_spanner_database.go
Labels: size/M

#2568 Add retries for all synchronous MM generated resources
  google/transport.go
Labels: size/M

#2595 Remove google_compute_instance*.address
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/S

#2620 Add docs about using lifecycle when recreating instance groups
  google/resource_compute_instance_group_test.go
  website/docs/r/compute_instance_group.html.markdown
Labels: documentation, size/L

#2618 Allowing GlobalAddress.address to be settable
  google/resource_compute_global_address.go
  website/docs/r/compute_global_address.html.markdown
Labels: documentation, enhancement, size/XS

#2629 add another retry if iam read returns nil
  google/iam.go
Labels: size/XS

#2627 Add gometalinter
  .gometalinter.json
  .travis.yml
  GNUmakefile
  scripts/errcheck.sh
Labels: size/M

#2631 use cluster update for logging/monitoring in beta
  google/resource_container_cluster.go
Labels: size/S

#2630 send maintenance_window.hour even if it's zero, since that's a valid value
  google/resource_sql_database_instance.go
Labels: size/XS

#2636 Inspec attribute changes
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#2640 extract vpn tunnel region/project from vpn gateway
  google/resource_compute_vpn_tunnel.go
  google/resource_compute_vpn_tunnel_test.go
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: documentation, size/M

#2632 allow cross-project imports for sql user
  google/resource_sql_user.go
  website/docs/r/sql_user.html.markdown
Labels: documentation, size/XS

#2643 update regex for runtimeconfig name
  google/resource_runtimeconfig_config.go
Labels: size/XS

#2635 mark region as computed in sql db instance since we use getregion
  google/resource_sql_database_instance.go
Labels: documentation, size/XS

#2638 send scheduling block with automaticrestart if there is none in cfg
  google/resource_compute_instance.go
Labels: documentation, size/XS

#2642 mark tpu config as beta
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#2645 Fix project services tests by using a service without any dependencies
  google/resource_google_project_services_test.go
Labels: size/XS

#2647 govendor fetch google.golang.org/api/serviceusage/v1@revision
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-api.json
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-gen.go
  vendor/vendor.json
Labels: dependencies, size/XXL

#2651 Add tags set conversion to upgrade guide
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#2654 insist that project org policy tests run serially
  google/resource_google_project_organization_policy_test.go
Labels: size/M

#2650 add souce repo support to cloud functions
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/M

#2653 add inherit_from_parent to all org policy resources
  google/resource_google_organization_policy.go
  google/resource_google_organization_policy_test.go
  website/docs/r/google_folder_organization_policy.html.markdown
  website/docs/r/google_organization_policy.html.markdown
  website/docs/r/google_project_organization_policy.html.markdown
Labels: documentation, size/M

#2661 Duplicate what tpgb does for master_ipv4_cidr_block
  google/resource_container_cluster.go
Labels: size/XS

#2580 add support for requester_pays to google_storage_bucket
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/M

#2662 add sql private ip to ga provider
  google/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#2665 add sql private ip to ga provider (#2662)
  google/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#2663 clarify docs around service account id
  google/resource_google_service_account_iam_test.go
  website/docs/r/google_service_account.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
Labels: documentation, size/S

#2660 Explicitly set TypeSets of nested objects
  google/resource_compute_firewall.go
  google/resource_compute_subnetwork.go
  google/resource_compute_url_map.go
Labels: size/M

#2624 Remove deprecated fields from Snapshot
  google/resource_compute_snapshot.go
  google/resource_compute_snapshot_generated_test.go
  google/resource_compute_snapshot_test.go
  website/docs/r/compute_snapshot.html.markdown
Labels: documentation, size/XXL

#2619 Mark the deleted field computed in google_project_iam_custom_role
  google/resource_google_project_iam_custom_role.go
  google/resource_google_project_iam_custom_role_test.go
  website/docs/r/google_project_iam_custom_role.html.markdown
Labels: documentation, size/M

#2656 Remove Firewall Service Account Limit
  google/resource_compute_firewall.go
Labels: size/XS

#2657 Add data source for cloud bucket object
  google/data_source_google_storage_bucket_object.go
  google/provider.go
  google/resource_storage_bucket_object.go
  website/docs/d/datasource_google_cloud_bucket_object.html.markdown
  website/docs/r/storage_bucket_object.html.markdown
Labels: documentation, size/M

#2675 Add gofmt rule to gometalinter
  .gometalinter.json
Labels: size/XS

#2681 Various linter cleanups (conversions, unused, misspellings)
  google/composer_operation.go
  google/data_source_google_compute_address.go
  google/data_source_google_compute_global_address.go
  google/data_source_google_compute_subnetwork.go
  google/data_source_google_netblock_ip_ranges.go
  google/dns_operation.go
  google/redis_operation.go
  google/resource_compute_attached_disk_test.go
  google/resource_compute_firewall_test.go
  google/resource_compute_instance_group_manager.go
  google/resource_compute_vpn_tunnel.go
  google/resource_container_cluster_test.go
  google/resource_dataproc_cluster.go
  google/resource_google_project.go
  google/resource_google_service_account.go
  google/resource_google_service_account_test.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
  google/resource_iam_policy.go
  google/resource_kms_crypto_key.go
  google/resource_kms_key_ring.go
  google/utils.go
Labels: size/XL

#2680 Add more linters to gometalinter
  .gometalinter.json
Labels: size/XS

#2690 Added Storage Transfer package
  vendor/google.golang.org/api/storagetransfer/v1/storagetransfer-api.json
  vendor/google.golang.org/api/storagetransfer/v1/storagetransfer-gen.go
  vendor/vendor.json
Labels: dependencies, size/XXL

#2683 Remove duplicates from provider resource map, add dupe test
  google/provider.go
  google/provider_test.go
  google/utils.go
Labels: size/L

#2655 mark trigger_template.project computed since we set it to getProject
  google/resource_cloudbuild_build_trigger.go
  google/resource_cloudbuild_build_trigger_test.go
Labels: size/XS

#2667 Make the default timout 5 minutes when timeout is 0
  google/transport.go
Labels: size/XS

#2693 Remove inferred region from igm
  google/resource_compute_instance_group_manager.go
  google/utils.go
Labels: size/S

#2691 Add support for google_access_context_manager_service_perimeter
  google/resource_access_context_manager_service_perimeter_test.go
Labels: size/XS

#2692 Add google_storage_transfer_project_service_account data_source
  google/config.go
  google/data_source_google_storage_transfer_project_service_account.go
  google/data_source_google_storage_transfer_project_service_account_test.go
  google/provider.go
  website/docs/d/google_storage_transfer_project_service_account.html.markdown
  website/google.erb
Labels: documentation, size/L

#2695 fix disk behaivor in compute_instance_from_template
  google/provider.go
  google/resource_compute_instance_from_template.go
  google/resource_compute_instance_from_template_test.go
Labels: size/XL

#2706 Add docs about how to import with google-beta
  website/docs/provider_versions.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_snapshot.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_group.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
  website/docs/r/storage_default_object_access_control.html.markdown
  website/docs/r/storage_object_access_control.html.markdown
Labels: documentation, size/M

#2718 [Terraform]: Run AccessContextManager tests serially in CI
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_snapshot.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_group.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
  website/docs/r/storage_default_object_access_control.html.markdown
  website/docs/r/storage_object_access_control.html.markdown
Labels: documentation, size/M

#2697 Add missing stackdriver group to website sidebar
  website/google.erb
Labels: documentation, size/XS

#2721 fix: incorrect resource name in CHANGELOG
  CHANGELOG.md
Labels: size/XS

#2720 Require a provider zone to be set in tests
  google/provider_test.go
Labels: size/XS

#2696 Add num local ssds and boot disk types to preemptible worker config
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/S

#2707 Add resource_storage_transfer_job
  google/provider.go
  google/resource_storage_transfer_job.go
  google/resource_storage_transfer_job_test.go
  google/validation.go
  website/docs/r/storage_transfer_job.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2687 Add support for Audit Configs
  google/data_source_google_iam_policy.go
  google/iam.go
  google/resource_google_project_iam_policy.go
  google/resource_google_project_iam_policy_test.go
  website/docs/d/google_iam_policy.html.markdown
Labels: documentation, size/XL

#2733 Check for errors in import ID parsing.
  google/resource_compute_address.go
  google/resource_compute_autoscaler.go
  google/resource_compute_backend_bucket.go
  google/resource_compute_disk.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_compute_health_check.go
  google/resource_compute_http_health_check.go
  google/resource_compute_https_health_check.go
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_disk.go
  google/resource_compute_route.go
  google/resource_compute_router.go
  google/resource_compute_snapshot.go
  google/resource_compute_ssl_certificate.go
  google/resource_compute_ssl_policy.go
  google/resource_compute_subnetwork.go
  google/resource_compute_target_http_proxy.go
  google/resource_compute_target_https_proxy.go
  google/resource_compute_target_ssl_proxy.go
  google/resource_compute_target_tcp_proxy.go
  google/resource_compute_url_map.go
  google/resource_compute_vpn_gateway.go
  google/resource_compute_vpn_tunnel.go
  google/resource_dns_managed_zone.go
  google/resource_redis_instance.go
  google/resource_resourcemanager_lien.go
  google/resource_storage_default_object_access_control.go
  google/resource_storage_object_access_control.go
Labels: size/M

#2566 Additional bigquery locations
  google/resource_bigquery_dataset.go
  google/resource_bigquery_dataset_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XXL

#2731 Add fine-grained audit config for projects.
  google/iam_project.go
  google/provider.go
  google/resource_google_project_iam_audit_config_test.go
  google/resource_iam_audit_config.go
Labels: size/XL

#2741 Add affinityCookieTtlSec property in google_compute_backend_service
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/M

#2740 fix TestAccComputeVpnTunnel_regionFromGateway
  google/resource_compute_vpn_tunnel_test.go
Labels: size/XS

#2743 add trigger_id to cloudbuild_build_trigger, send it on update
  google/resource_cloudbuild_build_trigger.go
Labels: size/XS

#2717 Fix invalid website example code: r/compute_router_nat.html
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XXL

#2748 Changes ancillary to adding istio and cloudrun to container cluster.
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#2549 Specify that attach_disk can be used multiple times
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XXL

#2754 upgrade monitoring tests to 0.12 syntax
  google/resource_monitoring_alert_policy_test.go
  google/resource_monitoring_uptime_check_config_generated_test.go
  google/resource_monitoring_uptime_check_config_test.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/M

#2749 Make google_compute_router_nat's source_ip_ranges_to_nat Required
  google/resource_compute_router_nat.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#2755 Add = to map declarations in examples/tests
  google/data_source_google_compute_instance_test.go
  google/data_source_storage_object_signed_url_test.go
  google/resource_bigquery_dataset_test.go
  google/resource_cloudbuild_build_trigger_test.go
  google/resource_cloudfunctions_function_test.go
  google/resource_composer_environment_test.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_disk_generated_test.go
  google/resource_compute_disk_test.go
  google/resource_compute_instance_from_template_test.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_instance_template_test.go
  google/resource_compute_instance_test.go
  google/resource_compute_project_metadata_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_compute_region_autoscaler_test.go
  google/resource_compute_region_disk_test.go
  google/resource_compute_region_instance_group_manager_test.go
  google/resource_container_cluster_test.go
  google/resource_dataflow_job_test.go
  google/resource_dataproc_cluster_test.go
  google/resource_dataproc_job_test.go
  google/resource_google_project_test.go
  google/resource_redis_instance_generated_test.go
  google/resource_redis_instance_test.go
  google/resource_spanner_instance_test.go
  google/resource_sql_database_instance_test.go
  google/resource_storage_bucket_test.go
  google/resource_storage_notification_test.go
  website/docs/d/datasource_google_service_account.html.markdown
  website/docs/d/signed_url.html.markdown
  website/docs/r/bigquery_dataset.html.markdown
  website/docs/r/bigquery_table.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_from_template.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/compute_project_metadata.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/dataflow_job.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/dataproc_job.html.markdown
  website/docs/r/google_service_account_key.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/storage_notification.html.markdown
Labels: size/L

#2751 Add support for protection_level to google_kms_crypto_key
  google/resource_kms_crypto_key.go
  google/resource_kms_crypto_key_test.go
  website/docs/r/google_kms_crypto_key.html.markdown
Labels: documentation, size/M

#2756 Update config formatting that no longer works in 0.12
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_instance_group_test.go
  google/resource_compute_instance_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_compute_region_autoscaler_test.go
  google/resource_compute_subnetwork_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/S

#2758 Change alert threshold to something less sensitive
  google/resource_monitoring_alert_policy_test.go
Labels: size/XS

#2757 Fix the test check in rigm datasource.
  google/data_source_google_compute_region_instance_group_test.go
Labels: size/XS

#2759 wait for instances in deleteDetachIGM test
  google/resource_compute_disk_test.go
Labels: size/XS

#2767 Fix bad monitoring test data
  google/resource_monitoring_alert_policy_test.go
Labels: size/XS

#2770 add diffsuppress for regionautoscaler.target
  google/resource_compute_region_autoscaler.go
Labels: size/XS
