Repository hashicorp/terraform-provider-google, pull requests merged in 2018-06, with the labels that each got.

#1598 Fix network_tier tests.
  google/resource_compute_address.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
Labels: bug

#1620 Update schema to 0.11.7.
  vendor/github.com/hashicorp/terraform/config/config.go
  vendor/github.com/hashicorp/terraform/config/module/get.go
  vendor/github.com/hashicorp/terraform/config/module/validate_provider_alias.go
  vendor/github.com/hashicorp/terraform/helper/resource/id.go
  vendor/github.com/hashicorp/terraform/helper/resource/testing.go
  vendor/github.com/hashicorp/terraform/helper/resource/wait.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader_config.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader_diff.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader_map.go
  vendor/github.com/hashicorp/terraform/helper/schema/provider.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_data.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_diff.go
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/helper/validation/validation.go
  vendor/github.com/hashicorp/terraform/httpclient/client.go
  vendor/github.com/hashicorp/terraform/httpclient/useragent.go
  vendor/github.com/hashicorp/terraform/plugin/discovery/find.go
  vendor/github.com/hashicorp/terraform/plugin/discovery/get.go
  vendor/github.com/hashicorp/terraform/registry/client.go
  vendor/github.com/hashicorp/terraform/registry/errors.go
  vendor/github.com/hashicorp/terraform/svchost/disco/disco.go
  vendor/github.com/hashicorp/terraform/terraform/context.go
  vendor/github.com/hashicorp/terraform/terraform/diff.go
  vendor/github.com/hashicorp/terraform/terraform/eval_apply.go
  vendor/github.com/hashicorp/terraform/terraform/eval_diff.go
  vendor/github.com/hashicorp/terraform/terraform/eval_validate.go
  vendor/github.com/hashicorp/terraform/terraform/graph_builder_apply.go
  vendor/github.com/hashicorp/terraform/terraform/interpolate.go
  vendor/github.com/hashicorp/terraform/terraform/node_local.go
  vendor/github.com/hashicorp/terraform/terraform/node_output.go
  vendor/github.com/hashicorp/terraform/terraform/node_resource_apply.go
  vendor/github.com/hashicorp/terraform/terraform/node_resource_refresh.go
  vendor/github.com/hashicorp/terraform/terraform/plan.go
  vendor/github.com/hashicorp/terraform/terraform/state.go
  vendor/github.com/hashicorp/terraform/terraform/transform_output.go
  vendor/github.com/hashicorp/terraform/terraform/transform_reference.go
  vendor/github.com/hashicorp/terraform/terraform/transform_targets.go
  vendor/github.com/hashicorp/terraform/terraform/user_agent.go
  vendor/github.com/hashicorp/terraform/version/version.go
  vendor/github.com/mitchellh/copystructure/copystructure.go
  vendor/github.com/mitchellh/mapstructure/README.md
  vendor/github.com/mitchellh/mapstructure/decode_hooks.go
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/github.com/mitchellh/reflectwalk/location.go
  vendor/github.com/mitchellh/reflectwalk/location_string.go
  vendor/github.com/mitchellh/reflectwalk/reflectwalk.go
  vendor/vendor.json
Labels: upstream-terraform

#1621 Make App Engine applications updatable
  google/resource_google_project.go
  google/resource_google_project_test.go
Labels: enhancement

#1693 Update DNS managed zone in tests.
  google/data_source_dns_managed_zone_test.go
Labels: bug

#1692 Fix the perma-diff in storage bucket ACLs
  google/resource_storage_bucket_acl.go
  google/resource_storage_bucket_acl_test.go
Labels: bug

#1697 Fix failing test for storage ACLs.
  google/resource_storage_bucket_acl.go
Labels: bug

#1652 add new compute_instance_from_template resource
  google/field_helpers.go
  google/provider.go
  google/resource_compute_instance.go
  google/resource_compute_instance_from_template.go
  google/resource_compute_instance_from_template_test.go
  vendor/github.com/stoewer/go-strcase/LICENSE
  vendor/github.com/stoewer/go-strcase/README.md
  vendor/github.com/stoewer/go-strcase/camel.go
  vendor/github.com/stoewer/go-strcase/doc.go
  vendor/github.com/stoewer/go-strcase/helper.go
  vendor/github.com/stoewer/go-strcase/kebab.go
  vendor/github.com/stoewer/go-strcase/snake.go
  vendor/vendor.json
  website/docs/r/compute_instance_from_template.html.markdown
  website/google.erb
Labels: enhancement, new-resource
