Repository hashicorp/terraform-provider-google, pull requests merged in 2018-03, with the labels that each got.

#1141 Fix perpetual diff in #863.
  google/resource_dns_record_set.go
  google/resource_dns_record_set_test.go
Labels: bug

#1187 Fix website menu for google_dns_managed_zone datasource
  website/google.erb
Labels: documentation

#1201 Fix managed zone tests.
  google/resource_dns_managed_zone_test.go
Labels: bug

#1207 Adding instance_group_urls in resource_container_node_pool
  google/resource_container_node_pool.go
Labels: enhancement

#1217 Fix our calls to d.Set that returned errors.
  google/data_source_google_compute_image.go
  google/data_source_google_compute_region_instance_group.go
  google/data_source_google_compute_region_instance_group_test.go
  google/resource_compute_backend_service.go
  google/resource_compute_project_metadata.go
  google/resource_compute_region_backend_service.go
  google/resource_dataproc_cluster.go
Labels: bug

#1221 Back out the Set changes from #1217.
  google/resource_compute_backend_service.go
  google/resource_compute_region_backend_service.go
Labels: bug
