Repository hashicorp/terraform-provider-google, pull requests merged in 2018-08, with the labels that each got.

#1935 Ignore google provider binary
  .gitignore
Labels: size/XS

#1934 Force acceptance test failure if .Set errors
  GNUmakefile
Labels: size/XS

#1932 Fix service account key data source name
  google/data_source_google_service_account_key.go
  google/data_source_google_service_account_key_test.go
  google/validation.go
  website/docs/d/datasource_google_service_account_key.html.markdown
Labels: size/L

#1941 Autogenerate HealthCheck resource
  google/provider_compute_gen.go
  google/resource_compute_health_check.go
  website/docs/r/compute_health_check.html.markdown
Labels: size/XXL

#1939 Use beta API location for google_container_engine_versions
  google/data_source_google_container_engine_versions.go
  google/data_source_google_container_engine_versions_test.go
  website/docs/d/google_container_engine_versions.html.markdown
Labels: size/M

#1951 Add beta attribute enableLogging for compute firewalls (MM)
  google/resource_compute_firewall.go
  google/resource_compute_firewall_test.go
  website/docs/r/compute_firewall.html.markdown
Labels: size/L

#1956 Fixes for importing sql database instances
  google/import_sql_database_instance_test.go
  google/import_sql_database_test.go
  google/resource_sql_database.go
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  google/resource_sql_database_test.go
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: size/L

#1958 updating examples in documentation for debian-9
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_from_template.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/dns_record_set.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: size/S

#1972 Update logging vendor.
  vendor/github.com/hashicorp/terraform/helper/logging/transport.go
  vendor/vendor.json
Labels: size/S
