Repository hashicorp/terraform-provider-google, pull requests merged in 2019-10, with the labels that each got.

#4595 Warn users that they cannot set both a disk size and enable disk autoresizing
  website/docs/r/sql_database_instance.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4588 This property is not correctly handled on the API - we can work around it here.
  google/resource_compute_target_https_proxy.go
Labels: changelog: bug-fix, size/XS

#4587 Deprecate project_services in 2.x.
  google/resource_google_project_services.go
Labels: changelog: deprecation, size/XS

#4594 Add a `3.0.0` upgrade guide including google_project_services deprecation
  website/docs/version_3_upgrade.html.markdown
  website/google.erb
Labels: documentation, size/L

#4598 Add import support to google_bigtable_instance
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/L

#4577 Only validate cidr block when the cidr block value is known
  google/resource_container_cluster.go
Labels: changelog: bug-fix, size/XS

#2813 Added missing `monitoring-read` scope
  google/service_scope.go
Labels: size/XS

#4599 google_project_services is deprecated - use google_project_service
  google/resource_google_project.go
  google/resource_google_project_service.go
  google/resource_google_project_services.go
  google/resource_kms_crypto_key_iam_test.go
  google/resource_kms_crypto_key_test.go
  google/resource_kms_key_ring_iam_test.go
  google/resource_kms_key_ring_test.go
Labels: changelog: no-release-note, size/XL

#4616 Add support for renamed services in google_project_service* resources.
  google/resource_google_project_service.go
  google/resource_google_project_service_test.go
  google/resource_google_project_services.go
  google/resource_google_project_services_test.go
  google/serviceusage_batching.go
  google/utils.go
Labels: size/XL

#4312 BigQuery Dataset default CMEK encryption
  google/resource_big_query_dataset.go
  google/resource_big_query_dataset_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: changelog: enhancement, documentation, size/L

#4622 region backend service uses the same hash function but needs to count failover status.
  google/resource_compute_backend_service.go
Labels: changelog: bug-fix, size/XS

#4623 Update service renames comment
  google/resource_google_project_service.go
Labels: changelog: no-release-note, size/XS

#4621 max_pods_per_node is GA now.
  google/resource_container_cluster.go
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
Labels: changelog: enhancement, size/L

#4600 It is convenient for Pulumi if this conflict is bidirectional.
  google/resource_compute_instance_template.go
Labels: changelog: bug-fix, size/XS

#4224 Add datasource for google_compute_resource_policy
  google/data_source_google_compute_resource_policy.go
  google/data_source_google_compute_resource_policy_test.go
  website/docs/d/google_compute_resource_policy.html.markdown
Labels: documentation, size/S

#4632 Clean up iap appengine version test
  google/iam_iap_app_engine_version_generated_test.go
Labels: size/M

#4602 Update google_service_account_key.html.markdown
  website/docs/r/google_service_account_key.html.markdown
Labels: documentation, size/XS

#4649 Bump image timeout, add service to binauth basic
  google/resource_binaryauthorization_policy_test.go
  google/resource_compute_image.go
  website/docs/r/compute_image.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4652 Clean up markdown for signed_url a bit
  website/docs/d/signed_url.html.markdown
Labels: documentation, size/XS

#4596 Support for deleting the service upon destrory
  google/resource_app_engine_standard_app_version.go
  google/resource_app_engine_standard_app_version_generated_test.go
  website/docs/r/app_engine_standard_app_version.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/L

#4647 Fix syntax highlighting issue from Example Usage
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#4658 Add datasource for google_compute_resource_policy
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#4660 Add datasource for google_compute_resource_policy
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#4657 Correct Cloud Run DomainMapping namespace in encoder
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#4662 skip TestAccOrganizationIam if env var not set
  google/resource_google_organization_iam_test.go
Labels: size/XS

#4554 add node config shielded instance config
  google/node_config.go
  google/resource_container_cluster_test.go
  google/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#4641 Implement basepath patches in the provider.
  google/data_source_google_compute_zones.go
  google/resource_compute_autoscaler.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_instance_group.go
  google/resource_compute_target_instance.go
  google/resource_compute_target_pool.go
  google/resource_compute_vpn_tunnel.go
  google/resource_container_cluster.go
  google/resource_google_project.go
Labels: size/M

#4664 add missing tpu_tensorflow_versions doc
  website/docs/d/datasource_tpu_tensorflow_versions.html.markdown
  website/google.erb
Labels: documentation, size/S

#4673 Update max pods per node docs to indicate it's GA
  website/docs/d/datasource_tpu_tensorflow_versions.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4678 Fix formatting on Cloud Functions docs
  website/docs/r/cloudfunctions_function.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#4671 Configure release channel when creating GKE clusters
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#4676 Add custom flatten to transform json to string -> string map for params
  google/resource_bigquery_data_transfer_config.go
  google/resource_bigquery_data_transfer_config_test.go
Labels: size/M

#4556 use IsStable in (R)IGM instead of CurrentActions
  google/resource_compute_region_instance_group_manager.go
Labels: changelog: no-release-note, size/XS

#4688 Add support for one-field-at-a-time update to Subnetwork
  google/resource_compute_disk.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_forwarding_rule.go
  google/resource_compute_image.go
  google/resource_compute_network.go
  google/resource_compute_node_group.go
  google/resource_compute_region_disk.go
  google/resource_compute_snapshot.go
  google/resource_compute_subnetwork.go
  google/resource_compute_subnetwork_test.go
  google/resource_compute_target_http_proxy.go
  google/resource_compute_target_https_proxy.go
  google/resource_compute_target_ssl_proxy.go
  google/resource_compute_target_tcp_proxy.go
  google/resource_dns_managed_zone.go
  google/resource_tpu_node.go
Labels: size/M

#4683 Add GKE Stackdriver Monitoring changes to upgrade guide
  website/docs/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#4691 Add note about using 2.13.0 in google_project_services deprecation
  google/resource_google_project_services.go
  website/docs/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4695 Remove built-in version from service client basepaths
  google/config.go
Labels: size/XS

#4693 Force clear members if iam_binding doesn't find a binding
  google/resource_iam_binding.go
Labels: size/XS

#4699 Correct a bad assumption about versions made in instance template
  google/image.go
  google/resource_compute_instance_template.go
Labels: changelog: no-release-note, size/S

#4711 Compare relpath and not by version in compute ig
  google/resource_compute_instance_group.go
Labels: changelog: no-release-note, size/XS

#4674 Terraform AppEngine Dispatch Resource
  google/provider.go
  google/resource_app_engine_application_url_dispatch_rules.go
  google/resource_app_engine_application_url_dispatch_rules_generated_test.go
  google/resource_app_engine_standard_app_version.go
  website/docs/r/app_engine_application_url_dispatch_rules.html.markdown
  website/google.erb
Labels: documentation, size/XL

#4721 Organization policies can insert entries into this field, causing a permadiff.
  google/resource_pubsub_topic.go
Labels: size/XS

#4557 Enable random reviewer assignments
  .hashibot.hcl
Labels: size/XS

#4681 Support setting 'location' in google_sql_database_instance backup_configuration
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#4648 deprecate kubernetes_dashboard for 2.X
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#4727 Bump GKE node pool GPU disk to an appropriate size.
  google/resource_container_node_pool_test.go
  google/resource_sql_database_instance_test.go
Labels: changelog: no-release-note, size/XS

#4726 add ip_configuration to dataflow_job
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/S

#4728 Fix version behaviour in `google_compute_instance_group
  google/resource_compute_instance_group.go
  google/resource_compute_target_pool.go
  google/utils.go
Labels: size/M

#4729 add forcenew on shielded instance config
  google/node_config.go
  google/resource_container_node_pool_test.go
Labels: changelog: no-release-note, size/S

#4730 Extract Bigtable instance type from InstanceInfo instead of deriving from clusters
  google/resource_bigtable_instance.go
Labels: size/XS

#4713 Add port name and specification descriptions for terraform
  google/resource_compute_health_check.go
Labels: changelog: no-release-note, documentation, size/XS

#4739 Fix disk source comparisons
  google/resource_compute_disk.go
  google/resource_compute_region_disk.go
Labels: changelog: no-release-note, size/XS

#4731 Add null check to arrays of resourcerefs.
  google/resource_compute_image.go
  google/resource_compute_region_disk.go
  google/resource_compute_router_nat.go
  google/resource_compute_target_https_proxy.go
  google/resource_compute_target_ssl_proxy.go
Labels: size/XS

#4742 Update Router so that BGP removals work.
  google/resource_compute_router.go
Labels: size/XS

#4732 Clean up AppEngine examples
  google/resource_app_engine_application_url_dispatch_rules_generated_test.go
  google/resource_app_engine_standard_app_version_generated_test.go
  website/docs/r/app_engine_application_url_dispatch_rules.html.markdown
  website/docs/r/app_engine_standard_app_version.html.markdown
Labels: changelog: no-release-note, documentation, size/L

#4744 Bump NetworkEndpoint timeouts to 6m
  google/resource_compute_network_endpoint.go
  website/docs/r/compute_network_endpoint.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4750 Make image license test import-style
  google/resource_compute_image_test.go
Labels: changelog: no-release-note, size/M

#4748 Fix default network creation by correcting URL
  google/resource_google_project.go
Labels: size/XS

#4749 Fix instance migrate test self link comparisons
  google/resource_compute_instance_migrate_test.go
Labels: changelog: no-release-note, size/S

#4743 Make GKE taint fields available in GA
  google/node_config.go
  google/resource_container_cluster_test.go
  google/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#4753 Pubsub expiration policy docs are unclear about what happens.
  website/docs/r/pubsub_subscription.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4736 Add the ability to use the GKE recurring maintenance window in beta.
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#4761 Don't lock policy if it is already locked.
  google/resource_storage_bucket.go
Labels: size/XS

#4754 If certificate_id is unset, it should not cause a diff.
  google/resource_app_engine_domain_mapping.go
Labels: size/XS

#4734 Add description to service account.
  google/resource_google_service_account.go
  google/resource_google_service_account_test.go
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#4755 Clarify fields that are regexes in docs.
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4762 Make it clear that we don't need to ForceSend nested fields in ComputeInstanceFromTemplate
  google/resource_compute_instance_from_template.go
  google/resource_compute_instance_from_template_test.go
Labels: changelog: no-release-note, size/XS

#4541 Add IAM Conditions support; enable it in service account IAM
  google/iam.go
  google/iam_service_account.go
  google/iam_test.go
  google/resource_google_service_account_iam_test.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
  website/docs/r/google_service_account_iam.html.markdown
Labels: documentation, size/XL

#4709 Adding "name" to Cloud Build resource
  google/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/S

#4759 Add GKE taint changes to the upgrade guide
  website/docs/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4781 Add Cloud Task Vendor Files
  vendor/google.golang.org/api/cloudtasks/v2/cloudtasks-api.json
  vendor/google.golang.org/api/cloudtasks/v2/cloudtasks-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#4786 De-flaking cloudbuild trigger test
  google/resource_cloudbuild_trigger_test.go
Labels: size/XS

#4775 add support for display device to compute instance
  google/compute_instance_helpers.go
  google/data_source_google_compute_instance.go
  google/data_source_google_compute_instance_test.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  google/resource_compute_instance_test.go
  website/docs/d/datasource_compute_instance.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/L
