Repository hashicorp/terraform-provider-google, pull requests merged in 2019-02, with the labels that each got.

#2934 Update go versions used in development
  .travis.yml
  README.md
Labels: size/XS

#2978 Fix issue with google_compute_backend_service IAP client secret @ update
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_test.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/S

#2976 SHA256 encode compute_certificate's private keys
  google/resource_compute_ssl_certificate.go
  google/utils.go
Labels: size/XS

#2967 Make zone required in google_composer_environment.node_config
  google/resource_composer_environment.go
  website/docs/r/composer_environment.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/S

#2975 Restore name_prefix for node pools
  google/resource_container_cluster_test.go
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
Labels: size/M

#2984 Bring forwards/backwards compatible 0.12 syntax to HEAD
  google/data_source_google_compute_instance_test.go
  google/resource_cloudiot_registry_test.go
  google/resource_container_cluster_test.go
  google/resource_container_node_pool_test.go
  google/resource_google_folder_iam_policy_test.go
  google/resource_google_project_iam_policy_test.go
  google/resource_logging_organization_sink_test.go
  google/resource_monitoring_alert_policy_generated_test.go
  google/resource_redis_instance_test.go
  google/resource_spanner_instance_generated_test.go
  google/resource_storage_bucket_test.go
  website/docs/d/google_iam_policy.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/spanner_instance.html.markdown
Labels: documentation, size/L

#2908 Update gometalinter for modules, add staticcheck
  .gometalinter.json
  .travis.yml
  GNUmakefile
  scripts/affectedtests/affectedtests.go
  staticcheck.conf
Labels: size/S

#3010 google_compute_instance change a removed field from optional -> computed
  google/resource_compute_instance.go
Labels: size/XS

#3013 Add an additional caveat to local provider guide
  .github/CONTRIBUTING.md
Labels: size/XS

#3004 Add docs for the bigquery dataset delete_contents_on_destroy field
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#2986 Add force_destroy option to bigquery dataset
  google/resource_bigquery_dataset.go
  google/resource_bigquery_dataset_test.go
Labels: size/M

#3018 Various CI test fixes
  google/data_source_google_compute_region_instance_group_test.go
  google/resource_compute_image.go
  google/resource_compute_project_metadata.go
  google/resource_container_cluster_test.go
  google/resource_google_project_service_test.go
Labels: size/M

#3020 Set id on Create for project metadata
  google/resource_compute_project_metadata.go
Labels: size/XS

#3022 Fix GKE specific IP test
  google/resource_container_cluster_test.go
Labels: size/XS

#3031 Update the 2.0.0 Upgrade Guide, misc. other docs
  website/docs/provider_reference.html.markdown
  website/docs/version_2_upgrade.html.markdown
  website/google.erb
Labels: documentation, size/M

#3036 [Terraform] Fix config's defaultScopes tests.
  google/config_test.go
Labels: size/XS

#3032 Update CONTRIBUTING to be more clear
  .github/CONTRIBUTING.md
Labels: size/XS

#3042 Add a downgrade guide to the upgrade guide
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#3046 Add extended memory to docs for custom instance machine types
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#3048 Fix validation of spanner instance ID length
  google/resource_spanner_database.go
  google/resource_spanner_instance.go
Labels: size/XS

#3052 google_container_cluster private_cluster and master_ipv4_cidr_block were not moved to google-beta
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#3044 Clean up failed cluster creation
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/L

#3019 Clarify Private Google Access docs on Subnetwork.
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XS

#3057 Add Cloud Scheduler to the sidebar.
  website/google.erb
Labels: documentation, size/XS

#3059 Fix golangci-lint errors
  .gometalinter.json
  google/convert_test.go
  google/data_source_google_compute_address_test.go
  google/data_source_storage_object_signed_url.go
  google/resource_composer_environment.go
  google/resource_compute_backend_service.go
  google/resource_compute_firewall_migrate_test.go
  google/resource_compute_health_check.go
  google/resource_compute_instance.go
  google/resource_compute_instance_group_manager.go
  google/resource_compute_instance_migrate_test.go
  google/resource_compute_instance_template_migrate_test.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_ssl_policy.go
  google/resource_container_cluster_migrate_test.go
  google/resource_container_node_pool_migrate_test.go
  google/resource_dataproc_job.go
  google/resource_endpoints_service.go
  google/resource_google_project_migrate_test.go
  google/resource_google_project_services.go
  google/resource_google_project_services_test.go
  google/resource_google_service_account.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_group.go
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_uptime_check_config.go
  google/resource_resource_manager_lien.go
  google/resource_runtimeconfig_config.go
  google/resource_runtimeconfig_variable.go
  google/resource_spanner_instance.go
  google/resource_sql_database.go
  google/resource_sql_database_instance.go
  google/resource_sql_user_migrate_test.go
  google/resource_storage_bucket_acl.go
  google/resource_storage_bucket_object.go
  google/resource_storage_bucket_object_test.go
  google/resource_storage_object_access_control_test.go
  google/resource_storage_object_acl.go
  google/resource_storage_object_acl_test.go
  google/utils_test.go
Labels: size/L

#3027 WIP: Tf operations
  google/redis_operation.go
  google/resource_redis_instance.go
Labels: size/S

#3054 Add Bigtable column_family to the upgrade guide
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#3040 Add self_link to subnetwork datasource
  google/data_source_google_compute_subnetwork.go
  google/data_source_google_compute_subnetwork_test.go
  website/docs/d/datasource_compute_subnetwork.html.markdown
Labels: documentation, size/S

#3060 Remove the Redis client now that Redis Operations are generated
  google/config.go
  vendor/google.golang.org/api/redis/v1beta1/redis-api.json
  vendor/google.golang.org/api/redis/v1beta1/redis-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#3047 Note version is required for beta IGM version
  google/resource_compute_instance_group_manager.go
  google/resource_compute_region_instance_group_manager.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: documentation, size/XS

#2735 [Terraform] DNS beta private managed_zones
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/S

#3081 Note that service account creation is eventually consistent.
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#3043 [Terraform] autogenerate Pubsub Topics/Subscriptions (+labels)
  google/provider.go
  google/provider_pubsub_gen.go
  google/pubsub_utils.go
  google/resource_pubsub_subscription.go
  google/resource_pubsub_subscription_generated_test.go
  google/resource_pubsub_subscription_test.go
  google/resource_pubsub_topic.go
  google/resource_pubsub_topic_generated_test.go
  google/resource_pubsub_topic_test.go
  website/docs/r/pubsub_subscription.html.markdown
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/XXL

#3091 Add convenience outputs for public/private IP in Cloud SQL
  google/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/M

#3094 Clarify private / public SQL IP docs
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#2709 Add an example versioned module using google and google-beta
  examples/example-versioned-module/README.md
  examples/example-versioned-module/ip/main.tf
  examples/example-versioned-module/ip/outputs.tf
  examples/example-versioned-module/ip/variables.tf
  examples/example-versioned-module/main.tf
Labels: size/XXL

#3082 timeout is now passed to operation wait
  google/cloudfunctions_operation.go
  google/resource_cloudfunctions_function.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#3103 Add a datasource for retrieving the client email from OpenID Connect
  google/data_source_google_client_openid_userinfo.go
  google/data_source_google_client_openid_userinfo_test.go
  google/provider.go
  website/docs/d/datasource_google_client_openid_userinfo.html.markdown
  website/google.erb
Labels: documentation, size/L

#3106 Changes ancillary to adding managed SSL certs.
  website/docs/r/compute_ssl_certificate.html.markdown
Labels: documentation, size/XS

#3110 [TF] Fix container cluster private cluster diff suppress/validation
  google/resource_container_cluster.go
Labels: size/S

#3119 Add docs for storage bucket object to sidebar
  website/docs/d/storage_bucket_object.html.markdown
  website/google.erb
Labels: documentation, size/XS

#3123 Ignore errors when cancelling dataproc jobs
  google/resource_dataproc_job.go
Labels: size/XS

#3128 Merge 2.1.0 release into master
  .deleteme.txt
  CHANGELOG.md
Labels: size/XS

#3139 0.12 Test config fixes
  google/resource_cloudiot_registry_test.go
  google/resource_compute_attached_disk_test.go
  google/resource_compute_instance_group_test.go
Labels: size/XS

#3141 [Terraform] Fix our usage of `file` in tests.
  google/resource_endpoints_service_test.go
Labels: size/XS

#3142 Fix the 3rd occurence of old ig instances interpolation syntax
  google/resource_compute_instance_group_test.go
Labels: size/XS

#3144 Clarify auto_create_network documentation.
  website/docs/r/google_project.html.markdown
Labels: documentation, size/XS

#3147 Autogen for region read, cloud scheduler examples
  google/resource_redis_instance.go
Labels: size/XS

#3146 [TF] GKE Cluster - fix import on some convenience fields
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M
