Repository hashicorp/terraform-provider-google, pull requests merged in 2019-06, with the labels that each got.

#3752 Add retry around QueryOp in service usage operation utils
  google/serviceusage_operation.go
Labels: documentation, size/XS

#3769 Add retry to removing GKE default node pool
  google/resource_container_cluster.go
Labels: size/XS

#3771 Add logging metric sidebar entry
  website/google.erb
Labels: documentation, size/XS

#3761 Add machine_type to dataflow_job
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/XS

#3776 Add top-level services_ipv4_cidr attr to container_cluster.
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3774 Use random name in instance template to enable parallel testing
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: documentation, size/XS

#3780 Fix test with invalid location
  google/resource_container_cluster_test.go
Labels: size/XS

#3563 [terraform] Add AuthenticatorGroupsConfig to google_container_cluster
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3777 Mark project as computed for iam-project
  google/iam_project.go
Labels: size/XS

#3785 Change the sqlUser update call and default host
  google/resource_sql_user.go
Labels: size/XS

#3779 Add disable-legacy-endpoints to tests
  google/resource_container_cluster_test.go
Labels: size/XS

#3722 Add more documentation on how to use notification channels
  website/docs/r/monitoring_notification_channel.html.markdown
Labels: documentation, size/XS

#3783 Add bucket_policy_only to storage_bucket
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/M

#3781 Remove version format validation
  google/data_source_tpu_tensorflow_versions_test.go
Labels: size/XS

#3740 Add fine-grained network endpoint to compute NEGs
  google/resource_compute_network_endpoint_test.go
Labels: documentation, size/XS

#3803 Update Go Google API client to v0.5.0 (#3790)
  .github/CONTRIBUTING.md
  go.mod
  go.sum
  vendor/google.golang.org/api/bigquery/v2/bigquery-api.json
  vendor/google.golang.org/api/bigquery/v2/bigquery-gen.go
  vendor/google.golang.org/api/cloudbuild/v1/cloudbuild-api.json
  vendor/google.golang.org/api/cloudbuild/v1/cloudbuild-gen.go
  vendor/google.golang.org/api/cloudkms/v1/cloudkms-api.json
  vendor/google.golang.org/api/cloudkms/v1/cloudkms-gen.go
  vendor/google.golang.org/api/cloudresourcemanager/v1/cloudresourcemanager-api.json
  vendor/google.golang.org/api/cloudresourcemanager/v1/cloudresourcemanager-gen.go
  vendor/google.golang.org/api/container/v1/container-api.json
  vendor/google.golang.org/api/container/v1/container-gen.go
  vendor/google.golang.org/api/container/v1beta1/container-api.json
  vendor/google.golang.org/api/container/v1beta1/container-gen.go
  vendor/google.golang.org/api/dataflow/v1b3/dataflow-api.json
  vendor/google.golang.org/api/dataflow/v1b3/dataflow-gen.go
  vendor/google.golang.org/api/dataproc/v1/dataproc-api.json
  vendor/google.golang.org/api/dataproc/v1/dataproc-gen.go
  vendor/google.golang.org/api/iam/v1/iam-api.json
  vendor/google.golang.org/api/iam/v1/iam-gen.go
  vendor/google.golang.org/api/runtimeconfig/v1beta1/runtimeconfig-api.json
  vendor/google.golang.org/api/runtimeconfig/v1beta1/runtimeconfig-gen.go
  vendor/google.golang.org/api/servicemanagement/v1/servicemanagement-api.json
  vendor/google.golang.org/api/servicemanagement/v1/servicemanagement-gen.go
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-api.json
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-gen.go
  vendor/google.golang.org/api/sourcerepo/v1/sourcerepo-api.json
  vendor/google.golang.org/api/sourcerepo/v1/sourcerepo-gen.go
  vendor/google.golang.org/api/spanner/v1/spanner-api.json
  vendor/google.golang.org/api/spanner/v1/spanner-gen.go
  vendor/google.golang.org/api/storage/v1/storage-api.json
  vendor/google.golang.org/api/storage/v1/storage-gen.go
  vendor/google.golang.org/api/storagetransfer/v1/storagetransfer-api.json
  vendor/google.golang.org/api/storagetransfer/v1/storagetransfer-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#3795 Remove Default from GA provider
  google/resource_container_cluster.go
Labels: size/XS

#3798 Retrieve project after detecting changes
  google/resource_compute_instance_template.go
Labels: size/XS

#3801 Add retries to container Operations
  google/container_operation.go
Labels: size/XS

#3811 Fix beta website docs
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XS

#3789 Instance template disk conflicts
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
Labels: size/M

#3794 Move AlertPolicy tests to a matrix
  google/resource_monitoring_alert_policy_test.go
Labels: size/S

#3813 Add support for Workload Identity to GKE Terraform provider
  google/node_config.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3760 Clarify Cloud Scheduler docs
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: documentation, size/XS

#3823 fix typo causing lint to fail
  google/compute_instance_helpers.go
Labels: size/XS

#3824 vendor beta dataproc api
  vendor/google.golang.org/api/dataproc/v1beta2/dataproc-api.json
  vendor/google.golang.org/api/dataproc/v1beta2/dataproc-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#3825 Add package vendoring instructions
  .github/CONTRIBUTING.md
Labels: size/XS

#3818 Terraform Pub/Sub fix, do not send name on topic/subscription creation.
  google/resource_pubsub_subscription.go
  google/resource_pubsub_topic.go
Labels: size/XS

#3717 Fix two issues in instance template resources
  google/resource_compute_instance_from_template.go
  google/resource_compute_instance_from_template_test.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
Labels: size/XL

#3830 Add imports to storage bucket iam resources
  google/iam_storage_bucket.go
  google/provider.go
  google/resource_storage_bucket_iam_test.go
  website/docs/r/storage_bucket_iam.html.markdown
Labels: documentation, size/M

#3839 modernize firewall tests
  google/resource_compute_firewall_test.go
Labels: size/L

#3840 use randomized name for dataflow service account in test
  google/resource_dataflow_job_test.go
Labels: size/XS

#3826 add min_cpu_platform to beta dataproc cluster resource
  google/config.go
  google/dataproc_cluster_operation.go
  google/resource_dataproc_cluster.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/S

#3843 adds 'purpose' to kms_crypto_key
  google/resource_kms_crypto_key.go
  google/resource_kms_crypto_key_test.go
  website/docs/d/google_kms_crypto_key.html.markdown
  website/docs/r/google_kms_crypto_key.html.markdown
Labels: documentation, size/XS

#3837 use the image version data source for composer environment tests
  google/resource_composer_environment_test.go
Labels: size/XS

#3846 fallback to region from redis location_id when region isn't specified
  google/resource_redis_instance.go
  google/resource_redis_instance_test.go
Labels: size/M

#3832 Enable network endpoint groups and endpoints in GA
  google/provider_compute_gen.go
  google/resource_compute_network_endpoint.go
  google/resource_compute_network_endpoint_group.go
  google/resource_compute_network_endpoint_group_generated_test.go
  google/resource_compute_network_endpoint_test.go
  website/docs/r/compute_network_endpoint.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
Labels: documentation, size/XXL

#3828 Terraform: Pubsub Topic labels update
  google/resource_pubsub_topic.go
  google/resource_pubsub_topic_test.go
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/M

#3834 Enable service networking connections in GA
  google/config.go
  google/provider.go
  google/provider_handwritten_endpoint.go
  google/resource_service_networking_connection.go
  google/resource_service_networking_connection_test.go
  google/service_networking_operation.go
  website/docs/provider_reference.html.markdown
  website/docs/r/service_networking_connection.html.markdown
Labels: documentation, size/XL

#3749 autogenerate KMS CryptoKey, add purpose
  google/kms_utils.go
  google/provider.go
  google/provider_kms_gen.go
  google/resource_kms_crypto_key.go
  google/resource_kms_crypto_key_test.go
  website/docs/r/google_kms_crypto_key.html.markdown
  website/docs/r/kms_crypto_key.html.markdown
  website/google.erb
Labels: documentation, size/XL

#3822 Terraform: make GCS bucket `bucket_policy_only` computed
  google/resource_storage_bucket.go
Labels: size/XS

#3857 Ignore host when searching for postgres sql user in read from list
  google/resource_sql_database_instance_test.go
  google/resource_sql_user.go
Labels: size/XS

#3847 use dataproc beta client in tests
  google/resource_dataproc_cluster_test.go
Labels: documentation, size/XS

#3861 Update GKE examples metadata attributes for 0.12
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#3859 Feature: DNS import and update existing resources
  google/resource_dns_record_set.go
  google/resource_sql_database_instance_test.go
  website/docs/r/dns_record_set.markdown
Labels: documentation, size/S

#3451 Support IAM roles on BigQuery datasets
  google/resource_bigquery_dataset.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#3871 vendor terraform 0.12.2
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-plugin/client.go
  vendor/github.com/hashicorp/go-plugin/server.go
  vendor/github.com/hashicorp/terraform/config/module/versions.go
  vendor/github.com/hashicorp/terraform/configs/configload/loader_load.go
  vendor/github.com/hashicorp/terraform/helper/plugin/grpc_provider.go
  vendor/github.com/hashicorp/terraform/helper/resource/state_shim.go
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/internal/tfplugin5/tfplugin5.pb.go
  vendor/github.com/hashicorp/terraform/internal/tfplugin5/tfplugin5.proto
  vendor/github.com/hashicorp/terraform/lang/blocktoattr/schema.go
  vendor/github.com/hashicorp/terraform/lang/funcs/collection.go
  vendor/github.com/hashicorp/terraform/lang/funcs/crypto.go
  vendor/github.com/hashicorp/terraform/lang/functions.go
  vendor/github.com/hashicorp/terraform/plugin/grpc_provider.go
  vendor/github.com/hashicorp/terraform/providers/provider.go
  vendor/github.com/hashicorp/terraform/states/state_deepcopy.go
  vendor/github.com/hashicorp/terraform/states/statefile/version2.go
  vendor/github.com/hashicorp/terraform/terraform/eval_diff.go
  vendor/github.com/hashicorp/terraform/terraform/eval_read_data.go
  vendor/github.com/hashicorp/terraform/terraform/eval_refresh.go
  vendor/github.com/hashicorp/terraform/terraform/eval_validate.go
  vendor/github.com/hashicorp/terraform/terraform/node_resource_abstract.go
  vendor/github.com/hashicorp/terraform/version/version.go
  vendor/github.com/satori/go.uuid/.travis.yml
  vendor/github.com/satori/go.uuid/LICENSE
  vendor/github.com/satori/go.uuid/README.md
  vendor/github.com/satori/go.uuid/codec.go
  vendor/github.com/satori/go.uuid/generator.go
  vendor/github.com/satori/go.uuid/sql.go
  vendor/github.com/satori/go.uuid/uuid.go
  vendor/github.com/zclconf/go-cty-yaml/.travis.yml
  vendor/github.com/zclconf/go-cty-yaml/LICENSE
  vendor/github.com/zclconf/go-cty-yaml/LICENSE.libyaml
  vendor/github.com/zclconf/go-cty-yaml/NOTICE
  vendor/github.com/zclconf/go-cty-yaml/apic.go
  vendor/github.com/zclconf/go-cty-yaml/converter.go
  vendor/github.com/zclconf/go-cty-yaml/cty_funcs.go
  vendor/github.com/zclconf/go-cty-yaml/decode.go
  vendor/github.com/zclconf/go-cty-yaml/emitterc.go
  vendor/github.com/zclconf/go-cty-yaml/encode.go
  vendor/github.com/zclconf/go-cty-yaml/error.go
  vendor/github.com/zclconf/go-cty-yaml/go.mod
  vendor/github.com/zclconf/go-cty-yaml/go.sum
  vendor/github.com/zclconf/go-cty-yaml/implied_type.go
  vendor/github.com/zclconf/go-cty-yaml/parserc.go
  vendor/github.com/zclconf/go-cty-yaml/readerc.go
  vendor/github.com/zclconf/go-cty-yaml/resolve.go
  vendor/github.com/zclconf/go-cty-yaml/scannerc.go
  vendor/github.com/zclconf/go-cty-yaml/writerc.go
  vendor/github.com/zclconf/go-cty-yaml/yaml.go
  vendor/github.com/zclconf/go-cty-yaml/yamlh.go
  vendor/github.com/zclconf/go-cty-yaml/yamlprivateh.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#3874 Allow setting notification channel enabled to false
  google/config.go
  google/provider.go
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_notification_channel_test.go
Labels: size/XS

#3872 increase some timeouts
  google/resource_compute_instance.go
  google/resource_container_cluster.go
  google/resource_dataproc_cluster.go
  google/resource_sql_database_instance.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/S

#3860 Allow count=0 for guest_accelerators
  google/resource_container_cluster.go
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
Labels: size/L

#3877 promote internal global addresses to GA
  google/resource_compute_global_address.go
  google/resource_compute_global_address_test.go
  website/docs/r/compute_global_address.html.markdown
Labels: documentation, size/M

#3879 fail the signed url key tests for the correct reason
  google/resource_compute_backend_bucket_signed_url_key_test.go
  google/resource_compute_backend_service_signed_url_key_test.go
Labels: size/M

#3873 Add GKE Sandbox support to Terraform.
  google/node_config.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#3876 Refactor node auto-provisioning, clarify docs
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3863 Add max_connection/rate_per_endpoint to backend services
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_test.go
  google/resource_compute_network_endpoint_group.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
Labels: documentation, size/XL

#3885 Clarify permissions in master auth docs
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3886 add nil checks to bucket policy and allow updating to false
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
Labels: size/XS

#3893 Add basic state migration support and one for crypto key keyrings
  google/resource_kms_crypto_key.go
  google/resource_kms_crypto_key_test.go
Labels: size/M

#3895 Remove send_empty_value for backend service fields that depend on not being set
  google/resource_compute_backend_service.go
Labels: size/XS

#3887 fix updating service networking connections
  google/resource_service_networking_connection.go
Labels: size/S

#3817 Skip alert policy examples tests
  google/resource_monitoring_alert_policy_generated_test.go
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: documentation, size/M

#3816 [terraform] add support for gke resource usage
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3901 Document compute_backend_service set types
  website/docs/d/datasource_google_compute_backend_service.html.markdown
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XS

#3900 make iam members case insensitive
  google/resource_compute_instance_iam_test.go
  google/resource_google_project_iam_policy.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
Labels: size/S

#3907 Add new resource for compute default network tier
  google/provider.go
  google/resource_compute_project_default_network_tier.go
  google/resource_compute_project_default_network_tier_test.go
  website/docs/r/compute_project_default_network_tier.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/google.erb
Labels: documentation, size/L

#3902 Include API error to deleting GCP folder error message
  google/resource_google_folder.go
Labels: size/XS

#3904 Use consistent naming in storage_transfer_job example
  website/docs/r/storage_transfer_job.html.markdown
Labels: documentation, size/XS

#3909 Fix replaceVarsForTest to work with custom endpoints
  google/resource_access_context_manager_access_level_test.go
  google/resource_access_context_manager_access_policy_test.go
  google/resource_access_context_manager_service_perimeter_test.go
  google/resource_app_engine_firewall_rule_generated_test.go
  google/resource_cloud_build_trigger_generated_test.go
  google/resource_cloud_scheduler_job_generated_test.go
  google/resource_compute_address_generated_test.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_backend_bucket_generated_test.go
  google/resource_compute_backend_bucket_signed_url_key_test.go
  google/resource_compute_backend_service_generated_test.go
  google/resource_compute_backend_service_signed_url_key_test.go
  google/resource_compute_disk_generated_test.go
  google/resource_compute_firewall_generated_test.go
  google/resource_compute_forwarding_rule_generated_test.go
  google/resource_compute_global_address_generated_test.go
  google/resource_compute_global_forwarding_rule_generated_test.go
  google/resource_compute_health_check_generated_test.go
  google/resource_compute_http_health_check_generated_test.go
  google/resource_compute_https_health_check_generated_test.go
  google/resource_compute_image_generated_test.go
  google/resource_compute_network_endpoint_group_generated_test.go
  google/resource_compute_network_endpoint_test.go
  google/resource_compute_network_generated_test.go
  google/resource_compute_node_group_generated_test.go
  google/resource_compute_node_template_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_compute_region_backend_service_generated_test.go
  google/resource_compute_region_disk_generated_test.go
  google/resource_compute_route_generated_test.go
  google/resource_compute_router_generated_test.go
  google/resource_compute_snapshot_generated_test.go
  google/resource_compute_ssl_certificate_generated_test.go
  google/resource_compute_ssl_policy_generated_test.go
  google/resource_compute_subnetwork_generated_test.go
  google/resource_compute_target_http_proxy_generated_test.go
  google/resource_compute_target_https_proxy_generated_test.go
  google/resource_compute_target_instance_generated_test.go
  google/resource_compute_target_ssl_proxy_generated_test.go
  google/resource_compute_target_tcp_proxy_generated_test.go
  google/resource_compute_url_map_generated_test.go
  google/resource_compute_vpn_gateway_generated_test.go
  google/resource_compute_vpn_tunnel_generated_test.go
  google/resource_dns_managed_zone_generated_test.go
  google/resource_filestore_instance_generated_test.go
  google/resource_firestore_index_generated_test.go
  google/resource_logging_metric_generated_test.go
  google/resource_monitoring_group_generated_test.go
  google/resource_monitoring_notification_channel_generated_test.go
  google/resource_monitoring_uptime_check_config_generated_test.go
  google/resource_pubsub_subscription_generated_test.go
  google/resource_pubsub_topic_generated_test.go
  google/resource_redis_instance_generated_test.go
  google/resource_source_repo_repository_generated_test.go
  google/resource_spanner_database_generated_test.go
  google/resource_spanner_instance_generated_test.go
  google/resource_storage_default_object_access_control_generated_test.go
  google/resource_storage_object_access_control_generated_test.go
  google/resource_tpu_node_generated_test.go
  google/transport_test.go
Labels: size/M

#3903 Use non-authoritative IAM policy
  website/docs/r/logging_organization_sink.html.markdown
Labels: documentation, size/XS

#3855 Sort IAM policy bindings by their role name to get simpler diffs
  google/data_source_google_iam_policy.go
Labels: size/XS

#3916 Add attr-as-block docs
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XS

#3910 Add labels to KMS crypto key
  google/resource_kms_crypto_key.go
  google/resource_kms_crypto_key_test.go
  website/docs/r/kms_crypto_key.html.markdown
Labels: documentation, size/S

#3919 Remove internal fields from monitoring uptime check
  google/resource_monitoring_uptime_check_config.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/L

#3870 Add Healthcare beta API and associated resources and iam
  google/healthcare_utils.go
  google/iam_healthcare_dataset.go
  google/iam_healthcare_dicom_store.go
  google/iam_healthcare_fhir_store.go
  google/iam_healthcare_hl7_v2_store.go
  google/resource_healthcare_dataset_iam_test.go
  google/resource_healthcare_dataset_test.go
  google/resource_healthcare_dicom_store_iam_test.go
  google/resource_healthcare_dicom_store_test.go
  google/resource_healthcare_fhir_store_iam_test.go
  google/resource_healthcare_fhir_store_test.go
  google/resource_healthcare_hl7_v2_store_iam_test.go
  google/resource_healthcare_hl7_v2_store_test.go
  website/docs/r/healthcare_dataset_iam.html.markdown
  website/docs/r/healthcare_dicom_store_iam.html.markdown
  website/docs/r/healthcare_fhir_store_iam.html.markdown
  website/docs/r/healthcare_hl7_v2_store_iam.html.markdown
Labels: documentation, size/XL

#3920 add additional case sensitive locations for iam
  google/resource_iam_member.go
Labels: size/XS

#3921 fix service perimeter tests
  google/resource_access_context_manager_service_perimeter_test.go
Labels: size/S

#3924 use default network for tpu full test
  google/resource_tpu_node_generated_test.go
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/XS

#3926 Remove a few redundant GKE tests
  google/resource_container_cluster_test.go
Labels: size/M

#3852 capture current hashibot config
  .hashibot.hcl
Labels: size/S

#3934 Consolidate a bunch of simple GKE tests
  google/resource_container_cluster_test.go
Labels: size/XL

#3011 Disable Kubernetes Dashboard by default
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3930 Refactor project service(s) code
  google/resource_google_project.go
  google/resource_google_project_service.go
  google/resource_google_project_service_test.go
  google/resource_google_project_services.go
  google/resource_google_project_services_test.go
  google/serviceusage_operation.go
  google/utils.go
  website/docs/r/container_cluster.html.markdown
  website/docs/r/google_project_services.html.markdown
Labels: documentation, size/XL

#3941 move logging/monitoring update to GA; move it to misc test
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L
