Repository hashicorp/terraform-provider-google, pull requests merged in 2019-04, with the labels that each got.

#3229 Add backend bucket signed URL key (for CDN) support
  google/provider_compute_gen.go
  google/resource_compute_backend_bucket.go
  google/resource_compute_backend_bucket_signed_url_key.go
  google/resource_compute_backend_bucket_signed_url_key_test.go
  google/resource_compute_backend_bucket_test.go
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
Labels: documentation, size/XL

#3352 Terraform: Make private Cloud DNS GA
  google/resource_dns_managed_zone.go
  google/resource_dns_managed_zone_generated_test.go
  google/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/XL

#3356 Fix unclosed formatting in CHANGELOG
  CHANGELOG.md
Labels: size/XS

#3357 Add google_impersonated_credential datasource
  google/config.go
  google/data_source_google_service_account_access_token.go
  google/data_source_google_service_account_access_token_test.go
  google/provider.go
  google/validation.go
  vendor/google.golang.org/api/iamcredentials/v1/iamcredentials-api.json
  vendor/google.golang.org/api/iamcredentials/v1/iamcredentials-gen.go
  vendor/modules.txt
  website/docs/d/datasource_google_service_account_access_token.html.markdown
  website/google.erb
Labels: dependencies, documentation, size/XXL

#3346 More Cloudbuild Trigger Step support
  google/resource_cloud_build_trigger.go
  google/resource_cloudbuild_trigger_test.go
  website/docs/r/cloud_build_trigger.html.markdown
Labels: documentation, size/XL

#3358 Bring Access Context Manager / VPC Service Controls to GA
  google/access_context_manager_operation.go
  google/provider_access_context_manager_gen.go
  google/resource_access_context_manager_access_level.go
  google/resource_access_context_manager_access_level_test.go
  google/resource_access_context_manager_access_policy.go
  google/resource_access_context_manager_access_policy_test.go
  google/resource_access_context_manager_service_perimeter.go
  google/resource_access_context_manager_service_perimeter_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_access_policy.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
Labels: documentation, size/XXL

#3364 Remove 'Set' from fields where it doesn't do anything
  google/resource_compute_global_forwarding_rule.go
  google/resource_compute_instance.go
  google/resource_google_project.go
  google/resource_sql_database_instance.go
Labels: size/XS

#3345 Generate BackendService in Terraform
  google/provider.go
  google/provider_compute_gen.go
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_generated_test.go
  google/resource_compute_backend_service_migrate.go
  google/resource_compute_backend_service_test.go
  google/resource_compute_region_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XXL

#3359 Signed CDN urls for backend services
  google/provider_compute_gen.go
  google/resource_compute_backend_service_signed_url_key.go
  google/resource_compute_backend_service_signed_url_key_test.go
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
Labels: documentation, size/XL

#3366 Retry reads in Cloud SQL Database Instance
  google/resource_sql_database_instance.go
Labels: size/XS

#3353 Terraform: Cloud DNS Peering
  google/resource_dns_managed_zone.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/M

#3376 Update global address docs now that they are settable + ip ranges sometimes
  website/docs/r/compute_global_address.html.markdown
Labels: documentation, size/XS

#3368 Add google-beta to SQL private docs
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/S

#3380 Actually add ACM resources to the GA provider resource map
  google/provider.go
Labels: size/XS

#3367 Add single instance field to autoscaler stackdriver metrics
  google/resource_compute_autoscaler.go
  google/resource_compute_region_autoscaler.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/S

#3375 Cleanup BackendService after generation, add omitted fields.
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_migrate.go
  google/resource_compute_backend_service_migrate_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XL

#3390 [terraform] update cidr_blocks to fix ipv6 parsing issues and improve testing
  google/data_source_google_netblock_ip_ranges.go
  google/data_source_google_netblock_ip_ranges_test.go
Labels: size/XS

#3391 Terraform: allow deletion of default route upon network creation
  google/resource_compute_network.go
  google/resource_compute_network_test.go
  website/docs/r/compute_network.html.markdown
Labels: documentation, size/M

#3397 Relax the limit on # of master authorized networks in GKE
  google/resource_container_cluster.go
  google/resource_sql_database_instance_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3398 Make cloudbuild trigger disabled field a bool
  google/resource_cloud_build_trigger.go
  google/resource_cloudbuild_trigger_test.go
Labels: size/M

#3389 GET clusters in error states so we see state information in debug logs.
  google/resource_container_cluster.go
Labels: size/XS

#3414 Add better error message for sql 409
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#3406 Removing validation function from BQ dataset resource
  google/resource_bigquery_dataset.go
  google/resource_bigquery_dataset_test.go
Labels: size/M

#3422 Add conflicts_with for cluster remove_default_node_pool and node_pool
  google/resource_container_cluster.go
Labels: size/XS

#3399 [TF] Remove draining and cancelling from terminal dataflow job states
  google/resource_dataflow_job.go
Labels: size/M

#3423 Small docs update
  website/docs/r/compute_instance_group_manager.html.markdown
Labels: documentation, size/XS

#3427 Remove Computed from GKE cluster cidr_blocks
  google/resource_container_cluster.go
Labels: size/XS

#3431 Don't allow secondary ip ranges to be computed in subnetwork
  google/resource_compute_subnetwork.go
Labels: size/XS

#3434 012 instance from template
  go.sum
  google/resource_compute_instance.go
  google/resource_compute_instance_from_template.go
  google/resource_compute_instance_from_template_test.go
  google/resource_compute_subnetwork.go
  website/docs/r/compute_instance_from_template.html.markdown
Labels: documentation, size/L

#3436 Use 0.12-compatible syntax in VPN Tunnel
  google/resource_compute_subnetwork.go
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: documentation, size/XS

#3444 Vendor terraform to fix ImportStateVerify bug.
  go.mod
  go.sum
  vendor/github.com/hashicorp/hcl2/hcl/ops.go
  vendor/github.com/hashicorp/hcl2/hcl/pos.go
  vendor/github.com/hashicorp/hcl2/hcl/pos_scanner.go
  vendor/github.com/hashicorp/terraform/configs/module_merge_body.go
  vendor/github.com/hashicorp/terraform/configs/util.go
  vendor/github.com/hashicorp/terraform/helper/resource/testing_import_state.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource.go
  vendor/github.com/hashicorp/terraform/lang/funcs/collection.go
  vendor/github.com/hashicorp/terraform/lang/functions.go
  vendor/modules.txt
Labels: dependencies, size/L

#3443 Fixup non-Removed ISV tests
  google/resource_container_node_pool_test.go
  google/resource_google_project_test.go
Labels: size/M

#3448 Use attr syntax on cluster-specific GKE fields.
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#3449 Revert "Check current status during apply-time diff. (#1474)" due to 0.12
  google/resource_compute_instance_group.go
  google/resource_compute_instance_group_test.go
Labels: size/L

#3452 0.12 Computed+Optional Attr syntax fixes
  google/node_config.go
  google/resource_compute_instance_from_template_test.go
  google/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#3453 Vendor early8
  go.mod
  go.sum
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/helper/schema/shims.go
  vendor/github.com/hashicorp/terraform/states/instance_object.go
  vendor/github.com/hashicorp/terraform/terraform/diff.go
  vendor/github.com/hashicorp/terraform/terraform/eval_apply.go
  vendor/github.com/hashicorp/terraform/terraform/evaluate.go
  vendor/modules.txt
Labels: dependencies, size/M

#3459 Handle nil IAP in backend service decoder
  google/resource_compute_backend_service.go
Labels: size/XS

#3461 Add new DiffSuppress for dns managed zone visibility
  google/resource_dns_managed_zone.go
  google/resource_dns_managed_zone_test.go
Labels: size/XS

#3455 Add retries/backoff when (only) reading IAM policies
  google/iam.go
  google/resource_iam_audit_config.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
  google/resource_iam_policy.go
Labels: size/S

#3464 Add pagination to google projects data source
  google/data_source_google_projects.go
Labels: size/S

#3468 Allow empty string for kms crypto key rotation period
  google/resource_kms_crypto_key.go
Labels: size/XS

#3463 Allow BackendService backends.group to ref multiple resource types
  google/resource_compute_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XS

#3446 Add compute node types and templates
  google/data_source_google_compute_node_types.go
  google/data_source_google_compute_node_types_test.go
  google/provider.go
  google/provider_compute_gen.go
  google/resource_compute_node_template.go
  google/resource_compute_node_template_generated_test.go
  website/docs/d/google_compute_node_types.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/google.erb
Labels: documentation, size/XL

#3454 Add logConfig to subnetwork resource
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/S

#3458 Use beta endpoint for shared vpc resources
  google/resource_compute_shared_vpc_host_project.go
  google/resource_compute_shared_vpc_service_project.go
Labels: size/S

#3372 Retry instance metadata on fingerprint mismatch.
  google/metadata.go
  google/resource_compute_instance.go
  google/utils.go
Labels: size/M

#3476 Add (sub)network to dataflow job
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/L

#3484 Add support for Firestore Index
  google/common_operation.go
  google/firestore_operation.go
  google/provider.go
  google/provider_firestore_gen.go
  google/provider_test.go
  google/resource_access_context_manager_access_level.go
  google/resource_access_context_manager_service_perimeter.go
  google/resource_firestore_index.go
  google/resource_firestore_index_generated_test.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_group.go
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_uptime_check_config.go
  website/docs/r/firestore_index.html.markdown
  website/google.erb
Labels: documentation, size/XL

#3393 Autogen global forwarding rule
  google/provider.go
  google/provider_compute_gen.go
  google/resource_compute_global_forwarding_rule.go
  google/resource_compute_global_forwarding_rule_generated_test.go
  google/resource_compute_global_forwarding_rule_test.go
Labels: documentation, size/XL

#3494 Move AlertPolicy labels to user_labels and make them a map
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_alert_policy_generated_test.go
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: documentation, size/M

#3489 Fix forwarding rule fields and add regional Internal LB example
  google/resource_compute_forwarding_rule.go
  google/resource_compute_forwarding_rule_generated_test.go
  google/resource_compute_forwarding_rule_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/L

#3492 Fix explicitly setting the default network + subnetwork in GKE
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/XS

#3505 Add compute target instances (TF-only)
  google/provider_compute_gen.go
  google/resource_compute_target_instance.go
  google/resource_compute_target_instance_generated_test.go
  website/docs/r/compute_target_instance.html.markdown
Labels: documentation, size/XL

#3433 [TF] Add max_instances to cloudfunctions functions
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#3497 Revert "Add conflicts_with for cluster remove_default_node_pool and n…
  google/resource_container_cluster.go
Labels: size/XS

#3506 Fixed attached disk update test @ beta
  google/resource_compute_disk.go
  google/resource_compute_disk_test.go
  google/resource_compute_region_disk.go
  google/self_link_helpers.go
Labels: size/M

#3503 Update BackendService docs to reflect being GLB only
  google/resource_compute_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/S

#3496 Make Subnetwork secondary_ranges Computed again, apply fixup, fix patch
  google/resource_compute_subnetwork.go
  google/resource_compute_subnetwork_test.go
Labels: size/M
