Repository hashicorp/terraform-provider-google, pull requests merged in 2019-12, with the labels that each got.

#5010 If the managed zone disappears, the recordset deletion will fail.
  google/resource_dns_record_set.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#4945 Add a kubernetes style resource async class
  google/cloudrun_polling.go
  google/resource_access_context_manager_access_level.go
  google/resource_access_context_manager_access_policy.go
  google/resource_access_context_manager_service_perimeter.go
  google/resource_app_engine_application_url_dispatch_rules.go
  google/resource_app_engine_domain_mapping.go
  google/resource_app_engine_standard_app_version.go
  google/resource_cloud_run_service.go
  google/resource_cloud_run_service_generated_test.go
  google/resource_compute_address.go
  google/resource_compute_autoscaler.go
  google/resource_compute_backend_bucket.go
  google/resource_compute_backend_bucket_signed_url_key.go
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_signed_url_key.go
  google/resource_compute_disk.go
  google/resource_compute_disk_resource_policy_attachment.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_compute_global_forwarding_rule.go
  google/resource_compute_health_check.go
  google/resource_compute_http_health_check.go
  google/resource_compute_https_health_check.go
  google/resource_compute_image.go
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_network.go
  google/resource_compute_network_endpoint.go
  google/resource_compute_network_endpoint_group.go
  google/resource_compute_node_group.go
  google/resource_compute_node_template.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_disk.go
  google/resource_compute_reservation.go
  google/resource_compute_resource_policy.go
  google/resource_compute_route.go
  google/resource_compute_router.go
  google/resource_compute_router_bgp_peer.go
  google/resource_compute_router_nat.go
  google/resource_compute_snapshot.go
  google/resource_compute_ssl_certificate.go
  google/resource_compute_ssl_policy.go
  google/resource_compute_subnetwork.go
  google/resource_compute_target_http_proxy.go
  google/resource_compute_target_https_proxy.go
  google/resource_compute_target_instance.go
  google/resource_compute_target_ssl_proxy.go
  google/resource_compute_target_tcp_proxy.go
  google/resource_compute_url_map.go
  google/resource_compute_vpn_gateway.go
  google/resource_compute_vpn_tunnel.go
  google/resource_filestore_instance.go
  google/resource_firestore_index.go
  google/resource_redis_instance.go
  google/resource_spanner_database.go
  google/resource_spanner_instance.go
  google/resource_sql_database.go
  google/resource_tpu_node.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XL

#5033 Move vertical_pod_autoscaling to GA in container cluster
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/M

#5020 Fix heading in google_kms_crypto_key_version doc
  website/docs/d/google_kms_crypto_key_version.html.markdown
Labels: documentation, size/XS

#5056 Groups not supported in acm levels members
  google/resource_access_context_manager_access_level.go
  website/docs/r/access_context_manager_access_level.html.markdown
Labels: documentation, size/XS

#5047 remove cloudrun test custom import ids
  google/resource_cloud_run_service_test.go
Labels: size/XS

#5005 New resource: google_billing_budget
  website/google.erb
Labels: documentation, size/XS

#5061 Change in 0.12 syntax mixed up test
  google/resource_compute_backend_service_test.go
Labels: size/XS

#4926 Allow configuring GKE Node Pool upgrade settings
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#5057 Add MM upstreaming guide to GitHub
  .github/CONTRIBUTING.md
Labels: size/S

#5059 fix broken indent in bigquery dataset docs
  google/resource_big_query_dataset.go
  google/resource_sql_database_instance_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5066 Fix regex that changed due to backtick vs double quote
  google/kms_utils.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#5071 Fix target proxy update test
  google/resource_compute_target_https_proxy_test.go
Labels: size/XS

#5063 Update dns managed zone test
  google/data_source_dns_managed_zone.go
  google/data_source_dns_managed_zone_test.go
  website/docs/d/dns_managed_zone.html.markdown
Labels: documentation, size/XS

#5070 Add `expr` to `google_compute_security_policy.rule.match`
  google/resource_compute_security_policy.go
  website/docs/r/compute_security_policy.html.markdown
Labels: documentation, size/S

#5021 Correct default GCP env var for credential path in Guide
  website/docs/guides/getting_started.html.markdown
Labels: documentation, size/XS

#5003 update compute_attached_disk.html.markdown
  website/docs/r/compute_attached_disk.html.markdown
Labels: documentation, size/XS

#5078 Revert "Correct default GCP env var for credential path in Guide"
  website/docs/guides/getting_started.html.markdown
Labels: documentation, size/XS

#4703 Update credential requirements in "contributing" docs
  .github/CONTRIBUTING.md
Labels: size/XS

#5050 Add pubsubConfigs to cloud source repository
  google/resource_source_repo_repository.go
  google/resource_source_repo_repository_generated_test.go
  google/resource_sourcerepo_repository_test.go
  website/docs/r/sourcerepo_repository.html.markdown
Labels: documentation, size/XL

#5080 correct documentation about multiple ssl certificates
  google/resource_compute_target_https_proxy.go
  website/docs/r/compute_target_https_proxy.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5090 Fix cloudrun iam import format in docs
  website/docs/r/cloud_run_service_iam.html.markdown
  website/google.erb
Labels: changelog: no-release-note, documentation, size/XS

#5089 Add doc and example for google_organization_iam_audit_config.
  google/resource_google_organization_iam_audit_config_test.go
  website/docs/r/google_organization_iam_audit_config.html.markdown
  website/google.erb
Labels: documentation, size/M

#5006 try deleting storage buckets before clearing them
  google/resource_storage_bucket.go
Labels: documentation, size/M

#5092 Move cloudrun sql test to examples
  google/iam_cloud_run_service_generated_test.go
  google/resource_cloud_run_service_generated_test.go
  google/resource_cloud_run_service_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: changelog: no-release-note, documentation, size/XL

#5094 Allow namespace to be inferred from project
  google/iam_cloud_run_service_generated_test.go
  google/resource_cloud_run_service.go
  google/resource_cloud_run_service_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/L

#5081 (Upstreaming) Add KMS support to bigquery tables.
  google/data_source_google_bigquery_default_service_account.go
  google/provider.go
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  google/resource_sql_database_instance_test.go
  website/docs/d/google_bigquery_default_service_account.html
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XL

#5102 standardize on two spaces instead of tabs for generated IAM docs/tests
  google/iam_binary_authorization_attestor_generated_test.go
  google/iam_cloud_functions_cloud_function_generated_test.go
  google/iam_cloud_run_service_generated_test.go
  google/iam_compute_instance_generated_test.go
  google/iam_compute_subnetwork_generated_test.go
  google/iam_iap_app_engine_service_generated_test.go
  google/iam_iap_app_engine_version_generated_test.go
  google/iam_iap_web_backend_service_generated_test.go
  google/iam_iap_web_generated_test.go
  google/iam_iap_web_type_app_engine_generated_test.go
  google/iam_iap_web_type_compute_generated_test.go
  google/iam_pubsub_topic_generated_test.go
  google/iam_runtime_config_config_generated_test.go
  google/iam_source_repo_repository_generated_test.go
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
Labels: changelog: no-release-note, documentation, size/XXL

#4992 Add route_rules to UrlMap for Traffic Director
  google/resource_compute_url_map.go
  google/resource_compute_url_map_generated_test.go
  google/resource_compute_url_map_test.go
  google/resource_sql_database_instance_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/XXL

#4769 Add retry on resource read for dns.ResourceRecordSetsListResponse
  google/resource_dns_record_set.go
Labels: size/XS

#5105 Moving Ansible fingerprint to match TF
  google/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/S

#5083 Fix docs google_service_account usage
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#5106 Add path_rules to UrlMap
  google/resource_compute_url_map.go
  google/resource_compute_url_map_generated_test.go
  google/resource_compute_url_map_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/XXL

#5117 update compute disk documentation
  google/resource_compute_disk.go
  website/docs/r/compute_disk.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#5111 change exponential_buckets growth_factor from integer to double
  google/resource_logging_metric.go
Labels: size/XS

#5115 Add org_id to organization datasource so we don't need to use id
  google/data_source_google_organization.go
  website/docs/d/google_organization.html.markdown
Labels: documentation, size/XS

#5122 Add path_rules to RegionUrlMap
  google/resource_compute_url_map.go
  google/resource_compute_url_map_generated_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/M

#5130 Add route_rules to RegionUrlMap
  google/resource_compute_url_map.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/M

#5134 return nil instead of op, which is an interface containing nil
  google/common_operation.go
Labels: changelog: no-release-note, size/XS

#5120 [logging_sink] Add bigquery_options field to support partitioned tables
  google/resource_logging_billing_account_sink.go
  google/resource_logging_billing_account_sink_test.go
  google/resource_logging_folder_sink.go
  google/resource_logging_folder_sink_test.go
  google/resource_logging_organization_sink.go
  google/resource_logging_organization_sink_test.go
  google/resource_logging_project_sink.go
  google/resource_logging_project_sink_test.go
  google/resource_logging_sink.go
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: documentation, size/XL

#5138 add description field to service_account for Terraform
  google/resource_google_service_account.go
  google/resource_google_service_account_test.go
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#5136 Inspec acm perimeter/access policies
  website/docs/r/access_context_manager_service_perimeter.html.markdown
Labels: documentation, size/XS

#5128 Add container_cluster_test sweeper
  google/data_source_google_container_cluster_test.go
  google/resource_composer_environment_test.go
  google/resource_container_cluster_test.go
  google/resource_monitoring_group_test.go
Labels: changelog: no-release-note, size/L

#5135 allow compute_route priority to send empty values
  google/resource_compute_route.go
Labels: size/XS

#5144 Revert "add description field to service_account for Terraform"
  google/resource_google_service_account.go
  google/resource_google_service_account_test.go
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#5142 Handle deleted: prefix when deduplicating IAM member map
  google/iam.go
  google/iam_test.go
Labels: documentation, size/S

#5149 Promote region health check to GA
  google/provider.go
  google/resource_compute_region_health_check.go
  google/resource_compute_region_health_check_generated_test.go
  google/resource_compute_region_health_check_test.go
  website/docs/r/compute_region_health_check.html.markdown
Labels: documentation, size/XXL

#5129 Add security_config to dataproc cluster
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  google/resource_sql_database_instance_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XL

#5139 Add support for Deployment Manager
  google/config.go
  google/deployment_manager_operation.go
  google/provider.go
  google/resource_app_engine_standard_app_version_generated_test.go
  google/resource_bigtable_app_profile_generated_test.go
  google/resource_cloud_run_domain_mapping_generated_test.go
  google/resource_cloud_run_service_generated_test.go
  google/resource_cloud_tasks_queue_generated_test.go
  google/resource_compute_subnetwork.go
  google/resource_dataproc_autoscaling_policy_generated_test.go
  google/resource_deployment_manager_deployment.go
  google/resource_deployment_manager_deployment_test.go
  google/resource_filestore_instance_generated_test.go
  google/resource_sql_database_instance_test.go
  google/test-fixtures/deploymentmanager/service_account.yml.tmpl
  website/docs/r/deployment_manager_deployment.html.markdown
Labels: documentation, size/XXL

#5141 do not retry if sql api returns 409 for deleted instance name
  google/error_retry_predicates.go
Labels: size/XS

#5159 update upgrade guide remove use_ip_aliases from google_container_cluster
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/XS

#5162 Moving nexthop ILB to GA
  google/resource_compute_route.go
  google/resource_compute_route_generated_test.go
  website/docs/r/compute_route.html.markdown
Labels: documentation, size/M

#5099 storage bucket iam generation
  google/iam_binary_authorization_attestor.go
  google/iam_cloud_functions_cloud_function.go
  google/iam_cloud_run_service.go
  google/iam_compute_instance.go
  google/iam_compute_subnetwork.go
  google/iam_iap_app_engine_service.go
  google/iam_iap_app_engine_version.go
  google/iam_iap_web.go
  google/iam_iap_web_backend_service.go
  google/iam_iap_web_type_app_engine.go
  google/iam_iap_web_type_compute.go
  google/iam_pubsub_topic.go
  google/iam_runtime_config_config.go
  google/iam_source_repo_repository.go
  google/iam_storage_bucket.go
  google/iam_storage_bucket_generated_test.go
  google/provider.go
  google/resource_iam_policy.go
  google/resource_storage_bucket_iam_test.go
  website/docs/r/storage_bucket_iam.html.markdown
Labels: documentation, size/XL

#5166 Add ILB global access to ForwardingRule
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/S

#5170 add PARQUET as source_format option in bigquery table external data configuration
  google/resource_bigquery_table.go
Labels: size/XS

#5178 Consider unknown values true-ish in RouterInterface CustomizeDiff
  google/resource_compute_router_interface.go
Labels: size/XS

#5194 change a few ExactlyOneOfs of nested blocks to AtLeastOneOfs
  google/resource_compute_firewall.go
  google/resource_compute_health_check.go
  google/resource_compute_region_health_check.go
  google/resource_google_organization_policy.go
Labels: size/S

#5198 remove unused pgp example
  website/docs/r/google_service_account_key.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5195 Fix generated import formats for resources that allow in their names
  google/iam_source_repo_repository.go
  google/iam_source_repo_repository_generated_test.go
  google/resource_source_repo_repository.go
  google/resource_source_repo_repository_generated_test.go
  website/docs/r/sourcerepo_repository.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
Labels: documentation, size/S

#5202 iam conditions are public beta now
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5205 Refactor GKE test object names
  google/resource_container_cluster_test.go
  google/resource_container_node_pool_test.go
Labels: changelog: no-release-note, size/M

#5204 Add error retry predicate for monitoring 409 error
  google/error_retry_predicates.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_group.go
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_uptime_check_config.go
Labels: changelog: no-release-note, size/XS

#5206 Use new dataflow templates, fix labels
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: changelog: no-release-note, documentation, size/XL

#5200 add conditions to kms iam
  website/docs/r/google_kms_crypto_key_iam_binding.html.markdown
  website/docs/r/google_kms_crypto_key_iam_member.html.markdown
  website/docs/r/google_kms_key_ring_iam.html.markdown
Labels: documentation, size/L

#5213 Update docs for SQL versions
  website/docs/r/sql_database_instance.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5216 Add error retry predicate to app engine dispath rules and app version
  google/error_retry_predicates.go
  google/resource_app_engine_application_url_dispatch_rules.go
  google/resource_app_engine_standard_app_version.go
Labels: changelog: no-release-note, size/XS

#5221 Add error predicates to all Terraform template sendRequest calls
  google/resource_app_engine_application_url_dispatch_rules.go
  google/resource_app_engine_standard_app_version.go
  google/resource_bigquery_data_transfer_config.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_group.go
  google/resource_monitoring_group_generated_test.go
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_notification_channel_generated_test.go
  google/resource_monitoring_uptime_check_config.go
  google/resource_monitoring_uptime_check_config_generated_test.go
  google/resource_pubsub_topic.go
  google/resource_pubsub_topic_generated_test.go
  google/transport.go
Labels: changelog: no-release-note, size/S

#4733 Correct import section in compute_attach_disk documentation
  website/docs/r/compute_attached_disk.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5223 Bump Composer timeouts
  google/resource_composer_environment.go
Labels: size/XS

#5217 Allow GKE to resume create after interruption
  google/bootstrap_utils_test.go
  google/config.go
  google/config_test.go
  google/container_operation.go
  google/provider.go
  google/resource_composer_environment_test.go
  google/resource_compute_instance_migrate_test.go
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  google/resource_monitoring_group_test.go
  google/resource_sql_database_instance_test.go
Labels: size/L

#5230 Only strip version from baseurl when present
  google/config.go
  google/config_test.go
Labels: size/XS

#5225 use atleastoneof for router interface fields
  google/resource_compute_router_interface.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#5220 put ConflictsWith on blocks that changed from ExactlyOneOf to AtLeastOneOf
  google/resource_compute_firewall.go
  google/resource_compute_health_check.go
  google/resource_compute_health_check_test.go
  google/resource_compute_region_health_check.go
  google/resource_compute_region_health_check_test.go
  google/resource_google_organization_policy.go
Labels: size/S

#5224 provide clearer example for adding multiple labels to a metric
  google/resource_logging_metric_generated_test.go
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/XS

#5234 More error predicates in custom code
  google/iam_pubsub_topic.go
  google/resource_app_engine_standard_app_version.go
Labels: changelog: no-release-note, size/XS

#5237 Add Terraform Cloud Run example for multiple environment variables
  google/resource_cloud_run_service_generated_test.go
  google/resource_sql_database_instance_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/M

#5240 Add sweeper for access context manager access policy
  google/resource_access_context_manager_access_policy_test.go
  google/resource_google_project_test.go
Labels: size/M

#5226 add nil check for node pool tags
  google/node_config.go
Labels: size/XS

#5246 Retry reads of organization datasource
  google/data_source_google_organization.go
Labels: size/XS

#5247 Add authoritative IAM policy binding for KMS Crypto Keys
  google/provider.go
  google/resource_kms_crypto_key_iam_test.go
  website/docs/r/google_kms_crypto_key_iam.html.markdown
  website/docs/r/google_kms_crypto_key_iam_binding.html.markdown
  website/docs/r/google_kms_crypto_key_iam_member.html.markdown
  website/docs/r/google_kms_key_ring_iam.html.markdown
  website/google.erb
Labels: documentation, size/XL

#5253 Remove update for cloud run domain mapping
  google/resource_cloud_run_domain_mapping.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
Labels: documentation, size/S

#5258 Make logging metric descriptor labels a set
  google/resource_logging_metric.go
Labels: size/S

#5259 Wait on create op for endpoint service
  google/resource_endpoints_service.go
  google/resource_endpoints_service_test.go
Labels: size/L

#5260 Fix cluster documentation timestamps
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#5254 Fix doc format
  website/docs/d/google_kms_secret_ciphertext.html.markdown
Labels: documentation, size/XS

#5257 Add example, fix inferred zone for disk resource policies attachment
  google/resource_compute_disk_resource_policy_attachment.go
  google/resource_compute_disk_resource_policy_attachment_generated_test.go
  google/resource_compute_disk_resource_policy_attachment_test.go
  website/docs/r/compute_disk_resource_policy_attachment.html.markdown
Labels: documentation, size/L

#5199 Support for Identity Platform
  google/config.go
  google/provider.go
  google/resource_identity_platform_default_supported_idp_config.go
  google/resource_identity_platform_default_supported_idp_config_test.go
  google/resource_identity_platform_inbound_saml_config.go
  google/resource_identity_platform_inbound_saml_config_generated_test.go
  google/resource_identity_platform_inbound_saml_config_test.go
  google/resource_identity_platform_oauth_idp_config.go
  google/resource_identity_platform_oauth_idp_config_generated_test.go
  google/resource_identity_platform_oauth_idp_config_test.go
  google/resource_identity_platform_tenant.go
  google/resource_identity_platform_tenant_default_supported_idp_config.go
  google/resource_identity_platform_tenant_default_supported_idp_config_generated_test.go
  google/resource_identity_platform_tenant_default_supported_idp_config_test.go
  google/resource_identity_platform_tenant_generated_test.go
  google/resource_identity_platform_tenant_inbound_saml_config.go
  google/resource_identity_platform_tenant_inbound_saml_config_generated_test.go
  google/resource_identity_platform_tenant_indound_saml_config_test.go
  google/resource_identity_platform_tenant_oauth_idp_config.go
  google/resource_identity_platform_tenant_oauth_idp_config_generated_test.go
  google/resource_identity_platform_tenant_oauth_idp_config_test.go
  google/resource_identity_platform_tenant_test.go
  website/docs/r/identity_platform_default_supported_idp_config.html.markdown
  website/docs/r/identity_platform_inbound_saml_config.html.markdown
  website/docs/r/identity_platform_oauth_idp_config.html.markdown
  website/docs/r/identity_platform_tenant.html.markdown
  website/docs/r/identity_platform_tenant_default_supported_idp_config.html.markdown
  website/docs/r/identity_platform_tenant_inbound_saml_config.html.markdown
  website/docs/r/identity_platform_tenant_oauth_idp_config.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#5264 Change CR Domain Mapping route name to string
  google/resource_cloud_run_domain_mapping.go
Labels: size/XS

#5267 Poll domain mapping until it succeeds
  google/resource_cloud_run_domain_mapping.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
Labels: documentation, size/XS

#5269 Make spec env, command fields updatable for cloudrun service
  google/resource_cloud_run_service.go
Labels: size/XS

#5268 Reduce default batching interval
  google/batcher.go
  website/docs/guides/provider_reference.html.markdown
Labels: documentation, size/XS

#5271 Use non-exhausted zone
  google/resource_redis_instance_test.go
Labels: changelog: no-release-note, size/XS

#5274 Add note to schema for bigquery table docs
  website/docs/r/bigquery_table.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5276 Send empty values for backend service cache key policy
  google/resource_compute_backend_service.go
Labels: size/XS

#5279 Fix test domain for Cloud Run Domain Mapping
  google/resource_app_engine_domain_mapping_generated_test.go
  google/resource_cloud_run_domain_mapping_generated_test.go
  website/docs/r/app_engine_domain_mapping.html.markdown
Labels: changelog: no-release-note, documentation, size/XS
