Repository hashicorp/terraform-provider-google, pull requests merged in 2019-09, with the labels that each got.

#4393 Add note about metadata startup script import
  google/resource_compute_vpn_gateway.go
  google/resource_compute_vpn_tunnel.go
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#4358 update explicit buckets name and make item_type of bounds integers
  google/resource_logging_metric.go
  google/resource_logging_metric_test.go
  website/docs/r/logging_metric.html.markdown
Labels: changelog: bug-fix, documentation, size/M

#4261 Add purpose and role to subnetwork for L7 load balancing
  website/docs/r/compute_subnetwork.html.markdown
Labels: changelog: enhancement, documentation, size/XS

#4400 Megan compute address purpose
  google/resource_compute_address.go
  google/resource_compute_address_generated_test.go
  website/docs/r/compute_address.html.markdown
Labels: changelog: enhancement, documentation, size/M

#4220 Document the google_project_iam_audit_config resource. Fix #3066
  website/docs/r/google_project_iam.html.markdown
  website/google.erb
Labels: documentation, size/S

#4310 Add app engine domain mappings resource
  google/provider.go
  google/resource_app_engine_domain_mapping.go
  google/resource_app_engine_domain_mapping_generated_test.go
  google/resource_app_engine_domain_mapping_test.go
  website/docs/r/app_engine_domain_mapping.html.markdown
  website/google.erb
Labels: changelog: new-resource, documentation, size/XL

#4407 Meagn logging metric unit
  google/resource_logging_metric.go
  google/resource_logging_metric_generated_test.go
  website/docs/r/logging_metric.html.markdown
Labels: changelog: enhancement, documentation, size/XS

#4415 Enable http timeout errors to be retried.
  google/utils.go
  google/utils_test.go
Labels: size/S

#4429 Use block syntax in cloudiot docs
  website/docs/r/cloudiot_registry.html.markdown
Labels: documentation, size/XS

#4428 Reverse parent attribute override for TF IAM
  google/iam_iap_web_backend_service.go
  google/iam_iap_web_backend_service_generated_test.go
  google/iam_pubsub_topic_generated_test.go
  google/iam_source_repo_repository_generated_test.go
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
Labels: documentation, size/M

#4430 Clarify dataproc SA scopes computed-ness
  website/docs/r/dataproc_cluster.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4401 Autogenerate compute router NAT
  google/provider.go
  google/resource_compute_backend_bucket_signed_url_key.go
  google/resource_compute_backend_service_signed_url_key.go
  google/resource_compute_network_endpoint.go
  google/resource_compute_router_nat.go
  google/resource_resource_manager_lien.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XXL

#4426 add docs about scratch disk size
  website/docs/r/compute_instance_template.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4445 remove need for provider-level project from service networking connection resource
  google/resource_service_networking_connection.go
Labels: size/XS

#4452 Add note that Cloud Build trigger_template is required.
  google/resource_service_networking_connection.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4446 allow master authorized networks config to be removed
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  google/resource_service_networking_connection.go
Labels: size/S

#4413 add mode option to google compute instance boot disk
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: changelog: enhancement, documentation, size/M

#4467 Firewall case insensitive protocol
  google/resource_compute_firewall.go
Labels: changelog: enhancement, size/XS

#4468 add bigquery data transfer to sidebar
  website/google.erb
Labels: documentation, size/XS

#4469 update docs and add `clustering` to big query table
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XS

#4332 Add GCE Zonal Reservation resource
  google/provider.go
  google/resource_compute_reservation.go
  google/resource_compute_reservation_generated_test.go
  website/docs/r/compute_reservation.html.markdown
Labels: changelog: new-resource, documentation, size/XXL

#4270 Add RegionHealthCheck to compute
  google/provider.go
  google/resource_compute_health_check.go
  google/resource_compute_health_check_generated_test.go
  google/resource_compute_health_check_test.go
  google/resource_compute_region_health_check_test.go
  google/resource_compute_reservation.go
  google/resource_compute_reservation_generated_test.go
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_reservation.html.markdown
Labels: documentation, size/XXL

#4470 Add sidebar link for GCE Reservation
  website/google.erb
Labels: documentation, size/XS

#4474 Add back GCE reservation after x-merge
  google/provider.go
  google/resource_compute_reservation.go
  google/resource_compute_reservation_generated_test.go
  website/docs/r/compute_reservation.html.markdown
Labels: documentation, size/XXL

#4475 update/organize sidebar
  google/provider.go
  website/google.erb
Labels: changelog: no-release-note, documentation, size/M

#4463 Add warning about private-by-default cloud functions
  website/docs/r/cloudfunctions_function.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#4409 Allow updating of resource policies in compute_disk
  google/provider.go
  google/resource_compute_disk_resource_policy_attachment.go
  google/resource_compute_disk_resource_policy_attachment_test.go
  google/resource_compute_resource_policy.go
  google/resource_compute_resource_policy_generated_test.go
  website/docs/r/compute_disk_resource_policy_attachment.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/XXL

#4480 Add drainNatIps to router nat
  google/resource_compute_router_nat.go
  google/resource_compute_router_nat_test.go
Labels: size/M

#4454 Generate runtimeconfig IAM resources
  google/config.go
  google/iam_runtime_config_config.go
  google/iam_runtime_config_config_generated_test.go
  google/provider.go
  google/provider_handwritten_endpoint.go
  website/docs/r/runtimeconfig_config_iam.html.markdown
Labels: changelog: new-resource, documentation, size/XL

#4476 add test that checks that master authorized networks config is disabled
  google/resource_container_cluster_test.go
Labels: size/M

#4483 add guest os features to compute image
  google/resource_compute_image.go
  google/resource_compute_image_generated_test.go
  website/docs/r/compute_image.html.markdown
Labels: documentation, size/L

#4488 Properly set project for iam_project
  google/iam_project.go
Labels: size/XS

#4465 image_version and python_version are ga in composer
  google/resource_composer_environment.go
  google/resource_composer_environment_test.go
  website/docs/r/composer_environment.html.markdown
Labels: changelog: enhancement, documentation, size/L

#4502 Replace several occurrences of id in docs
  website/docs/d/google_kms_secret.html.markdown
  website/docs/d/google_kms_secret_ciphertext.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
Labels: documentation, size/XS

#4510 Fix website gen failure
  website/google.erb
Labels: documentation, size/XS

#4512 Add resource policy attachment to docs, bump docs to GA
  website/google.erb
Labels: changelog: no-release-note, documentation, size/XS

#4412 Add beta fields to BackendService to support traffic director
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: changelog: enhancement, documentation, size/L

#4496 Add RegionUrlMap to compute
  google/provider.go
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_url_map.go
  google/resource_compute_region_url_map_generated_test.go
  google/resource_compute_region_url_map_test.go
  website/docs/r/compute_region_url_map.html.markdown
Labels: changelog: new-resource, documentation, size/XXL

#4367 private-googleapis data source support
  google/data_source_google_netblock_ip_ranges.go
  google/data_source_google_netblock_ip_ranges_test.go
  website/docs/d/datasource_google_netblock_ip_ranges.html.markdown
Labels: changelog: enhancement, documentation, size/S

#4495 Add metadataFilters to GlobalForwardingRule
  google/resource_compute_global_forwarding_rule.go
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: changelog: enhancement, documentation, size/L

#4524 Make guest_os_features computed on Image
  google/resource_compute_image.go
Labels: changelog: no-release-note, size/XS

#4526 Remove tests for RegionUrlMap from GA provider
  google/provider.go
  google/resource_compute_region_url_map.go
  google/resource_compute_region_url_map_generated_test.go
  google/resource_compute_region_url_map_test.go
  website/docs/r/compute_region_url_map.html.markdown
Labels: documentation, size/XXL

#4527 Fix tests, subfolder_matches
  google/resource_cloudiot_registry.go
  google/resource_cloudiot_registry_test.go
  website/docs/r/cloudiot_registry.html.markdown
Labels: documentation, size/M

#4464 add networks/subnetworks for all composer tests
  google/resource_composer_environment_test.go
Labels: changelog: no-release-note, size/L

#4536 make guest_os_features a set not a list
  google/resource_compute_image.go
Labels: size/S

#4533 Fix error message for folder IAM test
  google/iam_folder.go
  google/resource_google_folder_iam_binding_test.go
Labels: size/S

#4540 [Website] Fix link path
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#4531 Megan bucket access control
  google/provider.go
  google/resource_storage_bucket_access_control.go
  google/resource_storage_bucket_access_control_generated_test.go
  google/resource_storage_bucket_access_control_test.go
  website/docs/r/storage_bucket_access_control.html.markdown
  website/google.erb
Labels: documentation, size/XL

#4530 Increase make lint deadline
  .golangci.yml
Labels: size/XS

#4539 Upgrade TPG to Go 1.13.0
  .go-version
  .travis.yml
  README.md
  go.mod
  vendor/github.com/apparentlymart/go-textseg/textseg/make_tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_test_tables.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/expression_vars_gen.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#4549 Custom hash function for router_nat.subnetwork
  google/resource_compute_router_nat.go
  google/resource_compute_router_nat_test.go
Labels: changelog: bug-fix, size/S

#4537 Add RegionTargetHttp(s)Proxy, RegionSslCertificate to compute
  google/resource_compute_region_target_http_proxy_test.go
  google/resource_compute_region_target_https_proxy_test.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: changelog: enhancement, changelog: new-resource, documentation, size/XS

#4503 add docs for comute router peer new fields
  google/resource_compute_router_peer.go
  website/docs/r/compute_router_peer.html.markdown
Labels: changelog: bug-fix, documentation, size/S

#4517 add iam binding for binary authorization attestor
  google/config.go
  google/iam_binary_authorization_attestor.go
  google/iam_binary_authorization_attestor_generated_test.go
  google/provider.go
  google/resource_binary_authorization_attestor.go
  google/resource_binary_authorization_attestor_generated_test.go
  google/resource_binaryauthorization_attestor_test.go
  google/resource_container_analysis_note.go
  google/resource_container_analysis_note_generated_test.go
  website/docs/r/binary_authorization_attestor.html.markdown
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/container_analysis_note.html.markdown
  website/google.erb
Labels: changelog: new-resource, documentation, size/XXL

#4558 Exclude new file, remove unused code from tpg
  google/resource_compute_backend_service_test.go
Labels: changelog: no-release-note, size/L

#4444 scheduler: fix perm diff on appEngineRouting
  google/resource_cloud_scheduler_job.go
Labels: changelog: bug-fix, size/XS

#4565 Add omitted to to Backend Bucket docs
  website/docs/r/compute_backend_bucket.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4432 Document STANDARD storage_class in storage_bucket
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#4484 Fix compute_network_endpoint doc
  website/docs/r/compute_network_endpoint.html.markdown
Labels: documentation, size/XS

#4563 Remove bgp from router nat test, add a failing bgp test
  google/resource_compute_router_nat_test.go
  google/resource_compute_router_test.go
Labels: changelog: no-release-note, size/M

#4571 Document plural event notification configs in Cloud IoT Registry docs
  website/docs/r/cloudiot_registry.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4572 Add unit test to tf 3.0.
  google/resource_sql_database_instance_test.go
Labels: changelog: no-release-note, size/XS

#3293 adding new resource google_bigtable_gc_policy
  google/provider.go
  google/resource_bigtable_gc_policy.go
  google/resource_bigtable_gc_policy_test.go
  website/docs/r/bigtable_gc_policy.html.markdown
Labels: documentation, size/XL
