Repository hashicorp/terraform-provider-google, pull requests merged in 2019-05, with the labels that each got.

#3528 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: size/XS

#3517 Fixes documentation error in compute_router_nat
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#3532 Use new client invocation with client libs
  google/config.go
Labels: size/M

#3514 Add node groups (sole-tenant nodes)
  google/provider_compute_gen.go
  google/resource_compute_node_group.go
  google/resource_compute_node_group_generated_test.go
  google/resource_compute_node_group_test.go
  google/transport.go
  website/docs/r/compute_node_group.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/google.erb
Labels: documentation, size/XL

#3521 Generate RegionBackendService in terraform
  google/provider.go
  google/provider_compute_gen.go
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_backend_service_generated_test.go
  google/resource_compute_region_backend_service_test.go
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/XXL

#3535 Update CHANGELOG.md for region_backend_service
  CHANGELOG.md
Labels: size/XS

#3534 Allow default disk size for TestAccComputeAttachedDisk_region
  google/resource_compute_attached_disk_test.go
Labels: size/XS

#3371 Bootstrap service accounts for impersonation tests
  google/bootstrap_utils_test.go
  google/data_source_google_service_account_access_token_test.go
Labels: size/M

#3522 Mark Filestore as GA
  google/filestore_operation.go
  google/provider.go
  google/provider_filestore_gen.go
  google/resource_filestore_instance.go
  google/resource_filestore_instance_generated_test.go
  website/docs/r/filestore_instance.html.markdown
  website/google.erb
Labels: documentation, size/XL

#3381 URL encode GCS file names
  google/bootstrap_utils_test.go
  google/data_source_google_service_account_access_token_test.go
  google/data_source_google_storage_bucket_object.go
  google/resource_compute_attached_disk_test.go
Labels: size/M

#3543 Reapplying changes that got accidentally reverted.
  google/bootstrap_utils_test.go
  google/data_source_google_service_account_access_token_test.go
  google/resource_compute_attached_disk_test.go
Labels: size/M

#3541 IAM Policy on subnets is now GA, moving into non-beta provider
  google/iam_compute_subnetwork.go
  google/provider.go
  google/resource_compute_subnetwork_iam_test.go
Labels: size/XL

#3530 adding additional GCF regions supported
  google/resource_cloudfunctions_function.go
Labels: size/XS

#3525 Add expiration policy to pubsub subscription resource
  google/resource_pubsub_subscription.go
  google/resource_pubsub_subscription_generated_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: documentation, size/M

#3523 Add Stackdriver Logging Metric resource
  google/provider.go
  google/provider_logging_gen.go
  google/resource_logging_metric.go
  google/resource_logging_metric_generated_test.go
  google/resource_logging_metric_test.go
  google/transport.go
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/XXL

#3486 Fix invalid assumptions about Project ID's in BQ table
  google/resource_bigquery_table.go
Labels: size/XS

#3550 Add Support for Database Encryption to GKE
  google/bootstrap_utils_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3553 Add node_affinities to instance/template
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XL

#3109 Add validation to google_project_iam_custom_role.id
  google/resource_google_project_iam_custom_role.go
  google/validation.go
  google/validation_test.go
Labels: size/S

#3241 compute_instance_template: Remove copy/paste typo in docs
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#3507 Add web security scanner ScanConfig resource to terraform
  google/resource_google_security_scanner_scan_config_test.go
  website/google.erb
Labels: documentation, size/XS

#3271 Fix google_compute_image data example
  website/docs/d/datasource_compute_image.html.markdown
Labels: documentation, size/XS

#3564 Add field server_binding to (beta) node template, move around fields in examples
  google/resource_compute_node_template_generated_test.go
  website/docs/r/compute_node_template.html.markdown
Labels: documentation, size/S

#3327 [DOC] Update sql_database_instance.html.markdown : minor update
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#3388 Update dataproc_cluster.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XS

#3403 replace hazardous tf patterns in docs
  website/docs/d/google_kms_secret.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_database_instance.html.markdown
  website/docs/r/sql_ssl_cert.html.markdown
  website/docs/r/sql_user.html.markdown
Labels: documentation, size/S

#3571 Do not read or flatten url_param_only properties in Terraform
  google/resource_filestore_instance.go
Labels: size/XS

#3579 Revert "Do not read or flatten url_param_only properties in Terraform"
  google/resource_filestore_instance.go
Labels: size/XS

#3465 Add a missing closing bracket in a resource block
  website/docs/d/datasource_google_service_account.html.markdown
Labels: documentation, size/XS

#3384 Update logging_billing_account_sink.html.markdown
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: documentation, size/XS

#3585 Revert "Revert "Do not read or flatten url_param_only properties in Terraform""
  google/resource_filestore_instance.go
Labels: size/XS

#3576 Add `2.4.1` to primary changelog
  CHANGELOG.md
Labels: size/XS

#3551 adding new resource to allow iam bindings on GCE instances
  google/field_helpers.go
  google/iam_compute_instance.go
  google/provider.go
  google/resource_compute_instance_iam_test.go
  website/docs/r/compute_instance_iam.html.markdown
  website/google.erb
Labels: documentation, size/XL

#3586 fix TestAccContainerCluster_errorCleanDanglingCluster
  google/resource_container_cluster_test.go
Labels: size/XS

#3591 Allow project to be specified when importing instance groups
  google/resource_compute_instance_group.go
  google/resource_compute_instance_group_test.go
Labels: size/S

#3596 Revert "Allow project to be specified when importing instance groups"
  google/resource_compute_instance_group.go
  google/resource_compute_instance_group_test.go
Labels: size/S

#3595 Allow project to be specified when importing instance groups
  google/resource_compute_instance_group.go
  google/resource_compute_instance_group_test.go
  website/docs/r/compute_instance_group.html.markdown
  website/google.erb
Labels: documentation, size/S

#3598 Revert "Allow project to be specified when importing instance groups"
  google/resource_compute_instance_group.go
  google/resource_compute_instance_group_test.go
  website/docs/r/compute_instance_group.html.markdown
  website/google.erb
Labels: documentation, size/S

#3597 Allow project to be specified when importing instance groups
  google/resource_compute_instance_group.go
  google/resource_compute_instance_group_test.go
  website/docs/r/compute_instance_group.html.markdown
  website/google.erb
Labels: documentation, size/S

#3594 clarify how to create an instance from snapshot
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#3600 Make vlanTag8021q computed because of PARTNER attachements
  google/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/XS

#3601 fix TestAccBigQueryTable_ViewWithLegacySQL
  google/resource_bigquery_table_test.go
Labels: documentation, size/XS

#3587 add updatemask for alertpolicy patch
  google/resource_monitoring_alert_policy.go
Labels: size/S

#3605 Add a default to Cloud Functions runtime
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#3614 Explain usage
  website/docs/r/compute_security_policy.html.markdown
Labels: documentation, size/XS

#3481 Add support for creating instances with CMEK
  google/data_source_google_compute_instance.go
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/L

#3610 Change the hash function to be more format tolerant
  google/resource_compute_backend_service.go
Labels: size/M

#3624 Make sure KMS key "deletion" disables rotation
  google/resource_kms_crypto_key.go
  google/resource_kms_crypto_key_test.go
Labels: size/M

#2996 Updated google_container_cluster
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3631 Add HTTP2 protocol to backend service
  google/resource_compute_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XS

#3531 Add support for Shielded VMs to compute_instance and compute_instance_template (#3209)
  google/compute_instance_helpers.go
  google/data_source_google_compute_instance.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  google/resource_compute_instance_test.go
  website/docs/d/datasource_compute_instance.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XL

#3632 Add dataproc iam resources
  google/iam_dataproc_cluster.go
  google/iam_dataproc_job.go
  google/provider.go
  google/resource_dataproc_cluster_iam_test.go
  google/resource_dataproc_job_iam_test.go
  google/resource_google_service_account_iam_test.go
  website/docs/r/dataproc_cluster_iam.html.markdown
  website/docs/r/dataproc_job_iam.html.markdown
  website/google.erb
Labels: documentation, size/XL

#3611 Document that a policy must be defined.
  google/resource_google_folder_organization_policy.go
  google/resource_google_organization_policy.go
  google/resource_google_project_organization_policy.go
  google/resource_google_project_organization_policy_test.go
  website/docs/r/google_folder_organization_policy.html.markdown
  website/docs/r/google_organization_policy.html.markdown
  website/docs/r/google_project_organization_policy.html.markdown
Labels: documentation, size/M

#3645 Add new line before project doc bullet
  website/docs/r/app_engine_firewall_rule.html.markdown
  website/docs/r/cloud_build_trigger.html.markdown
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_image.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_network.html.markdown
  website/docs/r/compute_node_group.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_snapshot.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_instance.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/firestore_index.html.markdown
  website/docs/r/logging_metric.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_group.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
  website/docs/r/pubsub_topic.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/source_repo_repository.html.markdown
  website/docs/r/spanner_database.html.markdown
  website/docs/r/spanner_instance.html.markdown
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/S

#3643 Add signed url key resources to the sidebar
  website/google.erb
Labels: documentation, size/XS

#3613 Fix basic ForwardingRule example
  google/resource_compute_forwarding_rule_generated_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/XS

#3644 Add signed url key resources to changelog
  CHANGELOG.md
Labels: size/XS

#3266 Fixes nat subnetwork reference in docs
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#3363 Fix google_kms_crypto_key_iam_member import statement
  website/docs/r/google_kms_crypto_key_iam_member.html.markdown
Labels: documentation, size/XS

#3639 Sql database port
  google/provider.go
  google/provider_sql_gen.go
  google/resource_sql_database.go
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  google/resource_sql_ssl_cert.go
  google/resource_sql_user.go
  google/sqladmin_operation.go
Labels: size/XL

#3653 add other side effect services to project_services test
  google/resource_google_project_services_test.go
Labels: size/XS

#3262 Add GCP zone to client_config datasource
  google/data_source_google_client_config.go
  google/data_source_google_client_config_test.go
  website/docs/d/datasource_client_config.html.markdown
Labels: documentation, size/XS

#3655 Diff suppress storage transfer job start_time_of_day
  google/data_source_google_client_config.go
  google/data_source_google_client_config_test.go
  google/resource_storage_transfer_job.go
  website/docs/d/datasource_client_config.html.markdown
Labels: documentation, size/XS

#3654 use the cluster subnet to look up the node cidr block
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#3665 Update the default issue template
  .github/ISSUE_TEMPLATE.md
Labels: size/M

#3660 Increase IAM custom role length validation to match API.
  google/validation.go
  google/validation_test.go
Labels: size/XS

#3652 update data source tests that compare lists of fields to compare all fields
  google/data_source_dns_managed_zone_test.go
  google/data_source_google_cloudfunctions_function_test.go
  google/data_source_google_compute_backend_service_test.go
  google/data_source_google_container_cluster_test.go
  google/data_source_google_folder_organization_policy_test.go
  google/data_source_google_project_organization_policy_test.go
  google/data_source_google_project_services_test.go
  google/data_source_google_project_test.go
  google/test_utils.go
Labels: documentation, size/XL

#3471 Fix typo in storage_transfer_job
  website/docs/r/storage_transfer_job.html.markdown
Labels: documentation, size/XS

#3424 Fix typo "google_client_openid_useremail"
  website/docs/d/datasource_google_client_openid_userinfo.html.markdown
Labels: documentation, size/XS

#3679 clarify network_policy_config in gke docs
  google/data_source_google_client_config.go
  google/data_source_google_client_config_test.go
  website/docs/d/datasource_client_config.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3685 use resource names that are allowed by GCP in service networking docs
  website/docs/r/service_networking_connection.html.markdown
Labels: documentation, size/XS

#3686 google_storage_bucket: Initialize website struct
  google/resource_storage_bucket.go
Labels: size/XS

#3668 Convenience fields of N depth
  google/resource_compute_backend_service.go
  google/resource_compute_network.go
  google/resource_compute_region_backend_service.go
Labels: documentation, size/M

#3619 datasource_compute_instance: Fix typo
  website/docs/d/datasource_compute_instance.html.markdown
Labels: documentation, size/XS

#3692 Don't use bundle install in CI
  google/resource_composer_environment_test.go
  google/resource_container_cluster.go
Labels: size/XS

#3691 Delete handwritten GFR docs
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: documentation, size/L

#3695 add missing ul to sidebar
  website/google.erb
Labels: documentation, size/XS

#3677 DNSSec on Managed Zones
  google/resource_dns_managed_zone.go
  google/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/XL

#3702 Update to final 0.12.0 release tag.
  go.mod
  go.sum
  vendor/github.com/hashicorp/terraform/states/statefile/write.go
  vendor/github.com/hashicorp/terraform/version/version.go
  vendor/modules.txt
Labels: dependencies, size/XS

#3640 Creating resource for modern/HA vpn gateway in terraform
  google/resource_compute_vpn_tunnel.go
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: documentation, size/S

#3683 New data source: Compute SSL certificate
  google/data_source_google_compute_ssl_certificate.go
  google/data_source_google_compute_ssl_certificate_test.go
  google/provider.go
  website/docs/d/datasource_compute_ssl_certificate.html.markdown
  website/google.erb
Labels: documentation, size/M

#3674 Update AppEngine locations
  google/resource_app_engine_application.go
Labels: size/XS

#3705 Add 0.12 message to docs
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
Labels: documentation, size/XS

#3701 Update IGM import documentation to list all supported id formats
  website/docs/r/compute_instance_group_manager.html.markdown
Labels: documentation, size/XS

#3708 Fix typo in iam docs
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
Labels: documentation, size/XS

#3670 Community/veritcal pod
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3699 Add import/export custom routes beta feature to network peering
  google/resource_compute_network_peering.go
  google/resource_compute_network_peering_test.go
Labels: size/M

#3684 Add log_config block to router_nat
  google/resource_compute_router_nat.go
  google/resource_compute_router_nat_test.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/M

#3715 Add interconnect_attachment to router_interface
  google/resource_compute_router_interface.go
  google/resource_compute_router_interface_test.go
  google/resource_compute_vpn_tunnel.go
  google/utils.go
  website/docs/r/compute_router_interface.html.markdown
Labels: documentation, size/L

#3710 Replace description: > with description: |
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/XS

#3700 allow setting firewall priority to 0
  google/resource_compute_firewall.go
Labels: size/XS

#3723 allow going from no ip_allocation_policy to a blank-equivalent one
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  google/test_utils.go
  google/utils.go
Labels: size/M

#3731 Upgrade Region Backend Service state
  google/resource_compute_region_backend_service.go
Labels: size/XS

#3732 allow empty metadata.startup-script
  google/metadata.go
  google/resource_compute_instance.go
  google/resource_compute_instance_from_template_test.go
Labels: size/M

#3681 Make cloud composer environment image version updateable.
  google/resource_composer_environment.go
  google/resource_composer_environment_test.go
Labels: documentation, size/XS

#3738 Fix GKE examples
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/S

#3716 Add information about releases to provider docsite
  website/docs/index.html.markdown
  website/docs/provider_versions.html.markdown
Labels: documentation, size/M

#3742 Add support for empty expiration policies in pubsub
  google/resource_pubsub_subscription.go
  google/resource_pubsub_subscription_test.go
Labels: size/M

#3735 fix dnssec test
  google/resource_dns_managed_zone.go
  google/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/M

#3689 Terraform: KMS KeyRing
  google/kms_utils.go
  google/provider.go
  google/provider_kms_gen.go
  google/resource_kms_key_ring.go
  website/docs/r/google_kms_key_ring.html.markdown
  website/docs/r/kms_key_ring.html.markdown
  website/google.erb
Labels: documentation, size/XL

#3741 Fix flattened custom patchable resources
  google/resource_compute_network.go
Labels: size/XS

#3745 Replace access_config argument with block
  website/docs/getting_started.html.markdown
Labels: documentation, size/XS

#3739 Refactor nested query
  google/resource_compute_backend_bucket_signed_url_key.go
  google/resource_compute_backend_service_signed_url_key.go
  google/resource_resource_manager_lien.go
  website/docs/getting_started.html.markdown
Labels: documentation, size/M

#3694 add data source for composer image versions
  google/data_source_google_composer_image_versions.go
  google/data_source_google_composer_image_versions_test.go
  google/provider.go
  website/docs/d/datasource_google_composer_image_versions.html.markdown
  website/google.erb
Labels: documentation, size/L

#3751 Handle GKE cluster client cert settings correctly
  google/resource_container_cluster.go
  website/docs/getting_started.html.markdown
Labels: documentation, size/M

#3744 Add more formats for nat import
  google/resource_compute_router_nat.go
  google/resource_compute_router_nat_test.go
Labels: size/S

#3762 Add more formats for nat import
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#3719 Add support for INTERNAL_SELF_MANAGED backend service
  google/resource_compute_backend_service.go
  google/resource_compute_global_forwarding_rule.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: documentation, size/L
