Repository hashicorp/terraform-provider-google, pull requests merged in 2019-11, with the labels that each got.

#4783 Add sweepers to clean up monitoring groups
  google/resource_monitoring_group_generated_test.go
  google/resource_monitoring_group_test.go
  website/docs/r/monitoring_group.html.markdown
Labels: documentation, size/M

#4763 Move RIGM/IGM updating to use versions and update_policy
  google/resource_compute_instance_group_manager.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_region_instance_group_manager_test.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: documentation, size/XXL

#4791 Subnet logconfig prepare for 3.0.0
  google/resource_compute_subnetwork.go
  google/resource_compute_subnetwork_generated_test.go
  google/resource_compute_subnetwork_test.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XL

#4614 Adding Router datasource
  google/data_source_google_compute_router.go
  google/data_source_google_compute_router_test.go
  google/provider.go
  website/docs/d/datasource_compute_router.html.markdown
  website/google.erb
Labels: documentation, size/M

#4787 Ansible - Fixing Target Instance / Reservation Docs
  website/docs/r/compute_target_instance.html.markdown
Labels: documentation, size/XS

#4810 deprecate pgp_key from google service account key resource
  google/resource_google_service_account_key.go
  website/docs/r/google_service_account_key.html.markdown
Labels: documentation, size/XS

#4774 Perform deprecation of GKE subnetwork creation
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/version_3_upgrade.html.markdown
Labels: documentation, size/L

#4808 Convert tests to import style
  google/resource_compute_network_endpoint_test.go
  google/resource_compute_region_autoscaler_test.go
  google/resource_compute_region_backend_service_test.go
  google/resource_compute_route_test.go
Labels: size/XL

#4807 update examples from 0.11 syntax to 0.12 syntax
  examples/cloud-armor/main.tf
  examples/cloud-armor/variables.tf
  examples/content-based-load-balancing/main.tf
  examples/content-based-load-balancing/output.tf
  examples/endpoints-on-compute-engine/main.tf
  examples/example-versioned-module/ip/main.tf
  examples/example-versioned-module/ip/outputs.tf
  examples/example-versioned-module/ip/variables.tf
  examples/example-versioned-module/main.tf
  examples/internal-load-balancing/main.tf
  examples/internal-load-balancing/output.tf
  examples/shared-vpc/main.tf
  examples/shared-vpc/output.tf
  examples/two-tier/main.tf
  examples/two-tier/output.tf
  examples/vpn/vpn.tf
Labels: size/XL

#4772 Add L7 ILB fields to RegionBackendService
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_forwarding_rule.go
  google/resource_compute_region_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/XL

#4816 Add safe `self_link` comparison to compute DS tests
  google/data_source_google_compute_address_test.go
  google/data_source_google_compute_forwarding_rule_test.go
  google/data_source_google_compute_global_address_test.go
  google/data_source_google_compute_image_test.go
  google/data_source_google_compute_instance_group_test.go
  google/data_source_google_compute_network_test.go
  google/data_source_google_compute_subnetwork_test.go
  google/data_source_google_compute_vpn_gateway_test.go
Labels: changelog: no-release-note, size/S

#4814 ensure only one logging exclusion per parent is mutated at a time
  google/resource_logging_billing_account_exclusion_test.go
  google/resource_logging_exclusion.go
  google/resource_logging_folder_exclusion_test.go
  google/resource_logging_organization_exclusion_test.go
  google/resource_logging_project_exclusion_test.go
  google/test_utils.go
Labels: size/XL

#4821 Use default instance timeout on direct operation wait
  google/resource_compute_instance_test.go
Labels: changelog: no-release-note, size/XS

#4827 Adding a few more subcategories
  website/docs/r/google_iap_tunnel_instance_iam.markdown
  website/docs/r/healthcare_dataset_iam.html.markdown
  website/docs/r/healthcare_dicom_store_iam.html.markdown
  website/docs/r/healthcare_fhir_store_iam.html.markdown
  website/docs/r/healthcare_hl7_v2_store_iam.html.markdown
Labels: documentation, size/XS

#4819 Add docscheck make target/script for website docs
  .travis.yml
  GNUmakefile
  scripts/docscheck.sh
Labels: documentation, size/S

#4798 add IAM conditions support for project IAM
  google/resource_google_project_iam_policy.go
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
Labels: documentation, size/M

#4834 Fix docs for google_compute_instance resource
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#4838 Ignore status field in ISV for VPNTunnel
  google/resource_compute_vpn_tunnel_test.go
Labels: changelog: no-release-note, size/XS

#4837 Fix missed cases in datasource tests
  google/data_source_google_compute_forwarding_rule_test.go
  google/data_source_google_compute_instance_group_test.go
Labels: changelog: no-release-note, size/XS

#4839 Add display_name to logging_metric
  google/resource_logging_metric.go
  google/resource_logging_metric_generated_test.go
  google/resource_logging_metric_test.go
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/XS

#4831 Add Data Fusion Instance resource
  google/resource_data_fusion_instance_test.go
Labels: size/XS

#4847 Add additional docs for ip_allocation_policy in upgrade guide
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#4849 Add import support to google_bigtable_table
  google/resource_bigtable_table.go
  google/resource_bigtable_table_test.go
  website/docs/r/bigtable_table.html.markdown
Labels: documentation, size/M

#4840 add nil check to dns set func
  google/resource_dns_managed_zone.go
Labels: size/XS

#4851 allow setting autoscaler min_replicas to 0
  google/resource_compute_autoscaler.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_autoscaler_test.go
Labels: size/XS

#4845 Add docs for disallowing biquery-json service
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4854 batch serviceusage reads
  google/batcher.go
  google/resource_google_project_service.go
  google/serviceusage_batching.go
Labels: size/M

#4852 add IAM conditions support for generated IAM resources
  google/iam_binary_authorization_attestor.go
  google/iam_cloud_functions_cloud_function.go
  google/iam_iap_app_engine_service.go
  google/iam_iap_app_engine_version.go
  google/iam_iap_web.go
  google/iam_iap_web_backend_service.go
  google/iam_iap_web_type_app_engine.go
  google/iam_iap_web_type_compute.go
  google/iam_pubsub_topic.go
  google/iam_runtime_config_config.go
  google/iam_source_repo_repository.go
Labels: documentation, size/M

#4637 add http_check.validate_ssl monitoring-api
  google/resource_monitoring_uptime_check_config.go
  google/resource_monitoring_uptime_check_config_generated_test.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/M

#4865 add back setting the ID in IAM import fns
  google/iam_binary_authorization_attestor.go
  google/iam_cloud_functions_cloud_function.go
  google/iam_iap_app_engine_service.go
  google/iam_iap_app_engine_version.go
  google/iam_iap_web.go
  google/iam_iap_web_backend_service.go
  google/iam_iap_web_type_app_engine.go
  google/iam_iap_web_type_compute.go
  google/iam_pubsub_topic.go
  google/iam_runtime_config_config.go
  google/iam_source_repo_repository.go
Labels: changelog: no-release-note, size/XS

#4799 allow {{project_id_or_project}} in assetName
  google/transport.go
Labels: size/XS

#4864 Use vendored modules.
  .travis.yml
  GNUmakefile
Labels: size/XS

#4862 Update .go-version
  .go-version
Labels: size/XS

#4867 add pubsub long name info to upgrade guide
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4866 generate compute instance and subnetwork iam
  google/iam_binary_authorization_attestor.go
  google/iam_cloud_functions_cloud_function.go
  google/iam_compute_instance.go
  google/iam_compute_instance_generated_test.go
  google/iam_compute_subnetwork.go
  google/iam_compute_subnetwork_generated_test.go
  google/iam_source_repo_repository.go
  google/provider.go
  google/resource_compute_instance_iam_test.go
  google/resource_compute_subnetwork_iam_test.go
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
Labels: documentation, size/XXL

#4874 Add upgrade note for IoT registry event_notification_configs (#2390)
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#4875 fix compute instance iam tests
  google/iam_compute_instance.go
Labels: changelog: no-release-note, size/XS

#4870 Service account description is not updateable.
  google/resource_google_service_account.go
  google/resource_google_service_account_test.go
  google/resource_monitoring_uptime_check_config.go
Labels: size/S

#4883 Improve docs for private_cluster_config
  website/docs/r/container_cluster.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4879 Add notification_id to Storage Notification schema
  google/resource_storage_notification.go
  website/docs/r/storage_notification.html.markdown
Labels: documentation, size/XS

#4889 Delete subnet id_format, use default.
  google/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork_iam.html.markdown
Labels: documentation, size/XS

#4888 Paddy drop pgp key
  google/resource_google_service_account_key.go
  google/resource_google_service_account_key_test.go
  website/docs/r/google_service_account_key.html.markdown
Labels: documentation, size/M

#4890 fix TestAccDataSourceComputeInstance_basic
  google/data_source_google_compute_instance_test.go
Labels: size/XS

#4891 Revert access.role field in bigquery dataset to optional
  google/resource_big_query_dataset.go
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#4896 update hand written docs to reflect newly required fields
  google/resource_composer_environment.go
  google/resource_google_organization_policy.go
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/r/app_engine_application.html.markdown
  website/docs/r/bigquery_table.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/compute_router_peer.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/dataproc_job.html.markdown
  website/docs/r/sql_database_instance.html.markdown
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/L

#4900 Filter lists of TF schema paths for included properties
  google/resource_compute_route.go
Labels: changelog: no-release-note, size/XS

#4892 Fix regex in health check tests
  google/resource_compute_health_check_test.go
Labels: changelog: no-release-note, size/XS

#4901 remove unused variable for compute instance lint
  google/resource_compute_instance.go
Labels: size/XS

#4898 remove unused variable for compute instance lint
  google/resource_compute_instance.go
Labels: size/XS

#4899 set value for enabled in network_policy block in tests
  google/resource_container_cluster_test.go
Labels: changelog: no-release-note, size/XS

#4904 update config in dataproc cluster test for required fields
  google/resource_dataproc_cluster_test.go
Labels: size/XS

#4909 use new version field in GA tests that use (R)IGMs
  google/data_source_google_compute_instance_group_test.go
  google/data_source_google_compute_region_instance_group_test.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_backend_service_test.go
  google/resource_compute_disk_test.go
  google/resource_compute_region_autoscaler_test.go
  google/resource_compute_region_backend_service_test.go
Labels: changelog: no-release-note, size/S

#4911 Add back support for renamed project services in reads (lost in 3.0.0)
  google/resource_google_project.go
Labels: changelog: no-release-note, size/XS

#4913 Strip projects/ from the project field, add diff suppress
  google/resource_google_project_iam_policy.go
Labels: size/XS

#4907 upgrade guide fixes
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/S

#4905 add import id parsing option
  google/resource_google_folder_organization_policy.go
Labels: size/XS

#4906 remove exactly one policy from organization policies
  google/resource_google_organization_policy.go
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/XS

#4917 Add a section about 3.0.0-beta.1 to the upgrade guide
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4922 Add emily and chris to list of random reviewers
  .hashibot.hcl
Labels: size/XS

#4887 Error instead of panicking if self link isn't long enough
  google/self_link_helpers.go
Labels: size/XS

#4931 requireAdminApproval/requireCorpOwned in AccessLevel's devicePolicy
  google/resource_access_context_manager_access_level.go
  google/resource_access_context_manager_access_level_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
Labels: documentation, size/S

#4929 Change removed update_strategy to computed
  google/resource_compute_instance_group_manager.go
  google/resource_compute_region_instance_group_manager.go
Labels: size/XS

#4930 improve documentation for IGM/RIGM
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: documentation, size/S

#4902 Bump GKE timeouts
  google/resource_container_cluster.go
  google/resource_container_node_pool.go
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#4924 Catch forked handwritten validator resources up with 3.0.0
  google/compute_instance_helpers.go
  google/resource_compute_instance_group_manager.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_storage_bucket.go
Labels: size/XS

#4605 Enable retries for QueryOp(...) calls
  google/common_operation.go
  google/common_operation_test.go
Labels: size/M

#4942 Remove 0.11 syntax from the upgrade guide examples
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/XS

#4940 Use name, not id to fetch dns managed zone datasource
  google/data_source_dns_managed_zone.go
Labels: size/XS

#4943 Fixed description of `ip_configuration` in docs
  google/resource_compute_instance_group_manager.go
  google/resource_compute_region_instance_group_manager.go
  website/docs/r/dataflow_job.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4880 Add CloudTasksQueue resource
  google/config.go
  google/provider.go
  google/resource_cloud_tasks_queue.go
  google/resource_cloud_tasks_queue_generated_test.go
  google/resource_cloud_tasks_queue_test.go
  website/docs/r/cloud_tasks_queue.html.markdown
Labels: documentation, size/XXL

#4946 Don't require 'trigger_template' since it conflicts with 'github' in beta.
  google/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/L

#4646 Use Patch instead of Create, even if creating
  google/resource_service_networking_connection.go
Labels: size/XS

#4948 Add sidebar entries
  website/google.erb
Labels: changelog: no-release-note, documentation, size/XS

#4956 remove note cidr_blocks is required on master_authorized_network_config
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4949 add note about import vs apply for project service resources
  website/docs/r/google_project_service.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#4960 [doc] wrong argument reference bigtable_gc_policy
  website/docs/r/bigtable_gc_policy.html.markdown
Labels: documentation, size/XS

#4938 Add cloudbuild_trigger build timeout and CustomizeDiff
  google/resource_cloud_build_trigger.go
  google/resource_cloudbuild_trigger_test.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/L

#4860 Add retries to SQL user insert and update operations.
  google/resource_sql_user.go
Labels: size/XS

#4927 Add retries to SQL user insert and update operations.
  google/resource_sql_user.go
Labels: size/XS

#4873 Update monitoring group docs code example
  website/docs/r/monitoring_group.html.markdown
Labels: documentation, size/XS

#4966 Dataproc autoscaling ga
  google/provider.go
  google/resource_dataproc_autoscaling_policy.go
  google/resource_dataproc_autoscaling_policy_generated_test.go
  google/resource_dataproc_cluster.go
  website/docs/r/dataproc_autoscaling_policy.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#4969 Cluster authenticator groups ga
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#4958 Validate on deleted IAM members
  google/data_source_google_iam_policy.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
Labels: documentation, size/XS

#4968 Move min_cpu_platform to GA in dataproc cluster
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XS

#4967 allow resources with an indirect project to use user project overrides, enable for kms cryptokey
  google/kms_utils.go
  google/provider_test.go
  google/resource_kms_crypto_key.go
  website/docs/r/kms_crypto_key.html.markdown
Labels: documentation, size/L

#4981 Allow for import format of only numbers in iam folder
  google/iam_folder.go
Labels: size/XS

#4980 Mark min_cpu_platform as computed in instance as it is returned
  google/resource_compute_instance.go
Labels: size/XS

#4982 Update network peering docs, schema
  google/resource_compute_network_peering.go
  website/docs/r/compute_network_peering.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#4985 add user project override support for data.google_kms_secret_ciphertext
  google/data_source_google_kms_secret_ciphertext.go
  google/provider_test.go
  website/docs/d/google_kms_secret_ciphertext.html.markdown
Labels: documentation, size/XS

#4977 Add new provider google_organization_iam_audit_config.
  google/provider.go
  google/resource_google_organization_iam_audit_config_test.go
  google/resource_sql_database_instance_test.go
Labels: size/XL

#4995 Update timeouts - our unit tests are failing on these resources.
  google/resource_compute_project_metadata_item.go
Labels: size/XS

#4998 Network peering import
  google/resource_compute_network_peering.go
  google/resource_compute_network_peering_test.go
  google/resource_sql_database_instance_test.go
  website/docs/r/compute_network_peering.html.markdown
Labels: documentation, size/M

#4983 Add support rootPassword property for MS SQL Server
  google/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#4991 add `auto_provisioning_defaults` to `google_container_cluster.cluster_autoscaling`
  google/node_config.go
  google/resource_compute_network_peering.go
  google/resource_compute_network_peering_test.go
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  google/utils.go
  website/docs/r/compute_network_peering.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XL

#4972 WIP - Cloudrun v1
  google/config.go
  google/provider.go
  google/resource_cloud_run_domain_mapping.go
  google/resource_cloud_run_domain_mapping_generated_test.go
  google/resource_cloud_run_service.go
  google/resource_cloud_run_service_test.go
  google/resource_compute_network_peering.go
  google/resource_compute_network_peering_test.go
  google/transport.go
  google/transport_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/compute_network_peering.html.markdown
Labels: documentation, size/XXL

#4999 Move enable_logging to GA for compute_firewall_rule
  google/resource_compute_firewall.go
  google/resource_compute_firewall_test.go
  website/docs/r/compute_firewall.html.markdown
Labels: documentation, size/M

#5000 Adding notes about cloudrun to upgrade guide
  google/resource_sql_database_instance_test.go
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/S
