Repository hashicorp/terraform-provider-google, pull requests merged in 2019-08, with the labels that each got.

#4156 set max bigtable instance cluster to 4
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
Labels: size/S

#4098 More retries for CRM resources (project, org policies, folders)
  google/data_source_google_folder.go
  google/resource_google_folder.go
  google/resource_google_folder_organization_policy.go
  google/resource_google_organization_policy.go
  google/resource_google_project.go
  google/resource_google_project_organization_policy.go
Labels: changelog: enhancement, size/XL

#4161 Fix syntax for router nat example
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#4131 Pub/Sub Geo Restriction
  google/resource_pubsub_topic.go
  google/resource_pubsub_topic_generated_test.go
  google/resource_pubsub_topic_test.go
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/L

#4124 Binary Authorization: globalPolicyEvaluationMode
  google/resource_binary_authorization_policy.go
  website/docs/r/binary_authorization_policy.html.markdown
Labels: changelog: enhancement, documentation, size/M

#4175 During tf resource read, decoder may set resource to nil.
  google/resource_binary_authorization_attestor.go
  google/resource_compute_backend_service.go
  google/resource_compute_disk.go
  google/resource_compute_network.go
  google/resource_compute_network_endpoint.go
  google/resource_compute_region_disk.go
  google/resource_compute_route.go
  google/resource_compute_snapshot.go
  google/resource_kms_crypto_key.go
  google/resource_kms_key_ring.go
  google/resource_monitoring_uptime_check_config.go
  google/resource_pubsub_subscription.go
  google/resource_resource_manager_lien.go
  google/resource_spanner_database.go
  google/resource_spanner_instance.go
Labels: size/M

#4111 Allow update of router nat
  google/resource_compute_router_nat.go
  google/resource_compute_router_nat_test.go
  website/docs/r/compute_router_nat.html.markdown
Labels: changelog: enhancement, documentation, size/XL

#4173 Add compute_network_endpoint_group datasource
  google/data_source_compute_network_endpoint_group.go
  google/data_source_compute_network_endpoint_group_test.go
  google/field_helpers.go
  google/provider.go
  website/docs/d/datasource_google_compute_network_endpoint_group.html.markdown
  website/google.erb
Labels: changelog: new-datasource, documentation, size/L

#4083 add redis_4_0 as supported
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/XS

#4188 Fix generated iam parent resource name
  google/iam_pubsub_topic_generated_test.go
  google/iam_source_repo_repository_generated_test.go
Labels: size/XS

#4191 Remove IAM import method
  google/provider.go
  google/provider_pubsub_gen.go
  google/provider_source_repo_gen.go
  google/resource_iam_audit_config.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
  google/resource_iam_policy.go
Labels: size/L

#4183 Add examples / improve docs for logging counter metrics
  google/resource_logging_metric_generated_test.go
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/M

#4192 IAM util refactors
  google/iam.go
  google/iam_test.go
  google/resource_google_project_iam_policy.go
  google/resource_google_project_iam_policy_test.go
  google/resource_iam_audit_config.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
  google/resource_iam_policy.go
Labels: changelog: no-release-note, size/XXL

#4120 comment out beta cloud run tests
  google/resource_cloud_run_service_test.go
Labels: size/M

#4205 add workload_identity_config documentation
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#4201 Allow partial URIs in Cloud Functions event_trigger.resource
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/M

#4137 Catch 404s when deleting default networks.
  google/resource_google_project.go
Labels: size/XS

#4219 Allow the use of region selflinks in provider configs.
  google/config.go
  google/iam.go
  google/self_link_helpers.go
  google/self_link_helpers_test.go
Labels: changelog: enhancement, size/XS

#4121 New range types supported on google_netblock_ip_ranges
  google/data_source_google_netblock_ip_ranges.go
  google/data_source_google_netblock_ip_ranges_test.go
  website/docs/d/datasource_google_netblock_ip_ranges.html.markdown
Labels: changelog: enhancement, documentation, size/L

#4136 Copy compute instance description to terraform state
  google/resource_compute_instance.go
Labels: size/XS

#4189 Add vpc access connector resource and vpc_connector attribute to cloud functions
  google/resource_cloudfunctions_function.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#4102 Add transfer configs
  google/config.go
  google/error_retry_predicates.go
  google/provider.go
  google/provider_bigquery_data_transfer_gen.go
  google/resource_bigquery_data_transfer_config.go
  google/resource_bigquery_data_transfer_config_test.go
  google/transport.go
  google/utils.go
  website/docs/r/bigquery_data_transfer_config.html.markdown
Labels: changelog: new-resource, documentation, size/XL

#4231 Add note about cluster cidr range behaviours to GKE cluster
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#4237 Fix IAM member sensitivity.
  google/iam.go
Labels: size/XS

#3982 Correct `zone` reference to `region` reference
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#3940 Change datatype of compute_instance label
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#4154 Fix typo by changing 'cvs' into 'csv'
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XS

#4134 Remove quotes from boolean
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#4086 Remove pubsub reference from bigtable_instance_iam
  website/docs/r/bigtable_instance_iam.html.markdown
Labels: documentation, size/XS

#4153 Fixed link for dataproc_job
  website/google.erb
Labels: documentation, size/XS

#4246 Make BAA key ids computed.
  google/resource_binary_authorization_attestor.go
  website/google.erb
Labels: changelog: bug-fix, documentation, size/XS

#4185 Remove bad option from example for compute_ssl_certificate docs
  website/docs/d/datasource_compute_ssl_certificate.html.markdown
Labels: documentation, size/XS

#4174 Add optional SA attribute for cloud funcs to docs
  website/docs/d/datasource_cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#4236 Add Cloud SCC Source resource
  google/config.go
  google/provider.go
  google/provider_security_center_gen.go
  google/resource_kms_key_ring.go
  google/resource_security_center_source.go
  google/resource_security_center_source_test.go
  website/docs/provider_reference.html.markdown
  website/docs/r/security_center_source.html.markdown
  website/google.erb
Labels: changelog: new-resource, documentation, size/XL

#4207 Add batching for IAM binding/member/audit config changes
  google/config.go
  google/iam_batching.go
  google/provider.go
  google/resource_google_project_service.go
  google/resource_google_project_services.go
  google/resource_iam_audit_config.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
  google/serviceusage_batching.go
Labels: documentation, size/L

#4258 Firestore API: Add COLLECTION_GROUP to queryScope
  website/docs/r/firestore_index.html.markdown
Labels: documentation, size/XS

#4257 Unbreak IAM.
  google/iam.go
Labels: changelog: no-release-note, size/XS

#4259 Spelling
  google/batcher.go
  google/data_source_google_service_account_access_token.go
  google/data_source_storage_object_signed_url.go
  google/iam_test.go
  google/import.go
  google/provider_test.go
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  google/resource_compute_instance.go
  google/resource_compute_instance_from_template.go
  google/resource_compute_instance_migrate.go
  google/resource_compute_network_test.go
  google/resource_compute_project_metadata_test.go
  google/resource_dataproc_cluster.go
  google/resource_google_project_services_test.go
  google/resource_pubsub_subscription.go
  google/resource_service_networking_connection.go
  google/utils_test.go
  google/validation_test.go
  website/docs/d/datasource_google_compute_backend_service.html.markdown
  website/docs/d/datasource_google_compute_network_endpoint_group.html.markdown
  website/docs/d/datasource_google_service_account_access_token.html.markdown
  website/docs/d/google_iam_policy.html.markdown
  website/docs/provider_reference.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/docs/r/bigquery_table.html.markdown
  website/docs/r/bigtable_instance_iam.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/dataflow_job.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/dataproc_cluster_iam.html.markdown
  website/docs/r/dataproc_job_iam.html.markdown
  website/docs/r/google_folder_iam_binding.html.markdown
  website/docs/r/google_folder_organization_policy.html.markdown
  website/docs/r/google_organization_policy.html.markdown
  website/docs/r/google_project.html.markdown
  website/docs/r/google_project_organization_policy.html.markdown
  website/docs/r/kms_crypto_key.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/L

#4256 remove compute API usage in third_party/validator/compute_instance.go
  google/resource_compute_instance.go
  google/resource_compute_instance_from_template.go
Labels: size/XS

#4129 Correctly handle domain-scoped projects with GCR
  google/data_source_container_registry_image.go
  google/data_source_container_registry_repository.go
  google/data_source_container_registry_test.go
Labels: changelog: bug-fix, size/XS

#4267 add missing depends_ons to kms tests
  google/resource_compute_disk_test.go
  google/resource_compute_instance_test.go
  google/resource_dataproc_cluster_test.go
Labels: size/XS

#4223 BigQuery: table clustering/partitioning support.
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
Labels: size/S

#4268 Move provider_gen.go to provider.go
  google/config.go
  google/provider.go
  google/provider_access_context_manager_gen.go
  google/provider_app_engine_gen.go
  google/provider_bigquery_data_transfer_gen.go
  google/provider_binary_authorization_gen.go
  google/provider_cloud_build_gen.go
  google/provider_cloud_scheduler_gen.go
  google/provider_compute_gen.go
  google/provider_dns_gen.go
  google/provider_filestore_gen.go
  google/provider_firestore_gen.go
  google/provider_kms_gen.go
  google/provider_logging_gen.go
  google/provider_monitoring_gen.go
  google/provider_pubsub_gen.go
  google/provider_redis_gen.go
  google/provider_resource_manager_gen.go
  google/provider_security_center_gen.go
  google/provider_source_repo_gen.go
  google/provider_spanner_gen.go
  google/provider_sql_gen.go
  google/provider_storage_gen.go
  google/provider_tpu_gen.go
Labels: size/XXL

#4280 use real project id for uptime check generated test
  google/resource_monitoring_uptime_check_config_generated_test.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/XS

#4126 Add bigtable app profile resource
  google/config.go
  google/provider.go
  google/resource_bigtable_app_profile.go
  google/resource_bigtable_app_profile_generated_test.go
  google/resource_bigtable_app_profile_test.go
  website/docs/r/bigtable_app_profile.html.markdown
Labels: documentation, size/XL

#4053 ML Engine Models in Terraform
  google/config.go
  google/ml_engine_operation.go
  google/provider.go
  google/resource_ml_engine_model.go
  google/resource_ml_engine_model_generated_test.go
  website/docs/r/ml_engine_model.html.markdown
  website/google.erb
Labels: changelog: new-resource, documentation, size/XL

#4279 Fix for SQL database import formats
  google/resource_sql_database.go
  google/resource_sql_database_generated_test.go
  website/docs/r/sql_database.html.markdown
Labels: changelog: bug-fix, documentation, size/L

#4296 tf website fix
  google/provider.go
Labels: size/XS

#4281 add bigquerystorage to the project services test list
  google/resource_google_project_services_test.go
Labels: size/XS

#4260 move ConfigureBasePaths to config.go
  google/config.go
  google/provider.go
Labels: documentation, size/M

#4265 add server options to windows sql image
  google/image.go
Labels: size/XS

#4026 add ability to update Bigtable instance cluster node count
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_iam_test.go
  google/resource_bigtable_instance_test.go
Labels: changelog: enhancement, size/L

#4282 Add log_level, plural event_notification_configs to IoT registry
  google/resource_cloudiot_registry.go
  google/resource_cloudiot_registry_test.go
  google/validation.go
  google/validation_test.go
Labels: changelog: deprecation, changelog: enhancement, documentation, size/XL

#4212 Bandwidth addition to interconnect
  google/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: changelog: enhancement, documentation, size/S

#4204 Add terraform datasource "google_kms_secret_ciphertext"
  google/data_source_google_kms_secret_ciphertext.go
  google/data_source_google_kms_secret_ciphertext_test.go
  google/provider.go
  website/docs/d/google_kms_secret_ciphertext.html.markdown
  website/google.erb
Labels: changelog: new-datasource, documentation, size/L

#4301 Add instance_redistribution_type to region IGM
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: changelog: enhancement, documentation, size/XS

#4302 Add support for virtual fields, convert Network vfield to one.
  google/resource_compute_network.go
  google/resource_resource_manager_lien.go
  website/docs/r/compute_network.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#4300 adminEnabled on Interconnect Attachments
  google/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/XS

#4228 Autogenerate BigQuery dataset
  google/config.go
  google/provider.go
  google/provider_handwritten_endpoint.go
  google/resource_big_query_dataset.go
  google/resource_big_query_dataset_generated_test.go
  google/resource_big_query_dataset_test.go
  google/resource_bigquery_dataset.go
  website/docs/r/big_query_dataset.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#4303 Ansible KMS Modules
  website/docs/r/kms_crypto_key.html.markdown
Labels: documentation, size/XS

#4309 Add dataproc autoscaling policy resource
  google/config.go
  google/provider.go
  google/provider_handwritten_endpoint.go
Labels: documentation, size/XS

#4214 rm utils.linkDiffSuppress in favor of self_link_helpers.compareSelfLi…
  google/node_config.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_router_interface.go
  google/resource_google_organization_policy.go
  google/utils.go
Labels: size/XS

#4365 Add Cloud Run Service to the website
  website/google.erb
Labels: changelog: no-release-note, documentation, size/XS

#4371 add advanced routing options to router peer
  google/resource_compute_router_peer.go
  google/resource_compute_router_peer_test.go
Labels: size/L

#4373 add ids to vpn_tunnel and vpn_gateway outputs
  google/resource_compute_vpn_gateway.go
  google/resource_compute_vpn_tunnel.go
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: documentation, size/S

#3958 Specify minimum filestore capacity, correct units
  website/docs/r/filestore_instance.html.markdown
Labels: documentation, size/XS

#4374 terraform: Use real version in UA header
  google/config.go
  google/provider.go
Labels: documentation, size/XS

#4372 Fix initialisms in product names
  google/config.go
  google/data_source_dns_managed_zone_test.go
  google/data_source_google_kms_crypto_key.go
  google/data_source_google_kms_crypto_key_version.go
  google/data_source_google_kms_key_ring.go
  google/data_source_tpu_tensorflow_versions_test.go
  google/provider.go
  google/resource_app_engine_standard_app_version.go
  google/resource_cloud_build_trigger.go
  google/resource_compute_backend_service.go
  google/resource_compute_network.go
  google/resource_compute_region_backend_service.go
  google/resource_compute_snapshot.go
  google/resource_compute_ssl_certificate.go
  google/resource_compute_url_map.go
  google/resource_dns_managed_zone.go
  google/resource_dns_managed_zone_generated_test.go
  google/resource_dns_managed_zone_test.go
  google/resource_dns_record_set_test.go
  google/resource_kms_crypto_key.go
  google/resource_kms_crypto_key_test.go
  google/resource_kms_key_ring.go
  google/resource_spanner_instance.go
  google/resource_sql_database.go
  google/resource_sql_database_generated_test.go
  google/resource_tpu_node.go
  google/resource_tpu_node_generated_test.go
  google/resource_tpu_node_test.go
  google/tpu_operation.go
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/XL

#4376 More retries for sql_database_instance
  google/error_retry_predicates.go
  google/resource_sql_database_instance.go
Labels: size/S

#4377 Make validation of service accounts less strict
  google/error_retry_predicates.go
  google/resource_sql_database_instance.go
  google/validation.go
Labels: size/S

#4379 Fix missed occurence of TpuBasePath
  google/data_source_tpu_tensorflow_versions.go
  google/error_retry_predicates.go
  google/resource_sql_database_instance.go
Labels: size/S
