Repository hashicorp/terraform-provider-google, pull requests merged in 2019-03, with the labels that each got.

#3156 Add back Computed to subnetwork datasource's self_link
  google/data_source_google_compute_subnetwork.go
Labels: size/XS

#3125 Improve docs for Cloud Build
  website/docs/r/cloud_build_trigger.html.markdown
Labels: documentation, size/XS

#3118 Use new output_name variable in Storage Object ACL docs
  google/resource_storage_object_access_control_generated_test.go
  website/docs/r/storage_object_access_control.html.markdown
  website/docs/r/storage_object_acl.html.markdown
Labels: documentation, size/XS

#3148 Allow empty string encryption key name in both 0.11 and 0.12.
  google/resource_storage_bucket.go
Labels: size/XS

#3154 Detach disk based on API information instead of state.
  google/resource_compute_disk.go
  google/resource_compute_region_disk.go
Labels: size/S

#3145 Specify CIDR block sizes for GKE cluster subnets
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#3138 Add a computed field for uptime check id
  google/resource_monitoring_uptime_check_config.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/XS

#3159 Handle operation timeouts, if it's the gcp api that's timing out.
  google/config.go
  google/utils.go
Labels: size/XS

#3149 Remember to set gcr domain in AppEngine Read.
  google/resource_app_engine_application.go
Labels: size/XS

#3169 Only set remove_default_node_pool for import if false - fixes TF tests
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3170 [Terraform] DNS Policies
  google/resource_dns_policy_test.go
Labels: size/XS

#3177 Changes ancillary to supporting the Terraform mapper.
  google/bootstrap_utils_test.go
  google/config.go
  google/config_test.go
  google/provider.go
  google/resource_app_engine_firewall_rule.go
  google/resource_cloud_build_trigger.go
  google/resource_composer_environment_test.go
  google/resource_compute_address.go
  google/resource_compute_autoscaler.go
  google/resource_compute_backend_bucket.go
  google/resource_compute_disk.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_compute_health_check.go
  google/resource_compute_http_health_check.go
  google/resource_compute_https_health_check.go
  google/resource_compute_image.go
  google/resource_compute_instance_migrate_test.go
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_disk.go
  google/resource_compute_route.go
  google/resource_compute_router.go
  google/resource_compute_snapshot.go
  google/resource_compute_ssl_certificate.go
  google/resource_compute_ssl_policy.go
  google/resource_compute_subnetwork.go
  google/resource_compute_target_http_proxy.go
  google/resource_compute_target_https_proxy.go
  google/resource_compute_target_ssl_proxy.go
  google/resource_compute_target_tcp_proxy.go
  google/resource_compute_url_map.go
  google/resource_compute_vpn_gateway.go
  google/resource_compute_vpn_tunnel.go
  google/resource_dns_managed_zone.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_group.go
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_uptime_check_config.go
  google/resource_pubsub_subscription.go
  google/resource_pubsub_topic.go
  google/resource_redis_instance.go
  google/resource_resource_manager_lien.go
  google/resource_source_repo_repository.go
  google/resource_spanner_database.go
  google/resource_spanner_instance.go
  google/resource_sql_database_instance_test.go
  google/resource_storage_default_object_access_control.go
  google/resource_storage_object_access_control.go
  google/test_utils.go
  google/utils.go
Labels: size/XL

#3178 Add a datasource for retrieving a list of projects
  google/data_source_google_projects.go
  google/data_source_google_projects_test.go
  google/provider.go
  website/docs/d/google_projects.html.markdown
  website/google.erb
Labels: documentation, size/L

#3174 Make VPC Native configurable in GKE
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#3167 Versioned OiCS Examples / Generated tests
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/L

#3182 Update API default change date for VPC Native GKE
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#3179 Add Cloud TPU Nodes
  google/provider.go
  google/provider_tpu_gen.go
  google/resource_tpu_node.go
  google/resource_tpu_node_generated_test.go
  google/resource_tpu_node_test.go
  google/tpu_operation.go
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/XL

#3186 Fix accidentally reverted OiCS changes
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/L

#3180 Just don't set remove_node_pool on import
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#3192 [terraform] Add sensitive_content argument to resource_storage_bucket_object
  google/resource_storage_bucket_object.go
Labels: size/XS

#3188 [TF] Enable GA Cloud Scheduler
  google/provider.go
  google/provider_cloudscheduler_gen.go
  google/resource_cloud_scheduler_job.go
  google/resource_cloud_scheduler_job_generated_test.go
  google/resource_tpu_node.go
  google/validate-http-headers.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: documentation, size/XXL

#3197 Create the CAI representation in addition to API objects.
  google/resource_pubsub_subscription.go
Labels: size/XS

#3183 Handle instances not found in attached disk resource
  google/resource_compute_attached_disk.go
Labels: size/XS

#3175 Add ACM docs to sidebar
  website/google.erb
Labels: documentation, size/XS

#3193 Add retention duraction, retain acked message to pubsub
  google/resource_pubsub_subscription.go
  google/resource_pubsub_subscription_generated_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: documentation, size/M

#3199 Allow fuzzy matching GKE versions in the GKE version datasource
  google/data_source_google_container_engine_versions.go
  google/data_source_google_container_engine_versions_test.go
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/M

#3187 Clarify network_policy_config default
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3166 fix binary_log_enabled description
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#3131 Small typo
  website/docs/r/app_engine_application.html.markdown
Labels: documentation, size/XS

#3116 Explain why scopes are required
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#3115 Google compute instance doc updates
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#3061 reposoitory --> repository
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#3095 Minor but important typo.
  website/docs/d/google_folder.html.markdown
Labels: documentation, size/XS

#3090 Fix code block for dns_record_set
  website/docs/r/dns_record_set.markdown
Labels: documentation, size/XS

#3083 Documentation: fixed TF syntax in google_iam_policy example
  website/docs/d/google_iam_policy.html.markdown
Labels: documentation, size/XS

#3058 Documentation note about creating TXT records longer than 255 characters.
  website/docs/r/dns_record_set.markdown
Labels: documentation, size/XS

#3001 Docs update: container_node_pool allows min_node_count of zero
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#2994 Fix BigQuery Dataset markdown
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#2590 Clarify account_id param
  website/docs/d/datasource_google_service_account.html.markdown
Labels: documentation, size/XS

#2515 Referenced outputs do not match the actual state
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/XS

#3195 Use correct product name for generated provider files.
  google/provider_app_engine_gen.go
  google/provider_cloud_build_gen.go
  google/provider_cloud_scheduler_gen.go
  google/provider_resource_manager_gen.go
  google/provider_source_repo_gen.go
Labels: documentation, size/XS

#3203 Generate google_compute_network using Magic Modules
  google/provider.go
  google/provider_compute_gen.go
  google/resource_compute_network.go
  google/resource_compute_network_generated_test.go
  google/resource_compute_network_test.go
  google/resource_google_project.go
  website/docs/r/compute_network.html.markdown
Labels: documentation, size/XL

#3201 Update api.yml source and target SA max_size
  google/resource_compute_firewall.go
Labels: size/XS

#3207 Misc minor fixes
  google/data_source_google_iam_policy_test.go
  google/data_source_google_kms_crypto_key_test.go
  google/data_source_google_kms_key_ring_test.go
Labels: size/XS

#3071 [Terraform] Autogen resource manager operations
  google/resource_google_folder.go
  google/resource_google_project.go
  google/resource_manager_operation.go
  google/resourcemanager_operation.go
Labels: size/M

#3224 Revert "[Terraform] Autogen resource manager operations"
  google/resource_google_folder.go
  google/resource_google_project.go
  google/resource_manager_operation.go
  google/resourcemanager_operation.go
Labels: size/M

#3219 contributor: Fix typo
  website/docs/d/datasource_google_client_openid_userinfo.html.markdown
Labels: documentation, size/XS

#3225 Terraform: Add managed ssl cert to documentation sidebar.
  website/google.erb
Labels: documentation, size/XS

#3226 [terraform-conversions] Add compute_instance to conversions library
  google/compute_instance_helpers.go
  google/metadata.go
  google/utils.go
Labels: size/XS

#3216 Filestore Operation autogeneration
  google/filestore_operation.go
Labels: size/XS

#3223 Add a method for converting structs -> maps when bridging MM -> TF
  google/convert.go
  google/resource_google_folder.go
  google/resource_google_project.go
  google/resource_manager_operation.go
  google/resourcemanager_operation.go
Labels: size/M

#3114 Add location / node_locations fields to GKE
  google/data_source_google_container_cluster.go
  google/data_source_google_container_cluster_test.go
  google/data_source_google_container_engine_versions.go
  google/data_source_google_container_engine_versions_test.go
  google/regional_utils.go
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
  website/docs/d/google_container_cluster.html.markdown
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XL

#3003 Support specifying project explicitly on the sql ssl resource
  google/resource_sql_ssl_cert.go
Labels: documentation, size/XS

#3233 Handle GKE 1.12 node_config.metadata default value
  google/node_config.go
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#3228 Update URLs in api.yml
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_image.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
Labels: documentation, size/XS

#3236 Remove validation in compute_instance expanders
  google/compute_instance_helpers.go
Labels: size/XS

#3235 Add project field to sql ssl cert
  website/docs/r/sql_ssl_cert.html.markdown
Labels: documentation, size/XS

#3237 Terraform: Support for (Regional)Disk physicalBlockSizeBytes
  google/resource_compute_disk.go
  google/resource_compute_disk_generated_test.go
  google/resource_compute_region_disk.go
  google/resource_compute_region_disk_generated_test.go
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_region_disk.html.markdown
Labels: documentation, size/M

#3218 Add import support for organization_policies
  google/resource_google_folder_organization_policy.go
  google/resource_google_folder_organization_policy_test.go
  google/resource_google_project_organization_policy.go
  google/resource_google_project_organization_policy_test.go
  website/docs/r/google_folder_organization_policy.html.markdown
  website/docs/r/google_project_organization_policy.html.markdown
Labels: documentation, size/M

#3137 Adding datasources for folder and project org policy
  google/data_source_google_folder_organization_policy.go
  google/data_source_google_folder_organization_policy_test.go
  google/data_source_google_project_organization_policy.go
  google/data_source_google_project_organization_policy_test.go
  google/provider.go
  website/docs/d/datasource_google_folder_organization_policy.html.markdown
  website/docs/d/datasource_google_project_organization_policy.html.markdown
  website/google.erb
Labels: documentation, size/L

#3160 Change all fields for monitored resource to force recreation
  google/resource_monitoring_uptime_check_config.go
  google/resource_monitoring_uptime_check_config_test.go
Labels: size/M

#3238 [Terraform] Add custom Service Account support to Dataflow Job resource
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/M

#3243 Terraform: fix format specifer in IAM folder test message
  google/resource_google_folder_iam_policy_test.go
Labels: size/XS

#3251 Add DNS policy to sidebar.
  website/google.erb
Labels: documentation, size/XS

#3250 Update GKE docs based on default node pool behaviour, upstream docs
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#3244 Refactor storage bucket import logic
  google/resource_sql_database_instance_test.go
  google/resource_storage_bucket.go
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/S

#3252 Fix CI problems for 0.12 SDK
  google/resource_compute_backend_service.go
  google/resource_compute_instance_group_manager.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_google_project_test.go
  google/resource_tpu_node_generated_test.go
  google/utils.go
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/XS

#3256 [terraform-conversions] Manually add storage_bucket to conversions library
  google/resource_sql_database_instance_test.go
Labels: size/XS

#3267 Fix the project metadata test in CI + fix new linter errors
  google/resource_bigtable_instance.go
  google/resource_compute_project_metadata_item_test.go
  google/resource_storage_transfer_job.go
Labels: size/XS

#3268 Improve logging around SQL ops
  google/common_operation.go
  google/sqladmin_operation.go
Labels: size/S

#3265 Cloud function name allow underscores
  google/resource_cloudfunctions_function.go
Labels: size/XS

#3270 Cloud Functions validation regexp
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
Labels: size/M

#3273 Add note in docs for private IP SQL instance set-up
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#3284 Add note about sensitive content to gcs bucket object
  website/docs/r/storage_bucket_object.html.markdown
Labels: documentation, size/XS

#3277 Remove beta-only label fields from GA Compute VpnTunnel
  google/resource_compute_vpn_tunnel.go
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: documentation, size/L

#3205 Update OAuth Scopes
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#3269 Fix wrong field name in detach_disk
  google/resource_compute_disk.go
  google/resource_compute_region_disk.go
Labels: size/XS

#3283 Sort import regex's
  google/resource_compute_autoscaler.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_router.go
  google/resource_compute_subnetwork.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#3297 [TF] Allow update of storage bucket storage_class
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
Labels: size/L

#3285 Parse 409 error strings to determine retriable status
  google/resource_sql_database_instance.go
  google/utils.go
Labels: size/XS

#3298 Add working retries for SQL operations where the operation has the error
  google/common_operation.go
  google/sqladmin_operation.go
  google/transport.go
  google/utils.go
Labels: size/S

#3309 Mark Forwarding Rule allPorts as GA
  google/resource_compute_forwarding_rule.go
  google/resource_compute_forwarding_rule_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/XS

#3310 Move storage update code to update
  google/resource_storage_bucket.go
Labels: size/XS

#3313 Update TPU version to latest (1.13)
  google/resource_tpu_node_generated_test.go
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/XS

#3295 Refresh Google provider configuration reference page
  website/docs/provider_reference.html.markdown
Labels: documentation, size/L

#3316 Bump Redis timeouts based on test failures
  google/resource_redis_instance.go
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/XS

#3318 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#3320 fix markdown link in contributing docs
  .github/CONTRIBUTING.md
Labels: size/XS

#3317 Add with_state to storage bucket, deprecate is_live
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XL

#3323 container_cluster docs: missing newlines for istio_config and cluster_autoscaling lists
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3328 [TF] Try to make cluster node autoprovisioning docs clearer
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#3319 Mark node_ipv4_cidr_block as Computed
  google/resource_container_cluster.go
Labels: size/XS

#3330 [terraform-beta] docs for container_cluster and container_node_pool resources
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#3331 Add maintainer information to CONTRIBUTING
  .github/CONTRIBUTING.md
Labels: size/XS

#3325 Add TPU Tensorflow datasource
  google/data_source_tpu_tensorflow_versions.go
  google/data_source_tpu_tensorflow_versions_test.go
  google/provider.go
  google/resource_tpu_node_generated_test.go
  google/resource_tpu_node_test.go
  google/utils.go
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/L

#3259 Add "nested decoder" for fine-grained resources
  google/resource_resource_manager_lien.go
Labels: size/S

#3333 Make forwarding rule service_label and service_name GA
  google/resource_compute_forwarding_rule.go
  google/resource_compute_forwarding_rule_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/S

#3339 [terraform-conversions] Use placeholder value when generating asset.name from fields empty va…
  google/transport.go
Labels: size/XS

#3338 Terraform - AccessContextManager autogenerated operations
  google/access_context_manager_operation.go
  google/resource_google_folder.go
  google/resource_google_project.go
  google/resource_manager_operation.go
Labels: size/XS

#3340 Shuffle schema in BackendService around to match what MM will do
  google/resource_compute_backend_service.go
Labels: size/L
