Repository hashicorp/terraform-provider-google, pull requests merged in 2019-07, with the labels that each got.

#3932 Add note to storage bucket docs about import
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#3945 Add bigtableadmin api client package for adding bigtable instance iam support
  vendor/google.golang.org/api/bigtableadmin/v2/bigtableadmin-api.json
  vendor/google.golang.org/api/bigtableadmin/v2/bigtableadmin-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#3925 Pub/Sub Topic CMEK/KMS support
  google/resource_pubsub_topic.go
  google/resource_pubsub_topic_test.go
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/M

#3955 properly support timeouts in IGM and RIGM
  google/resource_compute_instance_group_manager.go
  google/resource_compute_region_instance_group_manager.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: documentation, size/M

#3956 Fix InstancePTR test
  google/resource_compute_instance_test.go
Labels: size/XS

#3959 sidebar fixes
  website/google.erb
Labels: documentation, size/M

#3936 Update datasource_google_service_account.html.markdown
  website/docs/d/datasource_google_service_account.html.markdown
Labels: documentation, size/XS

#3923 Note that disks created from snapshots in other projects need full URL
  website/docs/r/compute_disk.html.markdown
Labels: documentation, size/XS

#3602 BQ - Support for External Data Tables
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  google/resource_storage_bucket_acl_test.go
  google/resource_storage_bucket_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XL

#3970 Don't make ACL comparisons if objects are missing
  google/resource_storage_object_acl.go
Labels: size/XS

#3969 Set empty security policy
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_test.go
Labels: changelog: bugfix, size/XS

#3973 Add postgres 11 enum to docs
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#3939 Add bigtable instance IAM resources
  google/config.go
  google/field_helpers.go
  google/field_helpers_test.go
  google/iam_bigtable_instance.go
  google/provider.go
  google/provider_handwritten_endpoint.go
  google/resource_bigtable_instance_iam_test.go
  website/docs/provider_reference.html.markdown
  website/docs/r/bigtable_instance_iam.html.markdown
  website/google.erb
Labels: dependencies, documentation, size/XL

#3972 Firestore API: Add COLLECTION_GROUP to queryScope
  google/resource_firestore_index.go
Labels: size/XS

#3986 Fix the quote value in BigQuery table external data config
  google/resource_bigquery_table.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XS

#3989 Wait until container cluster can be operated on.
  google/resource_container_cluster.go
Labels: changelog: bugfix, size/S

#3962 Update SQL private network documentation
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#3996 Update composer_environment.html.markdown
  website/docs/r/composer_environment.html.markdown
Labels: documentation, size/XS

#3997 Remove nodepool autoscaling when disabled
  google/resource_container_node_pool.go
Labels: size/XS

#3961 Terraform generate iam
  google/iam_pubsub_subscription.go
  google/iam_pubsub_topic.go
  google/iam_pubsub_topic_generated_test.go
  google/iam_source_repo_repository.go
  google/iam_source_repo_repository_generated_test.go
  google/import.go
  google/provider.go
  google/provider_pubsub_gen.go
  google/provider_source_repo_gen.go
  google/resource_pubsub_topic_iam_test.go
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/source_repo_repository_iam.html.markdown
Labels: changelog: new-resource, documentation, size/XXL

#3995 Don't clear cluster from state if cleanup fails
  google/resource_container_cluster.go
Labels: changelog: bugfix, size/XS

#3802 mark kms self links as computed
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
Labels: size/XS

#4000 skip fetching project for empty diffs
  google/resource_compute_instance_template.go
Labels: size/XS

#4003 Support delete for network peering
  google/resource_compute_instance_template.go
  google/resource_service_networking_connection.go
  google/resource_service_networking_connection_test.go
Labels: size/L

#4002 Add checks for nested objects in cluster maintenance window
  google/resource_container_cluster.go
Labels: size/XS

#4016 fix formatting for travis
  google/resource_service_networking_connection.go
  google/resource_service_networking_connection_test.go
Labels: size/XS

#4008 reapply compute template fix
  google/resource_compute_instance_template.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#4014 Namespace service accounts created in tests
  google/resource_bigtable_instance_iam_test.go
  google/resource_compute_subnetwork_iam_test.go
  google/resource_dataproc_cluster_iam_test.go
  google/resource_dataproc_job_iam_test.go
  google/resource_google_billing_account_iam_test.go
  google/resource_google_organization_iam_test.go
  google/resource_google_service_account_iam_test.go
  google/resource_kms_crypto_key_iam_test.go
  google/resource_kms_key_ring_iam_test.go
  google/resource_pubsub_subscription_iam_test.go
  google/resource_spanner_database_iam_test.go
  google/resource_spanner_instance_iam_test.go
  google/resource_sql_database_instance_test.go
  google/resource_storage_bucket_iam_test.go
Labels: size/M

#4019 Fix internal field diff in monitoring uptime check
  google/resource_monitoring_uptime_check_config.go
Labels: size/XS

#3975 Spanner Fixes
  google/resource_spanner_database.go
  google/resource_spanner_instance.go
Labels: size/XS

#4005 Fix unnecessary nesting in google_storage_transfer_job
  google/resource_storage_transfer_job.go
  google/resource_storage_transfer_job_test.go
Labels: size/M

#4034 Update example to 0.12 splat syntax
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#4030 Display import formats on separate lines
  google/resource_access_context_manager_access_policy.go
  google/resource_app_engine_firewall_rule.go
  google/resource_cloud_build_trigger.go
  google/resource_cloud_scheduler_job.go
  google/resource_compute_address.go
  google/resource_compute_autoscaler.go
  google/resource_compute_backend_bucket.go
  google/resource_compute_backend_service.go
  google/resource_compute_disk.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_compute_global_forwarding_rule.go
  google/resource_compute_health_check.go
  google/resource_compute_http_health_check.go
  google/resource_compute_https_health_check.go
  google/resource_compute_image.go
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_network.go
  google/resource_compute_network_endpoint.go
  google/resource_compute_network_endpoint_group.go
  google/resource_compute_node_group.go
  google/resource_compute_node_template.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_disk.go
  google/resource_compute_route.go
  google/resource_compute_router.go
  google/resource_compute_snapshot.go
  google/resource_compute_ssl_certificate.go
  google/resource_compute_ssl_policy.go
  google/resource_compute_subnetwork.go
  google/resource_compute_target_http_proxy.go
  google/resource_compute_target_https_proxy.go
  google/resource_compute_target_instance.go
  google/resource_compute_target_ssl_proxy.go
  google/resource_compute_target_tcp_proxy.go
  google/resource_compute_url_map.go
  google/resource_compute_vpn_gateway.go
  google/resource_compute_vpn_tunnel.go
  google/resource_dns_managed_zone.go
  google/resource_filestore_instance.go
  google/resource_kms_key_ring.go
  google/resource_pubsub_subscription.go
  google/resource_pubsub_topic.go
  google/resource_redis_instance.go
  google/resource_resource_manager_lien.go
  google/resource_source_repo_repository.go
  google/resource_spanner_database.go
  google/resource_spanner_instance.go
  google/resource_sql_database.go
  google/resource_storage_default_object_access_control.go
  google/resource_storage_object_access_control.go
  google/resource_tpu_node.go
Labels: changelog: no-release-note, size/XL

#3993 Add request batching to service usage
  google/batcher.go
  google/batcher_test.go
  google/config.go
  google/config_test.go
  google/provider.go
  google/resource_google_project.go
  google/resource_google_project_service.go
  google/resource_google_project_service_test.go
  google/resource_google_project_services.go
  google/resource_google_project_services_test.go
  google/serviceusage_batching.go
  google/validation.go
  website/docs/provider_reference.html.markdown
Labels: documentation, size/XL

#4046 Remove double quotes from pubsub subscription iam test
  google/resource_pubsub_subscription_iam_test.go
Labels: size/XS

#4038 Require master_ipv4_cidr_block if enable_private_nodes is true
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/M

#3952 Add private environment config to composer
  google/resource_composer_environment.go
  google/resource_composer_environment_test.go
  website/docs/r/composer_environment.html.markdown
Labels: changelog: enhancement, documentation, size/L

#4051 Add project import regex
  google/resource_google_project.go
Labels: changelog: enhancement, documentation, size/XS

#4048 Use correct hyperlink in google_project_organization_policy data source.
  website/docs/d/datasource_google_project_organization_policy.html.markdown
Labels: documentation, size/XS

#3960 binary authorization is now ga
  google/config.go
  google/provider.go
  google/provider_binary_authorization_gen.go
  google/resource_binary_authorization_attestor.go
  google/resource_binary_authorization_policy.go
  google/resource_binaryauthorization_attestor_test.go
  google/resource_binaryauthorization_policy_test.go
  website/docs/provider_reference.html.markdown
  website/docs/r/binary_authorization_attestor.html.markdown
  website/docs/r/binary_authorization_policy.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#3977 Fix cloud storage bucket website params
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
Labels: changelog: bug-fix, size/M

#4047 Add check on import name split length
  google/resource_access_context_manager_access_level.go
  google/resource_access_context_manager_service_perimeter.go
Labels: changelog: bug-fix, documentation, size/XS

#4001 Megan port specification
  google/resource_compute_health_check.go
  google/resource_compute_health_check_test.go
  website/docs/r/compute_health_check.html.markdown
Labels: documentation, size/XL

#4054 remove network calls to determine disk type self link
  google/disk_type.go
  google/resource_compute_disk.go
  google/resource_compute_instance.go
  google/resource_compute_region_disk.go
Labels: size/S

#4037 Add additional import formats, extend identity logic
  google/resource_cloud_scheduler_job.go
  google/resource_compute_address.go
  google/resource_compute_disk.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_network_endpoint.go
  google/resource_compute_network_endpoint_group.go
  google/resource_compute_node_group.go
  google/resource_compute_node_template.go
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_disk.go
  google/resource_compute_target_instance.go
  google/resource_compute_vpn_gateway.go
  google/resource_compute_vpn_tunnel.go
  google/resource_filestore_instance.go
  google/resource_redis_instance.go
  google/resource_sql_database.go
  google/resource_tpu_node.go
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_network_endpoint.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
  website/docs/r/compute_node_group.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_target_instance.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/tpu_node.html.markdown
Labels: changelog: bug-fix, changelog: enhancement, documentation, size/S

#4082 Update docs for forwarding rule ip address
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: documentation, size/S

#4075 Provider level compile
  google/config.go
  google/provider.go
Labels: size/M

#4084 Add update mask for audit config to resource manager IAM resources
  google/iam_folder.go
  google/iam_organization.go
Labels: size/XS

#4087 [terraform] removing dash in random suffix for examples
  google/iam_pubsub_topic_generated_test.go
  google/iam_source_repo_repository_generated_test.go
  google/resource_app_engine_firewall_rule_generated_test.go
  google/resource_cloud_scheduler_job_generated_test.go
  google/resource_compute_address_generated_test.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_backend_bucket_generated_test.go
  google/resource_compute_backend_service_generated_test.go
  google/resource_compute_disk_generated_test.go
  google/resource_compute_firewall_generated_test.go
  google/resource_compute_forwarding_rule_generated_test.go
  google/resource_compute_global_address_generated_test.go
  google/resource_compute_global_forwarding_rule_generated_test.go
  google/resource_compute_health_check_generated_test.go
  google/resource_compute_http_health_check_generated_test.go
  google/resource_compute_https_health_check_generated_test.go
  google/resource_compute_image_generated_test.go
  google/resource_compute_network_endpoint_group_generated_test.go
  google/resource_compute_network_generated_test.go
  google/resource_compute_node_group_generated_test.go
  google/resource_compute_node_template_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_compute_region_backend_service_generated_test.go
  google/resource_compute_region_disk_generated_test.go
  google/resource_compute_route_generated_test.go
  google/resource_compute_router_generated_test.go
  google/resource_compute_snapshot_generated_test.go
  google/resource_compute_ssl_certificate_generated_test.go
  google/resource_compute_ssl_policy_generated_test.go
  google/resource_compute_subnetwork_generated_test.go
  google/resource_compute_target_http_proxy_generated_test.go
  google/resource_compute_target_https_proxy_generated_test.go
  google/resource_compute_target_instance_generated_test.go
  google/resource_compute_target_ssl_proxy_generated_test.go
  google/resource_compute_target_tcp_proxy_generated_test.go
  google/resource_compute_url_map_generated_test.go
  google/resource_compute_vpn_gateway_generated_test.go
  google/resource_compute_vpn_tunnel_generated_test.go
  google/resource_dns_managed_zone_generated_test.go
  google/resource_filestore_instance_generated_test.go
  google/resource_logging_metric_generated_test.go
  google/resource_monitoring_group_generated_test.go
  google/resource_monitoring_notification_channel_generated_test.go
  google/resource_monitoring_uptime_check_config_generated_test.go
  google/resource_pubsub_subscription_generated_test.go
  google/resource_pubsub_topic_generated_test.go
  google/resource_redis_instance_generated_test.go
  google/resource_source_repo_repository_generated_test.go
  google/resource_spanner_database_generated_test.go
  google/resource_storage_default_object_access_control_generated_test.go
  google/resource_storage_object_access_control_generated_test.go
  google/resource_tpu_node_generated_test.go
Labels: size/L

#4088 Add diff suppress to dataproc image version
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
Labels: changelog: bug-fix, size/M

#4044 Megan bucket retention policy
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: changelog: enhancement, documentation, size/L

#4100 Add retention_policy to storage_bucket
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
Labels: size/S

#4107 Add project to app engine app docs
  website/docs/r/app_engine_application.html.markdown
Labels: documentation, size/XS

#4106 Remove initparam references from compute instance template docs
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#4095 Megan dataflow labels
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/M

#4078 [WIP] binary_authorization_attestor KMS support
  google/bootstrap_utils_test.go
  google/data_source_google_kms_crypto_key_version.go
  google/data_source_google_kms_crypto_key_version_test.go
  google/provider.go
  google/resource_binary_authorization_attestor.go
  website/docs/d/google_kms_crypto_key_version.html.markdown
  website/docs/r/binary_authorization_attestor.html.markdown
  website/google.erb
Labels: changelog: enhancement, changelog: new-datasource, documentation, size/XL

#4103 Fix broken link in google_container_cluster docs
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#4117 Supporting labelling of disks
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#4118 Change to maxInt32
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  google/resource_storage_bucket.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#3714 [WIP] Cloudrun beta implementation on alpha KNative
  google/resource_cloud_run_service_test.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
Labels: changelog: new-resource, size/M

#4073 add optional components to dataproc_cluster
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
Labels: changelog: enhancement, size/M
