Repository hashicorp/terraform-provider-google, pull requests merged in 2019-01, with the labels that each got.

#2780 Remove over-validation by google_cloudfunctions_function on project ids
  google/resource_cloudfunctions_function.go
Labels: size/XS

#2782 Homogenize spacing (trivial no-op change)
  google/resource_monitoring_alert_policy_test.go
Labels: size/XS

#2781 uptime check period cannot be updated
  google/resource_monitoring_uptime_check_config.go
Labels: size/XS

#2783 Add import to cloudrepo docs
  website/docs/r/sourcerepo_repository.html.markdown
Labels: documentation, size/XS

#2784 update broken references in router nat docs
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#2787 Cleanup from two overlapping magic modules PRs.
  google/resource_appengine_firewall_rule_generated_test.go
  google/resource_compute_image_generated_test.go
Labels: size/XS

#2778 Export data.google_compute_default_service_account.name
  google/data_source_google_compute_default_service_account.go
  google/data_source_google_compute_default_service_account_test.go
  website/docs/d/google_compute_default_service_account.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
Labels: documentation, size/M

#2789 clean up import syntax
  website/docs/r/sourcerepo_repository.html.markdown
Labels: documentation, size/XS

#2795 Move sourcerepo files
  google/resource_sourcerepo_repository.go
  google/resource_sourcerepo_repository_test.go
Labels: size/XS

#2797 Autogenerate google_sourcerepo_repository
  google/provider.go
  google/provider_sourcerepo_gen.go
  google/resource_sourcerepo_repository.go
  google/resource_sourcerepo_repository_generated_test.go
  google/resource_sourcerepo_repository_test.go
  website/docs/r/sourcerepo_repository.html.markdown
Labels: documentation, size/XL

#2803 Fix self link stability issues in google_compute_route
  google/resource_compute_route.go
Labels: size/S

#2798 Use gofmt -s in make fmt
  GNUmakefile
Labels: size/XS

#2800 Fix some formatting to be 0.12-ready
  google/resource_compute_autoscaler_test.go
  google/resource_compute_instance_group_test.go
  google/resource_compute_instance_test.go
  google/resource_compute_region_autoscaler_test.go
Labels: size/XS

#2801 Restore the deprecated list splat syntax.
  google/resource_compute_instance_group_test.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#2790 Autogenerate google_cloudbuild_trigger
  google/provider.go
  google/provider_cloudbuild_gen.go
  google/resource_cloudbuild_build_trigger.go
  google/resource_cloudbuild_build_trigger_test.go
  google/resource_cloudbuild_trigger.go
  google/resource_cloudbuild_trigger_generated_test.go
  google/utils.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/XXL

#2808 Add cloudbuild trigger to update guide
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/S

#2764 Change IAM binding to be authoritative
  google/iam.go
  google/resource_google_project_iam_policy_test.go
  google/resource_iam_binding.go
  website/docs/d/google_iam_policy.html.markdown
  website/docs/r/google_billing_account_iam_binding.md
  website/docs/r/google_billing_account_iam_member.md
  website/docs/r/google_folder_iam_binding.html.markdown
  website/docs/r/google_folder_iam_member.html.markdown
  website/docs/r/google_kms_crypto_key_iam_binding.html.markdown
  website/docs/r/google_kms_crypto_key_iam_member.html.markdown
  website/docs/r/google_organization_iam_binding.md
  website/docs/r/google_organization_iam_member.md
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/L

#2811 Retry SQL delete calls on 409
  google/resource_sql_database.go
  google/resource_sql_database_instance.go
  google/resource_sql_user.go
  google/utils.go
Labels: size/XS

#2817 Clarify note in storage bucket docs about enabling compute api
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#2836 Remove outdated tests (superseded by generated ones)
  google/resource_cloudbuild_trigger_test.go
  google/resource_compute_address_test.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_backend_bucket_test.go
  google/resource_compute_disk_test.go
  google/resource_compute_firewall_test.go
  google/resource_compute_global_address_test.go
  google/resource_compute_http_health_check_test.go
  google/resource_compute_https_health_check_test.go
  google/resource_compute_image_test.go
  google/resource_compute_region_autoscaler_test.go
  google/resource_compute_route_test.go
  google/resource_compute_snapshot_test.go
  google/resource_compute_ssl_certificate_test.go
  google/resource_compute_ssl_policy_test.go
  google/resource_compute_target_http_proxy_test.go
  google/resource_compute_target_https_proxy_test.go
  google/resource_compute_target_ssl_proxy_test.go
  google/resource_compute_target_tcp_proxy_test.go
  google/resource_compute_url_map_test.go
  google/resource_compute_vpn_gateway_test.go
  google/resource_compute_vpn_tunnel_test.go
  google/resource_redis_instance_test.go
  google/resource_storage_default_object_access_control_test.go
  google/resource_storage_object_access_control_test.go
Labels: size/XXL

#2815 Add timePartitioning.requirePartitionFilter to bigquery table
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XS

#2837 Add Kms bootstrap step for terraform tests
  google/bootstrap_utils_test.go
  google/provider_test.go
  google/resource_compute_instance_template_test.go
Labels: size/L

#2846 Capitalization changes in generated resources
  google/provider.go
  google/provider_appengine_gen.go
  google/provider_cloudbuild_gen.go
  google/provider_sourcerepo_gen.go
  google/resource_appengine_firewall_rule.go
  google/resource_appengine_firewall_rule_generated_test.go
  google/resource_cloudbuild_trigger.go
  google/resource_cloudbuild_trigger_generated_test.go
  google/resource_cloudbuild_trigger_test.go
  google/resource_sourcerepo_repository.go
  google/resource_sourcerepo_repository_generated_test.go
  google/resource_sourcerepo_repository_test.go
Labels: size/XL

#2845 Add import to folder IAM policy docs
  website/docs/r/google_folder_iam_policy.html.markdown
Labels: documentation, size/XS

#2849 Rename (unreleased) google_appengine_firewall_rule to google_app_engine_firewall_rule
  google/provider_appengine_gen.go
  google/resource_appengine_firewall_rule_generated_test.go
  website/docs/r/appengine_firewall_rule.html.markdown
  website/google.erb
Labels: documentation, size/S

#2844 Fix compute project metadata error from previous "common_metadata" IDs
  google/resource_compute_project_metadata.go
Labels: size/XS

#2840 Contributor: dataproc encryption
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/M

#2838 Add OAuth2 access_token and client config as credential options.
  google/config.go
  google/config_test.go
  google/provider.go
  google/provider_test.go
Labels: size/M

#2850 Make kms links for compute disk GA
  google/resource_compute_disk.go
  google/resource_compute_disk_test.go
  google/resource_compute_region_disk.go
Labels: size/M

#2852 Skip acceptance tests during non-acceptance runs.
  google/config.go
  google/config_test.go
  google/provider.go
  google/provider_test.go
  website/docs/provider_reference.html.markdown
Labels: documentation, size/M

#2848 Add generated test for google_monitoring_alert_policy
  google/resource_monitoring_alert_policy_generated_test.go
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: documentation, size/M

#2853 Remove old gcompute wording
  website/docs/r/compute_image.html.markdown
Labels: documentation, size/XS

#2854 Fix encryption config in dataproc
  google/resource_dataproc_cluster.go
Labels: size/XS

#2860 Use API default for monitoring_uptime_check_config http_check port
  google/resource_monitoring_uptime_check_config.go
Labels: size/XS

#2859 Increase update timeout for clusters
  google/resource_container_cluster.go
Labels: size/XS

#2862 Add precheck for acc config tests
  google/config_test.go
Labels: size/XS

#2856 Fix next_instance_zone for google_compute_route
  google/resource_compute_route.go
Labels: size/XS

#2869 Reconcile Magician formatting changes due to Go tools upgrade
  google/config.go
  google/resource_composer_environment.go
  google/resource_composer_environment_test.go
  google/resource_compute_address.go
  google/resource_compute_autoscaler.go
  google/resource_compute_backend_bucket.go
  google/resource_compute_disk.go
  google/resource_compute_firewall.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_global_address.go
  google/resource_compute_health_check.go
  google/resource_compute_http_health_check.go
  google/resource_compute_https_health_check.go
  google/resource_compute_image.go
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_disk.go
  google/resource_compute_route.go
  google/resource_compute_router.go
  google/resource_compute_snapshot.go
  google/resource_compute_ssl_certificate.go
  google/resource_compute_ssl_policy.go
  google/resource_compute_subnetwork.go
  google/resource_compute_target_http_proxy.go
  google/resource_compute_target_https_proxy.go
  google/resource_compute_target_ssl_proxy.go
  google/resource_compute_target_tcp_proxy.go
  google/resource_compute_url_map.go
  google/resource_compute_vpn_gateway.go
  google/resource_compute_vpn_tunnel.go
  google/resource_container_cluster.go
  google/resource_sql_database_instance_test.go
Labels: size/M

#2883 Fix typo in Cloud NAT documentation
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#2884 Make Disk KMS features GA
  google/resource_compute_disk.go
  website/docs/r/compute_disk.html.markdown
Labels: documentation, size/M

#2879 Add custom flatten for monitoring channel labels
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_notification_channel_test.go
  website/docs/r/monitoring_notification_channel.html.markdown
Labels: documentation, size/M

#2881 Clarify that the website is shared between both provider versions
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
  website/docs/provider_versions.html.markdown
Labels: documentation, size/XS

#2872 fixes to updating node versions
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  google/resource_container_node_pool.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#2899 Increase acceptance test timeout to 4 hours
  GNUmakefile
Labels: size/XS

#2893 Fix security hole in tests
  google/resource_dataproc_cluster_test.go
Labels: size/XS

#2907 Removed unused from gometalinter
  .gometalinter.json
Labels: size/XS

#2892 Initial autogeneration of Spanner instance in Terraform.
  google/iam_spanner_instance.go
  google/provider.go
  google/provider_spanner_gen.go
  google/resource_spanner_database.go
  google/resource_spanner_instance.go
  google/resource_spanner_instance_generated_test.go
  google/resource_spanner_instance_test.go
  google/spanner_instance_operation.go
  website/docs/r/cloudbuild_trigger.html.markdown
  website/docs/r/spanner_instance.html.markdown
Labels: documentation, size/XL

#2882 Add vlan tag and subnet candidates to Interconnect Attachments.
  google/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/M

#2911 Change default boot disk size to 15g for dataproc
  google/resource_dataproc_cluster_test.go
  google/resource_dataproc_job_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XS

#2914 Add a computed name field to google_storage_bucket_object
  google/resource_storage_bucket_object.go
  website/docs/r/storage_bucket_object.html.markdown
Labels: documentation, size/XS

#2918 Guard self links inside google_compute_backend_service
  google/resource_compute_backend_service.go
Labels: size/XS

#2917 add ForceNew to firewall direction field.
  google/resource_compute_firewall.go
Labels: size/XS

#2888 [Terraform] new option "scopes" to define OAuth scopes for provider
  google/config.go
  google/config_test.go
  google/provider.go
  website/docs/provider_reference.html.markdown
Labels: documentation, size/S

#2920 Rename some files to match intended names
  google/resource_app_engine_firewall_rule.go
  google/resource_app_engine_firewall_rule_generated_test.go
  google/resource_cloud_build_trigger.go
  google/resource_cloud_build_trigger_generated_test.go
  google/resource_resource_manager_lien.go
  google/resource_source_repo_repository.go
  google/resource_source_repo_repository_generated_test.go
  website/docs/r/app_engine_firewall_rule.html.markdown
  website/docs/r/cloud_build_trigger.html.markdown
  website/docs/r/resource_manager_lien.html.markdown
  website/docs/r/source_repo_repository.html.markdown
  website/google.erb
Labels: documentation, size/XS

#2925 Ci test fixes
  google/resource_cloudfunctions_function_test.go
  google/resource_compute_disk.go
  google/resource_compute_instance_migrate.go
  google/resource_compute_instance_migrate_test.go
  google/resource_dataproc_cluster_test.go
  google/resource_dataproc_job_test.go
  google/resource_sql_ssl_cert_test.go
Labels: size/M

#2932 Fix vendor directory.
  go.sum
Labels: dependencies, size/XS

#2936 Adding nil guards to the wait operations
  google/appengine_operation.go
  google/cloudfunctions_operation.go
  google/common_operation.go
  google/composer_operation.go
  google/compute_operation.go
  google/container_operation.go
  google/dataproc_cluster_operation.go
  google/dataproc_job_operation.go
  google/redis_operation.go
  google/resourcemanager_operation.go
  google/serviceman_operation.go
  google/serviceusage_operation.go
  google/spanner_instance_operation.go
  google/sqladmin_operation.go
Labels: size/M

#2930 [Terraform] Gcloud scheduler
  google/resource_cloudscheduler_job_test.go
  google/validate-http-headers.go
Labels: size/XS

#2945 Update vendoring in CONTRIBUTING
  .github/CONTRIBUTING.md
Labels: size/XS

#2938 Add disable_dependent_services to google_project_service resource.
  google/config.go
  google/resource_google_project_service.go
  google/resource_google_project_service_test.go
  google/resource_google_project_services.go
  google/serviceusage_operation.go
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-api.json
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-gen.go
  vendor/modules.txt
  website/docs/r/google_project_service.html.markdown
Labels: dependencies, documentation, size/XL

#2946 Standardize import for instance group manager.
  google/import.go
  google/resource_compute_instance_group_manager.go
  google/resource_compute_instance_group_manager_test.go
Labels: dependencies, size/L

#2947 Add service_account_email to google_cloudfunctions_function
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/M

#2948 documentation: google_sql_database_instance : PG support is GA now
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#2952 Add hostname field to compute_instance
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/S

#2818 Native Update Mask support
  google/resource_redis_instance.go
Labels: documentation, size/XS

#2965 [Terraform] ip_address.0.time_to_retire it's not optional
  google/resource_sql_database_instance.go
Labels: size/XS

#2968 Update GKE examples, docs to recommend fine grained node pools.
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/L
