Repository hashicorp/terraform-provider-google, pull requests merged in 2020-12, with the labels that each got.

#7913 Update google_container_node_pool oauth_scopes to cloud-platform
  .changelog/4274.txt
  website/docs/r/container_node_pool.html.markdown
Labels: size/XS

#7914 Promote Managed SSL to GA + Doc fixes
  .changelog/4247.txt
  google/common_diff_suppress.go
  google/provider.go
  google/resource_cloud_scheduler_job.go
  google/resource_cloud_scheduler_job_generated_test.go
  google/resource_compute_managed_ssl_certificate.go
  google/resource_compute_managed_ssl_certificate_generated_test.go
  google/resource_compute_managed_ssl_certificate_sweeper_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_managed_ssl_certificate.html.markdown
Labels: size/XL

#7915 some APIs treat 412s as the conflict code.
  .changelog/4277.txt
  google/utils.go
  google/utils_test.go
Labels: size/XS

#7916 Allow url map to handle backend service fields that can also be backend buckets.
  .changelog/4269.txt
  google/resource_compute_url_map.go
  google/resource_compute_url_map_generated_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: size/XL

#7918 Add replacement_method to IGM and RIGM update_policy
  .changelog/4258.txt
  google/resource_compute_instance_group_manager.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_region_instance_group_manager_test.go
Labels: size/M

#7874 Correct documentation for google_service_account_iam
  website/docs/r/google_service_account_iam.html.markdown
Labels: size/XS

#7932 Add resource document to google_firestore
  .changelog/4279.txt
  google/provider.go
  google/resource_firestore_document.go
  google/resource_firestore_document_generated_test.go
  google/resource_firestore_document_sweeper_test.go
  google/resource_firestore_document_test.go
  website/docs/r/firestore_document.html.markdown
  website/google.erb
Labels: size/XL

#7933 V1
  .changelog/4253.txt
  google/config.go
  google/iam_notebooks_instance.go
  google/iam_notebooks_instance_generated_test.go
  google/notebooks_operation.go
  google/provider.go
  google/resource_notebooks_environment.go
  google/resource_notebooks_environment_generated_test.go
  google/resource_notebooks_environment_sweeper_test.go
  google/resource_notebooks_instance.go
  google/resource_notebooks_instance_generated_test.go
  google/resource_notebooks_instance_sweeper_test.go
  google/resource_notebooks_location.go
  google/resource_notebooks_location_sweeper_test.go
  website/docs/r/notebooks_environment.html.markdown
  website/docs/r/notebooks_instance.html.markdown
  website/docs/r/notebooks_instance_iam.html.markdown
  website/docs/r/notebooks_location.html.markdown
Labels: size/XXL

#7941 Add CDN to regional backend service, add flexible cache control to backend service.
  .changelog/4276.txt
  google/resource_compute_backend_service_generated_test.go
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_backend_service_generated_test.go
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: size/XL

#7943 Move `customResponseHeaders` to beta only
  .changelog/4286.txt
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_generated_test.go
  google/resource_compute_backend_service_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: size/L

#7930 3.50.0 changelog
  CHANGELOG.md
Labels: size/XS

#7962 Update CVM docs
  .changelog/4291.txt
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#7970 Remove string concatenation in spanner DB update
  .changelog/4294.txt
  google/resource_spanner_database.go
  google/resource_spanner_database_test.go
Labels: size/XS

#7974 Add customized diff for unique_writer_identity on resource google_logging_project_sink
  .changelog/4301.txt
  google/resource_logging_project_sink.go
  google/resource_logging_project_sink_test.go
  website/docs/r/logging_project_sink.html.markdown
Labels: size/M

#7975 container_cluster - document possible release_channel configurations
  .changelog/4287.txt
  google/resource_container_cluster.go
Labels: size/XS

#7976 Bump default request timeout to 90s
  .changelog/4303.txt
  google/retry_transport.go
Labels: size/XS

#7984 Use updated policy to update, not empty policy for DEPRIVILEGE
  .changelog/4293.txt
  google/resource_google_project_default_service_accounts.go
Labels: size/XS

#7982 Added v3 to module path
  go.mod
  google/provider.go
  main.go
Labels: size/XS

#7985 Ran go mod tidy to clean up dependencies
  go.mod
  go.sum
Labels: size/XL

#7987 Add SHARED_LOADBALANCER_VIP purpose to regional addresses.
  .changelog/4169.txt
  google/resource_compute_address.go
  google/resource_compute_address_generated_test.go
  website/docs/r/compute_address.html.markdown
Labels: size/S

#7992 Add missing 'location' option in sql_database_instance.settings.backup_configuration documentation
  .changelog/4305.txt
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#8004 fix scheduler_job_http example
  .changelog/4280.txt
  google/resource_cloud_scheduler_job_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: size/XS

#8006 Mark replication type computed as it no longer comes back from API
  .changelog/4312.txt
  google/resource_sql_database_instance.go
Labels: size/XS

#8007 Added support for Google Virtual Network Interface (gVNIC) for image part
  .changelog/4306.txt
  google/resource_compute_image.go
  website/docs/r/compute_image.html.markdown
Labels: size/XS

#7989 Add changelog for 3.51.0
  CHANGELOG.md
Labels: size/XS

#8010 Zero out upload url before update
  .changelog/4292.txt
  google/resource_cloudfunctions_function.go
Labels: size/XS

#8011 Add Pub/Sub Lite Resources
  .changelog/4295.txt
  google/config.go
  google/provider.go
  google/resource_pubsub_lite_subscription.go
  google/resource_pubsub_lite_subscription_generated_test.go
  google/resource_pubsub_lite_subscription_sweeper_test.go
  google/resource_pubsub_lite_topic.go
  google/resource_pubsub_lite_topic_generated_test.go
  google/resource_pubsub_lite_topic_sweeper_test.go
  website/docs/r/pubsub_lite_subscription.html.markdown
  website/docs/r/pubsub_lite_topic.html.markdown
  website/google.erb
Labels: size/XXL

#8013 Update IAM Documentation
  .changelog/4252.txt
  website/docs/d/iam_policy.html.markdown
  website/docs/r/api_gateway_api_config_iam.html.markdown
  website/docs/r/api_gateway_api_iam.html.markdown
  website/docs/r/api_gateway_gateway_iam.html.markdown
  website/docs/r/artifact_registry_repository_iam.html.markdown
  website/docs/r/bigquery_table_iam.html.markdown
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_disk_iam.html.markdown
  website/docs/r/compute_image_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_machine_image_iam.html.markdown
  website/docs/r/compute_region_disk_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/data_catalog_entry_group_iam.html.markdown
  website/docs/r/data_catalog_policy_tag_iam.html.markdown
  website/docs/r/data_catalog_taxonomy_iam.html.markdown
  website/docs/r/endpoints_service_iam.html.markdown
  website/docs/r/google_folder_iam.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/healthcare_consent_store_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_tunnel_iam.html.markdown
  website/docs/r/iap_tunnel_instance_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/notebooks_instance_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/secret_manager_secret_iam.html.markdown
  website/docs/r/service_directory_namespace_iam.html.markdown
  website/docs/r/service_directory_service_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: size/M

#8016 added data source for storage bucket object content
  .changelog/4254.txt
  google/data_source_storage_bucket_object_content.go
  google/data_source_storage_bucket_object_content_test.go
  google/provider.go
  website/docs/d/storage_bucket_object_content.html.markdown
  website/google.erb
Labels: size/L

#8020 Corrected generateUserAgentString usage
  .changelog/4315.txt
  google/resource_compute_route.go
  google/resource_secret_manager_secret_version.go
Labels: size/XS

#8021 add better error message for no cassette
  .changelog/4316.txt
  google/provider_test.go
Labels: size/XS

#8022 Add billing subaccount
  .changelog/2640.txt
  google/provider.go
  google/provider_test.go
  google/resource_google_billing_subaccount.go
  google/resource_google_billing_subaccount_test.go
  website/docs/r/google_billing_subaccount.html.markdown
  website/google.erb
Labels: size/XL

#8025 Add dependency to fix test
  .changelog/4320.txt
  website/docs/r/data_catalog_policy_tag.html.markdown
Labels: size/XS

#8026 ForceOverride as ignore read as it does not appear in response
  .changelog/4304.txt
  google/resource_cloud_run_domain_mapping.go
  google/resource_cloud_run_domain_mapping_generated_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
Labels: size/XS

#8033 Fix documentation link
  .changelog/4327.txt
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#7282 Refer to the value of `labels` as a 'map'
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#8017 add support for IAM authentication to google_sql_user for #7512
  google/resource_sql_user.go
  google/resource_sql_user_test.go
  website/docs/r/sql_user.html.markdown
Labels: size/M

#8036 Correct documentation for importing google_service_account_iam
  website/docs/r/google_service_account_iam.html.markdown
Labels: size/XS

#8041 Ignores for tests that shouldn't use VCR
  .changelog/4325.txt
  google/data_source_spanner_instance_test.go
  google/resource_bigquery_data_transfer_config_test.go
  google/resource_os_login_ssh_public_key_test.go
  google/resource_sql_user.go
  google/resource_sql_user_test.go
  website/docs/r/google_service_account_iam.html.markdown
  website/docs/r/sql_user.html.markdown
  website/docs/r/storage_bucket.html.markdown
Labels: size/M

#8042 Fix composer tests
  .changelog/4323.txt
  google/data_source_google_composer_environment.go
  google/data_source_google_composer_environment_test.go
  google/resource_composer_environment_test.go
Labels: size/XS

#8043 Ignores for tests that shouldn't use VCR
  google/data_source_google_composer_environment.go
  google/data_source_google_composer_environment_test.go
  google/resource_composer_environment_test.go
Labels: size/XS

#8044 Fix composer tests
  google/data_source_google_composer_environment.go
  google/data_source_google_composer_environment_test.go
  google/resource_composer_environment_test.go
Labels: size/XS

#8045 Refer to the value of `labels` as a 'map'
  .changelog/3991.txt
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#8046 Clean up IAM Scopes in the documentation
  .changelog/4321.txt
  website/docs/d/service_account_access_token.html.markdown
  website/docs/guides/version_2_upgrade.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/M

#8047 add support for IAM authentication to google_sql_user for #7512
  .changelog/4322.txt
  google/resource_sql_user.go
  google/resource_sql_user_test.go
  website/docs/r/sql_user.html.markdown
Labels: size/M

#8048 Correct documentation for importing google_service_account_iam
  .changelog/4329.txt
  website/docs/r/google_service_account_iam.html.markdown
Labels: size/XS

#8049 Add support for enableIndependentEndpointMapping to router nat
  .changelog/4324.txt
  google/resource_compute_router_nat.go
  google/resource_compute_router_nat_test.go
  website/docs/r/compute_router_nat.html.markdown
Labels: size/M

#8056 Fix typos from cleaning up IAM Scopes
  .changelog/4332.txt
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/google_service_account.html.markdown
  website/docs/r/google_service_account_key.html.markdown
Labels: size/XS

#8057 Remove TestAccComputeBackendService_backendServiceCacheExample from tpg.
  .changelog/4318.txt
  google/resource_compute_backend_service_generated_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: size/S

#8059 Update SCC docs link (was incorrectly binauth)
  .changelog/4339.txt
  website/docs/r/scc_source.html.markdown
Labels: size/XS

#8064 dataproc_job add support for job status RUNNING
  .changelog/4341.txt
  google/dataproc_job_operation.go
Labels: size/XS

#8065 Fix path_matcher in region url maps
  .changelog/4298.txt
  google/resource_compute_region_url_map.go
  google/resource_compute_region_url_map_test.go
  website/docs/r/compute_region_url_map.html.markdown
Labels: size/M

#8066 Add customized diff scenario for google_container_cluster.private_cluster_config.master_ipv4_cidr_block
  .changelog/4345.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/S

#8078 Add diff suppress for max retry 0s on google_cloud_tasks_queue.retry_config.max_retry_duration
  .changelog/4337.txt
  google/resource_cloud_tasks_queue.go
  google/resource_cloud_tasks_queue_test.go
Labels: size/S

#8079 Add ga version of bigquery reservation
  .changelog/4342.txt
  google/config.go
  google/provider.go
  google/resource_bigquery_reservation_reservation.go
  google/resource_bigquery_reservation_reservation_generated_test.go
  google/resource_bigquery_reservation_reservation_sweeper_test.go
  website/docs/r/bigquery_reservation.html.markdown
Labels: size/XL

#8080 Eliminate retries in the inner loop for errors that will not succeed.
  .changelog/4334.txt
  google/error_retry_predicates.go
  google/filestore_operation.go
  google/iam_storage_bucket.go
  google/resource_filestore_instance.go
  google/resource_filestore_instance_generated_test.go
Labels: size/S

#7879 bigtable_gc_policy: Adding support for duration lower than day
  google/resource_bigtable_gc_policy.go
  google/resource_bigtable_gc_policy_test.go
  website/docs/r/bigtable_gc_policy.html.markdown
Labels: size/S

#8081 Upstream Bigtable seconds
  .changelog/4282.txt
  google/resource_bigtable_gc_policy.go
  website/docs/r/bigtable_gc_policy.html.markdown
Labels: size/XS

#8089 Promote Confidential VM to GA
  .changelog/4326.txt
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/L

#8090 Promote Redis Auth to GA
  .changelog/4314.txt
  google/resource_redis_instance.go
  google/resource_redis_instance_test.go
  website/docs/r/redis_instance.html.markdown
Labels: size/L

#8088 Update SDK to 2.4.0
  go.mod
  go.sum
Labels: size/S

#8093 Fixed google_logging_project_sink.disabled can not updated
  .changelog/4340.txt
  google/resource_logging_project_sink_test.go
  google/resource_logging_sink.go
Labels: size/M

#8098 [Compute_Disk] - Add beta multi-writer support
  .changelog/3911.txt
  website/docs/r/compute_disk.html.markdown
Labels: size/XS

#8099 Fix some network / firewall prefixes to allow sweeping
  .changelog/4353.txt
  google/data_source_google_compute_subnetwork_test.go
  google/resource_compute_firewall_test.go
  google/resource_compute_network_peering_test.go
  google/resource_compute_network_test.go
Labels: size/M

#8100 Add SQL Backup Run Datasource
  .changelog/4352.txt
  google/bootstrap_utils_test.go
  google/data_source_sql_backup_run.go
  google/data_source_sql_backup_run_test.go
  google/provider.go
  website/docs/d/sql_backup_run.html.markdown
  website/google.erb
Labels: size/XL

#8102 GA packet mirroring, add filter direction, ga mirroring collector flag
  .changelog/4350.txt
  google/provider.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_packet_mirroring.go
  google/resource_compute_packet_mirroring_generated_test.go
  google/resource_compute_packet_mirroring_sweeper_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_packet_mirroring.html.markdown
Labels: size/XXL
