Repository hashicorp/terraform-provider-google, pull requests merged in 2020-03, with the labels that each got.

#5803 Update appengine split traffic example to fix test
  .changelog/3188.txt
  google/resource_app_engine_service_split_traffic_generated_test.go
  website/docs/r/app_engine_service_split_traffic.html.markdown
Labels: documentation, size/M

#5806 Fix bigquery basic example test
  .changelog/3192.txt
  google/resource_big_query_dataset_generated_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#5807 Cherrypick of container cluster fix TPGB#1766
  .changelog/3178.txt
  google/resource_container_cluster.go
Labels: size/XS

#5808 Fix `google_compute_instance_template` crash
  .changelog/3194.txt
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
Labels: size/M

#5809 added website, cors and lifecycle examples to storage_bucket resource
  .changelog/3151.txt
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/S

#5810 `project_service` update to read/acquire a service on create
  .changelog/3182.txt
  google/resource_google_project_service.go
  website/docs/r/google_project_service.html.markdown
Labels: documentation, size/XS

#5812 Add missing fields to instance template's network_interfaces schema
  .changelog/3197.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
Labels: size/S

#5813 Add 404-retries for pubsub and poll async utils
  .changelog/3155.txt
  google/cloudrun_polling.go
  google/common_polling.go
  google/resource_cloud_run_domain_mapping.go
  google/resource_cloud_run_service.go
  google/resource_pubsub_subscription.go
  google/resource_pubsub_subscription_test.go
  google/resource_pubsub_topic.go
  website/docs/r/pubsub_subscription.html.markdown
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/XL

#5814 fixed id for 5542
  .changelog/3199.txt
  website/docs/r/app_engine_application.html.markdown
Labels: documentation, size/XS

#5817 Remove mutex locking during read for storage ACLs.
  .changelog/3203.txt
  google/resource_storage_bucket_acl.go
  google/resource_storage_default_object_acl.go
  google/resource_storage_object_acl.go
Labels: size/XS

#5818 Fix bigquery dataset test to use valid userByEmail
  .changelog/3206.txt
  google/resource_big_query_dataset_generated_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#5821 Move drain_nat_ips to GA from beta.
  .changelog/3209.txt
  google/resource_compute_router_nat.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/S

#5825 update isEmptyValue function
  .changelog/2907.txt
  google/resource_big_query_dataset.go
  google/resource_cloud_run_service.go
  google/resource_compute_backend_service.go
  google/resource_compute_firewall.go
  google/resource_compute_network.go
  google/resource_compute_region_backend_service.go
  google/transport.go
Labels: size/XS

#5826 Much longer docs about metadata attributes, including links to non-linux load-bearing attributes.
  .changelog/3208.txt
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#5827 Fix batcher error messages after single request split-out
  .changelog/3214.txt
  google/batcher.go
  google/batcher_test.go
Labels: size/XS

#5829 add vpc_connector to update
  .changelog/3211.txt
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
Labels: size/S

#5830 Remove extra address attribute from compute address.
  .changelog/3216.txt
  website/docs/r/compute_address.html.markdown
Labels: documentation, size/XS

#5831 Marked `time_zone` as ForceNew due to change in API behavior
  .changelog/3218.txt
  google/resource_dialogflow_agent.go
  google/resource_dialogflow_agent_test.go
Labels: size/XS

#5834 add customize diff to prevent two rules with the same priority
  .changelog/3202.txt
  google/resource_compute_security_policy.go
  google/resource_compute_security_policy_test.go
Labels: size/M

#5835 Make tier ignore_read
  .changelog/3223.txt
  google/resource_dialogflow_agent.go
  google/resource_dialogflow_agent_generated_test.go
  google/resource_dialogflow_agent_test.go
  website/docs/r/dialogflow_agent.html.markdown
Labels: documentation, size/M

#5837 bigtable_table and bigtable_gc_policy support long form ids
  .changelog/3222.txt
  google/resource_bigtable_gc_policy.go
  google/resource_bigtable_gc_policy_test.go
  google/resource_bigtable_table.go
  google/resource_bigtable_table_test.go
Labels: size/S

#5838 network endpoint support long form ids for network endpoint groups
  .changelog/3224.txt
  google/resource_compute_network_endpoint.go
  google/resource_compute_network_endpoint_test.go
Labels: size/XS

#5839 add sql_source_representation_instance
  .changelog/3186.txt
  google/provider.go
  google/resource_sql_source_representation_instance.go
  google/resource_sql_source_representation_instance_generated_test.go
  google/resource_sql_source_representation_instance_sweeper_test.go
  website/docs/r/sql_source_representation_instance.html.markdown
  website/google.erb
Labels: documentation, size/XL

#5840 Bigquery reservation
  .changelog/3213.txt
  google/resource_bigquery_reservation_test.go
  website/google.erb
Labels: documentation, size/XS

#5739 google_dataflow_job - Fix bug where the wrong error variable was bein…
  google/resource_dataflow_job.go
Labels: size/XS

#5841 change NOT to NOT_IN for node_affinities operator
  .changelog/3225.txt
  google/compute_instance_helpers.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#5847 Don't break the website by including things that aren't GA in the GA sidebar.
  .changelog/3226.txt
  website/google.erb
Labels: documentation, size/XS

#5849 Regional disk resource policies attachment resource.
  .changelog/3228.txt
  google/provider.go
  google/resource_compute_region_disk_resource_policy_attachment.go
  google/resource_compute_region_disk_resource_policy_attachment_generated_test.go
  website/docs/r/compute_region_disk_resource_policy_attachment.html.markdown
  website/google.erb
Labels: documentation, size/XL

#5850 s/zone/region in an error message.
  .changelog/3229.txt
  google/resource_compute_region_disk_resource_policy_attachment.go
Labels: size/XS

#5855 update link name for app engine service split traffic
  .changelog/3231.txt
  website/google.erb
Labels: documentation, size/XS

#5857 Placement policy support for Compute Instance
  .changelog/3217.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  google/resource_compute_resource_policy.go
  google/resource_compute_resource_policy_generated_test.go
  google/resource_compute_resource_policy_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/XL

#5861 storage_bucket: Correct website docs
  .changelog/3235.txt
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#5864 Add node group autoscaling policy
  .changelog/3230.txt
  website/docs/r/compute_node_group.html.markdown
Labels: documentation, size/S

#5843 Fixed broken URL
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/XS

#5869 update golang links
  .changelog/3238.txt
  google/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/XS

#5872 Collapse sidebars by default.
  .changelog/3234.txt
  website/google.erb
Labels: documentation, size/M

#5873 Allow passwords and tokens to be sensitive
  .changelog/3177.txt
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_notification_channel_generated_test.go
  google/resource_monitoring_notification_channel_test.go
  website/docs/r/monitoring_notification_channel.html.markdown
Labels: documentation, size/XL

#5874 add extra host_rule to example
  .changelog/3240.txt
  google/resource_compute_url_map_generated_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/S

#5877 Ensure that no matter what the ID is, we can still wait for state.
  .changelog/3241.txt
  google/resource_container_node_pool.go
Labels: size/XS

#5881 IAP brand & client
  .changelog/3135.txt
  google/provider.go
  google/provider_test.go
  google/resource_iap_brand.go
  google/resource_iap_brand_test.go
  google/resource_iap_client.go
  google/resource_iap_client_generated_test.go
  google/resource_iap_client_sweeper_test.go
  website/docs/r/iap_brand.html.markdown
  website/docs/r/iap_client.html.markdown
  website/google.erb
Labels: documentation, size/XL

#5882 add app engine flex version
  .changelog/3110.txt
  google/provider.go
  google/resource_app_engine_app_version_sweeper_test.go
  google/resource_app_engine_flexible_app_version.go
  google/resource_app_engine_flexible_app_version_generated_test.go
  google/resource_app_engine_flexible_app_version_test.go
  google/resource_app_engine_standard_app_version.go
  google/test-fixtures/appengine/hello-world-flask/app.yaml
  google/test-fixtures/appengine/hello-world-flask/main.py
  google/test-fixtures/appengine/hello-world-flask/requirements.txt
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/app_engine_standard_app_version.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#5883 fix typos in billing account IAM docs
  .changelog/3244.txt
  website/docs/r/google_billing_account_iam_binding.html.markdown
Labels: documentation, size/XS

#5884 Ignore empty vs null list in data source tests
  .changelog/3245.txt
  google/test_utils.go
Labels: size/XS

#5886 Revert "Placement policy support for Compute Instance (#3217)"
  .changelog/3250.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  google/resource_compute_resource_policy.go
  google/resource_compute_resource_policy_generated_test.go
  google/resource_compute_resource_policy_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/XL

#5887 [Terraform] Add support for dns_cache_config to resource_container_cluster
  .changelog/3126.txt
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#5888 Memorystore Redis connectMode support
  .changelog/3246.txt
  google/resource_redis_instance.go
  google/resource_redis_instance_generated_test.go
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/M

#5900 Vcr wrapper
  .changelog/3193.txt
  google/access_context_manager_operation.go
  google/appengine_operation.go
  google/cloudfunctions_operation.go
  google/common_operation.go
  google/common_operation_test.go
  google/composer_operation.go
  google/compute_operation.go
  google/config.go
  google/container_operation.go
  google/dataproc_cluster_operation.go
  google/dataproc_job_operation.go
  google/datastore_operation.go
  google/deployment_manager_operation.go
  google/filestore_operation.go
  google/firestore_operation.go
  google/ml_engine_operation.go
  google/provider_test.go
  google/redis_operation.go
  google/resource_cloudfunctions_function.go
  google/resource_composer_environment.go
  google/resource_composer_environment_test.go
  google/resource_container_cluster_test.go
  google/resource_manager_operation.go
  google/resource_pubsub_topic_test.go
  google/service_networking_operation.go
  google/serviceman_operation.go
  google/serviceusage_operation.go
  google/spanner_operation.go
  google/sqladmin_operation.go
  google/tpu_operation.go
  google/vpc_access_operation.go
Labels: size/L

#5902 Initial retry transport
  .changelog/3196.txt
  google/config.go
  google/error_retry_predicates.go
  google/retry_transport.go
  google/retry_transport_test.go
Labels: size/XL

#5903 Add current status on compute instance
  .changelog/3248.txt
  google/resource_compute_instance.go
Labels: size/XS

#5910 upgrade_settings is now ga, and O+C
  .changelog/3252.txt
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
Labels: size/L

#5911 Serial port datasource
  .changelog/3247.txt
  google/data_source_google_compute_instance_serial_port.go
  google/data_source_google_compute_instance_serial_port_test.go
  google/provider.go
  website/docs/d/datasource_compute_instance_serial_port.html.markdown
Labels: documentation, size/L

#5908 Remove expression to avoid the interpolation-only expressions warning
  website/docs/guides/getting_started.html.markdown
Labels: documentation, size/XS

#5912 GA ILB global access
  .changelog/3253.txt
  google/resource_compute_forwarding_rule.go
  google/resource_compute_forwarding_rule_generated_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/M

#5913 Ansible - Regional SSL Certs + Health Check
  .changelog/3210.txt
  google/provider.go
  google/resource_compute_region_ssl_certificate.go
  google/resource_compute_region_ssl_certificate_generated_test.go
  google/resource_compute_region_ssl_certificate_sweeper_test.go
  website/docs/r/compute_region_ssl_certificate.html.markdown
Labels: documentation, size/XL

#5915 fixed ids for #5542
  .changelog/3205.txt
  google/resource_compute_address_generated_test.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  website/docs/d/datasource_google_compute_backend_service.html.markdown
  website/docs/r/binary_authorization_attestor.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
  website/docs/r/cloudiot_registry.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_attached_disk.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/M

#5918 Force zone for dataproc cluster gpu test
  .changelog/3263.txt
  google/resource_dataproc_cluster_test.go
Labels: size/XS

#5925 Add serial port ds and region ssl cert to sidebar
  .changelog/3268.txt
  website/google.erb
Labels: documentation, size/XS

#5926 Add google_compute_instance current_status to data source
  .changelog/3269.txt
  google/data_source_google_compute_instance.go
  google/data_source_google_compute_instance_test.go
Labels: size/XS

#5933 Revert changes to compute image selflink in examples
  .changelog/3272.txt
  google/resource_compute_address_generated_test.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/XS

#5934 Ansible - Resource Policy
  .changelog/3275.txt
  google/resource_compute_resource_policy_sweeper_test.go
Labels: size/XS

#5940 Consume original request body from retry transport
  .changelog/3276.txt
  google/retry_transport.go
Labels: size/XS

#5941 Add pollasync to eventually consistent iap brand
  .changelog/3274.txt
  google/resource_bigquery_data_transfer_config.go
  google/resource_bigtable_app_profile.go
  google/resource_dataproc_autoscaling_policy.go
  google/resource_iap_brand.go
  google/resource_identity_platform_default_supported_idp_config.go
  google/resource_identity_platform_tenant.go
  google/resource_identity_platform_tenant_default_supported_idp_config.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_group.go
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_uptime_check_config.go
  google/resource_resource_manager_lien.go
  google/resource_security_center_source.go
Labels: size/M

#5942 Bumping cloudrun Update timeout
  .changelog/3249.txt
  google/resource_cloud_run_service.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/XS

#5943 Removing the license file from third_party file
  .changelog/3279.txt
  google/test-fixtures/appengine/hello-world-flask/app.yaml
Labels: size/XS

#5944 Allow import of logging_metric in a non-default project.
  .changelog/3270.txt
  google/resource_bigquery_data_transfer_config.go
  google/resource_logging_metric.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_group.go
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_uptime_check_config.go
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/XS

#5921 Release notes
  CHANGELOG.md
Labels: size/XS

#5954 compute: subnet IAM conditions
  .changelog/3284.txt
  google/iam_compute_subnetwork.go
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/endpoints_service_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_tunnel_instance_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: documentation, size/M

#5956 Add retry for `google_kms_crypto_key_version`
  .changelog/3255.txt
  google/data_source_google_kms_crypto_key_version.go
  google/error_retry_predicates.go
Labels: size/XS

#5957 GA ILB multi-nic
  .changelog/3289.txt
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_backend_service_test.go
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/L

#5958 Add note to `google_storage_notification` about IAM policy side effects
  .changelog/3290.txt
  website/docs/r/storage_notification.html.markdown
Labels: documentation, size/XS

#5961 Access Context Manager: add support for access level condition 'regions'
  .changelog/3291.txt
  google/resource_access_context_manager_access_level.go
  google/resource_access_context_manager_access_level_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
Labels: documentation, size/S

#5962 GA google_container_cluster maintenance policy recurring window
  .changelog/3288.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  google/validation.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#5966 Add serviceusage's consumerquotaoverride and adminquotaoverride.
  .changelog/3267.txt
  google/config.go
  google/provider.go
  google/provider_handwritten_endpoint.go
  google/resource_access_context_manager_service_perimeter_resource.go
  google/resource_compute_backend_bucket_signed_url_key.go
  google/resource_compute_backend_service_signed_url_key.go
  google/resource_compute_disk_resource_policy_attachment.go
  google/resource_compute_instance_group_named_port.go
  google/resource_compute_network_endpoint.go
  google/resource_compute_network_peering_routes_config.go
  google/resource_compute_region_disk_resource_policy_attachment.go
  google/resource_compute_router_bgp_peer.go
  google/resource_compute_router_nat.go
  google/resource_google_project.go
  google/resource_google_project_service.go
  google/resource_resource_manager_lien.go
  google/resource_spanner_database.go
  google/resource_spanner_instance.go
  google/resource_vpc_access_connector.go
  google/service_usage_operation.go
  google/serviceusage_operation.go
Labels: size/L

#5968 Additional Authenticated Data AAD for Cloud KMS secrets
  .changelog/3271.txt
  google/data_source_google_kms_secret.go
  google/data_source_google_kms_secret_ciphertext_test.go
  google/data_source_google_kms_secret_test.go
  google/resource_kms_secret_ciphertext.go
  google/resource_kms_secret_ciphertext_test.go
  website/docs/d/google_kms_secret.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
Labels: documentation, size/M

#5972 ACM: service perimeter's restricted_services as set
  .changelog/3296.txt
  google/bootstrap_utils_test.go
  google/resource_access_context_manager_service_perimeter.go
Labels: size/XS

#5973 Catch googleapi errors from flattenprop
  .changelog/3292.txt
  google/resource_big_query_dataset.go
  google/resource_cloud_run_service.go
  google/resource_compute_backend_service.go
  google/resource_compute_firewall.go
  google/resource_compute_network.go
  google/resource_compute_region_backend_service.go
  google/resource_sql_source_representation_instance.go
Labels: size/XS

#5974 Add vcr tests to gke handwritten
  .changelog/3293.txt
  google/resource_container_cluster_test.go
Labels: size/L

#5975 Add docs on dataproc cluster optional_components
  .changelog/3294.txt
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XS

#5976 Remove null characters from seed when reading
  .changelog/3300.txt
  google/provider_test.go
Labels: size/XS

#5977 Do not retry requests without GetBody
  .changelog/3299.txt
  google/retry_transport.go
  google/retry_transport_test.go
Labels: size/M

#5979 Add google_service_usage_consumer_quota_override to sidebar
  .changelog/3302.txt
  website/google.erb
Labels: documentation, size/XS

#5736 storage_bucket: explain what happens when multiple conditions are specified
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#5981 Adding support for IngressSettings field to cloudfunctions. Also upda…
  .changelog/3191.txt
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/d/datasource_cloudfunctions_function.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/S

#5985 enable appengineflex service to fix app engine flex version tests
  .changelog/3286.txt
  google/resource_app_engine_flexible_app_version_generated_test.go
  google/resource_app_engine_flexible_app_version_test.go
  website/docs/r/app_engine_flexible_app_version.html.markdown
Labels: documentation, size/S

#5987 Virtual field for `google_cloud_run_service` revision names
  .changelog/3306.txt
  google/resource_cloud_run_service.go
  google/resource_cloud_run_service_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/S

#5990 Add GKE Resource Consumption Metering, promote resource export to GA
  .changelog/3303.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#5992 Modify gke vcr testacc check to not panic
  .changelog/3310.txt
  google/provider_test.go
  google/resource_container_cluster_test.go
Labels: size/XS

#5983 Add missing quotes to example for saving GCP SA key as k8s secret
  website/docs/r/google_service_account_key.html.markdown
Labels: documentation, size/XS

#5984 Adding support for VpcConnectorEgressSettings field to cloudfunctions…
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/d/datasource_cloudfunctions_function.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#5993 Add support for VpcConnectorEgressSettings field to cloudfunctions
  .changelog/3311.txt
  website/docs/d/datasource_cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#5995 Do not return container cluster sweeper errors
  .changelog/3314.txt
  google/resource_container_cluster_test.go
Labels: size/XS

#5997 Do not diffSuppress `port` when `port_specification` is not "USED_FIXED_PORT"
  .changelog/3316.txt
  google/resource_compute_health_check.go
Labels: size/XS

#5998 Add BQ SA datasource to the sidebar, plus docs and test.
  .changelog/3317.txt
  google/data_source_google_bigquery_default_service_account.go
  google/data_source_google_bigquery_default_service_account_test.go
  website/docs/d/google_bigquery_default_service_account.html.markdown
  website/google.erb
Labels: documentation, size/M

#5999 Support compute reservation resize
  .changelog/3308.txt
  google/resource_compute_reservation.go
  google/resource_compute_reservation_test.go
  website/docs/r/compute_reservation.html.markdown
Labels: documentation, size/M

#6002 Do not return most sweeper errors
  .changelog/3315.txt
  google/resource_access_context_manager_access_policy_test.go
  google/resource_cloudfunctions_function_test.go
  google/resource_sql_database_instance_test.go
Labels: size/S

#6006 ACM: service perimeter's vpc_accessible_services
  .changelog/3318.txt
  google/resource_access_context_manager_service_perimeter.go
  google/resource_access_context_manager_service_perimeter_test.go
  website/docs/r/access_context_manager_service_perimeter.html.markdown
Labels: documentation, size/L

#6007 clarify specification of audit log types
  .changelog/3136.txt
  website/docs/r/google_project_iam.html.markdown
Labels: documentation, size/XS

#6009 Add monitoring uptime check ips datasource
  .changelog/3320.txt
  google/data_source_google_monitoring_uptime_check_ips.go
  google/data_source_google_monitoring_uptime_check_ips_test.go
  google/provider.go
  website/docs/d/datasource_google_monitoring_uptime_check_ips.html.markdown
  website/google.erb
Labels: documentation, size/M

#5978 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#6010 Add deadLetterPolicy to Pub/Sub Subscription resource
  .changelog/3305.txt
  google/resource_pubsub_subscription.go
  google/resource_pubsub_subscription_generated_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: documentation, size/L

#6011 allow google_dns_managed_zone.dnssec_config to be updated
  .changelog/3313.txt
  google/resource_dns_managed_zone.go
  google/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/M

#6018 Fix TestAccDataSourceGoogleMonitoringUptimeCheckIps_basic
  .changelog/3323.txt
  google/data_source_google_monitoring_uptime_check_ips_test.go
Labels: size/XS

#6014 Make batching documentation match code
  website/docs/guides/provider_reference.html.markdown
Labels: documentation, size/XS

#6019 storage bucket IAM diff suppress
  .changelog/3324.txt
  google/iam_storage_bucket.go
Labels: size/XS
