Repository hashicorp/terraform-provider-google, pull requests merged in 2020-10, with the labels that each got.

#7407 Add label diff suppress to Cloud Run Domain Mapping
  .changelog/4037.txt
  google/resource_cloud_run_domain_mapping.go
Labels: size/XS

#7080 Add support for bigquery materialized views
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: size/XL

#7408 Allow management of old AppEngine resources from before CLOUD_DATASTORE_COMPATIBILITY.
  .changelog/4006.txt
  google/resource_app_engine_application.go
  website/docs/r/app_engine_application.html.markdown
Labels: size/XS

#7409 fixed error when a boolean field set to false
  .changelog/4004.txt
  google/resource_data_catalog_tag.go
  google/resource_data_catalog_tag_generated_test.go
Labels: size/M

#7406 Note that recurring_window should use UTC time
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7410 Add Bigtable Table IAM Resources
  .changelog/3981.txt
  google/config.go
  google/iam_bigtable_table.go
  google/provider.go
  google/resource_bigtable_table_iam_test.go
  website/docs/r/bigtable_table_iam.html.markdown
  website/google.erb
Labels: size/XL

#7411 Mark dataflow_flex_template labels as deprecated
  .changelog/4039.txt
  website/docs/r/dataflow_flex_template_job.html.markdown
Labels: size/XS

#7412 Node_config image_type case diff suppress
  .changelog/4029.txt
  google/node_config.go
  google/resource_container_cluster_test.go
Labels: size/XS

#7388 adds google_cloud_run_service data source
  google/data_source_cloud_run_service.go
  google/data_source_cloud_run_service_test.go
  google/provider.go
  website/docs/d/cloud_run_service.html.markdown
  website/google.erb
Labels: size/L

#7415 Add google_cloud_run_service datasource
  .changelog/4036.txt
  website/docs/d/cloud_run_service.html.markdown
Labels: size/XS

#7416 feat: Add forwarding_path to google_dns_policy
  .changelog/4045.txt
  google/resource_dns_policy.go
  google/resource_dns_policy_generated_test.go
  google/resource_dns_policy_test.go
  website/docs/r/dns_policy.html.markdown
Labels: size/S

#7418 Add location to bigquery job self_link
  .changelog/4043.txt
  google/resource_big_query_job.go
  google/resource_bigquery_job_test.go
  website/docs/r/bigquery_job.html.markdown
Labels: size/M

#7157 Use cloud.json to find out cloud-netblocks
  google/data_source_google_netblock_ip_ranges.go
Labels: size/M

#7429 Stateful MIG -> GA
  .changelog/4047.txt
  google/provider.go
  google/resource_compute_instance_group_manager.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_per_instance_config.go
  google/resource_compute_per_instance_config_test.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_region_instance_group_manager_test.go
  google/resource_compute_region_per_instance_config.go
  google/resource_compute_region_per_instance_config_test.go
  google/stateful_mig_polling.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
  website/google.erb
Labels: size/XXL

#7430 Refactoring clients (the rest of them)
  .changelog/4035.txt
  google/appengine_operation.go
  google/cloudfunctions_operation.go
  google/composer_operation.go
  google/config.go
  google/data_source_google_bigquery_default_service_account.go
  google/data_source_google_billing_account.go
  google/data_source_google_storage_transfer_project_service_account.go
  google/dataproc_cluster_operation.go
  google/dataproc_job_operation.go
  google/iam_bigtable_instance.go
  google/iam_bigtable_table.go
  google/iam_billing_account.go
  google/iam_dataproc_cluster.go
  google/iam_dataproc_job.go
  google/iam_healthcare_dataset.go
  google/iam_healthcare_dicom_store.go
  google/iam_healthcare_fhir_store.go
  google/iam_healthcare_hl7_v2_store.go
  google/iam_spanner_database.go
  google/iam_spanner_instance.go
  google/provider_test.go
  google/resource_app_engine_application.go
  google/resource_big_query_dataset_test.go
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  google/resource_bigtable_gc_policy.go
  google/resource_bigtable_gc_policy_test.go
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
  google/resource_bigtable_table.go
  google/resource_bigtable_table_test.go
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  google/resource_composer_environment.go
  google/resource_composer_environment_test.go
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  google/resource_dataproc_job.go
  google/resource_dataproc_job_test.go
  google/resource_google_billing_account_iam_test.go
  google/resource_google_project.go
  google/resource_google_project_test.go
  google/resource_healthcare_dataset_iam_test.go
  google/resource_healthcare_dataset_test.go
  google/resource_healthcare_dicom_store_iam_test.go
  google/resource_healthcare_dicom_store_test.go
  google/resource_healthcare_fhir_store_iam_test.go
  google/resource_healthcare_fhir_store_test.go
  google/resource_healthcare_hl7_v2_store_iam_test.go
  google/resource_healthcare_hl7_v2_store_test.go
  google/resource_service_networking_connection.go
  google/resource_service_networking_connection_test.go
  google/resource_storage_transfer_job.go
  google/resource_storage_transfer_job_test.go
  google/service_networking_operation.go
Labels: size/XL

#7405 Release notes 3.42.0
  CHANGELOG.md
Labels: size/XS

#7433 Make RegionBackendService health checks optional
  .changelog/4053.txt
  google/resource_compute_backend_service.go
  google/resource_compute_region_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: size/S

#7434 Add Global forwarding rule datasource
  .changelog/4052.txt
  google/data_source_google_global_compute_forwarding_rule.go
  google/data_source_google_global_compute_forwarding_rule_test.go
  google/provider.go
  website/docs/d/compute_global_forwarding_rule.html.markdown
  website/google.erb
Labels: size/M

#7436 Upstream https://github.com/hashicorp/terraform-provider-google/pull/7349
  .changelog/4040.txt
  website/docs/r/app_engine_application.html.markdown
Labels: size/XS

#7437 Fix Regional Forwarding rule datasource to use the new style.
  .changelog/4051.txt
  google/data_source_google_compute_forwarding_rule.go
  google/data_source_google_compute_forwarding_rule_test.go
  website/docs/d/compute_forwarding_rule.html.markdown
Labels: size/L

#7442 Update terminology for IAM roles
  .changelog/4056.txt
  google/resource_big_query_dataset.go
  google/resource_big_query_dataset_access.go
  website/docs/r/bigquery_dataset.html.markdown
  website/docs/r/bigquery_dataset_access.html.markdown
Labels: size/S

#7444 Clarification on the use of the 'roles/owner' role
  .changelog/4059.txt
  website/docs/r/google_project_iam.html.markdown
Labels: size/XS

#7445 Fix mixed up client name
  .changelog/4057.txt
  google/config.go
  google/resource_bigtable_gc_policy.go
  google/resource_bigtable_gc_policy_test.go
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
  google/resource_bigtable_table.go
  google/resource_bigtable_table_test.go
Labels: size/S

#7446 Change condition age example to an integer
  .changelog/3993.txt
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#7426 Add data source for pubsub topics
  google/data_source_pubsub_topic.go
  google/data_source_pubsub_topic_test.go
  google/provider.go
  website/docs/d/pubsub_topic.html.markdown
  website/google.erb
Labels: size/L

#7448 Add data source for pubsub topics
  .changelog/4062.txt
  website/google.erb
Labels: size/XS

#7452 Skip cmek test
  .changelog/4063.txt
  google/resource_compute_snapshot_test.go
Labels: size/XS

#7453 fix deleting monitoring dashboards
  .changelog/4064.txt
  google/resource_monitoring_dashboard.go
Labels: size/XS

#7454 Upstream https://github.com/hashicorp/terraform-provider-google/pull/7350
  .changelog/4041.txt
  website/docs/r/service_networking_connection.html.markdown
Labels: size/XS

#7457 Fix id token datasource
  .changelog/4058.txt
  google/data_source_google_service_account_id_token.go
  google/provider_test.go
  website/docs/d/service_account_id_token.html.markdown
  website/google.erb
Labels: size/S

#7451 Add support for Monthly/Yearly BigQuery Partitioning
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
Labels: size/M

#7461 Add support for Monthly/Yearly BigQuery Partitioning
  .changelog/4067.txt
  website/docs/r/bigquery_table.html.markdown
Labels: size/XS

#7465 Update organization.html.markdown to clarify permissions, organization value format
  .changelog/4069.txt
  website/docs/d/organization.html.markdown
Labels: size/XS

#7466 docs(bigquery): remove list of location
  .changelog/4070.txt
  google/resource_big_query_dataset.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: size/XS

#7468 fix permadiff with new access approval cloud product mappings
  .changelog/4065.txt
  google/resource_access_approval_folder_settings.go
  google/resource_access_approval_organization_settings.go
  google/resource_access_approval_organization_settings_test.go
  google/resource_access_approval_project_settings.go
  website/docs/r/access_approval_folder_settings.html.markdown
Labels: size/M

#7447 Adds serviceusage api in precheck function
  google/resource_google_project.go
Labels: size/XS

#7470 update tf website documentation index page
  .changelog/4075.txt
  website/docs/index.html.markdown
Labels: size/XS

#7335 Add exclusions option for logging sink resources
  google/resource_logging_project_sink_test.go
  google/resource_logging_sink.go
  website/docs/r/logging_project_sink.html.markdown
Labels: size/L

#7482 Terraform 7459 redis AUTH support in beta
  .changelog/4079.txt
  website/docs/d/redis_instance.html.markdown
Labels: size/M

#7485 Added field graceful_decomissioning_timeout to resource dataproc_cluster
  .changelog/4078.txt
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/S

#7487 Added stackdriver_logging_config to cloud_tasks_queue resource
  .changelog/4077.txt
  google/resource_cloud_tasks_queue.go
  google/resource_cloud_tasks_queue_generated_test.go
  google/resource_cloud_tasks_queue_test.go
  website/docs/r/cloud_tasks_queue.html.markdown
Labels: size/L

#7488 Add Image filters to google_compute_image.
  .changelog/4026.txt
  google/data_source_google_compute_image.go
  google/data_source_google_compute_image_test.go
  website/docs/d/compute_image.html.markdown
Labels: size/M

#7489 use sweeper-friendly delete url for activedirectory domain
  .changelog/4087.txt
  google/resource_active_directory_domain.go
  google/resource_active_directory_domain_sweeper_test.go
Labels: size/XS

#7492 Support logs bucket creation and custom ID's
  .changelog/4033.txt
  google/resource_logging_bucket_config.go
  google/resource_logging_bucket_config_test.go
  website/docs/r/logging_project_bucket_config.html.markdown
Labels: size/M

#7495 update variable name configList
  .changelog/4090.txt
  google/resource_logging_bucket_config_test.go
Labels: size/XS

#7171 Update storage_bucket.html.markdown
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#7498 cloudrun: adds GKE caveat to minScale annotation
  .changelog/4068.txt
  google/resource_cloud_run_service.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#7499 Add delete_protection to SQL Instances + Service Networking Pre Create Checks
  .changelog/3954.txt
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  google/resource_sql_database_test.go
  google/resource_sql_ssl_cert_test.go
  google/resource_sql_user_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XL

#7500 send empty value for [region]healthcheck description
  .changelog/4082.txt
  google/resource_compute_health_check.go
  google/resource_compute_health_check_test.go
  google/resource_compute_region_health_check.go
  google/resource_compute_region_health_check_test.go
Labels: size/XS

#7504 update to use new service networking client
  .changelog/4092.txt
  google/resource_sql_database_instance.go
Labels: size/XS

#7490 Fixing the gcloud service list command example
  website/docs/r/google_project_service.html.markdown
Labels: size/XS

#7505 allow setting a project on oslogin ssh key
  .changelog/4085.txt
  google/resource_os_login_ssh_public_key.go
  google/resource_os_login_ssh_public_key_generated_test.go
  website/docs/r/os_login_ssh_public_key.html.markdown
Labels: size/M

#7507 Address bigquery's low-but-fast-refreshing quota by accepting and retrying quota errors.
  .changelog/4094.txt
  google/error_retry_predicates.go
  google/resource_big_query_dataset_access.go
Labels: size/XS

#7508 add deletion_protection=false to tests with sql_database_instance
  .changelog/4096.txt
  google/data_source_google_sql_ca_certs_test.go
  google/data_source_sql_database_instance_test.go
  google/resource_cloud_run_service_generated_test.go
  google/resource_sql_database_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/sql_database.html.markdown
Labels: size/S

#7510 Add Node group maintenance policy
  .changelog/4097.txt
  google/resource_compute_node_group.go
  google/resource_compute_node_group_generated_test.go
  website/docs/r/compute_node_group.html.markdown
Labels: size/L

#7511 Add a warning about User ADCs for Cloud Identity Resources.
  .changelog/4095.txt
  website/docs/r/cloud_identity_group.html.markdown
  website/docs/r/cloud_identity_group_membership.html.markdown
Labels: size/XS

#7513 add scott to random reviewer rotation
  .hashibot.hcl
Labels: size/XS

#7519 add retry to disable project services, update serviceUsageServiceBeingActivated
  .changelog/4098.txt
  google/error_retry_predicates.go
  google/resource_google_project_service.go
Labels: size/XS

#7520 Bump IAP brand target occurrences to ease eventual consistency
  .changelog/4044.txt
  google/resource_iap_brand.go
Labels: size/XS

#7521 update execute time for os_config_patch_deployment test
  .changelog/4103.txt
  google/resource_os_config_patch_deployment_generated_test.go
  website/docs/r/os_config_patch_deployment.html.markdown
Labels: size/XS

#7523 regex fixed for global network endpoint import
  .changelog/4100.txt
  google/resource_compute_global_network_endpoint.go
  website/docs/r/compute_global_network_endpoint.html.markdown
Labels: size/S

#7524 add access_context_manager_access_level_condition
  .changelog/4074.txt
  google/provider.go
  google/resource_access_context_manager_access_level_condition.go
  google/resource_access_context_manager_access_level_condition_test.go
  google/resource_access_context_manager_access_policy_test.go
  website/docs/r/access_context_manager_access_level_condition.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/google.erb
Labels: size/XXL

#7441 GKE documentation recommends default oauth scope
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7525 Upstream GKE scopes description
  .changelog/4101.txt
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7529 Fix a typo in "detatch" word, add a "do".
  .changelog/4107.txt
  google/resource_compute_instance_group_manager.go
  google/resource_compute_per_instance_config.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_region_per_instance_config.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
Labels: size/XS

#7531 use e2 vms, part 2
  .changelog/4105.txt
  google/data_source_google_compute_instance_group_test.go
  google/data_source_google_compute_instance_serial_port_test.go
  google/data_source_google_compute_instance_test.go
  google/data_source_google_compute_region_instance_group_test.go
  google/iam_compute_instance_generated_test.go
  google/iam_iap_tunnel_instance_generated_test.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_instance_group_test.go
  google/resource_compute_instance_iam_test.go
  google/resource_compute_network_endpoint_test.go
  google/resource_compute_per_instance_config_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_compute_region_autoscaler_test.go
  google/resource_compute_region_backend_service_generated_test.go
  google/resource_compute_region_backend_service_test.go
  google/resource_compute_region_disk_test.go
  google/resource_compute_region_instance_group_manager_test.go
  google/resource_compute_target_instance_generated_test.go
  google/resource_network_management_connectivity_test_resource_generated_test.go
  google/resource_os_config_patch_deployment_generated_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_machine_image.html.markdown
  website/docs/r/compute_network_endpoint.html.markdown
  website/docs/r/compute_packet_mirroring.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
  website/docs/r/compute_target_instance.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
  website/docs/r/network_management_connectivity_test_resource.html.markdown
  website/docs/r/notebooks_instance.html.markdown
  website/docs/r/os_config_guest_policies.html.markdown
  website/docs/r/os_config_patch_deployment.html.markdown
Labels: size/L

#7535 combine all access approval tests to run serially
  .changelog/4104.txt
  google/resource_access_approval_folder_settings_test.go
  google/resource_access_approval_organization_settings_test.go
  google/resource_access_approval_project_settings_test.go
Labels: size/S

#7536 add docs for create_before_destroy on network endpoint groups
  .changelog/4114.txt
  website/docs/r/compute_global_network_endpoint_group.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
  website/docs/r/compute_region_network_endpoint_group.html.markdown
Labels: size/XS

#7537 Add Spanner instance datasource
  .changelog/4111.txt
  google/data_source_spanner_instance.go
  google/data_source_spanner_instance_test.go
  google/provider.go
  website/docs/d/spanner_instance.html.markdown
  website/google.erb
Labels: size/M

#7540 add deletion_protection=false to bigquery connection dbs
  .changelog/4106.txt
  website/docs/r/bigquery_connection.html.markdown
Labels: size/XS

#7542 Implement Service Account Impersonation
  .changelog/4015.txt
  google/config.go
  google/config_test.go
  google/provider.go
  website/docs/guides/provider_reference.html.markdown
Labels: size/L

#7543 Add iam policy resources for netbook instance
  .changelog/4112.txt
  website/docs/r/notebooks_environment.html.markdown
  website/docs/r/notebooks_instance.html.markdown
  website/docs/r/notebooks_instance_iam.html.markdown
  website/google.erb
Labels: size/L

#7544 Update google_billing_budget resource to add disable_default_iam_recipients
  .changelog/4050.txt
  website/docs/r/billing_budget.html.markdown
Labels: size/XS

#7554 add interface attribute to google_compute_disk
  .changelog/4116.txt
  website/docs/r/compute_disk.html.markdown
Labels: size/XS

#7552 remove megan07 as reviewer
  .hashibot.hcl
Labels: size/XS

#7555 fix doc formatting errors
  .changelog/4118.txt
  google/resource_compute_address.go
  google/resource_compute_backend_service.go
  google/resource_compute_image.go
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_health_check.go
  google/resource_compute_region_url_map.go
  google/resource_compute_url_map.go
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_image.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
  website/docs/r/compute_region_url_map.html.markdown
  website/docs/r/compute_url_map.html.markdown
Labels: size/XL

#7556 Remove TestAccProviderMeta_setModuleName from VCR
  .changelog/4108.txt
  google/provider_test.go
Labels: size/XS

#7557 Terraform 7456 spanner database deletion protection
  .changelog/4117.txt
  google/resource_app_engine_flexible_app_version.go
  google/resource_app_engine_standard_app_version.go
  google/resource_big_query_dataset.go
  google/resource_cloud_run_service.go
  google/resource_compute_network.go
  google/resource_compute_per_instance_config.go
  google/resource_compute_region_per_instance_config.go
  google/resource_dns_managed_zone.go
  google/resource_spanner_database.go
  google/resource_spanner_database_generated_test.go
  google/resource_spanner_database_iam_test.go
  google/resource_spanner_database_test.go
  website/docs/r/spanner_database.html.markdown
Labels: size/M

#7559 Change exactly one of in VPN tunnel to conflicts with
  .changelog/4120.txt
  google/resource_compute_vpn_tunnel.go
Labels: size/XS

#7561 fix TestAccNotebooksInstance_notebookInstanceFullExample
  .changelog/4122.txt
  website/docs/r/notebooks_instance.html.markdown
Labels: size/XS

#7567 VPC network custom MTU support
  .changelog/4126.txt
  google/resource_compute_network.go
  google/resource_compute_network_generated_test.go
  website/docs/r/compute_network.html.markdown
Labels: size/M

#7569 mark nil errors as nil instead of non-retryable
  .changelog/4124.txt
  google/retry_transport.go
Labels: size/XS

#7572 Update doc service networking connection
  .changelog/3108.txt
  website/docs/r/service_networking_connection.html.markdown
Labels: size/XS

#7573 Update local provider instructions for `0.13+`
  .github/CONTRIBUTING.md
Labels: size/XS

#7575 Add maxUtilization field to hash function of BackendService
  .changelog/3938.txt
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_test.go
Labels: size/M

#7579 added new resource bq/routine
  .changelog/4109.txt
  google/provider.go
  google/resource_big_query_routine.go
  google/resource_big_query_routine_generated_test.go
  google/resource_big_query_routine_sweeper_test.go
  google/resource_big_query_routine_test.go
  website/docs/r/bigquery_routine.html.markdown
  website/google.erb
Labels: size/XXL

#7580 add iam workload identity federation
  .changelog/4071.txt
  google/resource_iam_beta-workload_identity_pool_id_test.go
  google/resource_iam_beta_workload_identity_pool_test.go
  website/docs/r/iam_workload_identity_pool.html.markdown
  website/google.erb
Labels: size/L

#7566 Bumped google api dependency to 0.33.0
  go.mod
  go.sum
Labels: size/XS

#7584 Mark google_pubsub_subscription.enable_message_ordering as ForceNew
  .changelog/4128.txt
  google/resource_pubsub_subscription.go
Labels: size/XS

#7585 Added newline after virtual fields in documentation generation
  .changelog/4131.txt
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/app_engine_standard_app_version.html.markdown
  website/docs/r/bigquery_dataset.html.markdown
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/cloudiot_device_registry.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_network.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
  website/docs/r/compute_region_ssl_certificate.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/spanner_database.html.markdown
Labels: size/XS

#7588 Add taxonomy and policy_tag resources to data_catalog product
  .changelog/4076.txt
  website/docs/r/data_catalog_policy_tag.html.markdown
  website/docs/r/data_catalog_policy_tag_iam.html.markdown
  website/docs/r/data_catalog_taxonomy.html.markdown
  website/docs/r/data_catalog_taxonomy_iam.html.markdown
  website/google.erb
Labels: size/XL

#7591 use e2 vms, part 3
  .changelog/4113.txt
  google/resource_compute_instance_migrate_test.go
  google/resource_compute_region_per_instance_config_test.go
  google/resource_compute_resource_policy_test.go
  google/resource_compute_route_test.go
  google/resource_compute_target_pool_test.go
  google/resource_container_cluster_test.go
  google/resource_container_node_pool_test.go
  google/resource_dataflow_job_test.go
  google/resource_dataproc_cluster_iam_test.go
  google/resource_dataproc_cluster_test.go
  google/resource_dataproc_job_test.go
  google/resource_network_management_connectivity_test_resource_test.go
  website/docs/d/compute_instance_serial_port.html.markdown
  website/docs/d/kms_secret_ciphertext.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_attached_disk.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_from_template.html.markdown
  website/docs/r/compute_instance_group.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: size/M

#7592 relax load balancing scheme validation of region backend service
  .changelog/4125.txt
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_backend_service_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: size/M

#7596 Add Build Enviroment Vars to Cloud Functions
  .changelog/4133.txt
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  google/utils.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/M

#7618 region NEG moved to TPG
  .changelog/4139.txt
  google/provider.go
  google/resource_compute_region_network_endpoint_group.go
  google/resource_compute_region_network_endpoint_group_generated_test.go
  google/resource_compute_region_network_endpoint_group_sweeper_test.go
  website/docs/r/compute_region_network_endpoint_group.html.markdown
Labels: size/XXL

#7619 update network peering custom routes
  .changelog/4138.txt
  google/resource_compute_network_peering.go
  google/resource_compute_network_peering_test.go
Labels: size/M

#7622 Don't run sql precheck if projects.get call fails
  .changelog/4141.txt
  google/resource_service_networking_connection.go
  google/resource_sql_database_instance.go
Labels: size/S

#7623 Apply dsf to google_compute_health_check port value with no portspec
  .changelog/4143.txt
  google/resource_compute_health_check.go
Labels: size/XS

#7626 Add API Gateway resources
  .changelog/4066.txt
  google/resource_api_gateway_api_config_test.go
  google/resource_api_gateway_api_test.go
  google/resource_api_gateway_gateway_test.go
  google/test-fixtures/apigateway/openapi.yaml
  website/docs/r/api_gateway_api.html.markdown
  website/docs/r/api_gateway_api_config.html.markdown
  website/docs/r/api_gateway_api_config_iam.html.markdown
  website/docs/r/api_gateway_api_iam.html.markdown
  website/docs/r/api_gateway_gateway.html.markdown
  website/docs/r/api_gateway_gateway_iam.html.markdown
  website/google.erb
Labels: size/XXL

#7602 Add v3.45.0 changelog
  CHANGELOG.md
Labels: size/M

#7630 rename test resources so they get swept
  .changelog/4144.txt
  google/resource_compute_instance_from_template_test.go
Labels: size/S

#7631 add more messages to retry on for monitoring
  .changelog/4145.txt
  google/error_retry_predicates.go
Labels: size/XS

#7632 Added conditions to Cloud Asset Feeds
  .changelog/4023.txt
  google/resource_cloud_asset_folder_feed.go
  google/resource_cloud_asset_folder_feed_generated_test.go
  google/resource_cloud_asset_organization_feed.go
  google/resource_cloud_asset_organization_feed_generated_test.go
  google/resource_cloud_asset_project_feed.go
  google/resource_cloud_asset_project_feed_generated_test.go
  website/docs/r/cloud_asset_folder_feed.html.markdown
  website/docs/r/cloud_asset_organization_feed.html.markdown
  website/docs/r/cloud_asset_project_feed.html.markdown
Labels: size/XL

#7633 Add scheduleOptions to BigQuery Data Transfer
  .changelog/3895.txt
  google/resource_bigquery_data_transfer_config.go
  google/resource_bigquery_data_transfer_config_test.go
  website/docs/r/bigquery_data_transfer_config.html.markdown
Labels: size/L

#7635 Add IAP Tunnel IAM Resource
  .changelog/4137.txt
  google/iam_iap_tunnel.go
  google/iam_iap_tunnel_generated_test.go
  google/provider.go
  website/docs/r/iap_tunnel_iam.html.markdown
  website/google.erb
Labels: size/XL

#7640 Add note on referencing instance template from within stateful MIG
  .changelog/4152.txt
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
Labels: size/XS

#7641 Updated disruption budget to use API-correct percent key instead of p…
  .changelog/4148.txt
  google/resource_os_config_patch_deployment.go
Labels: size/XS

#7648 Remove Logging bucket location from the Docs
  .changelog/4154.txt
  google/resource_logging_bucket_config.go
  website/docs/r/logging_billing_account_bucket_config.html.markdown
  website/docs/r/logging_folder_bucket_config.html.markdown
  website/docs/r/logging_project_bucket_config.html.markdown
Labels: size/XS

#7650 Add support for custom info types to inspect template.
  .changelog/4146.txt
  google/resource_data_loss_prevention_inspect_template.go
  google/resource_data_loss_prevention_inspect_template_generated_test.go
  website/docs/r/data_loss_prevention_inspect_template.html.markdown
Labels: size/XL

#7651 Direct google access
  .changelog/4034.txt
  google/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/M

#7664 Add MQL based alerts
  .changelog/4157.txt
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_alert_policy_test.go
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: size/XL

#7665 feat(bigquery-data-transfer): add email preferences
  .changelog/4156.txt
  google/resource_bigquery_data_transfer_config.go
  google/resource_bigquery_data_transfer_config_test.go
  website/docs/r/bigquery_data_transfer_config.html.markdown
Labels: size/M

#7667 Clarify description of filter_expr
  .changelog/4161.txt
  google/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/XS

#7675 Fix mentions of GCP products not compliant with Branding Guidelines
  .changelog/4165.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_dataflow_job.go
  google/resource_sql_database_instance.go
  google/resource_storage_bucket.go
  google/resource_storage_notification.go
Labels: size/XS

#7676 Convert all the range values to be doubles and add a test that uses a double.
  .changelog/4162.txt
  google/resource_monitoring_slo.go
  google/resource_monitoring_slo_generated_test.go
  website/docs/r/monitoring_slo.html.markdown
Labels: size/L

#7678 Release 3.45.0
  CHANGELOG.md
Labels: size/S

#7684 Bump google api version to v0.34.0
  go.mod
  go.sum
  google/resource_storage_transfer_job.go
  google/resource_storage_transfer_job_test.go
Labels: size/XS

#7541 Adds new resource to manage default service accounts
  google/provider.go
  google/provider_test.go
  google/resource_google_project_default_service_accounts.go
  google/resource_google_project_default_service_accounts_test.go
  website/docs/r/google_project_default_service_accounts.html.markdown
  website/google.erb
Labels: size/XL
