Repository hashicorp/terraform-provider-google, pull requests merged in 2020-05, with the labels that each got.

#6262 Add back requireds on stripquery
  .changelog/3443.txt
  google/resource_compute_region_url_map.go
  google/resource_compute_url_map.go
  website/docs/r/compute_region_url_map.html.markdown
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/M

#6265 Add default value for advertise_mode on compute_router_peer
  .changelog/3454.txt
  google/resource_compute_router_bgp_peer.go
Labels: size/XS

#6271 Fix metadata for storage bucket object
  .changelog/3458.txt
  google/data_source_google_storage_bucket_object.go
  google/resource_storage_bucket_object.go
Labels: size/XS

#6272 Change credentials to sensitive
  .changelog/3462.txt
  google/data_source_storage_object_signed_url.go
Labels: size/XS

#6264 Revert stripquery
  .changelog/3443.txt
  CHANGELOG.md
  google/resource_compute_url_map.go
  website/docs/r/compute_url_map.html.markdown
Labels: size/XXL

#6273 kalm (K8s Application lifecycle manager) addon config added
  .changelog/3459.txt
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#6278 Make retryConfig computed for Cloud Scheduler jobs
  .changelog/3463.txt
  google/resource_cloud_scheduler_job.go
  google/resource_cloud_scheduler_job_generated_test.go
  google/resource_cloud_scheduler_job_test.go
  google/resource_cloudscheduler_job_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: documentation, size/M

#6279 Stateful mig instance
  .changelog/3440.txt
  google/resource_compute_per_instance_config_test.go
Labels: size/XS

#6280 Fix bigquery table google_sheets_options
  .changelog/3457.txt
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
Labels: size/M

#6288 Fix tests requiring strip_query
  .changelog/3465.txt
  google/resource_compute_region_target_http_proxy_generated_test.go
  google/resource_compute_region_url_map_test.go
  google/resource_compute_target_http_proxy_generated_test.go
  google/resource_compute_url_map_test.go
  website/docs/r/compute_region_target_http_proxy.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
Labels: documentation, size/XS

#6289 add version to FHIR tests
  .changelog/3464.txt
  google/resource_healthcare_fhir_store_iam_test.go
  google/resource_healthcare_fhir_store_test.go
Labels: size/XS

#6290 Replace self link 1 for #5542
  .changelog/3467.txt
  google/iam_iap_web_backend_service_generated_test.go
  google/resource_compute_backend_service_generated_test.go
  google/resource_compute_forwarding_rule_generated_test.go
  google/resource_dns_managed_zone_generated_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/M

#6299 Add dataproc component gateway
  .changelog/2526.txt
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XS

#6303 Move enable_shielded_nodes from beta to GA.
  .changelog/3472.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#6304 Move cloudrun_config from beta to GA, fix doc.
  .changelog/3470.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#6305 Cause node pool to be written to statefile even if creation fails.
  .changelog/3476.txt
  google/resource_container_node_pool.go
Labels: size/XS

#6307 Fix bigquery dataset access iam roles with primative equivalent
  .changelog/3471.txt
  google/resource_big_query_dataset.go
  google/resource_big_query_dataset_access.go
  google/resource_bigquery_dataset_access_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/M

#6254 Update High Availability flag to mention Cloud SQL instances
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#6314 Provide links to other objects
  .changelog/3430.txt
  website/docs/r/compute_disk_resource_policy_attachment.html.markdown
  website/docs/r/compute_region_disk_resource_policy_attachment.html.markdown
Labels: documentation, size/XS

#6316 Remove unsupported consistent hash for backend services in decoder
  .changelog/3468.txt
  google/resource_compute_backend_service.go
  google/resource_compute_region_backend_service.go
Labels: size/S

#6318 Retry internal errors from cloud SQL.
  .changelog/3469.txt
  google/error_retry_predicates.go
  google/resource_sql_database_instance.go
  google/resource_sql_user.go
Labels: size/S

#6321 Stateful mig instance regional
  .changelog/3466.txt
  google/resource_compute_region_per_instance_config_test.go
Labels: size/XS

#6324 VCR body comparison fixes
  .changelog/3461.txt
  google/config.go
  google/iam.go
  google/metadata.go
  google/provider.go
  google/provider_test.go
  google/resource_google_folder_iam_binding_test.go
  google/resource_google_folder_iam_member_test.go
  google/resource_google_folder_iam_policy_test.go
  google/resource_google_project_iam_audit_config_test.go
  google/resource_google_project_iam_binding_test.go
  google/resource_google_project_iam_member_test.go
  google/resource_google_project_iam_policy_test.go
  google/resource_identity_platform_inbound_saml_config_generated_test.go
  google/resource_identity_platform_oauth_idp_config_generated_test.go
  google/resource_identity_platform_tenant_inbound_saml_config_generated_test.go
  google/resource_identity_platform_tenant_oauth_idp_config_generated_test.go
  google/resource_sql_ssl_cert_test.go
  google/resource_storage_hmac_key_generated_test.go
  google/utils.go
Labels: size/L

#6327 Add region_backend_service portName
  .changelog/3265.txt
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_backend_service_test.go
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/S

#6330 Add new enum values to dataproc cluster.
  .changelog/3483.txt
  google/resource_dataproc_cluster.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XS

#6331 Fix test with partial revert of #3467.
  .changelog/3492.txt
  google/resource_dns_managed_zone_generated_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/XS

#6339 Dialogflow EntityType Resource
  .changelog/3487.txt
  google/provider.go
  google/resource_dialogflow_entity_type.go
  google/resource_dialogflow_entity_type_test.go
  website/docs/r/dialogflow_entity_type.html.markdown
  website/google.erb
Labels: documentation, size/XL

#6343 add docs for app engine application iap block
  .changelog/3495.txt
  website/docs/r/app_engine_application.html.markdown
Labels: documentation, size/XS

#6344 Set network_tier to forcenew.
  .changelog/3493.txt
  google/resource_compute_instance_template.go
Labels: size/XS

#6347 Remove portNames for default INTERNAL backend services in tests
  .changelog/3497.txt
  google/resource_compute_region_backend_service_test.go
Labels: size/XS

#6349 Replace self_link (part 2 of #5542)
  .changelog/3478.txt
  google/resource_compute_global_forwarding_rule_generated_test.go
  google/resource_compute_network_endpoint_group_generated_test.go
  google/resource_compute_network_peering_routes_config_generated_test.go
  google/resource_compute_node_group_generated_test.go
  google/resource_redis_instance_generated_test.go
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_global_network_endpoint.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_network_endpoint.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
  website/docs/r/compute_network_peering_routes_config.html.markdown
  website/docs/r/compute_node_group.html.markdown
  website/docs/r/kms_crypto_key.html.markdown
  website/docs/r/pubsub_topic.html.markdown
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/M

#6310 Release 3.21.0
  CHANGELOG.md
Labels: size/S

#6353 Added support for request-based SLIs in monitoring SLO
  .changelog/3491.txt
  google/resource_app_engine_domain_mapping.go
  google/resource_kms_crypto_key.go
  google/resource_monitoring_slo.go
  google/resource_monitoring_slo_generated_test.go
  google/resource_monitoring_slo_test.go
  website/docs/r/monitoring_slo.html.markdown
Labels: documentation, size/XL

#6355 report bucket name when not empty while deleting
  .changelog/3501.txt
  google/resource_storage_bucket.go
Labels: size/XS

#6357 add deletion_protection field for bigtable instance
  .changelog/3450.txt
  google/resource_bigtable_app_profile_generated_test.go
  google/resource_bigtable_app_profile_test.go
  google/resource_bigtable_gc_policy_test.go
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_iam_test.go
  google/resource_bigtable_instance_migrate.go
  google/resource_bigtable_instance_test.go
  google/resource_bigtable_table_test.go
  website/docs/r/bigtable_app_profile.html.markdown
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/L

#6358 Add Cloud Run - Traffic Splitting example
  .changelog/3500.txt
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/S

#6360 Use "terraform" in "client-name" annotation
  .changelog/3504.txt
  google/resource_cloud_run_service_generated_test.go
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/XS

#6365 configConnector GKE addon config added to cluster resource
  .changelog/3498.txt
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#6367 if google_compute_region_disk_resource_policy_attachment is empty, shouldn't error
  .changelog/3499.txt
  google/resource_access_context_manager_service_perimeter_resource.go
  google/resource_big_query_dataset_access.go
  google/resource_compute_backend_bucket_signed_url_key.go
  google/resource_compute_backend_service_signed_url_key.go
  google/resource_compute_disk_resource_policy_attachment.go
  google/resource_compute_global_network_endpoint.go
  google/resource_compute_instance_group_named_port.go
  google/resource_compute_network_endpoint.go
  google/resource_compute_network_peering_routes_config.go
  google/resource_compute_region_disk_resource_policy_attachment.go
  google/resource_compute_router_bgp_peer.go
  google/resource_compute_router_nat.go
  google/resource_resource_manager_lien.go
Labels: size/S

#6373 Add support for GKE release channel updates
  .changelog/3509.txt
  google/resource_container_cluster.go
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#6375 Vcr ignore tests
  .changelog/3486.txt
  google/bootstrap_utils_test.go
  google/data_source_compute_network_endpoint_group_test.go
  google/data_source_google_compute_region_instance_group_test.go
  google/metadata.go
  google/provider.go
  google/provider_test.go
  google/resource_access_context_manager_service_perimeter_resource_test.go
  google/resource_bigquery_dataset_access_test.go
  google/resource_compute_disk_test.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_instance_iam_test.go
  google/resource_compute_instance_template_test.go
  google/resource_compute_instance_test.go
  google/resource_compute_network_endpoint_test.go
  google/resource_compute_region_instance_group_manager_test.go
  google/resource_compute_region_ssl_certificate_generated_test.go
  google/resource_compute_ssl_certificate_generated_test.go
  google/resource_compute_ssl_certificate_test.go
  google/resource_container_cluster_test.go
  google/resource_container_node_pool_test.go
  google/resource_dialogflow_intent_test.go
  google/resource_dns_managed_zone_generated_test.go
  google/resource_google_folder_iam_binding_test.go
  google/resource_google_folder_iam_member_test.go
  google/resource_google_organization_iam_audit_config_test.go
  google/resource_google_project_iam_audit_config_test.go
  google/resource_google_project_iam_binding_test.go
  google/resource_google_project_iam_member_test.go
  google/resource_google_project_service_test.go
  google/resource_spanner_database_generated_test.go
  google/resource_spanner_instance_generated_test.go
  google/resource_spanner_instance_test.go
  google/resource_sql_database_instance_test.go
  google/resource_sql_user_test.go
Labels: size/L

#6381 Add window based SLI
  .changelog/3510.txt
  google/resource_monitoring_slo.go
  google/resource_monitoring_slo_generated_test.go
  google/resource_monitoring_slo_test.go
  website/docs/r/monitoring_slo.html.markdown
Labels: documentation, size/XXL

#6382 Data source for IAM Testable Permissions
  .changelog/3460.txt
  google/data_source_google_iam_testable_permissions.go
  google/data_source_google_iam_testable_permissions_test.go
  google/provider.go
  website/docs/d/datasource_iam_testable_permissions.html.markdown
  website/google.erb
Labels: documentation, size/XL

#6383 Fix node pool tests.
  .changelog/3475.txt
  google/resource_container_node_pool_test.go
Labels: size/XS

#6391 Add retry to service account creation
  .changelog/3513.txt
  google/resource_google_service_account.go
  website/docs/r/google_service_account.html.markdown
Labels: size/XS

#6392 Composer access control
  .changelog/3503.txt
  google/resource_composer_environment.go
  website/docs/r/composer_environment.html.markdown
Labels: documentation, size/M

#6394 cloud app armor: Maximum number of src_ip_ranges is 10
  .changelog/3516.txt
  google/resource_compute_security_policy.go
Labels: size/XS

#6395 Add descriptions to schema #1
  .changelog/3507.txt
  google/resource_bigtable_instance.go
Labels: size/S

#6403 Update environment variable `GOOGLE_CLOUD_KEYFILE_JSON`
  .changelog/3522.txt
  website/docs/guides/getting_started.html.markdown
Labels: documentation, size/XS

#6404 allow bigquery job fields that reference resources in blocks to do so with one field
  .changelog/3519.txt
  google/resource_big_query_job.go
  google/resource_big_query_job_generated_test.go
  website/docs/r/bigquery_job.html.markdown
Labels: documentation, size/XL

#6407 Fix composer resource names
  .changelog/3521.txt
  google/resource_composer_environment_test.go
Labels: size/XS

#6371 v3.22.0 release notes
  CHANGELOG.md
Labels: size/XS

#6408 Skip tests due to GKE version constraints
  .changelog/3526.txt
  google/resource_container_cluster_test.go
Labels: size/XS

#6410 Add compute_route retry for "peering operation in progress"
  .changelog/3518.txt
  google/error_retry_predicates.go
  google/resource_compute_route.go
  google/resource_compute_route_generated_test.go
Labels: size/XS

#6411 Check for diffs in allowed ranges set
  .changelog/3529.txt
  google/resource_composer_environment.go
Labels: size/XS

#6419 Mark interconnect edge availability domain as computed
  .changelog/3538.txt
  google/resource_compute_interconnect_attachment.go
Labels: size/XS

#6420 Exact domain matching for organization data source
  .changelog/3534.txt
  google/data_source_google_organization.go
Labels: size/XS

#6421 add min_cpu_platform to google_container_cluster.cluster_autoscaling.auto_provisioning_defaults
  .changelog/3383.txt
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#6424 stackdriver dashboards resource
  .changelog/3490.txt
  google/config.go
  google/provider.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_dashboard.go
  google/resource_monitoring_dashboard_test.go
  google/resource_monitoring_group.go
  google/resource_monitoring_group_generated_test.go
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_notification_channel_generated_test.go
  google/resource_monitoring_service.go
  google/resource_monitoring_service_generated_test.go
  google/resource_monitoring_slo.go
  google/resource_monitoring_slo_generated_test.go
  google/resource_monitoring_uptime_check_config.go
  google/resource_monitoring_uptime_check_config_generated_test.go
  website/docs/guides/provider_reference.html.markdown
  website/docs/r/monitoring_dashboard.html.markdown
  website/google.erb
Labels: documentation, size/XL

#6428 use explicit version in monitoring data sources
  .changelog/3540.txt
  google/data_source_monitoring_notification_channel.go
  google/data_source_monitoring_service.go
Labels: size/XS

#6430 Allow update of node pool workload metadata config
  .changelog/3512.txt
  google/node_config.go
  google/resource_container_cluster.go
  google/resource_container_node_pool.go
  google/utils.go
Labels: size/XL

#6431 Dataset access viewer is primitive role READER not VIEWER
  .changelog/3542.txt
  google/resource_big_query_dataset_access.go
  google/resource_bigquery_dataset_access_test.go
Labels: size/XS

#6432 Ga secret manager
  .changelog/3533.txt
  google/config.go
  google/data_source_secret_manager_secret_version.go
  google/data_source_secret_manager_secret_version_test.go
  google/iam_secret_manager_secret.go
  google/iam_secret_manager_secret_generated_test.go
  google/provider.go
  google/resource_secret_manager_secret.go
  google/resource_secret_manager_secret_generated_test.go
  google/resource_secret_manager_secret_sweeper_test.go
  google/resource_secret_manager_secret_test.go
  google/resource_secret_manager_secret_version.go
  google/resource_secret_manager_secret_version_generated_test.go
  google/resource_secret_manager_secret_version_test.go
  website/docs/d/datasource_google_secret_manager_secret_version.html.markdown
  website/docs/r/secret_manager_secret.html.markdown
  website/docs/r/secret_manager_secret_iam.html.markdown
  website/docs/r/secret_manager_secret_version.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6433 Mark ssh key as force new
  .changelog/3543.txt
  google/resource_os_login_ssh_public_key.go
Labels: size/XS

#6435 Fix fetching of app_engine_standard_app_version data
  .changelog/3536.txt
  google/resource_app_engine_standard_app_version.go
Labels: size/XS

#6437 add id and replace self_link in docs (part 5 of #5542)
  .changelog/3535.txt
  website/docs/r/compute_instance_from_template.html.markdown
  website/docs/r/compute_instance_group.html.markdown
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/compute_network_peering.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/dns_record_set.html.markdown
  website/docs/r/google_kms_crypto_key_iam.html.markdown
  website/docs/r/google_project.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_project_service.html.markdown
  website/docs/r/google_service_account.html.markdown
  website/docs/r/google_service_account_key.html.markdown
  website/docs/r/service_networking_connection.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/M

#6438 Data Catalog EntryGroup
  .changelog/3485.txt
  google/config.go
  google/iam_data_catalog_entry_group.go
  google/iam_data_catalog_entry_group_generated_test.go
  google/provider.go
  google/resource_data_catalog_entry_group.go
  google/resource_data_catalog_entry_group_generated_test.go
  google/resource_data_catalog_entry_group_sweeper_test.go
  google/resource_data_catalog_entry_group_test.go
  website/docs/r/data_catalog_entry_group.html.markdown
  website/docs/r/data_catalog_entry_group_iam.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6439 Promote DNS resources to GA
  .changelog/3524.txt
  google/data_source_dns_managed_zone_test.go
  google/provider.go
  google/resource_dns_managed_zone.go
  google/resource_dns_managed_zone_generated_test.go
  google/resource_dns_managed_zone_test.go
  google/resource_dns_policy.go
  google/resource_dns_policy_generated_test.go
  google/resource_dns_policy_test.go
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/dns_policy.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6444 Data Catalog Entry
  .changelog/3532.txt
  google/provider.go
  google/resource_data_catalog_entry.go
  google/resource_data_catalog_entry_generated_test.go
  google/resource_data_catalog_entry_group.go
  google/resource_data_catalog_entry_group_test.go
  google/resource_data_catalog_entry_sweeper_test.go
  google/resource_data_catalog_entry_test.go
  website/docs/r/data_catalog_entry.html.markdown
  website/docs/r/data_catalog_entry_group.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6445 Fix more VCR tests
  .changelog/3531.txt
  google/data_source_google_kms_secret_test.go
  google/data_source_monitoring_service_test.go
  google/data_source_storage_object_signed_url_test.go
  google/provider_test.go
  google/resource_compute_instance_group_named_port_generated_test.go
  google/resource_compute_instance_test.go
  google/resource_compute_resource_policy_test.go
  google/resource_dataflow_job_test.go
  google/resource_dialogflow_entity_type_test.go
  google/resource_dialogflow_intent_test.go
  google/resource_google_folder_iam_binding_test.go
  google/resource_kms_crypto_key_test.go
  google/resource_logging_bucket_config_test.go
  google/resource_monitoring_slo_test.go
  google/resource_storage_bucket_test.go
Labels: size/M

#6446 fix issue #6436
  .changelog/3550.txt
  google/resource_spanner_database.go
  website/docs/r/spanner_database.html.markdown
Labels: documentation, size/XS

#6447 adding id for exported attributes in more manual docs
  .changelog/3551.txt
  website/docs/r/logging_billing_account_bucket_config.html.markdown
  website/docs/r/logging_billing_account_exclusion.html.markdown
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_bucket_config.html.markdown
  website/docs/r/logging_folder_exclusion.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_bucket_config.html.markdown
  website/docs/r/logging_organization_exclusion.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_bucket_config.html.markdown
  website/docs/r/logging_project_exclusion.html.markdown
  website/docs/r/logging_project_sink.html.markdown
  website/docs/r/runtimeconfig_config.html.markdown
  website/docs/r/runtimeconfig_variable.html.markdown
Labels: documentation, size/S

#6415 Update storage_bucket_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: documentation, size/XS

#6448 Use correct import format for iam member docs
  .changelog/3552.txt
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/data_catalog_entry_group_iam.html.markdown
Labels: documentation, size/XS

#6449 continue updates for view=full app engine version
  .changelog/3545.txt
  google/resource_app_engine_flexible_app_version.go
  google/resource_app_engine_flexible_app_version_generated_test.go
  google/resource_app_engine_standard_app_version.go
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/app_engine_standard_app_version.html.markdown
Labels: documentation, size/XL

#6450 Auto-generate the Cloud IoT Core Device Registry resource
  .changelog/3357.txt
  google/config.go
  google/provider.go
  google/provider_handwritten_endpoint.go
  google/resource_cloud_iot_device_registry.go
  google/resource_cloud_iot_device_registry_generated_test.go
  google/resource_cloud_iot_device_registry_sweeper_test.go
  google/resource_cloudiot_device_registry_id_test.go
  google/resource_cloudiot_device_registry_update_test.go
  google/resource_cloudiot_registry.go
  google/resource_cloudiot_registry_test.go
  website/docs/r/cloudiot_device_registry.html.markdown
  website/docs/r/cloudiot_registry.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6451 google_bigquery_job - suppress diffs between fully qualified URLs and relative paths that reference the same table or dataset
  .changelog/3553.txt
  google/resource_big_query_job.go
Labels: size/S

#6460 docs(cloudsql): complete POSTGRES version list
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#6468 Make dataflow on_delete a virtual field
  .changelog/3567.txt
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
Labels: size/M

#6472 Skip instance migrate tests, they handle config directly
  .changelog/3554.txt
  google/resource_bigtable_app_profile_test.go
  google/resource_bigtable_gc_policy_test.go
  google/resource_bigtable_instance_iam_test.go
  google/resource_bigtable_instance_test.go
  google/resource_bigtable_table_test.go
  google/resource_compute_instance_migrate_test.go
Labels: size/S

#6473 Remove credentials from error message in TF
  .changelog/3571.txt
  google/config.go
Labels: size/XS

#6474 Support containeranalysis Note and Occurence for attestation
  .changelog/3564.txt
  google/bootstrap_utils_test.go
  google/provider.go
  google/resource_container_analysis_note.go
  google/resource_container_analysis_note_generated_test.go
  google/resource_container_analysis_occurrence.go
  google/resource_container_analysis_occurrence_sweeper_test.go
  google/resource_container_analysis_occurrence_test.go
  google/test-fixtures/binauthz/generated_payload.json.tmpl
  website/docs/r/container_analysis_note.html.markdown
  website/docs/r/container_analysis_occurrence.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6335 #6334 Node pool destroy retry on retryable error within configured ti…
  google/resource_container_node_pool.go
Labels: size/XS

#6476 Add retry on cloud functions error when pulling source from GCS
  .changelog/3570.txt
  google/common_operation.go
  google/error_retry_predicates.go
  google/resource_cloudfunctions_function.go
Labels: size/S

#6479 Fixed typos in website for google_iam_testable_permissions
  .changelog/3574.txt
  website/docs/d/datasource_iam_testable_permissions.html.markdown
  website/google.erb
Labels: documentation, size/XS

#6485 Data Catalog tag template
  .changelog/3555.txt
  google/provider.go
  google/resource_data_catalog_tag_template.go
  google/resource_data_catalog_tag_template_generated_test.go
  website/docs/r/data_catalog_tag_template.html.markdown
  website/google.erb
Labels: documentation, size/XL

#6488 Terraform BigQuery Table Hive partitioning support
  .changelog/3335.txt
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XL

#6489 Add post-create retry for big query job
  .changelog/3579.txt
  google/resource_big_query_job.go
Labels: size/XS

#6490 Move workload identity to GA
  .changelog/3580.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/L

#6491 update google api dependency
  go.mod
  go.sum
Labels: size/XS

#6493 add desc to schema for google_bigtable_table
  .changelog/3560.txt
  google/resource_bigtable_table.go
Labels: size/S
