Repository hashicorp/terraform-provider-google, pull requests merged in 2020-11, with the labels that each got.

#7692 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/S

#7688 Bump the SDK version to 2.1.0
  go.mod
  go.sum
Labels: size/XS

#7702 Fix typos
  .changelog/4164.txt
  google/provider.go
  google/provider_test.go
  google/resource_bigquery_table.go
  google/resource_google_organization_iam_custom_role.go
  google/resource_google_project_default_service_accounts.go
  google/resource_google_project_default_service_accounts_test.go
  google/resource_storage_transfer_job.go
  google/resource_storage_transfer_job_test.go
  website/docs/r/bigquery_table.html.markdown
  website/docs/r/google_project_default_service_accounts.html.markdown
  website/docs/r/storage_transfer_job.html.markdown
  website/google.erb
Labels: size/XL

#7704 adding data source for identity pool
  .changelog/4134.txt
  google/data_source_iam_beta_workload_identity_pool.go
  google/data_source_iam_beta_workload_identity_pool_test.go
  website/docs/d/iam_workload_identity_pool.markdown
  website/google.erb
Labels: size/S

#7705 Update headers in dataproc resource iam docs.
  .changelog/4170.txt
  website/docs/r/dataproc_cluster_iam.html.markdown
  website/docs/r/dataproc_job_iam.html.markdown
Labels: size/XS

#7706 update resources for api version v0.34.0
  .changelog/4174.txt
  google/resource_storage_transfer_job.go
  google/resource_storage_transfer_job_test.go
Labels: size/XS

#7707 Add support for creating 4GB Functions
  .changelog/4171.txt
  google/resource_cloudfunctions_function.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#7708 Removed duplicative flaky test & related example
  .changelog/4175.txt
  google/resource_os_login_ssh_public_key_generated_test.go
  website/docs/r/os_login_ssh_public_key.html.markdown
Labels: size/M

#7709 Add support for google_project_default_service_accounts resource
  .changelog/4167.txt
  google/provider.go
  google/provider_test.go
  google/resource_google_project_default_service_accounts.go
  google/resource_google_project_default_service_accounts_test.go
  website/docs/r/google_project_default_service_accounts.html.markdown
  website/google.erb
Labels: size/XL

#7711 Move items in Cloud Platform section of Docs to their correct APIs
  .changelog/4182.txt
  website/docs/d/billing_account.html.markdown
  website/docs/index.html.markdown
  website/docs/r/billing_account_iam.html.markdown
  website/docs/r/billing_budget.html.markdown
  website/docs/r/google_billing_account_iam_binding.html.markdown
  website/docs/r/google_billing_account_iam_member.html.markdown
  website/docs/r/google_billing_account_iam_policy.html.markdown
  website/docs/r/usage_export_bucket.html.markdown
  website/google.erb
Labels: size/XL

#7712 add iam workload identity pool provider
  .changelog/4129.txt
  google/resource_iam_beta_workload_identity_pool_id_test.go
  google/resource_iam_beta_workload_identity_pool_provider_id_test.go
  google/resource_iam_beta_workload_identity_pool_provider_test.go
  website/docs/r/iam_workload_identity_pool.html.markdown
  website/docs/r/iam_workload_identity_pool_provider.html.markdown
  website/google.erb
Labels: size/XL

#7713 Remove MaxItems validation check on Bigtable instance cluster count
  .changelog/4166.txt
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
Labels: size/S

#7714 Create diff suppresser for maps that have a value that doesn't always come back.
  .changelog/4158.txt
  google/common_diff_suppress.go
  google/resource_pubsub_subscription.go
  google/resource_pubsub_subscription_generated_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: size/M

#7715 Update cloud sql require_ssl docs.
  .changelog/4179.txt
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#7716 Use sleepForSecondsInTest in provider_test.go.erb
  .changelog/4177.txt
  google/provider_test.go
Labels: size/XS

#7717 Correct names in docs for GKE cluster_telemetry
  .changelog/3853.txt
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7718 add ports to examples for game services deployment.
  .changelog/4178.txt
  google/resource_game_services_game_server_config_generated_test.go
  google/resource_game_services_game_server_deployment_rollout_generated_test.go
  website/docs/r/game_services_game_server_config.html.markdown
  website/docs/r/game_services_game_server_deployment_rollout.html.markdown
Labels: size/XS

#7719 Change email_preferences in test from an argument to a block
  .changelog/4183.txt
  google/resource_bigquery_data_transfer_config_test.go
Labels: size/XS

#7720 Document BQ role behavior.
  .changelog/4191.txt
  website/docs/r/bigquery_dataset.html.markdown
  website/docs/r/bigquery_dataset_access.html.markdown
  website/docs/r/bigquery_job.html.markdown
Labels: size/XS

#7721 Cloud Run Diff Supression
  .changelog/4186.txt
  google/resource_cloud_run_service.go
  google/resource_cloud_run_service_generated_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
  website/docs/r/cloud_run_service.html.markdown
Labels: size/S

#7723 Read the function before patching it.
  .changelog/4190.txt
  google/resource_cloudfunctions_function.go
Labels: size/XS

#7725 Include a full OS Login SSH Key example.
  .changelog/4188.txt
  google/resource_os_login_ssh_public_key_test.go
  website/docs/r/os_login_ssh_public_key.html.markdown
Labels: size/M

#7726 Add more options to Dataproc components field
  .changelog/4194.txt
  google/resource_dataproc_cluster.go
Labels: size/XS

#7727 Use deeper change detection for lifecycle_rule
  .changelog/4192.txt
  google/resource_storage_bucket.go
Labels: size/XS

#7730 rename iam_workload_identity_pool datasource doc file
  .changelog/4196.txt
  website/docs/d/iam_workload_identity_pool.html.markdown
  website/google.erb
Labels: size/XS

#7733 adding data source for identity pool provider
  .changelog/4181.txt
  google/data_source_iam_beta_workload_identity_pool_provider.go
  google/data_source_iam_beta_workload_identity_pool_provider_test.go
  website/docs/d/iam_workload_identity_pool_provider.markdown
  website/google.erb
Labels: size/S

#7735 Rename iam_workload_identity_pool_provider doc
  .changelog/4199.txt
  website/docs/d/iam_workload_identity_pool_provider.html.markdown
  website/google.erb
Labels: size/XS

#7737 Add `disable_dependent_services` to osLoginSshKeyExpiry test
  .changelog/4200.txt
  google/resource_os_login_ssh_public_key_test.go
Labels: size/XS

#7739 Since beta provider isn't /really/ recent.. removing recent adjective
  README.md
Labels: size/XS

#7740 Restrict annotation ignores to the specific annotation Cloud Run adds
  .changelog/4202.txt
  google/resource_cloud_run_service.go
  google/resource_cloud_run_service_test.go
Labels: size/XS

#7729 Add v3.47.0 changelog
  CHANGELOG.md
Labels: size/XS

#7753 Add prefix to API Config
  .changelog/4193.txt
  website/docs/r/api_gateway_api.html.markdown
  website/docs/r/api_gateway_api_config.html.markdown
  website/docs/r/api_gateway_gateway.html.markdown
Labels: size/M

#7756 Add iap client 409 retry
  .changelog/4204.txt
  google/error_retry_predicates.go
  google/resource_iap_client.go
  google/resource_iap_client_generated_test.go
Labels: size/XS

#7759 Update doc to add logging bucket as sink destination
  .changelog/4176.txt
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: size/XS

#7760 length check added before type assertion to avoid panic
  .changelog/4184.txt
  google/resource_storage_bucket.go
Labels: size/XS

#7761 Carry #4178 over to the data source.
  .changelog/4206.txt
  google/data_google_game_services_game_server_deployment_rollout_test.go
Labels: size/XS

#7762 Allow update for interconnect bandwidth
  .changelog/4205.txt
  google/resource_compute_interconnect_attachment.go
Labels: size/XS

#7763 Correctly mark config in spanner instance as ForceNew
  .changelog/4207.txt
  google/resource_spanner_instance.go
Labels: size/XS

#7764 Cloudrun domain DSF
  .changelog/4209.txt
  google/resource_cloud_run_domain_mapping.go
  google/resource_cloud_run_domain_mapping_generated_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
Labels: size/XS

#7765 Fix incorrectly named resources in example
  .changelog/4208.txt
  website/docs/d/storage_project_service_account.html.markdown
Labels: size/XS

#7771 Fix occurence of 'GAE' which violates GCP Branding Guidelines
  .changelog/4213.txt
  google/resource_sql_database_instance.go
Labels: size/XS

#7773 Add ScaleInControl fields to GCE Autoscalers
  .changelog/4147.txt
  google/resource_compute_autoscaler.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_autoscaler_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/XL

#7776 fix typo
  .changelog/4218.txt
  google/resource_compute_external_vpn_gateway.go
  website/docs/r/compute_external_vpn_gateway.html.markdown
Labels: size/XS

#7782 Document service identity emails
  .changelog/4217.txt
  website/docs/r/project_service_identity.html.markdown
Labels: size/XS

#7783 Document a few instances of App Engine activation requirements.
  .changelog/4189.txt
  website/docs/r/cloud_tasks_queue.html.markdown
  website/docs/r/datastore_index.html.markdown
  website/docs/r/firestore_index.html.markdown
Labels: size/XS

#7785 Add a note about the service identity in Cloud build trigger
  .changelog/4224.txt
  website/docs/r/cloudbuild_trigger.html.markdown
  website/docs/r/project_service_identity.html.markdown
Labels: size/XS

#7786 Promoted (most of) the supported cloud identity resources to GA
  .changelog/4211.txt
  google/config.go
  google/data_source_cloud_identity_group_memberships.go
  google/data_source_cloud_identity_group_memberships_test.go
  google/data_source_cloud_identity_groups.go
  google/data_source_cloud_identity_groups_test.go
  google/provider.go
  google/provider_test.go
  google/resource_cloud_identity_group.go
  google/resource_cloud_identity_group_generated_test.go
  google/resource_cloud_identity_group_membership.go
  google/resource_cloud_identity_group_membership_generated_test.go
  google/resource_cloud_identity_group_membership_test.go
  google/resource_cloud_identity_group_sweeper_test.go
  google/resource_cloud_identity_group_test.go
  website/docs/r/cloud_identity_group.html.markdown
  website/docs/r/cloud_identity_group_membership.html.markdown
Labels: size/XXL

#7793 Fix some validator build issues
  .changelog/4215.txt
  google/test_utils.go
  google/utils.go
Labels: size/XS

#7791 Add melinath to tpg reviewers
  .hashibot.hcl
Labels: size/XS

#7796 Added cloud identity data sources to GA
  .changelog/4229.txt
  google/provider.go
Labels: size/XS

#7803 Add healthcare consent store related resource and iam
  .changelog/4185.txt
  website/docs/r/healthcare_consent_store.html.markdown
  website/docs/r/healthcare_consent_store_iam.html.markdown
  website/google.erb
Labels: size/XL

#7804 Add ORC to sourceFormat in BQ Tables
  .changelog/4230.txt
  google/resource_bigquery_table.go
  website/docs/r/bigquery_table.html.markdown
Labels: size/XS

#7805 Switch test to use n1 as it has a local ssd attached which e2 doesn't support
  .changelog/4232.txt
  google/resource_compute_instance_migrate_test.go
Labels: size/XS

#7806 Add `ignore_warnings` to `google_bigtable_app_profile` create call
  .changelog/4220.txt
  google/resource_bigtable_app_profile.go
  google/resource_bigtable_app_profile_test.go
  website/docs/r/bigtable_app_profile.html.markdown
Labels: size/M

#7808 Marked Runtime config fields as sensitive
  .changelog/4234.txt
  google/resource_runtimeconfig_variable.go
  google/resource_runtimeconfig_variable_test.go
Labels: size/M

#7809 Add description and disabled to logging sinks
  .changelog/4233.txt
  google/resource_logging_billing_account_sink_test.go
  google/resource_logging_folder_sink_test.go
  google/resource_logging_organization_sink_test.go
  google/resource_logging_project_sink_test.go
  google/resource_logging_sink.go
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: size/XL

#7820 Add support for abandoning sql user
  .changelog/4231.txt
  google/resource_sql_user.go
  google/resource_sql_user_test.go
  website/docs/r/sql_user.html.markdown
Labels: size/M

#7821 Updated tests to use disk from config connector docs
  .changelog/4235.txt
  google/iam_compute_image_generated_test.go
  google/resource_compute_image_generated_test.go
  google/resource_compute_image_test.go
  google/resource_compute_instance_template_test.go
  website/docs/r/compute_image.html.markdown
Labels: size/XS

#7822 Add note about target pool based network lb needing legacy hc
  .changelog/4236.txt
  website/docs/r/compute_health_check.html.markdown
Labels: size/XS

#7824 Add custom response headers for backend service
  .changelog/4223.txt
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_generated_test.go
  google/resource_compute_backend_service_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: size/S

#7825 fixed - checking the length of the right variable
  .changelog/4227.txt
  google/resource_storage_bucket.go
Labels: size/XS

#7830 added maintenance exclusions to GKE
  .changelog/4197.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/L

#7831 Fix validator imports and conditional code
  .changelog/4237.txt
  google/utils.go
Labels: size/XS

#7834 Improve composer sweeper logging, fallthrough to deletion case
  .changelog/4243.txt
  google/resource_composer_environment_test.go
Labels: size/XS

#7838 Fix LoggingOrganization test run to utilize correct configuration.
  .changelog/4245.txt
  google/resource_logging_organization_sink_test.go
Labels: size/XS

#7843 Fix various typos in Compute api.yaml
  .changelog/4244.txt
  google/resource_compute_region_url_map.go
  google/resource_compute_url_map.go
  website/docs/r/compute_network_endpoint.html.markdown
  website/docs/r/compute_region_url_map.html.markdown
  website/docs/r/compute_url_map.html.markdown
Labels: size/M

#7845 Fix typo in composer docs.
  .changelog/4249.txt
  google/resource_composer_environment.go
  website/docs/r/composer_environment.html.markdown
Labels: size/XS

#7847 Added services monitoring data sources
  .changelog/4222.txt
  google/data_source_monitoring_service_cluster_istio.go
  google/data_source_monitoring_service_mesh_istio.go
  google/provider.go
  website/docs/d/monitoring_cluster_istio_service.html.markdown
  website/docs/d/monitoring_mesh_istio_service.html.markdown
  website/google.erb
Labels: size/XL

#7857 Fix argument definition in terraform data source google_projects
  .changelog/4251.txt
  website/docs/d/projects.html.markdown
Labels: size/XS

#7858 Fix `cors` not appearing in update request
  .changelog/4255.txt
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
Labels: size/XS

#7862 Add support for more import formats to google_project_iam_custom_role
  .changelog/4240.txt
  google/resource_google_project_iam_custom_role.go
  google/resource_google_project_iam_custom_role_test.go
  website/docs/r/google_project_iam_custom_role.html.markdown
Labels: size/S

#7864 Fix more typos in api/terraform yaml files
  .changelog/4246.txt
  google/resource_data_loss_prevention_deidentify_template.go
  google/resource_dataproc_autoscaling_policy.go
  google/resource_pubsub_subscription.go
  website/docs/r/artifact_registry_repository.html.markdown
  website/docs/r/compute_target_instance.html.markdown
  website/docs/r/data_loss_prevention_deidentify_template.html.markdown
  website/docs/r/dataproc_autoscaling_policy.html.markdown
  website/docs/r/iap_brand.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
Labels: size/XS

#7865 Fix apigateway config tests for vcr
  .changelog/4241.txt
  website/docs/r/api_gateway_api_config.html.markdown
  website/docs/r/api_gateway_gateway.html.markdown
Labels: size/XS

#7861 Add 3.49.0 changelog
  CHANGELOG.md
Labels: size/XS

#7875 Fix prefix in spanner tests
  .changelog/4259.txt
  google/resource_spanner_database_test.go
Labels: size/XS

#7876 Add a note about Pubsub project service identity
  .changelog/4225.txt
  website/docs/r/pubsub_subscription.html.markdown
  website/docs/r/pubsub_topic.html.markdown
Labels: size/XS

#7887 added cluster state check before proceeding on the node pool activities
  .changelog/4256.txt
  google/resource_container_node_pool.go
Labels: size/S

#7888 Add more CDN options to Backend Buckets
  .changelog/4261.txt
  google/resource_compute_backend_bucket.go
  website/docs/r/compute_backend_bucket.html.markdown
Labels: size/S

#7889 remove a slash that causes a bad link
  .changelog/4266.txt
  website/docs/guides/provider_versions.html.markdown
Labels: size/XS

#7891 Release 3.49.0
  CHANGELOG.md
Labels: size/XS

#7815 docs(google_bigquery_table): replaces foo/bar with actual meaninful path
  website/docs/r/bigquery_table.html.markdown
Labels: size/XS

#7902 Add google_composer_environment data source
  .changelog/4238.txt
  google/data_source_google_composer_environment.go
  google/data_source_google_composer_environment_test.go
  google/provider.go
  website/docs/d/composer_environment.html.markdown
  website/docs/r/bigquery_table.html.markdown
  website/google.erb
Labels: size/L

#7903 Set bigquery connection import id correctly.
  .changelog/4159.txt
  website/docs/r/bigquery_connection.html.markdown
Labels: size/XS

#7904 fixed a format in provider_reference
  .changelog/4257.txt
  website/docs/guides/provider_reference.html.markdown
Labels: size/XS

#7905 fixed an example
  .changelog/4268.txt
  website/docs/r/compute_global_network_endpoint.html.markdown
Labels: size/XS

#7768 Feature: Adds new restore_policy on google_project_default_service_accounts
  google/resource_google_project_default_service_accounts.go
  google/resource_google_project_default_service_accounts_test.go
  website/docs/r/google_project_default_service_accounts.html.markdown
Labels: size/S

#7906 Upstream new restore policy
  .changelog/4267.txt
  google/resource_google_project_default_service_accounts.go
Labels: size/S
