Repository hashicorp/terraform-provider-google, pull requests merged in 2020-01, with the labels that each got.

#5281 Use a real project for billing budget test
  google/resource_sql_database_instance_test.go
Labels: changelog: no-release-note, size/XS

#5290 Try to clarify scheduler docs on pubsub
  google/resource_cloud_scheduler_job.go
  google/resource_cloud_scheduler_job_generated_test.go
  google/resource_sql_database_instance_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5298 remove redundant ConflictsWith from instance_template.name_prefix
  google/resource_compute_instance_template.go
Labels: size/XS

#5303 Rewrite TestAccProviderUserProjectOverride to use Pubsub API instead …
  google/provider_test.go
Labels: changelog: no-release-note, size/S

#5288 Set name attribute on compute_subnetwork data source
  google/data_source_google_compute_subnetwork.go
  google/data_source_google_compute_subnetwork_test.go
Labels: size/XS

#5309 Catch up sweepers that didn't get generated
  google/resource_identity_platform_default_supported_idp_config_sweeper_test.go
  google/resource_identity_platform_inbound_saml_config_sweeper_test.go
  google/resource_identity_platform_oauth_idp_config_sweeper_test.go
  google/resource_identity_platform_tenant_default_supported_idp_config_sweeper_test.go
  google/resource_identity_platform_tenant_inbound_saml_config_sweeper_test.go
  google/resource_identity_platform_tenant_oauth_idp_config_sweeper_test.go
  google/resource_identity_platform_tenant_sweeper_test.go
Labels: size/XL

#5313 mark removed fields as computed
  google/data_source_google_container_engine_versions.go
  google/node_config.go
  google/resource_compute_forwarding_rule.go
  google/resource_compute_instance_group_manager.go
  google/resource_compute_network_peering.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_container_cluster.go
  google/resource_container_node_pool.go
  google/resource_google_service_account_key.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_uptime_check_config.go
  google/resource_storage_bucket.go
Labels: size/S

#5321 fix google_bigquery_table encryption_configuration modifications
  google/resource_bigquery_table.go
Labels: size/XS

#5306 Terraform Data Source to retrieve SQL instance CA certs
  google/data_source_google_sql_ca_certs.go
  google/data_source_google_sql_ca_certs_test.go
  google/provider.go
  google/resource_sql_database_instance.go
  website/docs/d/datasource_google_sql_ca_certs.html.markdown
Labels: documentation, size/L

#5315 Allow domain mapping to succeed if DNS is pending
  google/cloudrun_polling.go
Labels: size/XS

#4149 Updated google_folder.html
  website/docs/r/google_folder.html.markdown
Labels: documentation, size/XS

#5324 Allow domain mapping to succeed if DNS is pending
  .changelog/2917.txt
  google/cloudrun_polling.go
Labels: size/XS

#5314 add google_kms_secret_ciphertext resource, deprecate datasource
  google/data_source_google_kms_secret_ciphertext.go
  google/data_source_google_kms_secret_ciphertext_test.go
  google/provider.go
  google/resource_kms_secret_ciphertext.go
  google/resource_kms_secret_ciphertext_test.go
  website/docs/d/google_kms_secret_ciphertext.html.markdown
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
  website/google.erb
Labels: documentation, size/XL

#5296 Bug template changes
  .github/ISSUE_TEMPLATE/bug.md
Labels: size/XS

#5318 Allow add/removing Bigtable clusters
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/L

#5316 Add bootstrapped test networks for service networking tests
  google/bootstrap_utils_test.go
  google/resource_service_networking_connection_test.go
Labels: size/L

#5329 fix docs for google_bigquery_default_service_account
  website/docs/d/google_bigquery_default_service_account.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5331 Nil return for absent Bigtable resources
  google/resource_bigtable_gc_policy.go
  google/resource_bigtable_instance.go
  google/resource_bigtable_table.go
Labels: size/XS

#5323 add lifecycle_config to dataproc_cluster.cluster_config
  google/resource_dataproc_cluster.go
Labels: size/XS

#5335 Add warnings about custom role format for IAM bindings
  google/resource_iam_binding.go
  google/resource_sql_database_instance_test.go
  website/docs/r/bigtable_instance_iam.html.markdown
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/dataproc_cluster_iam.html.markdown
  website/docs/r/dataproc_job_iam.html.markdown
  website/docs/r/google_billing_account_iam_member.html.markdown
  website/docs/r/google_folder_iam_binding.html.markdown
  website/docs/r/google_folder_iam_member.html.markdown
  website/docs/r/google_organization_iam_binding.md
  website/docs/r/google_organization_iam_member.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
  website/docs/r/healthcare_dataset_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/pubsub_subscription_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
  website/docs/r/spanner_database_iam.html.markdown
  website/docs/r/spanner_instance_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: changelog: no-release-note, documentation, size/M

#5338 Add mutex to peering create
  google/resource_compute_network_peering.go
Labels: size/S

#5351 Add default_if_empty for quic_override
  google/resource_compute_target_https_proxy.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#5353 Add default_if_empty to google_compute_router_nat defaults
  google/resource_access_context_manager_access_level.go
  google/resource_access_context_manager_service_perimeter.go
  google/resource_compute_address.go
  google/resource_compute_router_nat.go
  google/resource_compute_target_https_proxy.go
  google/resource_dns_managed_zone.go
  google/resource_logging_metric.go
Labels: size/S

#5355 Allow for retries of single requests in a batch on failure
  google/batcher.go
  google/batcher_test.go
  google/iam_batching.go
  google/resource_google_project_service.go
  google/serviceusage_batching.go
Labels: size/XL

#5342 Add validation for start_time to resource_policy
  google/resource_compute_resource_policy.go
  google/validation.go
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/S

#5367 Explicitly set labels to nil for Alert Policy
  google/resource_monitoring_alert_policy.go
Labels: size/XS

#4525 Make binding optional for iam_policy data source
  google/data_source_google_iam_policy.go
  google/iam_binary_authorization_attestor_generated_test.go
  google/iam_cloud_functions_cloud_function_generated_test.go
  google/iam_cloud_run_service_generated_test.go
  google/iam_compute_instance_generated_test.go
  google/iam_compute_subnetwork_generated_test.go
  google/iam_iap_app_engine_service_generated_test.go
  google/iam_iap_app_engine_version_generated_test.go
  google/iam_iap_web_backend_service_generated_test.go
  google/iam_iap_web_generated_test.go
  google/iam_iap_web_type_app_engine_generated_test.go
  google/iam_iap_web_type_compute_generated_test.go
  google/iam_pubsub_topic_generated_test.go
  google/iam_runtime_config_config_generated_test.go
  google/iam_source_repo_repository_generated_test.go
  google/iam_storage_bucket_generated_test.go
Labels: size/XL

#5360 fix broken link
  website/docs/d/google_kms_secret_ciphertext.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5375 Add sidebar entry for google_sql_ca_certs
  website/google.erb
Labels: documentation, size/XS

#5379 Diff suppress timestamp for dataproc cluster autoDeleteTime
  website/docs/r/dataproc_cluster.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5383 Allow target to accept other resource types
  google/resource_compute_forwarding_rule.go
  google/resource_compute_region_backend_service.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/XL

#5396 Fix idp marketplace links
  google/resource_sql_database_instance_test.go
  website/docs/r/identity_platform_default_supported_idp_config.html.markdown
  website/docs/r/identity_platform_inbound_saml_config.html.markdown
  website/docs/r/identity_platform_oauth_idp_config.html.markdown
  website/docs/r/identity_platform_tenant.html.markdown
  website/docs/r/identity_platform_tenant_default_supported_idp_config.html.markdown
  website/docs/r/identity_platform_tenant_inbound_saml_config.html.markdown
  website/docs/r/identity_platform_tenant_oauth_idp_config.html.markdown
Labels: documentation, size/S

#5397 Fix minor word duplication
  google/resource_monitoring_notification_channel.go
  website/docs/r/monitoring_notification_channel.html.markdown
Labels: documentation, size/XS

#5395 Make names of resources in pubsub iam tests sweepable
  google/resource_pubsub_subscription_iam_test.go
  google/resource_pubsub_topic_iam_test.go
Labels: changelog: no-release-note, size/S

#5393 Change max dispatches from int to double
  google/resource_cloud_tasks_queue.go
  google/resource_sql_database_instance_test.go
  website/docs/r/cloud_tasks_queue.html.markdown
Labels: documentation, size/XS

#5394 Merge pull request #5394 from modular-magician/codegen-pr-2965
  google/data_source_google_project_test.go
  google/provider_test.go
  google/resource_app_engine_firewall_rule_generated_test.go
  google/resource_compute_instance_template_test.go
  google/resource_compute_project_default_network_tier_test.go
  google/resource_compute_project_metadata_test.go
  google/resource_compute_shared_vpc_test.go
  google/resource_google_project_iam_audit_config_test.go
  google/resource_google_project_iam_binding_test.go
  google/resource_google_project_iam_member_test.go
  google/resource_google_project_iam_policy_test.go
  google/resource_google_project_service_test.go
  google/resource_google_project_test.go
  google/resource_kms_crypto_key_test.go
  google/resource_kms_key_ring_test.go
  google/resource_usage_export_bucket_test.go
  website/docs/r/app_engine_firewall_rule.html.markdown
Labels: documentation, size/L

#5402 Merge pull request #5402 from modular-magician/codegen-pr-2973
  google/resource_compute_shared_vpc_test.go
Labels: size/XS

#5406 Revert capacity_scaler back to O+C
  google/resource_compute_region_backend_service.go
Labels: size/XS

#5376 updates for first-gen to second-gen upgrade sql_database_instance
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/L

#5404 Remove iam bindings from cloudIoT registry tests
  google/resource_cloudiot_registry_test.go
Labels: changelog: no-release-note, size/XS

#5400 Cloud Function - fix docs and test, fix regexp for name
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/d/datasource_cloudfunctions_function.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/S

#5409 add description field to service_account for Terraform
  google/resource_google_service_account.go
  google/resource_google_service_account_test.go
  google/resource_sql_database_instance_test.go
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#5411 Update inspec repo
  google/resource_sql_database_instance_test.go
Labels: size/XS

#5405 Adding new data source for resource_monitoring_notification_channel.
  google/data_source_monitoring_notification_channel.go
  google/data_source_monitoring_notification_channel_test.go
  google/provider.go
  website/docs/d/datasource_monitoring_notification_channel.html.markdown
  website/google.erb
Labels: documentation, size/XL

#5392 Fix link in docs - upstream of TPG#5386
  google/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5418 Add separate test for enable k8s alpha
  google/resource_container_cluster_test.go
Labels: changelog: no-release-note, size/S

#5419 Mark network peering routes fields GA
  google/resource_compute_network_peering.go
  google/resource_compute_network_peering_test.go
  website/docs/r/compute_network_peering.html.markdown
Labels: documentation, size/M

#5425 update provider example in index.html
  website/docs/index.html.markdown
Labels: documentation, size/XS

#5399 release-note:enhancement added attempt deadline to scheduler resource
  google/resource_cloud_scheduler_job.go
  google/resource_cloud_scheduler_job_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: documentation, size/M

#5373 add defaultEventBasedHold to storage buckets
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
Labels: size/S

#5426 Add `google_compute_network_peering_routes_config` to configure GKE-managed peerings
  google/provider.go
  google/resource_compute_network_peering_routes_config.go
  google/resource_compute_network_peering_routes_config_generated_test.go
  website/docs/r/compute_network_peering_routes_config.html.markdown
  website/google.erb
Labels: documentation, size/XL

#5432 add missing sidebar entries
  website/docs/r/google_organization_iam_binding.html.markdown
  website/google.erb
Labels: documentation, size/S

#5430 Expand boot disk name to full name during instance from template creation
  google/resource_compute_instance_from_template.go
  google/resource_compute_instance_from_template_test.go
Labels: size/XS

#5427 Fix error regexp for storage bucket website test
  google/resource_storage_bucket_test.go
Labels: changelog: no-release-note, size/XS

#5429 Autogenerate IAM resources for IAP Tunnel Instance
  google/iam_iap_tunnel_instance.go
  google/iam_iap_tunnel_instance_generated_test.go
  google/provider.go
  google/resource_iap_tunnel_instance_iam_test.go
  website/docs/r/google_iap_tunnel_instance_iam.html.markdown
  website/docs/r/iap_tunnel_instance_iam.html.markdown
  website/google.erb
Labels: documentation, size/XL

#5433 Fix documentation and example of storage notifications
  website/docs/r/storage_notification.html.markdown
Labels: documentation, size/XS

#5437 Fix sandbox_config in cluster html
  website/docs/r/container_cluster.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5436 Instance encrypted disk start
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
Labels: size/L

#5459 Add interconnect attachment state waiting
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_interconnect_attachment_sweeper_test.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/L

#5456 Move container cluster binary authorization to ga.
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#5372 Improve storage bucket acls
  google/resource_storage_bucket_acl.go
  google/resource_storage_bucket_acl_test.go
  website/docs/r/storage_bucket_access_control.html.markdown
  website/docs/r/storage_bucket_acl.html.markdown
Labels: documentation, size/M

#5471 Mark GKE peering_name GA
  google/resource_container_cluster.go
Labels: size/XS

#5474 Revert 2955 as it broke tests.
  google/resource_storage_bucket_acl.go
Labels: changelog: no-release-note, size/XS

#5470 Add user labels and labels to monitoring notification channel DS
  google/data_source_monitoring_notification_channel.go
  google/data_source_monitoring_notification_channel_test.go
  website/docs/d/datasource_monitoring_notification_channel.html.markdown
Labels: documentation, size/L

#5469 read/write iam policies at version 3 in GA provider
  google/iam.go
  google/iam_compute_instance.go
  google/iam_iap_app_engine_service.go
  google/iam_iap_app_engine_version.go
  google/iam_iap_tunnel_instance.go
  google/iam_iap_web.go
  google/iam_iap_web_backend_service.go
  google/iam_iap_web_type_app_engine.go
  google/iam_iap_web_type_compute.go
  google/iam_kms_crypto_key.go
  google/iam_kms_key_ring.go
  google/iam_project.go
  google/iam_service_account.go
  google/iam_storage_bucket.go
  google/resource_google_project_iam_policy.go
  google/resource_google_service_account_iam_test.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
  google/resource_iam_policy.go
Labels: size/M

#5480 Clarify resource policy attachement doesn't support region disks
  website/docs/r/compute_disk_resource_policy_attachment.html.markdown
Labels: documentation, size/XS

#5479 Avoid permadiff trying to remove project-owners
  google/resource_storage_bucket_acl.go
Labels: size/XS

#5477 update node pool docs to include missing attributes
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#5486 cluster_autoscaling.auto_provisioning_defaults.* -> optional/computed
  google/resource_container_cluster.go
Labels: size/XS

#5489 Fix terraform doc website rendering
  .changelog/2902.txt
  google/resource_sql_database_instance_test.go
  website/docs/r/compute_instance_from_template.html.markdown
Labels: documentation, size/XS

#5490 Fixed file permissions
  .changelog/2877.txt
  .changelog/2902.txt
  website/docs/r/app_engine_application.html.markdown
  website/docs/r/google_project.html.markdown
Labels: documentation, size/XS

#5491 Add error if boot disk specified on non-first disk in instance template
  .changelog/2877.txt
  .changelog/2996.txt
  google/resource_compute_instance_template.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#5493 Add support for new beta non-rfc fields in dns managed zone
  .changelog/2996.txt
  .changelog/3026.txt
Labels: size/XS

#5508 Move IAM resources to their pre-MM namespaces
  .changelog/3026.txt
  .changelog/3029.txt
Labels: size/XS

#5515 Highlight Legacy Stackdriver and New Stackdriver for GKE in documentation
  .changelog/3018.txt
  .changelog/3029.txt
  google/resource_sql_database_instance_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#4491 Additional note: role_id must be camel case
  website/docs/r/google_project_iam_custom_role.html.markdown
Labels: documentation, size/XS

#5517 Additional note: role_id must be camel case
  .changelog/3018.txt
  .changelog/3032.txt
Labels: size/XS

#5518 The beta API is deprecated - move to ga only.
  .changelog/3027.txt
  .changelog/3032.txt
  google/resource_binary_authorization_attestor.go
  google/resource_sql_database_instance_test.go
Labels: size/S

#5531 updated expiration_time in tests to use year < 2038, undeprecated it
  .changelog/3030.txt
  .changelog/3034.txt
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#5532 Move expr to GA
  .changelog/3028.txt
  .changelog/3034.txt
  google/resource_compute_security_policy.go
Labels: size/M

#5533 Exclude various generation types from OiCS repo
  .changelog/3028.txt
  .changelog/3036.txt
Labels: size/XS

#5534 update bigquery_options to be O+C
  .changelog/3035.txt
  .changelog/3036.txt
  google/resource_logging_sink.go
Labels: size/XS

#5536 Don't delete old changelog entries.
  .changelog/3035.txt
  .changelog/3038.txt
Labels: size/XS

#5538 Fix notification channel test
  .changelog/3037.txt
  google/data_source_monitoring_notification_channel_test.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#5546 fix dataproc cluster with accelerators test
  .changelog/3042.txt
  google/resource_dataproc_cluster_test.go
Labels: size/XS

#5547 Upstream additional validation for cloud router.
  .changelog/3045.txt
  google/resource_compute_router.go
  google/validation.go
Labels: size/XS

#5548 Add OiCS YAML
  .changelog/3047.txt
  google/resource_sql_database_instance_test.go
Labels: size/XS

#5549 Bootstrap network for redis tests
  .changelog/3039.txt
  google/bootstrap_utils_test.go
  google/resource_redis_instance_generated_test.go
  google/resource_service_networking_connection_test.go
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/S

#5553 Capture subshell output for OiCS
  .changelog/3054.txt
  google/resource_sql_database_instance_test.go
Labels: size/XS

#5554 Forcing ASN validation to int64
  .changelog/3056.txt
  google/resource_compute_router_test.go
  google/validation.go
Labels: size/XS

#5555 Fix cluster tests versions
  .changelog/3051.txt
  google/resource_container_cluster_test.go
Labels: size/XS

#5556 Add support for IAP in google_app_engine_application resource
  .changelog/3058.txt
  google/resource_app_engine_application.go
  google/resource_app_engine_application_test.go
Labels: size/M

#5557 handle case where bigtable development instances have one node
  .changelog/3057.txt
  google/resource_bigtable_instance.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#5558 update container_cluster.html.markdown and storage_bucket.html.markdown
  .changelog/3041.txt
  website/docs/r/container_cluster.html.markdown
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#5559 Add Dialogflow Agent resource
  .changelog/3014.txt
  google/config.go
  google/provider.go
  google/resource_dialogflow_agent.go
  google/resource_dialogflow_agent_generated_test.go
  google/resource_dialogflow_agent_test.go
  google/resource_sql_database_instance_test.go
  website/docs/r/dialogflow_agent.html.markdown
Labels: documentation, size/XL

#5560 Clarify how to get debug logs
  .github/ISSUE_TEMPLATE/bug.md
Labels: size/XS

#5561 Add conditional validation, allow sending empty capacity scaler for regional backend service
  .changelog/3033.txt
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_backend_service_generated_test.go
  google/resource_compute_region_backend_service_test.go
  google/utils.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/XL

#5563 update tests and examples that are still using first gen sql instances
  .changelog/3062.txt
  google/resource_cloud_run_service_generated_test.go
  google/resource_sql_database_generated_test.go
  google/resource_sql_database_test.go
  google/resource_sql_ssl_cert_test.go
  google/resource_sql_user_test.go
  website/docs/d/google_kms_secret.html.markdown
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_ssl_cert.html.markdown
  website/docs/r/sql_user.html.markdown
Labels: documentation, size/S

#5564 Fix post create lint error
  .changelog/3064.txt
  google/resource_dialogflow_agent.go
Labels: size/XS
