Repository hashicorp/terraform-provider-google, pull requests merged in 2020-07, with the labels that each got.

#6729 Project warning
  .changelog/3726.txt
  google/resource_google_project.go
Labels: size/XS

#6741 add os config patch deployment resource
  .changelog/3721.txt
  google/config.go
  google/provider.go
  google/resource_os_config_patch_deployment.go
  google/resource_os_config_patch_deployment_generated_test.go
  google/resource_os_config_patch_deployment_sweeper_test.go
  website/docs/r/os_config_patch_deployment.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6728 3.29.0 changelog.
  CHANGELOG.md
Labels: size/XS

#6748 make iam condition ga
  .changelog/3729.txt
  google/data_source_google_iam_policy.go
  google/resource_google_project_iam_binding_test.go
  google/resource_google_project_iam_member_test.go
  google/resource_google_project_iam_policy_test.go
  google/resource_google_service_account_iam_test.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
  website/docs/d/iam_policy.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
Labels: documentation, size/XL

#6739 Update documentation with useful role to access secret
  website/docs/r/secret_manager_secret_iam.html.markdown
Labels: documentation, size/XS

#6752 Use better role for secrets in docs.
  .changelog/3730.txt
  google/iam_secret_manager_secret_generated_test.go
  website/docs/r/secret_manager_secret_iam.html.markdown
Labels: documentation, size/XS

#6753 handle notfound error for runtime config
  .changelog/3731.txt
  google/resource_runtimeconfig_config.go
Labels: size/XS

#6756 Created game server rollout data source
  .changelog/3727.txt
  google/data_google_game_services_game_server_deployment_rollout.go
  google/data_google_game_services_game_server_deployment_rollout_test.go
  website/docs/d/game_services_game_server_deployment_rollout.html.markdown
  website/google.erb
Labels: documentation, size/M

#6757 make database_encryption updateable
  .changelog/3728.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/S

#6772 Support BigQuery custom schema's for external data using CSV / NDJSON
  .changelog/3717.txt
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/L

#6771 remove emily from random reviewers list
  .hashibot.hcl
Labels: size/XS

#6778 Add import example
  .changelog/3737.txt
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#6785 Auto-generate the Cloud IoT Core Device resource
  .changelog/3637.txt
  google/provider.go
  google/resource_cloud_iot_device.go
  google/resource_cloud_iot_device_generated_test.go
  google/resource_cloud_iot_device_sweeper_test.go
  google/resource_cloud_iot_device_update_test.go
  google/test-fixtures/rsa_private_4096.pem
  google/test-fixtures/rsa_public.pem
  website/docs/r/cloudiot_device.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6763 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#6787 Release 3.30.0
  CHANGELOG.md
Labels: size/XS

#6791 New data source for oidc tokens
  .changelog/3739.txt
  go.mod
  google/config.go
  google/data_source_google_service_account_id_token.go
  google/data_source_google_service_account_id_token_test.go
  google/provider.go
  website/docs/d/datasource_google_service_account_id_token.html.markdown
  website/google.erb
Labels: documentation, size/XL

#6793 use e2-medium machines in gke examples
  .changelog/3744.txt
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#6795 update google_compute_image id to match its resource
  .changelog/3746.txt
  google/data_source_google_compute_image.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_network_management_connectivity_test_resource_generated_test.go
  google/resource_network_management_connectivity_test_resource_test.go
  website/docs/d/compute_image.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/network_management_connectivity_test_resource.html.markdown
Labels: documentation, size/S

#6797 add data source for google_sql_database_instance
  .changelog/3738.txt
  google/data_sql_database_instance.go
  google/data_sql_database_instance_test.go
  google/provider.go
  website/docs/d/sql_database_instance.html.markdown
  website/google.erb
Labels: documentation, size/L

#6802 fix TestAccStorageBucket_encryption
  .changelog/3747.txt
  google/resource_storage_bucket_test.go
Labels: size/XS

#6803 add diff suppress for big query table schema
  .changelog/3751.txt
  google/resource_bigquery_table.go
Labels: size/S

#6796 3.31.0 CHANGELOG
  CHANGELOG.md
Labels: size/XS

#6804 Add the Go 1.13 runtime
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#6811 Additional documentation about how to easily get started with credentials in the provider.
  .changelog/3740.txt
  google/config.go
  website/docs/guides/getting_started.html.markdown
  website/docs/guides/provider_reference.html.markdown
Labels: documentation, size/XS

#6820 default_snat_status attribute added
  .changelog/3758.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#6821 Add support for Cloud Asset feeds
  .changelog/3750.txt
  google/config.go
  google/provider.go
  google/resource_cloud_asset_folder_feed.go
  google/resource_cloud_asset_folder_feed_generated_test.go
  google/resource_cloud_asset_folder_feed_sweeper_test.go
  google/resource_cloud_asset_organization_feed.go
  google/resource_cloud_asset_organization_feed_generated_test.go
  google/resource_cloud_asset_organization_feed_sweeper_test.go
  google/resource_cloud_asset_project_feed.go
  google/resource_cloud_asset_project_feed_generated_test.go
  google/resource_cloud_asset_project_feed_sweeper_test.go
  website/docs/r/cloud_asset_folder_feed.html.markdown
  website/docs/r/cloud_asset_organization_feed.html.markdown
  website/docs/r/cloud_asset_project_feed.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6828 add tiers and nfs_export_options
  .changelog/3766.txt
  google/resource_filestore_instance.go
  website/docs/r/filestore_instance.html.markdown
Labels: documentation, size/S

#6829 Monitoring metric descriptor
  .changelog/3754.txt
  google/common_polling.go
  google/provider.go
  google/resource_app_engine_firewall_rule.go
  google/resource_big_query_job.go
  google/resource_cloud_run_domain_mapping.go
  google/resource_cloud_run_service.go
  google/resource_iap_brand.go
  google/resource_monitoring_metric_descriptor.go
  google/resource_monitoring_metric_descriptor_generated_test.go
  google/resource_monitoring_metric_descriptor_sweeper_test.go
  google/resource_monitoring_metric_descriptor_test.go
  google/resource_pubsub_subscription.go
  google/resource_pubsub_topic.go
  website/docs/r/monitoring_metric_descriptor.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6831 fix an example bug for google_compute_router_nat
  .changelog/3768.txt
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#6835 Tests flake due to creation race condition
  .changelog/3770.txt
  google/resource_google_service_account_iam_test.go
Labels: size/XS

#6836 Add namespacing on metric descriptor so tests can run in parallel
  .changelog/3771.txt
  google/resource_monitoring_metric_descriptor_generated_test.go
  website/docs/r/monitoring_metric_descriptor.html.markdown
Labels: documentation, size/XS

#6837 Remove fingerprint check from Image test
  .changelog/3773.txt
  google/resource_compute_image_test.go
Labels: size/XS

#6822 update to go version 1.14.5
  .go-version
Labels: size/XS

#6838 Add Computed to snat, mark sub-field Required
  .changelog/3765.txt
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#6839 Add nil check on bq destination array contents
  .changelog/3774.txt
  google/resource_container_cluster.go
Labels: size/XS

#6844 Add skip enum value generation
  .changelog/3767.txt
  google/resource_compute_region_url_map.go
  google/resource_compute_url_map.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/docs/r/app_engine_domain_mapping.html.markdown
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/bigquery_job.html.markdown
  website/docs/r/cloud_run_domain_mapping.html.markdown
  website/docs/r/cloudiot_device.html.markdown
  website/docs/r/cloudiot_device_registry.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_image.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
  website/docs/r/compute_region_url_map.html.markdown
  website/docs/r/compute_reservation.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_router_bgp_peer.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_instance.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/datastore_index.html.markdown
  website/docs/r/deployment_manager_deployment.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/firestore_index.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/kms_crypto_key.html.markdown
  website/docs/r/logging_metric.html.markdown
  website/docs/r/monitoring_metric_descriptor.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/storage_hmac_key.html.markdown
Labels: documentation, size/XL

#6827 Update compute_global_network_endpoint.html.markdown
  website/docs/r/compute_global_network_endpoint.html.markdown
Labels: documentation, size/XS

#6845 Upstream changes to google_compute_global_network_endpoint docs
  .changelog/3776.txt
  website/docs/r/compute_global_network_endpoint.html.markdown
Labels: documentation, size/XS

#6847 Add explicit provider to beta example
  .changelog/3779.txt
  website/docs/r/filestore_instance.html.markdown
Labels: documentation, size/XS

#6799 Fix description for attribute import_custom_routes
  website/docs/r/compute_network_peering.html.markdown
Labels: documentation, size/XS

#6849 Add error checking to location load in endpoints service
  .changelog/3781.txt
  google/resource_endpoints_service.go
Labels: size/XS

#6851 Add the `google_dataflow_flex_template_job` resource
  .changelog/3772.txt
  google/resource_dataflow_flex_template_job.go
  google/resource_dataflow_flex_template_job_test.go
  website/docs/r/dataflow_flex_template_job.html.markdown
  website/google.erb
Labels: documentation, size/M

#6853 Backend service support for internet NEG backend
  .changelog/3782.txt
  google/resource_compute_backend_service.go
  google/resource_compute_backend_service_generated_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/L

#6846 3.32.0 changelog
  CHANGELOG.md
Labels: size/XS

#6859 Bump google_project timeout
  .changelog/3784.txt
  google/resource_google_project.go
  website/docs/r/google_project.html.markdown
Labels: documentation, size/XS

#6860 remove a confusing form of dataset id in a doc
  .changelog/3778.txt
  website/docs/r/bigquery_dataset_iam.html.markdown
Labels: documentation, size/XS

#6863 Make defaultClientScopes publicly accessible
  .changelog/3785.txt
  google/config.go
Labels: size/XS

#6866 AD Domain resource added
  .changelog/3735.txt
  google/active_directory_operation.go
  google/config.go
  google/provider.go
  google/resource_active_directory_domain.go
  google/resource_active_directory_domain_generated_test.go
  google/resource_active_directory_domain_sweeper_test.go
  google/resource_active_directory_domain_update_test.go
  google/validation.go
  website/docs/r/active_directory_domain.html.markdown
  website/google.erb
Labels: documentation, size/XL

#6871 add firewall logging controls
  .changelog/3780.txt
  google/resource_compute_firewall.go
  google/resource_compute_firewall_test.go
  website/docs/r/compute_firewall.html.markdown
Labels: documentation, size/L

#6873 Add support for cloudrun ports
  .changelog/3748.txt
  google/resource_cloud_run_service.go
  google/resource_cloud_run_service_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/L

#6874 Update Google service account docs to display correct public key type
  .changelog/3787.txt
  website/docs/d/service_account_key.html.markdown
  website/docs/r/google_service_account_key.html.markdown
Labels: documentation, size/XS

#6881 Update Bigtable Num of Clusters Block Docs
  .changelog/3792.txt
  google/resource_bigtable_instance.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/XS

#6883 Use proper prefix inside router_interface test
  .changelog/3795.txt
  google/resource_compute_router_interface_test.go
Labels: size/XS

#6886 Fix bug: diff being detected for source_repo_repository even when there are no changes
  .changelog/3786.txt
  google/resource_source_repo_repository.go
Labels: size/XS

#6888 Fix colon in doc notes
  .changelog/3796.txt
  google/resource_cloud_scheduler_job.go
  google/resource_compute_forwarding_rule.go
  google/resource_deployment_manager_deployment.go
  website/docs/d/kms_secret.html.markdown
  website/docs/d/kms_secret_ciphertext.html.markdown
  website/docs/guides/provider_reference.html.markdown
  website/docs/r/app_engine_application.html.markdown
  website/docs/r/bigquery_table.html.markdown
  website/docs/r/bigtable_table.html.markdown
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/deployment_manager_deployment.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
  website/docs/r/spanner_database_iam.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/S

#6890 Bump Bigtable version from 1.1.0 to 1.5.0
  go.mod
  go.sum
Labels: size/XS

#6893 Add tests for DICOM store pubsub topic removal.
  .changelog/3442.txt
  go.mod
  go.sum
  google/resource_healthcare_dicom_store_test.go
  google/resource_healthcare_fhir_store.go
  website/docs/r/healthcare_fhir_store.html.markdown
Labels: documentation, size/M

#6903 Set context early on in LoadAndValidate to prevent NPE
  .changelog/3800.txt
  google/config.go
Labels: size/XS

#6905 Add a random string to ad directory so tests can be run in parallel
  .changelog/3802.txt
  google/resource_active_directory_domain_update_test.go
Labels: size/XS
