Repository hashicorp/terraform-provider-google, pull requests merged in 2020-08, with the labels that each got.

#6885 Add `3.33.0` changelog
  CHANGELOG.md
Labels: size/XS

#6917 Add persistence_iam_identity to Redis Instance
  .changelog/3805.txt
  google/resource_redis_instance.go
  google/resource_redis_instance_generated_test.go
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/S

#6918 Make project field in google_compute_network_endpoint_group ds optional
  .changelog/3801.txt
  google/data_source_compute_network_endpoint_group.go
Labels: size/XS

#6921 Add labels to Bigtable instance
  .changelog/3793.txt
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/S

#6922 Update compute_security_policy docs to match src_ip_ranges constraints
  .changelog/3808.txt
  google/resource_compute_security_policy.go
  website/docs/r/compute_security_policy.html.markdown
Labels: documentation, size/XS

#6925 Bigtable: Refer to a functional role for bigtable
  .changelog/3811.txt
  website/docs/r/bigtable_instance_iam.html.markdown
Labels: documentation, size/XS

#6926 Fix description for ip_allocation_policy.cluster_secondary_range_name…
  .changelog/3810.txt
  google/resource_container_cluster.go
Labels: size/XS

#6928 add warning in spanner db doc
  .changelog/3812.txt
  website/docs/r/spanner_database.html.markdown
Labels: documentation, size/XS

#6897 Add google_storage_bucket_object.media_link.
  google/data_source_google_storage_bucket_object.go
  google/resource_storage_bucket_object.go
  website/docs/d/storage_bucket_object.html.markdown
  website/docs/r/storage_bucket_object.html.markdown
Labels: documentation, size/XS

#6935 Update google_cloudfunctions_function datasource documentation.
  .changelog/3813.txt
  website/docs/d/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#6942 Adding Missing Cloud Build Attributes
  .changelog/3627.txt
  google/resource_cloud_build_trigger.go
  google/resource_cloud_build_trigger_generated_test.go
  google/resource_cloudbuild_trigger_test.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/XL

#6943 Move shieldedvmconfig -> shieldedinstanceconfig due to rename.
  .changelog/3822.txt
  google/compute_instance_helpers.go
  google/data_source_google_compute_instance.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
Labels: size/M

#6715 feat(sql_instance): add support for point_in_time_recovery
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/M

#6944 add support for point_in_time_recovery for sql instance
  .changelog/3819.txt
  google/resource_sql_database_instance_test.go
Labels: size/XS

#6946 Update ospatch's windows update classification field to be an array.
  .changelog/3823.txt
  google/resource_access_context_manager_access_level.go
  google/resource_dialogflow_intent.go
  google/resource_filestore_instance.go
  google/resource_os_config_patch_deployment.go
  google/resource_os_config_patch_deployment_generated_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/dialogflow_intent.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/os_config_patch_deployment.html.markdown
Labels: documentation, size/S

#6947 Remove test that tests legacy behavior which has been removed.
  .changelog/3829.txt
  google/resource_container_cluster_test.go
Labels: size/XS

#6951 Make `iap` field computed
  .changelog/3814.txt
  google/resource_app_engine_application.go
Labels: size/XS

#6955 Promote release_channel to GA for GKE
  .changelog/3834.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/L

#6962 update random provider to use hashicorp org
  go.mod
  go.sum
Labels: size/L

#6965 Revert "update random provider to use hashicorp org"
  go.mod
  go.sum
Labels: size/L

#6966 Revert "updating urls after migrating to hashicorp org"
  .github/CONTRIBUTING.md
  .golangci.yml
  .hashibot.hcl
  GNUmakefile
  go.mod
Labels: size/S

#6963 Promote release_channel_default_version field in data.google_container_engine_versions to GA
  .changelog/3839.txt
  google/data_source_google_container_engine_versions.go
  website/docs/d/container_engine_versions.html.markdown
Labels: size/XS

#6956 Convert inboundServices to an enum.
  .changelog/3820.txt
Labels: size/XS

#6960 Add serverless negs
  .changelog/3807.txt
Labels: size/XS

#6974 Fixed validation of service_level_indicator.0.windows_based_sli.0.metric_sum_in_range.0.range.0.max
  .changelog/3826.txt
  google/resource_monitoring_slo.go
Labels: size/XS

#6979 reconfigure PR template
  .changelog/3841.txt
Labels: size/XS

#6980 add source_image and source_snapshot to google_compute_image
  .changelog/3799.txt
  google/resource_compute_image.go
  google/resource_compute_image_test.go
  website/docs/r/compute_image.html.markdown
Labels: size/L

#6982 Follow redirects so downstreams get merged correctly.
  .changelog/3846.txt
Labels: size/XS

#6983 Adding support for v1 game servers.
  .changelog/3790.txt
  google/config.go
  google/data_google_game_services_game_server_deployment_rollout.go
  google/data_google_game_services_game_server_deployment_rollout_test.go
  google/game_services_operation.go
  google/provider.go
  google/resource_game_services_game_server_cluster.go
  google/resource_game_services_game_server_cluster_generated_test.go
  google/resource_game_services_game_server_cluster_sweeper_test.go
  google/resource_game_services_game_server_config.go
  google/resource_game_services_game_server_config_generated_test.go
  google/resource_game_services_game_server_config_sweeper_test.go
  google/resource_game_services_game_server_deployment.go
  google/resource_game_services_game_server_deployment_generated_test.go
  google/resource_game_services_game_server_deployment_rollout.go
  google/resource_game_services_game_server_deployment_rollout_generated_test.go
  google/resource_game_services_game_server_deployment_rollout_sweeper_test.go
  google/resource_game_services_game_server_deployment_sweeper_test.go
  google/resource_game_services_realm.go
  google/resource_game_services_realm_generated_test.go
  google/resource_game_services_realm_sweeper_test.go
  website/docs/d/game_services_game_server_deployment_rollout.html.markdown
  website/docs/r/game_services_game_server_cluster.html.markdown
  website/docs/r/game_services_game_server_config.html.markdown
  website/docs/r/game_services_game_server_deployment.html.markdown
  website/docs/r/game_services_game_server_deployment_rollout.html.markdown
  website/docs/r/game_services_realm.html.markdown
  website/google.erb
Labels: size/XXL

#6981 update links to hashicorp org
  .github/CONTRIBUTING.md
  .golangci.yml
  GNUmakefile
  README.md
  go.mod
  go.sum
  google/config.go
  main.go
Labels: size/S

#6984 migrating google and google-beta repos to hashicorp org
  .changelog/3835.txt
  google/data_source_google_storage_bucket_object.go
  google/error_retry_predicates.go
  google/iam.go
  google/resource_app_engine_application.go
  google/resource_compute_instance_template.go
  google/resource_compute_security_policy.go
  google/resource_container_cluster.go
  google/resource_google_organization_policy.go
  google/resource_logging_exclusion.go
  google/resource_pubsub_subscription_test.go
  google/transport.go
  scripts/affectedtests/affectedtests.go
  scripts/changelog-links.sh
  website/docs/guides/version_2_upgrade.html.markdown
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/index.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: size/M

#6986 Add missing region argument for dataflow job
  .changelog/3842.txt
  website/docs/r/dataflow_job.html.markdown
Labels: size/XS

#6987 Set region as optional in doc for cloud_scheduler_job
  .changelog/3845.txt
  google/resource_cloud_scheduler_job.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: size/XS

#6896 Add a warning about initial_node_count
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#6988 Add warning about initial_node_count
  .changelog/3851.txt
  website/docs/r/container_node_pool.html.markdown
Labels: size/XS

#6990 Collection fixes for release
  .changelog/3831.txt
  google/resource_pubsub_subscription.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: size/XS

#6991 Update documentation for Folder and Organization IAM resources.
  .changelog/3844.txt
  website/docs/r/google_folder_iam.html.markdown
  website/docs/r/google_folder_iam_audit_config.html.markdown
  website/docs/r/google_folder_iam_binding.html.markdown
  website/docs/r/google_folder_iam_member.html.markdown
  website/docs/r/google_folder_iam_policy.html.markdown
  website/docs/r/google_organization_iam.markdown
  website/docs/r/google_organization_iam_audit_config.html.markdown
  website/docs/r/google_organization_iam_binding.html.markdown
  website/docs/r/google_organization_iam_member.html.markdown
  website/docs/r/google_organization_iam_policy.html.markdown
  website/google.erb
Labels: size/XXL

#6997 Add new field filter to pubsub.
  .changelog/3759.txt
  google/resource_pubsub_subscription.go
  google/resource_pubsub_subscription_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: size/S

#6945 Add changelog entries for the 3.34.0 release.
  CHANGELOG.md
Labels: size/XS

#6999 Enable Uploading Serviceaccount keys
  .changelog/3849.txt
  google/resource_google_service_account_key.go
  google/resource_google_service_account_key_test.go
  google/test-fixtures/serviceaccount/public_key.pem
  website/docs/r/google_service_account_key.html.markdown
Labels: size/M

#7000 Add Confidential VM support to instances and instance templates
  .changelog/3824.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
Labels: size/XS

#7007 Fix project field for SQL instance data source
  .changelog/3854.txt
  google/data_source_sql_database_instance.go
  google/data_source_sql_database_instance_test.go
  website/docs/d/sql_database_instance.html.markdown
Labels: size/XS

#7008 add sweepers to igm/rigm tests, prefix igm/rigms with tf-test
  .changelog/3855.txt
  google/data_source_google_compute_instance_group_test.go
  google/data_source_google_compute_region_instance_group_test.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_backend_service_test.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_region_autoscaler_test.go
  google/resource_compute_region_instance_group_manager_test.go
Labels: size/M

#7010 add access approval settings resources
  .changelog/3828.txt
  google/config.go
  google/provider.go
  google/resource_access_approval_folder_settings.go
  google/resource_access_approval_folder_settings_test.go
  google/resource_access_approval_organization_settings.go
  google/resource_access_approval_organization_settings_test.go
  google/resource_access_approval_project_settings.go
  google/resource_access_approval_project_settings_test.go
  website/docs/r/access_approval_folder_settings.html.markdown
  website/docs/r/access_approval_organization_settings.html.markdown
  website/docs/r/access_approval_project_settings.html.markdown
  website/google.erb
Labels: size/XXL

#7011 updates more info link for cloud run service spec.containers.resources
  .changelog/3858.txt
  google/resource_cloud_run_service.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#7012 Upstream TPG #6920.
  .changelog/3833.txt
  google/resource_big_query_job.go
  website/docs/r/bigquery_job.html.markdown
Labels: size/XS

#7013 Add skips for beta tests that don't work with VCR.
  .changelog/3804.txt
  google/resource_compute_health_check_test.go
  google/resource_endpoints_service_test.go
  google/resource_google_folder_iam_audit_config_test.go
Labels: size/XS

#7018 Rename google_organization_iam markdown file to fix Travis
  .changelog/3857.txt
  website/docs/r/google_organization_iam.html.markdown
  website/google.erb
Labels: size/XS

#7026 Check for self_links in replaceVarsForTest
  .changelog/3866.txt
  google/transport_test.go
Labels: size/XS

#7027 Add ability to bulk edit access manager access levels and service perimeters
  .changelog/3852.txt
  google/provider.go
  google/resource_access_context_manager_access_levels.go
  google/resource_access_context_manager_access_levels_test.go
  google/resource_access_context_manager_access_policy_test.go
  google/resource_access_context_manager_service_perimeters.go
  google/resource_access_context_manager_services_perimeters_test.go
  website/docs/r/access_context_manager_access_levels.html.markdown
  website/docs/r/access_context_manager_service_perimeters.html.markdown
  website/google.erb
Labels: size/XXL

#7028 Add user prefix for generated iam import statements
  .changelog/3864.txt
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/data_catalog_entry_group_iam.html.markdown
  website/docs/r/endpoints_service_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_tunnel_instance_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/secret_manager_secret_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: size/S

#7029 Skip more beta tests in VCR
  .changelog/3859.txt
  google/resource_data_catalog_tag_generated_test.go
Labels: size/XS

#7030 Add archive class to gcs
  .changelog/3867.txt
  google/resource_storage_bucket.go
  google/resource_storage_bucket_object.go
  google/resource_storage_bucket_test.go
  website/docs/d/storage_bucket_object.html.markdown
  website/docs/r/storage_bucket.html.markdown
  website/docs/r/storage_bucket_object.html.markdown
Labels: size/XS

#7031 typo correction - value (singular) to values
  .changelog/3869.txt
  website/docs/r/compute_instance.html.markdown
Labels: size/XS

#7032 Add more skips for beta tests
  .changelog/3870.txt
  google/resource_active_directory_domain_generated_test.go
  google/resource_compute_region_health_check_test.go
  google/resource_container_cluster_test.go
  google/resource_storage_bucket_test.go
Labels: size/XS

#7009 3.35.0 Changelog
  CHANGELOG.md
Labels: size/S

#7038 Add support for gRPC healthchecks
  .changelog/3825.txt
  google/resource_compute_health_check.go
  google/resource_compute_health_check_generated_test.go
  google/resource_compute_region_health_check.go
  google/resource_compute_region_health_check_generated_test.go
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
Labels: size/XL

#7039 Add enableMessageOrdering to Pub/Sub Subscription
  .changelog/3872.txt
  google/resource_pubsub_subscription.go
  google/resource_pubsub_subscription_generated_test.go
  google/resource_pubsub_subscription_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: size/S

#7040 fix cloud identity groups sweeper
  .changelog/3875.txt
  google/resource_cloud_identity_group_sweeper_test.go
Labels: size/XS

#7041 Add support for BigQuery table ACLs
  .changelog/3856.txt
  google/iam_big_query_table.go
  google/iam_big_query_table_generated_test.go
  google/provider.go
  website/docs/r/bigquery_table_iam.html.markdown
  website/google.erb
Labels: size/XL

#7042 Specify possible values for arg only once
  .changelog/3874.txt
  google/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/XS

#7043 Add attributes reference to `google_compute_instance_from_template`
  .changelog/3877.txt
  website/docs/r/compute_instance_from_template.html.markdown
Labels: size/XS

#7045 use {product}.googleapis.com endpoints
  .changelog/3755.txt
  google/config.go
  google/data_source_google_compute_zones.go
  google/data_source_google_compute_zones_test.go
  google/resource_compute_address_sweeper_test.go
  google/resource_compute_autoscaler_sweeper_test.go
  google/resource_compute_backend_bucket_signed_url_key_sweeper_test.go
  google/resource_compute_backend_bucket_sweeper_test.go
  google/resource_compute_backend_service_signed_url_key_sweeper_test.go
  google/resource_compute_backend_service_sweeper_test.go
  google/resource_compute_firewall_sweeper_test.go
  google/resource_compute_forwarding_rule_sweeper_test.go
  google/resource_compute_global_address_sweeper_test.go
  google/resource_compute_global_forwarding_rule_sweeper_test.go
  google/resource_compute_global_network_endpoint_group_sweeper_test.go
  google/resource_compute_health_check_sweeper_test.go
  google/resource_compute_http_health_check_sweeper_test.go
  google/resource_compute_https_health_check_sweeper_test.go
  google/resource_compute_image_sweeper_test.go
  google/resource_compute_instance_group_named_port_sweeper_test.go
  google/resource_compute_network_endpoint_group_sweeper_test.go
  google/resource_compute_network_peering.go
  google/resource_compute_network_sweeper_test.go
  google/resource_compute_node_group_sweeper_test.go
  google/resource_compute_node_template_sweeper_test.go
  google/resource_compute_region_autoscaler_sweeper_test.go
  google/resource_compute_region_backend_service_sweeper_test.go
  google/resource_compute_region_health_check_sweeper_test.go
  google/resource_compute_region_ssl_certificate_sweeper_test.go
  google/resource_compute_region_target_http_proxy_sweeper_test.go
  google/resource_compute_region_target_https_proxy_sweeper_test.go
  google/resource_compute_region_url_map_sweeper_test.go
  google/resource_compute_reservation_sweeper_test.go
  google/resource_compute_resource_policy_sweeper_test.go
  google/resource_compute_route_sweeper_test.go
  google/resource_compute_router_bgp_peer_sweeper_test.go
  google/resource_compute_router_nat_sweeper_test.go
  google/resource_compute_router_sweeper_test.go
  google/resource_compute_snapshot_sweeper_test.go
  google/resource_compute_ssl_certificate_sweeper_test.go
  google/resource_compute_ssl_policy_sweeper_test.go
  google/resource_compute_subnetwork_sweeper_test.go
  google/resource_compute_target_http_proxy_sweeper_test.go
  google/resource_compute_target_https_proxy_sweeper_test.go
  google/resource_compute_target_instance_sweeper_test.go
  google/resource_compute_target_ssl_proxy_sweeper_test.go
  google/resource_compute_target_tcp_proxy_sweeper_test.go
  google/resource_compute_url_map_sweeper_test.go
  google/resource_compute_vpn_gateway_sweeper_test.go
  google/resource_compute_vpn_tunnel_sweeper_test.go
  google/resource_dns_managed_zone_sweeper_test.go
  google/resource_google_project.go
Labels: size/XL

#7047 fix bug with data access iam member
  .changelog/3741.txt
  google/resource_big_query_dataset_access.go
  google/resource_bigquery_dataset_access_test.go
Labels: size/L

#7049 google_dataflow_job - return more fields on the read
  .changelog/3880.txt
  google/resource_dataflow_job.go
Labels: size/XS

#7054 Make sql db instance recreate when going private -> public
  .changelog/3882.txt
  google/resource_sql_database_instance.go
Labels: size/XS

#7056 Add trust to ad domain 5731
  .changelog/3798.txt
  google/provider.go
  google/resource_active_directory_domain_generated_test.go
  google/resource_active_directory_domain_trust.go
  google/resource_active_directory_domain_trust_test.go
  website/docs/r/active_directory_domain.html.markdown
  website/docs/r/active_directory_domain_trust.html.markdown
  website/google.erb
Labels: size/XL

#7057 Shorten domain name to fit regex
  .changelog/3878.txt
  google/resource_active_directory_domain_generated_test.go
  website/docs/r/active_directory_domain.html.markdown
Labels: size/XS

#7060 Upstream support for Kubelet and Linux Node configurations in GKE
  .changelog/3760.txt
  google/resource_container_node_pool.go
  website/docs/r/container_cluster.html.markdown
Labels: size/S

#7061 Fix grpc healthcheck behaviour.
  .changelog/3883.txt
  google/resource_compute_health_check.go
  google/resource_compute_health_check_test.go
  google/resource_compute_region_health_check.go
  google/resource_compute_region_health_check_test.go
Labels: size/S

#7062 Add vpcAccessConnector property on google_app_engine_standard_app_version terraform resource
  .changelog/3789.txt
  google/resource_app_engine_standard_app_version.go
  google/resource_app_engine_standard_app_version_test.go
  website/docs/r/app_engine_standard_app_version.html.markdown
Labels: size/L

#7063 Use `lineage` instead of `api_name` for property conflicts
  .changelog/3885.txt
  google/resource_compute_url_map.go
Labels: size/XS

#7066 Add support for regional NEG stripping of maxUtilization based on url
  .changelog/3884.txt
  google/resource_compute_backend_service.go
Labels: size/XS

#7068 Fix test resource names to match example
  .changelog/3889.txt
  google/resource_compute_region_health_check_generated_test.go
  website/docs/r/compute_region_health_check.html.markdown
Labels: size/XS

#7070 add support for iam resources for google_compute_image
  .changelog/3887.txt
  google/iam_compute_image.go
  google/iam_compute_image_generated_test.go
  google/provider.go
  website/docs/r/compute_image_iam.html.markdown
  website/google.erb
Labels: size/XL

#7065 Generate changelog for 3.36.0
  CHANGELOG.md
Labels: size/XS

#7091 [Provider documentation] - Fix clone path to align with other commands
  README.md
Labels: size/XS

#7098 fixed data_source_secret_manager_secret_version on its id
  .changelog/3904.txt
  google/data_source_secret_manager_secret_version.go
Labels: size/XS

#7099 Advanced logging config options in google_compute_subnetwork
  .changelog/3603.txt
  google/resource_compute_subnetwork.go
  google/resource_compute_subnetwork_test.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/M

#7104 update docs now that upgrade_settings is no longer beta
  .changelog/3906.txt
  website/docs/r/container_node_pool.html.markdown
Labels: size/XS

#7105 Add DatabaseConfig and WebServerConfig to Cloud Composer's EnvironmentConfig
  .changelog/3863.txt
  google/resource_composer_environment.go
  google/resource_composer_environment_test.go
  website/docs/r/composer_environment.html.markdown
Labels: size/L

#7106 fix active directory domain sweeper
  .changelog/3902.txt
  google/resource_active_directory_domain_generated_test.go
  google/resource_active_directory_domain_sweeper_test.go
  google/resource_active_directory_domain_update_test.go
  website/docs/r/active_directory_domain.html.markdown
Labels: size/XS

#7108 Add support for pd-balanced disk type
  .changelog/3827.txt
  google/node_config.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7109 fixed audit_config in iam_policy doc
  .changelog/3901.txt
  website/docs/d/iam_policy.html.markdown
Labels: size/XS

#7110 added IAM resources for disk & regionDisk
  .changelog/3888.txt
  google/iam_compute_disk.go
  google/iam_compute_disk_generated_test.go
  google/iam_compute_region_disk.go
  google/iam_compute_region_disk_generated_test.go
  google/provider.go
  website/docs/r/compute_disk_iam.html.markdown
  website/docs/r/compute_region_disk_iam.html.markdown
  website/google.erb
Labels: size/XXL

#7112 Mark Resource usage export config as GA in Docs
  .changelog/3909.txt
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7114 Add project overrides to gke services
  .changelog/3892.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
  google/resource_google_project_service.go
  google/resource_google_project_service_test.go
Labels: size/L

#7119 Cloud Storage: docs improvements for automatic service account
  .changelog/3903.txt
  website/docs/d/storage_project_service_account.html.markdown
  website/docs/r/storage_bucket.html.markdown
  website/docs/r/storage_notification.html.markdown
Labels: size/M

#7111 Update cloudfunctions_function.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#7123 Data Losss Prevention resources
  .changelog/3893.txt
  google/config.go
  google/provider.go
  google/resource_data_loss_prevention_inspect_template.go
  google/resource_data_loss_prevention_inspect_template_generated_test.go
  google/resource_data_loss_prevention_inspect_template_sweeper_test.go
  google/resource_data_loss_prevention_inspect_template_test.go
  google/resource_data_loss_prevention_job_trigger.go
  google/resource_data_loss_prevention_job_trigger_generated_test.go
  google/resource_data_loss_prevention_job_trigger_sweeper_test.go
  google/resource_data_loss_prevention_job_trigger_test.go
  website/docs/r/data_loss_prevention_inspect_template.html.markdown
  website/docs/r/data_loss_prevention_job_trigger.html.markdown
  website/google.erb
Labels: size/XXL

#7130 Add Erase Windows VSS support to compute disk
  .changelog/3898.txt
  google/iam_compute_disk_generated_test.go
  google/resource_compute_disk.go
  google/resource_compute_disk_generated_test.go
  website/docs/r/compute_disk.html.markdown
Labels: size/M

#7131 Fix failing active_directory_domain_trust tests
  .changelog/3915.txt
  google/resource_active_directory_domain_trust_test.go
Labels: size/XS

#7132 only update shielded_instance_config for stopped instances
  .changelog/3918.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: size/M

#7133 Upstream: Add google_project_service_identity resource
  .changelog/3921.txt
  google/resource_project_service_identity.go
  google/resource_project_service_identity_test.go
  website/docs/r/project_service_identity.html.markdown
  website/google.erb
Labels: size/M

#7136 Update GKE Docs to mentions labels that can't be used.
  .changelog/3925.txt
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7090 Update google_project_service.html.markdown
  website/docs/r/google_project_service.html.markdown
Labels: size/XS

#7139 Add additional fields to projects data source
  .changelog/3868.txt
  google/data_source_google_projects.go
  google/data_source_google_projects_test.go
  website/docs/r/google_project_service.html.markdown
Labels: size/M

#7141 Cleanup legacy provider formatting
  .changelog/3926.txt
  website/docs/d/container_engine_versions.html.markdown
  website/docs/guides/provider_reference.html.markdown
Labels: size/XS

#7143 Deprecate bucket policy field in google_storage_bucket
  .changelog/3916.txt
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: size/M

#7144 Add permission name.
  .changelog/3927.txt
  website/docs/r/google_project_service.html.markdown
Labels: size/XS

#7145 Stored info
  .changelog/3922.txt
  google/provider.go
  google/resource_data_loss_prevention_inspect_template.go
  google/resource_data_loss_prevention_job_trigger.go
  google/resource_data_loss_prevention_stored_info_type.go
  google/resource_data_loss_prevention_stored_info_type_generated_test.go
  google/resource_data_loss_prevention_stored_info_type_sweeper_test.go
  google/resource_data_loss_prevention_stored_info_type_test.go
  google/test-fixtures/dlp/words.txt
  website/docs/r/data_loss_prevention_stored_info_type.html.markdown
  website/google.erb
Labels: size/XXL

#7146 Add DSFs to references in snapshot tests (and other MM-generated tests)
  .changelog/3930.txt
  google/resource_compute_address_generated_test.go
  google/resource_compute_autoscaler_generated_test.go
  google/resource_compute_disk_generated_test.go
  google/resource_compute_firewall_generated_test.go
  google/resource_compute_forwarding_rule_generated_test.go
  google/resource_compute_global_address_generated_test.go
  google/resource_compute_image_generated_test.go
  google/resource_compute_network_endpoint_group_generated_test.go
  google/resource_compute_node_group_generated_test.go
  google/resource_compute_node_template_generated_test.go
  google/resource_compute_region_autoscaler_generated_test.go
  google/resource_compute_region_backend_service_generated_test.go
  google/resource_compute_region_disk_generated_test.go
  google/resource_compute_region_health_check_generated_test.go
  google/resource_compute_region_ssl_certificate_generated_test.go
  google/resource_compute_region_target_http_proxy_generated_test.go
  google/resource_compute_region_target_https_proxy_generated_test.go
  google/resource_compute_region_url_map_generated_test.go
  google/resource_compute_reservation_generated_test.go
  google/resource_compute_resource_policy_generated_test.go
  google/resource_compute_route_generated_test.go
  google/resource_compute_router_generated_test.go
  google/resource_compute_snapshot_generated_test.go
  google/resource_compute_snapshot_test.go
  google/resource_compute_subnetwork_generated_test.go
  google/resource_compute_target_http_proxy_generated_test.go
  google/resource_compute_target_https_proxy_generated_test.go
  google/resource_compute_target_instance_generated_test.go
  google/resource_compute_target_ssl_proxy_generated_test.go
  google/resource_compute_target_tcp_proxy_generated_test.go
  google/resource_compute_url_map_generated_test.go
  google/resource_compute_vpn_gateway_generated_test.go
  google/resource_compute_vpn_tunnel_generated_test.go
  google/resource_pubsub_subscription_generated_test.go
  google/resource_spanner_database_generated_test.go
  google/resource_spanner_instance_generated_test.go
  google/resource_storage_bucket_access_control_generated_test.go
  google/resource_storage_object_access_control_generated_test.go
Labels: size/XL

#7153 Allow IGM to resume operation after interruption
  .changelog/3928.txt
  google/compute_operation.go
  google/resource_compute_instance_group_manager.go
Labels: size/S

#7162 Export email output in service_identity
  .changelog/3924.txt
  website/docs/r/project_service_identity.html.markdown
Labels: size/XS

#7121 3.37.0 CHANGELOG
  CHANGELOG.md
Labels: size/XS
