Repository hashicorp/terraform-provider-google, pull requests merged in 2020-04, with the labels that each got.

#6026 init os-login sshkey
  .changelog/3221.txt
  google/config.go
  google/data_source_google_client_openid_userinfo.go
  google/provider.go
  google/resource_os_login_ssh_public_key.go
  google/resource_os_login_ssh_public_key_generated_test.go
  google/resource_os_login_ssh_public_key_sweeper_test.go
  google/test-fixtures/ssh_rsa.pub
  google/userinfo.go
  website/docs/r/os_login_ssh_public_key.html.markdown
  website/google.erb
Labels: documentation, size/XL

#6027 Add mutex for all app engine app resources
  .changelog/3327.txt
  google/resource_app_engine_application.go
  google/resource_app_engine_domain_mapping.go
  google/resource_app_engine_firewall_rule.go
Labels: size/M

#6025 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#6035 add bigquery_dataset_access fine-grained resource
  .changelog/3312.txt
  google/provider.go
  google/resource_access_context_manager_service_perimeter_resource.go
  google/resource_big_query_dataset_access.go
  google/resource_bigquery_dataset_access_test.go
  google/resource_compute_backend_bucket_signed_url_key.go
  google/resource_compute_backend_service_signed_url_key.go
  google/resource_compute_disk_resource_policy_attachment.go
  google/resource_compute_instance_group_named_port.go
  google/resource_compute_network_endpoint.go
  google/resource_compute_network_peering_routes_config.go
  google/resource_compute_region_disk_resource_policy_attachment.go
  google/resource_compute_router_bgp_peer.go
  google/resource_compute_router_nat.go
  google/resource_resource_manager_lien.go
  website/docs/r/bigquery_dataset.html.markdown
  website/docs/r/bigquery_dataset_access.html.markdown
Labels: documentation, size/XXL

#6039 Fix and update TestAccDialogflowAgent_update
  .changelog/3334.txt
  google/resource_dialogflow_agent_test.go
Labels: size/M

#6041 make ipv4_enabled default to true
  .changelog/3330.txt
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
Labels: size/XS

#6042 Bump GKE API reference to beta
  .changelog/3337.txt
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#6043 Add bigquery_dataset_access to sidebar
  .changelog/3338.txt
  website/google.erb
Labels: documentation, size/XS

#6044 Storage bucket: Surface non-retryable object delete error
  .changelog/3336.txt
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
Labels: size/M

#6045 doc: Fix "regions and regions" into "regions and zones"
  website/docs/d/google_compute_regions.html.markdown
Labels: documentation, size/XS

#6046 candidate subnets ignore read, admin enabled computed
  .changelog/3342.txt
  google/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/M

#6033 Add `ipip` to list of protocols supported by compute_firewall resource
  website/docs/r/compute_firewall.html.markdown
Labels: documentation, size/XS

#6047 Upstream https://github.com/terraform-providers/terraform-provider-google/pull/6033
  .changelog/3345.txt
  google/resource_compute_firewall.go
Labels: size/XS

#6023 Standardize google_compute_instance import
  google/resource_compute_instance.go
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#6060 d.Set default parameters
  .changelog/3349.txt
  google/iam_binary_authorization_attestor.go
  google/iam_cloud_functions_cloud_function.go
  google/iam_cloud_run_service.go
  google/iam_compute_instance.go
  google/iam_compute_subnetwork.go
  google/iam_iap_app_engine_service.go
  google/iam_iap_app_engine_version.go
  google/iam_iap_tunnel_instance.go
  google/iam_iap_web.go
  google/iam_iap_web_backend_service.go
  google/iam_iap_web_type_app_engine.go
  google/iam_iap_web_type_compute.go
  google/iam_pubsub_topic.go
  google/iam_runtime_config_config.go
  google/iam_source_repo_repository.go
Labels: size/S

#6061 Dialogflow Intent Resource
  .changelog/3285.txt
  google/provider.go
  google/resource_dialogflow_intent.go
  google/resource_dialogflow_intent_generated_test.go
  google/resource_dialogflow_intent_test.go
  website/docs/r/dialogflow_intent.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6062 move deleted project check into project service read
  .changelog/3350.txt
  google/resource_google_project.go
  google/resource_google_project_service.go
Labels: size/S

#6069 Add support for multiple formats for pubsub refs in source repo
  .changelog/3339.txt
  google/pubsub_utils.go
  google/resource_app_engine_flexible_app_version.go
  google/resource_app_engine_standard_app_version.go
  google/resource_binary_authorization_policy.go
  google/resource_source_repo_repository.go
  google/source_repo_utils.go
  google/utils.go
Labels: size/S

#6070 use scheduling from template rather than instance defaults
  .changelog/3352.txt
  google/resource_compute_instance_from_template.go
  google/resource_compute_instance_from_template_test.go
Labels: size/M

#6071 VPC SC dry-run mode
  .changelog/3353.txt
  google/resource_access_context_manager_service_perimeter.go
  google/resource_access_context_manager_service_perimeter_test.go
  website/docs/r/access_context_manager_service_perimeter.html.markdown
Labels: documentation, size/XL

#6072 treat project 404s correctly in project service read
  .changelog/3354.txt
  google/resource_google_project_service.go
Labels: size/XS

#6076 Allow enabling IAP in google_app_engine_application.
  .changelog/3332.txt
  google/resource_app_engine_application.go
  google/resource_app_engine_application_test.go
Labels: size/XS

#6078 Add monitoring service resource, datasource for app engine
  .changelog/3341.txt
  google/data_source_monitoring_service.go
  google/data_source_monitoring_service_app_engine.go
  google/data_source_monitoring_service_test.go
  google/provider.go
  google/resource_monitoring_service.go
  google/resource_monitoring_service_generated_test.go
  google/resource_monitoring_service_sweeper_test.go
  website/docs/d/datasource_monitoring_app_engine_service.html.markdown
  website/docs/r/monitoring_service.html.markdown
  website/google.erb
Labels: documentation, size/XL

#6064 Fix docs bug in google_compute_instance_template
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#6083 Allow one and two nodes production bigtable clusters
  google/resource_bigtable_instance.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/XS

#6088 Inspec bucket labels
  .changelog/3364.txt
  google/resource_bigtable_instance.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/XS

#6090 make display name optional on monitoring notification channel
  .changelog/3365.txt
  google/resource_monitoring_notification_channel.go
  website/docs/r/monitoring_notification_channel.html.markdown
Labels: documentation, size/XS

#6095 Global NEG
  .changelog/3333.txt
  google/provider.go
  google/resource_compute_global_network_endpoint.go
  google/resource_compute_global_network_endpoint_group.go
  google/resource_compute_global_network_endpoint_group_generated_test.go
  google/resource_compute_global_network_endpoint_group_sweeper_test.go
  google/resource_compute_global_network_endpoint_test.go
  google/resource_compute_network_endpoint_group.go
  website/docs/r/compute_global_network_endpoint.html.markdown
  website/docs/r/compute_global_network_endpoint_group.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6080 3.17.0 Changelog
  CHANGELOG.md
Labels: size/XS

#6107 add new project for app engine flex tests
  .changelog/3348.txt
  google/resource_app_engine_flexible_app_version_generated_test.go
  google/resource_app_engine_flexible_app_version_test.go
  website/docs/r/app_engine_flexible_app_version.html.markdown
Labels: documentation, size/M

#6108 Add Firebase WebApp resource
  .changelog/3340.txt
  google/data_source_google_firebase_web_app.go
  google/data_source_google_firebase_web_app_config.go
  google/resource_firebase_web_app_test.go
  website/docs/d/datasource_firebase_web_app.html.markdown
  website/docs/d/datasource_firebase_web_app_config.html.markdown
Labels: documentation, size/M

#6111 Added name field to both custom project and org roles
  .changelog/3370.txt
  google/resource_google_organization_iam_custom_role.go
  google/resource_google_project_iam_custom_role.go
  website/docs/r/google_organization_iam_custom_role.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_project_iam_custom_role.html.markdown
Labels: documentation, size/XS

#6115 Remove missed status check in nodepool
  .changelog/3374.txt
  google/resource_container_node_pool.go
Labels: size/XS

#6118 Add initial monitoring SLO resource
  .changelog/3363.txt
  google/provider.go
  google/resource_monitoring_slo.go
  google/resource_monitoring_slo_generated_test.go
  google/resource_monitoring_slo_sweeper_test.go
  google/resource_monitoring_slo_test.go
  website/docs/r/monitoring_slo.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6123 Dataproc Cluster: Preserve preemptible config fields when preeemptible group removed.
  .changelog/3375.txt
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
Labels: size/XS

#6125 Placement policy support for Compute Instance
  .changelog/3256.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  google/resource_compute_resource_policy.go
  google/resource_compute_resource_policy_generated_test.go
  google/resource_compute_resource_policy_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/XL

#6124 update changelog
  CHANGELOG.md
Labels: size/XS

#6134 adding bigquery job
  .changelog/3331.txt
  google/provider.go
  google/resource_big_query_job.go
  google/resource_big_query_job_generated_test.go
  google/resource_big_query_job_sweeper_test.go
  website/docs/r/bigquery_job.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6139 Changes for upgraded googleapi library
  .changelog/3386.txt
  google/resource_sql_database_instance.go
Labels: size/XS

#6150 Service Directory resources
  .changelog/3371.txt
  google/resource_service_directory_endpoint_test.go
  google/resource_service_directory_namespace_test.go
  google/resource_service_directory_service_test.go
  website/google.erb
Labels: documentation, size/XS

#6153 Release 3.18.0 Changelog
  CHANGELOG.md
Labels: size/S

#6159 Reapply bigtable patch
  .changelog/3395.txt
  google/resource_bigtable_instance.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/XS

#6160 GKE Addon for Compute Engine persistent disk CSI Driver
  .changelog/3392.txt
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#6161 Add sleep so google_project is ready before returning
  .changelog/3388.txt
  google/resource_google_project.go
Labels: size/XS

#6162 Add transformation of SQL DB read error so HandleNotFound works
  .changelog/3396.txt
  google/resource_sql_database.go
  google/sql_utils.go
Labels: size/S

#6163 force send boolean backup fields
  .changelog/3397.txt
  google/resource_sql_database_instance.go
Labels: size/XS

#6164 Promote healthcare resources to GA
  .changelog/3377.txt
  google/config.go
  google/healthcare_utils.go
  google/provider.go
  google/resource_healthcare_dataset.go
  google/resource_healthcare_dataset_generated_test.go
  google/resource_healthcare_dataset_iam_test.go
  google/resource_healthcare_dataset_sweeper_test.go
  google/resource_healthcare_dataset_test.go
  google/resource_healthcare_dicom_store.go
  google/resource_healthcare_dicom_store_generated_test.go
  google/resource_healthcare_dicom_store_iam_test.go
  google/resource_healthcare_dicom_store_sweeper_test.go
  google/resource_healthcare_dicom_store_test.go
  google/resource_healthcare_fhir_store.go
  google/resource_healthcare_fhir_store_generated_test.go
  google/resource_healthcare_fhir_store_iam_test.go
  google/resource_healthcare_fhir_store_sweeper_test.go
  google/resource_healthcare_fhir_store_test.go
  google/resource_healthcare_hl7_v2_store.go
  google/resource_healthcare_hl7_v2_store_generated_test.go
  google/resource_healthcare_hl7_v2_store_iam_test.go
  google/resource_healthcare_hl7_v2_store_sweeper_test.go
  google/resource_healthcare_hl7_v2_store_test.go
  website/docs/r/healthcare_dataset.html.markdown
  website/docs/r/healthcare_dicom_store.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/healthcare_hl7_v2_store.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#6165 change affected AtLeastOneOfs back to ExactlyOneOf
  .changelog/3394.txt
  google/resource_compute_firewall.go
  google/resource_compute_health_check.go
  google/resource_compute_health_check_test.go
  google/resource_compute_region_health_check.go
  google/resource_compute_region_health_check_test.go
  google/resource_google_organization_policy.go
Labels: size/M

#6167 Service Directory Cloud DNS integration
  .changelog/3398.txt
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/S

#6169 more product renames
  .changelog/3399.txt
  website/docs/d/datasource_compute_lb_ip_ranges.html.markdown
  website/docs/d/datasource_google_secret_manager_secret_version.html.markdown
  website/docs/d/datasource_tpu_tensorflow_versions.html.markdown
  website/docs/d/google_compute_default_service_account.html.markdown
  website/docs/d/google_compute_resource_policy.html.markdown
  website/docs/d/google_kms_crypto_key.html.markdown
  website/docs/d/google_kms_crypto_key_version.html.markdown
  website/docs/d/google_kms_key_ring.html.markdown
  website/docs/d/google_kms_secret.html.markdown
  website/docs/d/google_kms_secret_ciphertext.html.markdown
  website/docs/d/google_storage_project_service_account.html.markdown
  website/docs/d/google_storage_transfer_project_service_account.html.markdown
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_access_policy.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/docs/r/access_context_manager_service_perimeter_resource.html.markdown
  website/docs/r/bigquery_data_transfer_config.html.markdown
  website/docs/r/bigtable_app_profile.html.markdown
  website/docs/r/bigtable_gc_policy.html.markdown
  website/docs/r/bigtable_instance.html.markdown
  website/docs/r/bigtable_instance_iam.html.markdown
  website/docs/r/bigtable_table.html.markdown
  website/docs/r/dataproc_autoscaling_policy.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/dataproc_cluster_iam.html.markdown
  website/docs/r/dataproc_job.html.markdown
  website/docs/r/dataproc_job_iam.html.markdown
  website/docs/r/datastore_index.html.markdown
  website/docs/r/deployment_manager_deployment.html.markdown
  website/docs/r/endpoints_service_iam.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/firestore_index.html.markdown
  website/docs/r/google_kms_crypto_key_iam.html.markdown
  website/docs/r/google_kms_key_ring_iam.html.markdown
  website/docs/r/kms_crypto_key.html.markdown
  website/docs/r/kms_key_ring.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
  website/docs/r/logging_metric.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_group.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_service.html.markdown
  website/docs/r/monitoring_slo.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/scc_source.html.markdown
  website/docs/r/storage_transfer_job.html.markdown
  website/google.erb
Labels: documentation, size/XL

#6170 adding healthcare api to vendor
  vendor/google.golang.org/api/healthcare/v1beta1/healthcare-api.json
  vendor/google.golang.org/api/healthcare/v1beta1/healthcare-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#6173 Instance sweeper
  .changelog/3401.txt
  google/data_source_google_compute_instance_test.go
  google/resource_compute_instance_group_test.go
  google/resource_compute_instance_test.go
  google/resource_compute_network_endpoint_test.go
  google/resource_compute_route_test.go
  google/resource_compute_target_pool_test.go
Labels: size/L

#6174 Added Artifact Registry product
  .changelog/3360.txt
  google/import.go
  website/google.erb
Labels: documentation, size/XS

#6180 add note in docs to generated sensitive fields
  .changelog/3393.txt
  google/resource_compute_region_disk.go
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_region_ssl_certificate.html.markdown
  website/docs/r/compute_snapshot.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/iap_client.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/storage_hmac_key.html.markdown
Labels: documentation, size/M

#6181 add healthcare iam resources to GA
  .changelog/3408.txt
  google/iam_healthcare_dataset.go
  google/iam_healthcare_dicom_store.go
  google/iam_healthcare_fhir_store.go
  google/iam_healthcare_hl7_v2_store.go
  google/provider.go
Labels: size/XL

#6183 adds scaling properties to appengine standard version
  .changelog/3373.txt
  google/resource_app_engine_flexible_app_version.go
  google/resource_app_engine_standard_app_version.go
  google/resource_app_engine_standard_app_version_generated_test.go
  google/resource_app_engine_standard_app_version_test.go
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/app_engine_standard_app_version.html.markdown
Labels: documentation, size/XL

#6185 more sidebar fixes
  .changelog/3409.txt
  website/docs/d/datasource_google_monitoring_uptime_check_ips.html.markdown
  website/docs/d/datasource_monitoring_app_engine_service.html.markdown
  website/docs/d/datasource_monitoring_notification_channel.html.markdown
  website/docs/r/logging_billing_account_exclusion.html.markdown
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_exclusion.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_exclusion.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_exclusion.html.markdown
  website/docs/r/logging_project_sink.html.markdown
  website/docs/r/runtimeconfig_config.html.markdown
  website/docs/r/runtimeconfig_variable.html.markdown
  website/google.erb
Labels: documentation, size/L

#6186 Update urlRedirect property of UrlMap and RegionUrlMap
  .changelog/3378.txt
  google/resource_compute_url_map.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/M

#6188 allow updating bigtable table column families
  .changelog/3411.txt
  google/resource_bigtable_instance.go
  google/resource_bigtable_table.go
  google/resource_bigtable_table_test.go
  website/docs/r/bigtable_instance.html.markdown
  website/docs/r/bigtable_table.html.markdown
Labels: documentation, size/L

#6189 remove sweepers for healthcare datastores as they'll be swept by the dataset sweepers
  .changelog/3412.txt
  google/resource_healthcare_dicom_store_sweeper_test.go
  google/resource_healthcare_fhir_store_sweeper_test.go
  google/resource_healthcare_hl7_v2_store_sweeper_test.go
Labels: size/XL

#6190 makefile changes to run `go generate`
  GNUmakefile
Labels: documentation, size/XS

#6192 generate the sidebar
  .changelog/3414.txt
  scripts/sidebar/sidebar.go
  website/google.erb
  website/google.erb.tmpl
Labels: documentation, size/XXL

#6172 changelog for 3.19
  CHANGELOG.md
Labels: dependencies, documentation, size/XS

#6193 Allow fields to be removed at a specific version
  .changelog/3417.txt
  google/config.go
  google/iam_healthcare_dataset.go
  google/iam_healthcare_dicom_store.go
  google/iam_healthcare_fhir_store.go
  google/iam_healthcare_hl7_v2_store.go
  google/resource_healthcare_hl7_v2_store.go
  google/resource_healthcare_hl7_v2_store_generated_test.go
  google/resource_healthcare_hl7_v2_store_test.go
  website/docs/r/healthcare_hl7_v2_store.html.markdown
Labels: documentation, size/L

#6187 Remove chrisst from random reviewers list
  .hashibot.hcl
Labels: size/XS

#6199 add id's to sweeper templates
  .changelog/3419.txt
  google/resource_big_query_dataset_sweeper_test.go
  google/resource_big_query_job_sweeper_test.go
  google/resource_cloud_build_trigger_sweeper_test.go
  google/resource_dataproc_autoscaling_policy_sweeper_test.go
  google/resource_iap_client_sweeper_test.go
  google/resource_identity_platform_default_supported_idp_config_sweeper_test.go
  google/resource_identity_platform_tenant_default_supported_idp_config_sweeper_test.go
Labels: size/XL

#6200 Use ResourceIamPolicy for google_project_iam_policy
  .changelog/3410.txt
  google/iam_project.go
  google/provider.go
  google/resource_google_project_iam_policy.go
  google/resource_google_project_iam_policy_test.go
  google/resource_google_project_migrate.go
Labels: size/L

#6203 Add default url redirect to url maps
  .changelog/3379.txt
  google/resource_compute_target_http_proxy_generated_test.go
  google/resource_compute_url_map.go
  google/resource_compute_url_map_test.go
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/XL

#6215 Add GKE recommendations / usage docs
  .changelog/3402.txt
  website/docs/guides/getting_started.html.markdown
  website/docs/guides/using_gke_with_terraform.html.markdown
  website/docs/guides/version_2_upgrade.html.markdown
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
  website/google.erb
  website/google.erb.tmpl
Labels: documentation, size/L

#6216 Include iap in appengine patch updatemask.
  .changelog/3418.txt
  google/resource_app_engine_application.go
Labels: size/XS

#6217 Release 3.19.0
  CHANGELOG.md
Labels: size/XS

#6221 add optional service account for scheduled queries
  .changelog/3405.txt
  google/resource_bigquery_data_transfer_config.go
  google/resource_bigquery_data_transfer_config_sweeper_test.go
  google/resource_bigquery_data_transfer_config_test.go
  website/docs/r/bigquery_data_transfer_config.html.markdown
Labels: documentation, size/M

#6196 Add support for providing additional experiments to Dataflow job
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/M

#6225 Stateful disk support for igm/rigm
  .changelog/3382.txt
  google/resource_compute_instance_group_manager.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_region_instance_group_manager_test.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: documentation, size/XS

#6226 Add timeouts to all resources that use Operations
  .changelog/3432.txt
  google/appengine_operation.go
  google/compute_operation.go
  google/resource_app_engine_application.go
  google/resource_compute_backend_service.go
  google/resource_compute_disk.go
  google/resource_compute_instance_group.go
  google/resource_compute_instance_migrate_test.go
  google/resource_compute_instance_template.go
  google/resource_compute_network.go
  google/resource_compute_network_peering.go
  google/resource_compute_project_default_network_tier.go
  google/resource_compute_project_metadata.go
  google/resource_compute_region_disk.go
  google/resource_compute_router_interface.go
  google/resource_compute_shared_vpc_host_project.go
  google/resource_compute_shared_vpc_service_project.go
  google/resource_compute_target_pool.go
  google/resource_endpoints_service.go
  google/resource_google_project.go
  google/resource_google_project_service.go
  google/resource_service_networking_connection.go
  google/resource_sql_database_instance_test.go
  google/resource_sql_ssl_cert.go
  google/resource_sql_user.go
  google/resource_usage_export_bucket.go
  google/service_networking_operation.go
  google/serviceman_operation.go
  google/serviceusage_operation.go
  google/sqladmin_operation.go
  website/docs/r/app_engine_application.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/compute_network_peering.html.markdown
  website/docs/r/compute_project_default_network_tier.html.markdown
  website/docs/r/compute_project_metadata.html.markdown
  website/docs/r/compute_router_interface.html.markdown
  website/docs/r/compute_shared_vpc_host_project.html.markdown
  website/docs/r/compute_shared_vpc_service_project.html.markdown
  website/docs/r/compute_target_pool.html.markdown
  website/docs/r/endpoints_service.html.markdown
  website/docs/r/sql_ssl_cert.html.markdown
  website/docs/r/sql_user.html.markdown
  website/docs/r/usage_export_bucket.html.markdown
Labels: size/XL

#6227 Resource for managing logging buckets
  .changelog/3400.txt
  google/provider.go
  google/resource_logging_billing_account_bucket_config.go
  google/resource_logging_bucket_config.go
  google/resource_logging_bucket_config_test.go
  google/resource_logging_folder_bucket_config.go
  google/resource_logging_organization_bucket_config.go
  google/resource_logging_project_bucket_config.go
  website/docs/r/logging_billing_account_bucket_config.html.markdown
  website/docs/r/logging_folder_bucket_config.html.markdown
  website/docs/r/logging_organization_bucket_config.html.markdown
  website/docs/r/logging_project_bucket_config.html.markdown
  website/google.erb
Labels: documentation, size/XL

#6228 Add validation to label keys for cloud functions
  .changelog/3431.txt
  google/resource_cloudfunctions_function.go
  google/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/M

#6234 Add different api name for screen lock
  .changelog/3433.txt
  google/resource_access_context_manager_access_level.go
  website/docs/r/access_context_manager_access_level.html.markdown
Labels: documentation, size/XS

#6235 Add retry for storage bucket 412
  .changelog/3434.txt
  google/error_retry_predicates.go
  google/iam_storage_bucket.go
Labels: size/XS

#6237 add bigquery connection with examples
  .changelog/3424.txt
  google/resource_bigquery_connection_test.go
Labels: size/XS

#6242 don't include IGM URLs that 404 in instance_group_urls
  .changelog/3438.txt
  google/resource_container_cluster.go
  google/resource_container_node_pool.go
Labels: size/XS

#6243 Add mutex to route for peering
  .changelog/3439.txt
  google/resource_compute_route.go
Labels: size/XS

#6247 fix hardcoded int timeouts
  .changelog/3441.txt
  google/bootstrap_utils_test.go
  google/resource_composer_environment_test.go
  google/resource_compute_instance_test.go
  google/resource_google_project.go
  google/resource_google_service_account_key.go
  google/service_account_waiter.go
Labels: size/XS

#6250 duplicate fhir version and set it to required
  .changelog/3446.txt
  google/resource_healthcare_fhir_store.go
  website/docs/r/healthcare_fhir_store.html.markdown
Labels: documentation, size/S

#6253 Un-guard node_locations on google_container_node_pool resource
  .changelog/3444.txt
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/M

#6257 dataflow job update-by-replacement
  .changelog/3387.txt
  google/error_retry_predicates.go
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
Labels: size/L
