Repository hashicorp/terraform-provider-google, pull requests merged in 2020-02, with the labels that each got.

#5570 Remove notes about base-64 encoding of secret data in markdown
  .changelog/3065.txt
  website/docs/d/datasource_google_secret_manager_secret_version.html.markdown
Labels: documentation, size/XS

#5574 add fine-grained resource for service perimeter resource
  .changelog/3052.txt
  google/bootstrap_utils_test.go
  google/provider.go
  google/resource_access_context_manager_access_policy_test.go
  google/resource_access_context_manager_service_perimeter.go
  google/resource_access_context_manager_service_perimeter_resource.go
  google/resource_access_context_manager_service_perimeter_resource_test.go
  google/resource_compute_router_bgp_peer.go
  google/resource_compute_router_nat.go
  website/docs/r/access_context_manager_service_perimeter_resource.html.markdown
Labels: documentation, size/XL

#5576 have metadata item fail on create if the key is already present
  .changelog/3063.txt
  google/resource_compute_project_metadata_item.go
  google/resource_compute_project_metadata_item_test.go
Labels: size/M

#5569 Add note about Postgres requiring user passwords
  website/docs/r/sql_user.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#5581 Split up TF utils.go.erb
  .changelog/3071.txt
  google/common_diff_suppress.go
  google/error_retry_predicates.go
  google/retry_utils.go
  google/utils.go
Labels: size/XL

#5582 only include PatchUpdateEncoder if the resource is updatable
  .changelog/3070.txt
  google/resource_access_context_manager_service_perimeter_resource.go
Labels: size/S

#5583 no changelog on ansible or inspec
  .changelog/3066.txt
  google/resource_sql_database_instance_test.go
Labels: size/XS

#5589 null
  website/docs/r/google_organization_iam_policy.html.markdown
Labels: documentation, size/XS

#5591 null
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#5593 null
  google/provider.go
  google/resource_container_registry.go
  google/resource_container_registry_test.go
  website/docs/r/container_registry.html.markdown
  website/google.erb
Labels: documentation, size/L

#5595 Update random reviewers
  .hashibot.hcl
Labels: size/XS

#5600 null
  google/resource_cloud_run_service.go
Labels: size/XS

#5601 null
  google/resource_google_project.go
Labels: size/XS

#5602 null
  google/iam_binary_authorization_attestor_generated_test.go
  google/iam_cloud_functions_cloud_function_generated_test.go
  google/iam_cloud_run_service_generated_test.go
  google/iam_compute_instance_generated_test.go
  google/iam_compute_subnetwork_generated_test.go
  google/iam_iap_web_backend_service_generated_test.go
  google/iam_pubsub_topic_generated_test.go
  google/iam_runtime_config_config_generated_test.go
  google/iam_storage_bucket_generated_test.go
Labels: size/M

#5603 null
  google/resource_dialogflow_agent.go
Labels: size/XS

#5604 Update `secondary_ip_range` docs for sending an empty array
  .changelog/3083.txt
  google/resource_compute_subnetwork.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XS

#5607 change error wrap formatting
  .changelog/3089.txt
  google/resource_google_project.go
Labels: size/XS

#5578 In resource_google_project: Fix one bug with retries to Projects.Update(...) and add retries to GetBillingInfo(...) requests
  google/resource_google_project.go
Labels: size/S

#5611 Correct name for iap tunnel instance generated tests
  .changelog/3090.txt
  google/iam_iap_tunnel_instance_generated_test.go
Labels: size/XS

#5613 Dont return error if we cant find a default value in IAM parse import id
  .changelog/3078.txt
  google/iam_binary_authorization_attestor.go
  google/iam_cloud_functions_cloud_function.go
  google/iam_cloud_run_service.go
  google/iam_compute_instance.go
  google/iam_compute_subnetwork.go
  google/iam_iap_app_engine_service.go
  google/iam_iap_app_engine_version.go
  google/iam_iap_tunnel_instance.go
  google/iam_iap_web.go
  google/iam_iap_web_backend_service.go
  google/iam_iap_web_type_app_engine.go
  google/iam_iap_web_type_compute.go
  google/iam_pubsub_topic.go
  google/iam_runtime_config_config.go
  google/iam_source_repo_repository.go
  google/import.go
  google/resource_google_project.go
Labels: size/XL

#5614 Fix errors in project retries, add billinginfo retries
  .changelog/3091.txt
  google/resource_google_project.go
Labels: size/S

#5615 added boot_disk_kms_key to node_config
  .changelog/3044.txt
  google/config.go
  google/resource_sql_database_instance.go
  google/resource_sql_user.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#5616 Implement new-style resource state handling for GKE cluster
  .changelog/3077.txt
  google/resource_container_cluster.go
  google/state_util.go
Labels: size/M

#5617 fix sqladmin pkg and remove computed and removed
  .changelog/3093.txt
  google/config.go
Labels: size/XS

#5618 Fix various tests from changing test prefix
  .changelog/3094.txt
  google/iam_cloud_run_service_generated_test.go
Labels: size/XS

#5619 Set `public_key` to computed
  .changelog/3095.txt
  google/data_source_google_kms_crypto_key_version.go
Labels: size/XS

#5626 Set database and collection during import of firestore index.
  .changelog/3097.txt
  google/resource_firestore_index.go
Labels: size/XS

#5627 Refactor error predicates
  .changelog/3096.txt
  google/common_operation.go
  google/error_retry_predicates.go
  google/metadata.go
  google/retry_utils.go
  google/transport.go
  google/utils_test.go
Labels: size/L

#5639 Fix lint from #3096
  .changelog/3101.txt
  google/error_retry_predicates.go
Labels: size/XS

#5638 Make google_iam_policy page `NOTE` more prominent
  website/docs/d/google_iam_policy.html.markdown
Labels: documentation, size/XS

#5641 Upstream https://github.com/terraform-providers/terraform-provider-google/pull/5638.
  .changelog/3104.txt
  website/docs/d/google_iam_policy.html.markdown
Labels: documentation, size/XS

#5642 Remove `ExactlyOneOf` restriction for `auto_provisioning_defaults`
  .changelog/3106.txt
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#5643 Fix sqladmin after revendoring
  .changelog/3099.txt
  google/config.go
  google/resource_sql_database_instance.go
  google/resource_sql_user.go
Labels: size/XS

#5648 Bigtable Instance changes
  .changelog/3102.txt
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
Labels: size/M

#5650 Fix the SQL API URL in MM
  .changelog/3111.txt
  google/config.go
Labels: size/XS

#5652 Rename inst-test networks to tf-test for sweeper
  .changelog/3112.txt
  google/resource_compute_instance_template_test.go
  google/resource_compute_instance_test.go
Labels: size/XS

#5653 Add job_id field to google_dataflow_job
  .changelog/3113.txt
  google/resource_dataflow_job.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/XS

#5659 Configure autoscaling profile in GKE clusters
  .changelog/3076.txt
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#5660 We need to flatten spanner names - previously it hadn't mattered whether we do it or not, but now since we get the name from the operation, it starts to matter.
  .changelog/3119.txt
  google/resource_spanner_database.go
  google/resource_spanner_instance.go
Labels: size/XS

#5662 Add state waiting to google_container_node_pool
  .changelog/3114.txt
  google/resource_container_node_pool.go
Labels: size/M

#5663 Remove error status check in GKE cluster on read
  .changelog/3115.txt
  google/resource_container_cluster.go
Labels: size/XS

#5666 Fully remove `use_ip_aliases` and `create_subnetwork`
  .changelog/3123.txt
  google/resource_container_cluster.go
Labels: size/XS

#5675 Add more generic error predicates
  .changelog/3116.txt
  google/error_retry_predicates.go
Labels: size/M

#5677 Add docs for Secret Manager to sidebar
  .changelog/3127.txt
  website/google.erb
Labels: documentation, size/XS

#5647 Fix for terraform-provider-google issue 5608
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#5679 Adds storage_hmac_key_resource
  .changelog/3084.txt
  google/provider.go
  google/resource_container_cluster.go
  google/resource_storage_hmac_key.go
  google/resource_storage_hmac_key_generated_test.go
  google/resource_storage_hmac_key_test.go
  website/docs/r/container_cluster.html.markdown
  website/docs/r/storage_hmac_key.html.markdown
  website/google.erb
Labels: documentation, size/XL

#5680 upstream terraform-providers/terraform-provider-google/pull/5647
  .changelog/3128.txt
  google/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#5701 Avoid panics on unit tests
  .changelog/3134.txt
  google/bootstrap_utils_test.go
Labels: size/XS

#5703 Terraform Data Source to get DNSKEY records of DNSSEC-signed managed zones
  .changelog/3117.txt
  google/data_source_dns_key_test.go
  google/data_source_dns_keys.go
  google/provider.go
  website/docs/d/datasource_dns_keys.html.markdown
  website/google.erb
Labels: documentation, size/XL

#5707 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#5696 Update compute_autoscaler.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
Labels: documentation, size/XS

#5708 Upstream tpg #5695 and 5686.
  .changelog/3137.txt
  google/resource_compute_autoscaler.go
  google/resource_compute_region_autoscaler.go
  website/docs/d/datasource_compute_network.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/XS

#5709 Add type field to google_dataflow_job.
  .changelog/3138.txt
  google/resource_dataflow_job.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/XS

#5711 Make connection reset error pred more generic, debug logs
  .changelog/3143.txt
  google/error_retry_predicates.go
Labels: size/XS

#5712 Add decoder after OperationWaitTimeWithResponse
  .changelog/3146.txt
  google/resource_access_context_manager_access_level.go
  google/resource_access_context_manager_access_policy.go
  google/resource_access_context_manager_service_perimeter.go
  google/resource_access_context_manager_service_perimeter_resource.go
  google/resource_app_engine_domain_mapping.go
  google/resource_app_engine_standard_app_version.go
  google/resource_big_query_dataset.go
  google/resource_compute_network.go
  google/resource_datastore_index.go
  google/resource_filestore_instance.go
  google/resource_firestore_index.go
  google/resource_redis_instance.go
  google/resource_spanner_database.go
  google/resource_spanner_instance.go
  google/resource_tpu_node.go
Labels: size/M

#5713 Update to https scheme in idp saml config tests
  .changelog/3140.txt
  google/resource_identity_platform_inbound_saml_config_generated_test.go
  google/resource_identity_platform_inbound_saml_config_test.go
  google/resource_identity_platform_tenant_inbound_saml_config_generated_test.go
  google/resource_identity_platform_tenant_indound_saml_config_test.go
  website/docs/r/identity_platform_inbound_saml_config.html.markdown
  website/docs/r/identity_platform_tenant_inbound_saml_config.html.markdown
Labels: documentation, size/XS

#5717 add 'PARQUET' to documentation
  .changelog/3118.txt
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XS

#5718 Add check for google_compute_router bgp.advertise_mode.
  .changelog/3144.txt
  google/resource_compute_router.go
Labels: size/XS

#5719 Google project precheck
  .changelog/3145.txt
  google/resource_google_project.go
Labels: size/XS

#5700 features: add data_source_google_compute_backend_bucket
  google/data_source_google_compute_backend_bucket.go
  google/data_source_google_compute_backend_bucket_test.go
  google/provider.go
Labels: size/M

#5720 Add a datasource for google_compute_backend_bucket
  .changelog/3142.txt
  google/data_source_google_compute_backend_bucket.go
  google/data_source_google_compute_backend_bucket_test.go
  google/provider.go
  website/docs/d/datasource_google_compute_backend_bucket.html.markdown
  website/google.erb
Labels: documentation, size/M

#5721 add metadata to storage_bucket_object
  .changelog/3120.txt
  google/resource_storage_bucket_object.go
  google/resource_storage_bucket_object_test.go
  website/docs/r/storage_bucket_object.html.markdown
Labels: documentation, size/M

#5722 Allow `projects/` prefix for the project field in project IAM resources
  google/iam_project.go
Labels: size/XS

#5714 Fix markdown in KMS key docs
  website/docs/r/google_kms_crypto_key_iam.html.markdown
Labels: documentation, size/XS

#5723 Add support for range partitioning in BigQuery
  .changelog/2890.txt
  google/resource_bigquery_table_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XS

#5725 document updated with right API url for resource google_compute_forwarding_rule. Issue-#5598
  .changelog/3098.txt
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/XS

#5728 fixing beta example for google_compute_region_autoscaler
  .changelog/3152.txt
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/M

#5729 App Engine Service Split Traffic resource
  .changelog/2269.txt
  google/provider.go
  google/resource_app_engine_service_split_traffic.go
  google/resource_app_engine_service_split_traffic_generated_test.go
  website/docs/r/app_engine_service_split_traffic.html.markdown
  website/google.erb
Labels: documentation, size/XL

#4797 Add status argument (RUNNING/TERMINATED) to google_compute_instance
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XL

#5734 Add desired_status argument to google_compute_instance
  .changelog/3154.txt
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#5735 Update docs - max_pods_per_node has been GA for a while.
  .changelog/3158.txt
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#5749 Change storage name in resource policy doc
  .changelog/3161.txt
  google/resource_compute_resource_policy.go
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/XS

#5752 VPC serverless access update version from beta to GA
  .changelog/3053.txt
  google/config.go
  google/provider.go
  google/resource_vpc_access_connector.go
  google/resource_vpc_access_connector_generated_test.go
  google/resource_vpc_access_connector_sweeper_test.go
  google/vpc_access_operation.go
  website/docs/r/vpc_access_connector.html.markdown
Labels: documentation, size/XL

#5755 Add packet mirroring to beta.
  .changelog/3157.txt
  website/google.erb
Labels: documentation, size/XS

#5762 Use errwrap.Walk for connection reset error
  .changelog/3165.txt
  google/common_operation.go
  google/retry_utils.go
Labels: size/S

#5764 Remove beta-only tags, beta provider from cf vpc connector test
  .changelog/3168.txt
  google/resource_cloudfunctions_function_test.go
Labels: size/M

#5765 Remove packet mirroring from ga website.
  .changelog/3172.txt
  website/google.erb
Labels: documentation, size/XS

#5763 Vendor vcr
  go.mod
  go.sum
  vendor/github.com/dnaeon/go-vcr/LICENSE
  vendor/github.com/dnaeon/go-vcr/cassette/cassette.go
  vendor/github.com/dnaeon/go-vcr/recorder/go17_nobody.go
  vendor/github.com/dnaeon/go-vcr/recorder/go18_nobody.go
  vendor/github.com/dnaeon/go-vcr/recorder/recorder.go
  vendor/modules.txt
Labels: dependencies, size/XL

#5772 Vcr provider test
  .changelog/3159.txt
  google/provider_test.go
  google/resource_pubsub_topic_test.go
Labels: size/M

#5774 Bump up default create timeout for datastore index
  .changelog/3173.txt
  google/resource_datastore_index.go
  website/docs/r/datastore_index.html.markdown
Labels: documentation, size/XS

#5776 5750 - fixing a typo in google_access_context_manager_service_perimeter_resource
  .changelog/3164.txt
  website/docs/r/access_context_manager_service_perimeter_resource.html.markdown
Labels: documentation, size/XS

#5778 update the website sidebar
  .changelog/3175.txt
  website/google.erb
Labels: documentation, size/XS

#5779 Tests are failing due to domain verification
  .changelog/3176.txt
  google/resource_big_query_dataset_test.go
Labels: size/XS

#5780 Allow id for bigtable appprofile instance
  .changelog/3174.txt
  google/resource_bigtable_app_profile.go
  google/resource_bigtable_app_profile_test.go
  google/self_link_helpers.go
Labels: size/S

#5782 Upstream terraform-provider-google-beta#1766
  .changelog/3178.txt
  google/resource_container_cluster.go
Labels: size/XS

#5790 Fix DNS Keys TF Data Source markdown formatting
  .changelog/3179.txt
  website/docs/d/datasource_dns_keys.html.markdown
Labels: documentation, size/XS

#5791 Add mutexes to storage ACLs
  .changelog/3180.txt
  google/resource_storage_bucket_access_control.go
  google/resource_storage_bucket_acl.go
  google/resource_storage_default_object_access_control.go
  google/resource_storage_default_object_acl.go
  google/resource_storage_object_access_control.go
  google/resource_storage_object_acl.go
Labels: size/M

#5793 Added check for bucket retention policy list being empty.
  .changelog/3181.txt
  google/resource_storage_bucket.go
Labels: size/XS
