Repository hashicorp/terraform-provider-google, pull requests merged in 2020-09, with the labels that each got.

#7156 Switch http://www.gstatic.com/ipranges/goog.json to use https
  google/data_source_google_netblock_ip_ranges.go
Labels: size/XS

#7180 Fix dns base path to work with new clients. Keep MM-based base paths
  .changelog/3935.txt
  go.sum
  google/config.go
Labels: size/XS

#7177 Add references to Learn tutorials
  website/docs/guides/using_gke_with_terraform.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7181 Upstream tutorial
  .changelog/3940.txt
  website/docs/guides/using_gke_with_terraform.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7189 Add network field to target instance.
  .changelog/3850.txt
  website/docs/r/compute_target_instance.html.markdown
Labels: size/S

#7191 [resource_container_cluster] - Add self-link property
  .changelog/3942.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7192 Mark Workload Identity as GA fully.
  .changelog/3941.txt
  google/node_config.go
  google/resource_container_node_pool.go
  google/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/L

#7195 clustering is no longer ForceNew
  .changelog/3949.txt
  google/resource_bigquery_table.go
Labels: size/XS

#7199 add test and fix delete default route functionality
  .changelog/3948.txt
  google/resource_compute_network.go
  google/resource_compute_network_test.go
Labels: size/S

#7201 Add Snapshot location to compute snapshot
  .changelog/3896.txt
  google/resource_compute_disk.go
  google/resource_compute_region_disk.go
  google/resource_compute_snapshot.go
  google/resource_compute_snapshot_generated_test.go
  google/resource_compute_snapshot_test.go
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_snapshot.html.markdown
Labels: size/L

#7215 log error if 'name' is not a key in schema map
  .changelog/3952.txt
  google/resource_bigquery_table.go
Labels: size/XS

#7216 fix target instance custom network test to use google-beta provider
  .changelog/3957.txt
  website/docs/r/compute_target_instance.html.markdown
Labels: size/XS

#7217 Add additional notes to IAP Documentation
  .changelog/3955.txt
  website/docs/r/iap_brand.html.markdown
  website/docs/r/iap_client.html.markdown
Labels: size/XS

#7225 Added missing 'all' option for protocol firewall rule
  .changelog/3962.txt
  google/resource_compute_firewall.go
  website/docs/r/compute_firewall.html.markdown
Labels: size/XS

#7226 Fix minor typo: this --> these
  .changelog/3961.txt
  website/docs/guides/using_gke_with_terraform.html.markdown
Labels: size/XS

#7230 Add retries for modified services to google_project_service
  .changelog/3960.txt
  google/error_retry_predicates.go
  google/resource_google_project.go
  google/serviceusage_batching.go
Labels: size/XS

#7241 fixed Error when trying to set boolean field to `false` on google_data_catalog_tag
  .changelog/3910.txt
  google/resource_data_catalog_tag.go
  google/resource_data_catalog_tag_generated_test.go
Labels: size/M

#7247 Clarify local-ssd docs for Instance Template
  .changelog/3968.txt
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#7251 Add guide on deleted principals
  .changelog/3950.txt
  website/docs/guides/iam_deleted_members.html.markdown
  website/google.erb
  website/google.erb.tmpl
Labels: size/M

#7252 Add Regional SSL Certificate datasource
  .changelog/3969.txt
  google/data_source_google_compute_region_ssl_certificate.go
  google/data_source_google_compute_region_ssl_certificate_test.go
  google/provider.go
  website/docs/d/compute_region_ssl_certificate.html.markdown
  website/google.erb
Labels: size/M

#7253 google_bigtable_instance - deprecate `instance_type`
  .changelog/3972.txt
  google/resource_bigtable_instance.go
  website/docs/r/bigtable_instance.html.markdown
Labels: size/XS

#7254 Added support GRPC for google_compute_(region)_backend_service.protocol
  .changelog/3973.txt
  google/resource_compute_backend_service.go
  google/resource_compute_region_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: size/XS

#7255 Allow google.project.id for passing project to resource_project_service
  .changelog/3975.txt
  google/resource_google_project_service.go
  google/resource_google_project_service_test.go
Labels: size/XS

#7259 Add transformNameMapping to dataflow job
  .changelog/3964.txt
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: size/S

#7265 Add nil check to recurring_schedule in google_os_config_patch_deployment
  .changelog/3974.txt
  google/resource_os_config_patch_deployment.go
  google/resource_os_config_patch_deployment_generated_test.go
  website/docs/r/os_config_patch_deployment.html.markdown
Labels: size/S

#7232 `3.39.0` changelog
  CHANGELOG.md
Labels: size/XS

#7266 Allow updating single_cluster_routing in google_bigtable_app_profile
  .changelog/3967.txt
  google/resource_bigtable_app_profile.go
  google/resource_bigtable_app_profile_test.go
Labels: size/S

#7269 allow updating dataproc cluster autoscaling_policy
  .changelog/3976.txt
  google/common_diff_suppress.go
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/L

#7276 Update Signed Url Examples to use Random Id resource
  .changelog/3965.txt
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
Labels: size/XS

#7268 Support configuring Internal load balancer for Cloud Run for Anthos
  go.mod
  go.sum
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/M

#7277 Added new resource for Target Director with proxyless grpc
  .changelog/3978.txt
  google/provider.go
  google/resource_compute_target_grpc_proxy.go
  google/resource_compute_target_grpc_proxy_generated_test.go
  google/resource_compute_target_grpc_proxy_sweeper_test.go
  google/resource_compute_target_grpc_proxy_test.go
  website/docs/r/compute_target_grpc_proxy.html.markdown
  website/google.erb
Labels: size/XXL

#7279 Add schema update support to spanner db 2082
  .changelog/3947.txt
  google/resource_spanner_database.go
  google/resource_spanner_database_test.go
  google/test_utils.go
  google/utils.go
  website/docs/r/spanner_database.html.markdown
Labels: size/L

#7280 Added properties of options & artifacts on google_cloudbuild_trigger
  .changelog/3944.txt
  google/resource_cloud_build_trigger.go
  google/resource_cloud_build_trigger_generated_test.go
  google/resource_cloudbuild_trigger_test.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: size/XL

#7287 Add new ingress option to Google Cloud Functions
  .changelog/3977.txt
  google/resource_cloudfunctions_function.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#7289 Add force_destroy to google_dns_managed_zone
  .changelog/3917.txt
  google/resource_dns_managed_zone.go
  google/resource_dns_managed_zone_sweeper_test.go
  google/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: size/L

#7290 remove schema.Resource from cloudiot type maps
  .changelog/3986.txt
  google/resource_cloud_iot_device_registry.go
Labels: size/S

#7294 Enable TPUs to use Shared VPC
  .changelog/3939.txt
  google/resource_tpu_node.go
  google/resource_tpu_node_generated_test.go
  website/docs/r/tpu_node.html.markdown
Labels: size/L

#7296 fix url keys to use b64_url instead of b64_std
  .changelog/3988.txt
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
Labels: size/XS

#7297 fixed a linter error on the google_compute_target_grpc_proxy website
  .changelog/3987.txt
  google/resource_compute_target_grpc_proxy.go
  website/docs/r/compute_target_grpc_proxy.html.markdown
Labels: size/XS

#7313 Add SEV_CAPABLE option to google_compute_image
  .changelog/3994.txt
  google/resource_compute_image.go
  website/docs/r/compute_image.html.markdown
Labels: size/XS

#7315 Revert "fixed Error when trying to set boolean field to `false` on google_data_catalog_tag"
  .changelog/3998.txt
  google/resource_data_catalog_tag.go
  google/resource_data_catalog_tag_generated_test.go
Labels: size/M

#7316 This name is too long and fails create-time validation.
  .changelog/3997.txt
  google/resource_spanner_instance_generated_test.go
  website/docs/r/spanner_instance.html.markdown
Labels: size/XS

#7317 Add example for create a GKE Windows node pool to the docs.
  .changelog/4000.txt
  website/docs/guides/using_gke_with_terraform.html.markdown
Labels: size/M

#7340 valid scratch disk test case added
  .changelog/3979.txt
  google/resource_compute_instance_template_test.go
Labels: size/S

#7343 Mark Release channel as GA in docs
  .changelog/4007.txt
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#7344 Update docs for pubsub targets in cloud scheduler
  .changelog/4008.txt
  google/resource_cloud_scheduler_job.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: size/XS

#7347 [terraform-provider-docs] - clean up and improve local provider usage…
  .github/CONTRIBUTING.md
  .gitignore
Labels: size/S

#7352 CustomizeDiff validation for point_in_time_recovery_enabled
  .changelog/4013.txt
  google/resource_sql_database_instance.go
Labels: size/XS

#7355 Assume scratch disk size when not returned by the API
  .changelog/4014.txt
  google/resource_compute_instance_template.go
Labels: size/XS

#7357 add version field for unschematized hl7 stores
  .changelog/3983.txt
  google/resource_healthcare_hl7_v2_store_generated_test.go
  website/docs/r/healthcare_hl7_v2_store.html.markdown
Labels: size/S

#7358 [compute_instance] - Allow updating of network and subnetwork properties
  .changelog/4011.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: size/L

#7359 Add nil checks and treat "null" as "[]" in bigQueryTableSchemaDiffSup…
  .changelog/4017.txt
  google/resource_bigquery_table.go
Labels: size/XS

#7361 Compute_instance bugfix - only update network interface if there are changes
  .changelog/4020.txt
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
Labels: size/S

#7346 3.41.0 changelog
  CHANGELOG.md
Labels: size/XS

#7375 replaced timestamp ids in 12 data sources
  .changelog/4018.txt
  google/data_source_google_client_config.go
  google/data_source_google_client_openid_userinfo.go
  google/data_source_google_composer_image_versions.go
  google/data_source_google_compute_node_types.go
  google/data_source_google_compute_regions.go
  google/data_source_google_compute_zones.go
  google/data_source_google_kms_secret.go
  google/data_source_google_kms_secret_ciphertext.go
  google/data_source_google_monitoring_uptime_check_ips.go
  google/data_source_google_service_account_access_token.go
  google/data_source_google_service_account_id_token.go
  google/data_source_tpu_tensorflow_versions.go
Labels: size/S

#7378 Adding DLP deidentify templates
  .changelog/3931.txt
  google/provider.go
  google/resource_data_loss_prevention_deidentify_template.go
  google/resource_data_loss_prevention_deidentify_template_generated_test.go
  google/resource_data_loss_prevention_deidentify_template_sweeper_test.go
  google/resource_data_loss_prevention_deidentify_template_test.go
  website/docs/r/data_loss_prevention_deidentify_template.html.markdown
  website/google.erb
Labels: size/XXL

#7377 Add Visual Studio Code - default build task
  .vscode/tasks.json
Labels: size/XS

#7384 move validateHttpHeaders definition into cloud scheduler
  .changelog/4022.txt
  .vscode/tasks.json
  google/resource_cloud_scheduler_job.go
  google/resource_tpu_node.go
Labels: size/S

#7386 Fix datasource test to ignore new virtual field
  .changelog/4028.txt
  google/data_source_dns_managed_zone_test.go
Labels: size/XS

#7395 Escape folder display name with string quotes
  .changelog/4032.txt
  google/data_source_google_active_folder.go
  google/data_source_google_active_folder_test.go
Labels: size/XS
