Repository hashicorp/terraform-provider-google, pull requests merged in 2021-02, with the labels that each got.

#8355 Bump google.golang.org/api to v0.38.0
  go.mod
  go.sum
Labels: size/XS

#8237 Add support for configuring disk resource policies for google_compute_instance_template.
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  website/docs/d/compute_instance_template.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/M

#8361 Patch Cloudrun Annotations Diff
  .changelog/4450.txt
  google/resource_cloud_run_service.go
Labels: size/XS

#8353 Fix broken directory in make docscheck
  .github/ISSUE_TEMPLATE.md
  scripts/docscheck.sh
Labels: size/XS

#8362 replaced slave with replica in cloud sql
  .changelog/4452.txt
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  google/resource_sql_database_instance.go
  website/docs/d/compute_instance_template.html.markdown
  website/docs/d/sql_database_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: size/L

#8365 Made AppEngine requests retry if they fail due to a P4SA propagation delay
  .changelog/4453.txt
  google/error_retry_predicates.go
Labels: size/XS

#8367 Add point-in-time-recovery to sql database instance
  .changelog/4431.txt
  google/bootstrap_utils_test.go
  google/common_diff_suppress.go
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/L

#8325 Add changelog for 3.55.0 release
  CHANGELOG.md
Labels: size/XS

#8155 3.52.0 changelog
  CHANGELOG.md
Labels: size/S

#8371 Adds support to manage GCP PrivateCA Certificates
  .changelog/4449.txt
  google/test-fixtures/rsa_csr.pem
  website/docs/r/privateca_certificate.html.markdown
  website/google.erb
Labels: size/XL

#8375 Add polling wait on VCR recording mode, bump max run times
  .changelog/4457.txt
  google/resource_active_directory_domain_trust_test.go
Labels: size/XS

#8377 Add status to bigquery_job
  .changelog/4455.txt
  google/resource_big_query_job.go
  google/resource_big_query_job_generated_test.go
  google/resource_bigquery_job_test.go
  website/docs/r/bigquery_job.html.markdown
Labels: size/L

#8391 Add nil check for pitr
  .changelog/4462.txt
  google/resource_sql_database_instance.go
Labels: size/XS

#8393 Add support for configuring disk resource policies for google_compute_instance_template
  .changelog/4463.txt
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  website/docs/d/compute_instance_template.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/M

#8394 Fix flaky TestAccSqlDatabaseInstance_backupUpdate
  .changelog/4467.txt
  google/resource_sql_database_instance_test.go
Labels: size/XS

#8399 Correct the spelling of heirarchy/hierarchy
  .changelog/4471.txt
  google/resource_access_approval_folder_settings_test.go
  google/resource_access_approval_organization_settings_test.go
  google/resource_access_approval_project_settings_test.go
Labels: size/XS

#8378 Add changelog for 3.56.0 release
  CHANGELOG.md
Labels: size/XS

#8409 Added tests for isAppEngineRetryableError
  .changelog/4470.txt
  google/error_retry_predicates.go
  google/error_retry_predicates_test.go
Labels: size/S

#8410 Add descriptions to schemas by hand to MM resources
  .changelog/4418.txt
  google/resource_compute_region_ssl_certificate.go
  google/resource_compute_route.go
  google/resource_compute_snapshot.go
  google/resource_compute_ssl_certificate.go
  google/resource_kms_crypto_key.go
  google/resource_kms_key_ring.go
  google/resource_pubsub_subscription.go
  google/resource_redis_instance.go
  website/docs/r/kms_crypto_key.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
Labels: size/S

#8398 Corrected version.ProviderVersion path (1/2)
  GNUmakefile
Labels: size/XS

#8417 Marked preview as Computed: true
  .changelog/4472.txt
  google/resource_compute_security_policy.go
Labels: size/XS

#8419 Updating magic-modules repository references
  .github/CONTRIBUTING.md
Labels: size/XS

#8423 add gVNIC support for compute instance
  .changelog/4443.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#8424 Mark KMS Key as update for PubSub Topic
  .changelog/4371.txt
  google/resource_pubsub_topic.go
Labels: size/XS

#8426 Add Essentials Contacts resource
  .changelog/4469.txt
  website/docs/r/cloud_identity_group.html.markdown
  website/docs/r/cloud_identity_group_membership.html.markdown
  website/docs/r/essential_contacts_contact.html.markdown
  website/google.erb
Labels: size/M

#8434 Support Query Insights
  .changelog/4464.txt
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  website/docs/d/sql_database_instance.html.markdown
Labels: size/M

#8439 regex sub fields are set to accept the updates
  .changelog/4458.txt
  google/resource_data_loss_prevention_stored_info_type.go
Labels: size/XS

#8440 Retry on Cloud Run 409s (foreground deletion)
  .changelog/4460.txt
  google/error_retry_predicates.go
  google/iam_cloud_run_service.go
  google/resource_cloud_run_domain_mapping.go
  google/resource_cloud_run_domain_mapping_generated_test.go
  google/resource_cloud_run_domain_mapping_test.go
  google/resource_cloud_run_service.go
  google/resource_cloud_run_service_generated_test.go
  google/resource_cloud_run_service_test.go
Labels: size/L

#8441 job scheduling and max retries support added
  .changelog/4468.txt
  google/resource_dataproc_job.go
  google/resource_dataproc_job_test.go
  website/docs/r/dataproc_job.html.markdown
Labels: size/S

#8442 Fix typo in resource policy docs
  .changelog/4481.txt
  google/resource_compute_resource_policy.go
  website/docs/r/compute_resource_policy.html.markdown
Labels: size/XS

#8450 Add IAP Client Datasource
  .changelog/4429.txt
  google/data_source_iap_client.go
  google/data_source_iap_client_test.go
  google/provider.go
  website/docs/d/iap_client.html.markdown
  website/docs/r/iap_client.html.markdown
  website/google.erb
Labels: size/M

#8452 doc updated to fix the broken link for life_cycle reference
  .changelog/4487.txt
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#8453 add deletion protection for big_query_table
  .changelog/4478.txt
  google/iam_big_query_table_generated_test.go
  google/resource_big_query_dataset_test.go
  google/resource_big_query_job_generated_test.go
  google/resource_bigquery_dataset_access_test.go
  google/resource_bigquery_job_test.go
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  google/resource_sql_ssl_cert_test.go
  website/docs/r/bigquery_dataset_access.html.markdown
  website/docs/r/bigquery_job.html.markdown
  website/docs/r/bigquery_table.html.markdown
Labels: size/XL

#8455 add transit encryption mode support for redis instance resource
  .changelog/4444.txt
  google/resource_redis_instance_test.go
  website/docs/r/redis_instance.html.markdown
Labels: size/S

#8462 suppress case diff on charset on sql database
  .changelog/4489.txt
  google/resource_sql_database.go
Labels: size/XS

#8463 compute: ignore error when delete operation is successful
  .changelog/4491.txt
  google/resource_compute_instance.go
Labels: size/XS

#8448 Release 3.57.0 changelog
  CHANGELOG.md
Labels: size/XS

#8476 Add retries when SA not found in IAM
  .changelog/4441.txt
  google/error_retry_predicates.go
  google/iam.go
Labels: size/S

#8478 Allow multiple SSL Certificates on SSL Proxy LBs
  .changelog/4499.txt
  google/resource_compute_target_ssl_proxy.go
  website/docs/r/compute_target_ssl_proxy.html.markdown
Labels: size/XS

#8479 add list of batching enabled
  .changelog/4500.txt
  website/docs/guides/provider_reference.html.markdown
Labels: size/S

#8488 Fix Apigee org import IDs
  .changelog/4497.txt
  google/resource_apigee_organization.go
Labels: size/XS

#8490 Add EncryptionConfig to Cloud Composer's EnvironmentConfig
  .changelog/4310.txt
  website/docs/r/composer_environment.html.markdown
Labels: size/XS

#8491 Fix bug: artifact_registry_repository update always failing
  .changelog/4482.txt
  google/resource_artifact_registry_repository_test.go
Labels: size/XS

#8492 Allow GKE node pool to resume create after interruption
  .changelog/4501.txt
  google/resource_container_node_pool.go
Labels: size/S

#8493 removed optional for auth_string in redis instance
  .changelog/4492.txt
  google/resource_redis_instance.go
Labels: size/XS

#8497 Randomize sql instance bootstrap name
  .changelog/4490.txt
  google/bootstrap_utils_test.go
Labels: size/M

#8500 Eventarc Trigger
  .changelog/4476.txt
  google/config.go
  google/provider.go
  google/provider_handwritten_endpoint.go
  google/resource_eventarc_trigger_test.go
  google/transport.go
  website/docs/r/eventarc_trigger.html.markdown
  website/google.erb
Labels: size/L

#8506 GA for gVNIC support
  .changelog/4511.txt
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: size/M

#8513 added sensitive flag to auth_string field
  .changelog/4505.txt
  google/resource_redis_instance.go
  google/resource_redis_instance_test.go
Labels: size/XS

#8517 send_empty_values flag added for guest_flush
  .changelog/4502.txt
  google/resource_compute_resource_policy.go
Labels: size/XS

#8520 Add google_dataproc_metastore_service
  .changelog/4486.txt
  google/dataproc_metastore_service_diff_supress.go
  google/resource_dataproc_metastore_service_test.go
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/dataproc_metastore_service.html.markdown
  website/google.erb
Labels: size/L

#8527 fix notebooks instance full test, remove google-beta
  .changelog/4518.txt
  google/resource_notebooks_instance_generated_test.go
  website/docs/r/notebooks_instance.html.markdown
Labels: size/XS

#8528 fixed a panic in instance_group_manager
  .changelog/4517.txt
  google/resource_compute_instance_group_manager.go
Labels: size/XS

#8530 Revert "GA for gVNIC support (#4511)"
  .changelog/4519.txt
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: size/M

#8522 Fixes typo in example
  website/docs/r/sql_user.html.markdown
Labels: size/XS

#8534 fix logging bucket config tests
  .changelog/4521.txt
  google/resource_logging_bucket_config_test.go
  website/docs/r/logging_billing_account_bucket_config.html.markdown
  website/docs/r/logging_folder_bucket_config.html.markdown
  website/docs/r/logging_organization_bucket_config.html.markdown
  website/docs/r/sql_user.html.markdown
Labels: size/XS

#8535 Sql upstream
  .changelog/4520.txt
  website/docs/r/sql_user.html.markdown
Labels: size/XS

#8537 update previous changelog
  CHANGELOG.md
Labels: size/XS

#8547 Add support for google_compute_autoscaler autoscalingPolicy.cpuUtilization.predictiveMethod
  .changelog/4523.txt
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/XS

#8548 Increased timeouts for Apigee Organization/Instance
  .changelog/4529.txt
  google/resource_apigee_instance.go
  google/resource_apigee_organization.go
  website/docs/r/apigee_instance.html.markdown
  website/docs/r/apigee_organization.html.markdown
Labels: size/XS

#8549 Add Workflows Resource
  .changelog/4308.txt
  google/config.go
  google/provider.go
  google/resource_source_repo_repository_generated_test.go
  google/resource_workflows_workflow.go
  google/resource_workflows_workflow_generated_test.go
  google/resource_workflows_workflow_sweeper_test.go
  google/resource_workflows_workflow_test.go
  google/workflows_operation.go
  website/docs/r/sourcerepo_repository.html.markdown
  website/docs/r/workflows_workflow.html.markdown
  website/google.erb
Labels: size/XXL

#8551 Use bootstrapped service networking networks for redis, memcache tests
  .changelog/4513.txt
  google/resource_redis_instance_generated_test.go
  website/docs/r/memcache_instance.html.markdown
  website/docs/r/redis_instance.html.markdown
Labels: size/M

#8552 make max_age.0.days and max_age.0.duration ForceNew for bigtable_gc_policy
  .changelog/4533.txt
  google/resource_bigtable_gc_policy.go
Labels: size/XS

#8554 Add default retry to cloud_functions update
  .changelog/4530.txt
  google/resource_cloudfunctions_function.go
Labels: size/XS

#8555 Add Service Usage Regional Example
  .changelog/4507.txt
  website/docs/r/bigtable_instance.html.markdown
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/google_service_account.html.markdown
  website/docs/r/google_service_account_key.html.markdown
  website/docs/r/memcache_instance.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/service_usage_consumer_quota_override.html.markdown
Labels: size/M

#8557 updated language_tag to required
  .changelog/4527.txt
  website/docs/r/essential_contacts_contact.html.markdown
Labels: size/XS

#8558 Split handwritten IAM resources into their own section in provider.go
  .changelog/4531.txt
  google/provider.go
Labels: size/M

#8559 update cloud identity test to use preferred_member_key
  .changelog/4526.txt
  google/data_source_cloud_identity_group_memberships_test.go
Labels: size/XS

#8561 Bumped timeouts to 1 hour
  .changelog/4532.txt
  google/resource_apigee_instance.go
  website/docs/r/apigee_instance.html.markdown
Labels: size/XS

#8562 ga for gVNIC on google_compute_instance
  .changelog/4516.txt
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/L

#8563 Upstream tpg 8498 - rrdatas documentation
  .changelog/4534.txt
  website/docs/r/dns_record_set.html.markdown
Labels: size/XS

#8564 removed unused random_id resource
  .changelog/4536.txt
  google/resource_endpoints_service_test.go
Labels: size/XS

#8571 bump sdk to 2.4.4
  go.mod
  go.sum
Labels: size/XS

#8572 Change gce-uefi-images image project to default image projects.
  .changelog/4539.txt
  google/resource_compute_instance_template_test.go
  google/resource_compute_instance_test.go
  google/resource_compute_per_instance_config_test.go
  google/resource_compute_region_per_instance_config_test.go
  website/docs/d/compute_instance_serial_port.html.markdown
  website/docs/guides/version_3_upgrade.html.markdown
Labels: size/XS

#8573 fix test failures
  .changelog/4538.txt
  google/resource_container_node_pool_test.go
Labels: size/XS

#8574 Suppress Google labels from Cloud Run Service
  .changelog/4528.txt
  google/resource_cloud_run_service.go
Labels: size/XS

#8575 Add MTU to interconnect
  .changelog/4496.txt
  google/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: size/S

#8576 hashing function added for natIps
  .changelog/4537.txt
  google/resource_compute_router_nat.go
  google/resource_compute_router_nat_test.go
Labels: size/M
