Repository hashicorp/terraform-provider-google, pull requests merged in 2021-01, with the labels that each got.

#8114 update documentation field on resource monitoring_alert_policy
  .changelog/4364.txt
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_metric_descriptor.go
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_metric_descriptor.html.markdown
Labels: size/M

#8115 correct typo in documentation
  .changelog/4365.txt
  website/docs/guides/provider_reference.html.markdown
Labels: size/XS

#8116 kms_key_name parameter for google_dataflow_job resource
  .changelog/4359.txt
  google/resource_dataflow_job.go
  google/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: size/M

#8117 Remove Nathan from tpg reviewers
  .hashibot.hcl
Labels: size/XS

#8082 Allow dependabot to check go dependencies
  .github/dependabot.yml
Labels: size/XS

#8126 Fix wrong initialization of maintenance_exclusion
  .changelog/4372.txt
  google/resource_container_cluster.go
Labels: size/XS

#8134 Add diff supress for json comparison on specific keys for bigquery table
  .changelog/4347.txt
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
Labels: size/XXL

#8135 Add support cloudsql mysql 8.0
  .changelog/4363.txt
  google/resource_sql_database_instance.go
  google/resource_sql_source_representation_instance.go
  google/resource_sql_source_representation_instance_generated_test.go
  website/docs/r/sql_source_representation_instance.html.markdown
Labels: size/XS

#8138 Add restoreBackup support for sql db instance
  .changelog/4336.txt
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/L

#8156 Sweep vpc connector
  .changelog/4367.txt
  google/resource_vpc_access_connector_generated_test.go
  website/docs/r/vpc_access_connector.html.markdown
Labels: size/XS

#8140 Minor change in cloud_identity_groups.html.markdown
  website/docs/d/cloud_identity_groups.html.markdown
Labels: size/XS

#8158 example corrected in the doc
  .changelog/4374.txt
  website/docs/d/sql_database_instance.html.markdown
Labels: size/XS

#8157 Remove make website-test, remove travis
  .github/workflows/go.yml
  .travis.yml
Labels: size/S

#8167 Promote github fields in Cloud Build Trigger to GA
  .changelog/4373.txt
  google/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: size/XL

#8168 Add support for Context Aware Access UserAccessBinding resource
  .changelog/4368.txt
  google/access_context_manager_operation.go
  google/active_directory_operation.go
  google/datastore_operation.go
  google/filestore_operation.go
  google/firestore_operation.go
  google/game_services_operation.go
  google/ml_engine_operation.go
  google/network_management_operation.go
  google/notebooks_operation.go
  google/provider.go
  google/redis_operation.go
  google/resource_access_approval_folder_settings_test.go
  google/resource_access_approval_organization_settings_test.go
  google/resource_access_approval_project_settings_test.go
  google/resource_access_context_manager_access_level_condition_test.go
  google/resource_access_context_manager_access_level_test.go
  google/resource_access_context_manager_access_levels_test.go
  google/resource_access_context_manager_access_policy_test.go
  google/resource_access_context_manager_gcp_user_access_binding.go
  google/resource_access_context_manager_gcp_user_access_binding_sweeper_test.go
  google/resource_access_context_manager_gcp_user_access_binding_test.go
  google/resource_access_context_manager_service_perimeter_resource_test.go
  google/resource_access_context_manager_service_perimeter_test.go
  google/resource_access_context_manager_services_perimeters_test.go
  google/resource_bigquery_data_transfer_config_test.go
  google/resource_manager_operation.go
  google/service_usage_operation.go
  google/spanner_operation.go
  google/tpu_operation.go
  google/vpc_access_operation.go
  website/docs/r/access_context_manager_gcp_user_access_binding.html.markdown
  website/google.erb
Labels: size/XL

#8169 Update project to project_id in project access settings
  .changelog/4383.txt
  google/resource_access_approval_project_settings.go
  website/docs/r/access_approval_project_settings.html.markdown
Labels: size/M

#8173 Fix dataproc tests
  .changelog/4379.txt
  google/resource_dataproc_job_test.go
Labels: size/XS

#8175 Update Google Projects docs
  .changelog/4376.txt
  website/docs/r/google_folder_organization_policy.html.markdown
  website/docs/r/google_project.html.markdown
  website/docs/r/google_project_default_service_accounts.html.markdown
Labels: size/S

#8178 Apigee organization
  .changelog/4317.txt
  google/apigee_operation.go
  google/config.go
  google/provider.go
  google/resource_apigee_organization.go
  google/resource_apigee_organization_generated_test.go
  google/resource_apigee_organization_sweeper_test.go
  website/docs/r/apigee_organization.html.markdown
  website/google.erb
Labels: size/XXL

#8181 Fix subnetwork datasource test
  .changelog/4386.txt
  google/data_source_google_compute_subnetwork_test.go
Labels: size/XS

#8183 Use beta provider for backend service cache tests
  .changelog/4387.txt
  google/resource_compute_region_backend_service_generated_test.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: size/M

#8097 Service account key keepers
  google/resource_google_service_account_key.go
  website/docs/r/google_service_account_key.html.markdown
Labels: size/XS

#8123 Use connection_name in Cloud Run Sql example
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#8184 Service account key keepers
  .changelog/4390.txt
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#8185 Use connection_name in Cloud Run Sql example
  .changelog/4391.txt
  google/resource_cloud_run_service_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#8187 Depends on breaks old TF version
  .changelog/4389.txt
  google/data_source_storage_bucket_object_content_test.go
  google/resource_compute_instance_migrate_test.go
  google/resource_notebooks_environment_generated_test.go
  website/docs/r/notebooks_environment.html.markdown
Labels: size/XS

#8188 Fix inconsistent locations in some resources - Part II
  .changelog/4394.txt
  google/resource_tpu_node.go
  google/resource_vpc_access_connector.go
  google/resource_vpc_access_connector_generated_test.go
  website/docs/r/memcache_instance.html.markdown
  website/docs/r/tpu_node.html.markdown
  website/docs/r/vpc_access_connector.html.markdown
Labels: size/M

#8192 Add Cloud Run Locations datasource
  .changelog/4360.txt
  google/data_source_cloud_run_locations.go
  google/data_source_cloud_run_locations_test.go
  google/data_source_tpu_tensorflow_versions_test.go
  google/iam_cloud_run_service_generated_test.go
  google/provider.go
  google/resource_cloud_run_domain_mapping_generated_test.go
  google/resource_cloud_run_service_generated_test.go
  google/resource_compute_region_network_endpoint_group_generated_test.go
  website/docs/d/cloud_run_locations.html.markdown
  website/docs/r/cloud_run_domain_mapping.html.markdown
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/compute_region_network_endpoint_group.html.markdown
  website/google.erb
Labels: size/L

#8211 Fix test expectation
  .changelog/4398.txt
  google/resource_container_cluster_test.go
Labels: size/XS

#8219 Fix depends_on in test
  .changelog/4397.txt
  google/data_source_google_compute_instance_template_test.go
Labels: size/XS

#8220 Add `X-Goog-Request-Reason` header if environment variable `CLOUDSDK_CORE_REQUEST_REASON` is set
  .changelog/4356.txt
  google/config.go
  google/header_transport.go
Labels: size/S

#8222 Infer bigtable zone from provider
  .changelog/4392.txt
  google/provider_test.go
  google/resource_bigtable_instance.go
  google/resource_bigtable_instance_test.go
  website/docs/r/bigtable_gc_policy.html.markdown
  website/docs/r/bigtable_instance.html.markdown
Labels: size/M

#8224 Fix inconsistent locations in some resources
  .changelog/4377.txt
  google/resource_compute_per_instance_config.go
  google/resource_compute_per_instance_config_test.go
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_region_instance_group_manager_test.go
  google/resource_compute_region_per_instance_config.go
  google/resource_compute_region_per_instance_config_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
Labels: size/M

#8231 Ignore members with "deleted:" prefix in bigquery IAM member
  .changelog/4388.txt
  google/iam_bigquery_dataset.go
Labels: size/XS

#8233 Add Certificate Authority Resource (Certificate Authority Service)
  .changelog/4382.txt
  website/docs/r/privateca_certificate_authority.html.markdown
  website/google.erb
Labels: size/XL

#8235 Add requested policy version to folder IAM GET
  .changelog/4401.txt
  google/iam_folder.go
  google/resource_apigee_organization_generated_test.go
  google/resource_google_folder_iam_member_test.go
Labels: size/XS

#8245 Add Autoscaler scaling schedules
  .changelog/4357.txt
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/M

#8246 set ignore_read for noRemoveDataDisk
  .changelog/4403.txt
  google/resource_notebooks_instance.go
  google/resource_notebooks_instance_generated_test.go
Labels: size/XS

#8247 Fix TestAccLoggingBucketConfig_CreateBuckets_withCustomId
  .changelog/4404.txt
  google/resource_logging_bucket_config_test.go
Labels: size/XS

#8248 Support cloud scheduler update
  .changelog/4409.txt
  google/resource_cloud_scheduler_job.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: size/M

#8249 Misc improvements for Certificate Authority
  .changelog/4407.txt
  website/docs/r/privateca_certificate_authority.html.markdown
  website/docs/r/privateca_certificate_authority_iam.html.markdown
  website/google.erb
Labels: size/L

#8250 Fix broken link
  .changelog/4411.txt
  google/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: size/XS

#8212 3.53.0 changelog
  CHANGELOG.md
Labels: size/XS

#8256 add retry logic on healthcare dataset not initialized error
  .changelog/4412.txt
  google/error_retry_predicates.go
  google/resource_healthcare_dataset.go
  google/resource_healthcare_dataset_generated_test.go
Labels: size/XS

#8259 Mark test as beta only, make into erb
  .changelog/4417.txt
  google/resource_compute_health_check_test.go
Labels: size/S

#8268 Add RuntimeConfig datasource
  .changelog/4408.txt
  google/data_source_redis_instance.go
  google/data_source_redis_instance_test.go
  google/data_source_runtimeconfig_config.go
  google/data_source_runtimeconfig_config_test.go
  google/provider.go
  website/docs/d/cloud_run_service.html.markdown
  website/docs/d/runtimeconfig_config.html.markdown
  website/docs/r/runtimeconfig_config.html.markdown
  website/google.erb
Labels: size/M

#8272 Update api client to 0.36
  go.mod
  go.sum
Labels: size/S

#8131 Add `temp_bucket` parameter for resource google_dataproc_cluster (fixes #7927)
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/M

#8274 Add temp_bucket parameter for resource google_dataproc_cluster (#7927)
  .changelog/4375.txt
  go.sum
Labels: size/XS

#8277 Add support for capacity aware modes to `google_compute_region_instance_group_manager
  .changelog/4348.txt
  google/resource_compute_region_instance_group_manager.go
  google/resource_compute_region_instance_group_manager_test.go
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: size/S

#8258 3.54.0 - release notes and cherry pick
  .changelog/4412.txt
  CHANGELOG.md
  google/error_retry_predicates.go
  google/resource_healthcare_dataset.go
  google/resource_healthcare_dataset_generated_test.go
Labels: size/S

#8283 Made iam updaters accept TerraformResourceData interface
  .changelog/4426.txt
  google/iam.go
  google/iam_big_query_table.go
  google/iam_bigquery_dataset.go
  google/iam_bigtable_instance.go
  google/iam_bigtable_table.go
  google/iam_billing_account.go
  google/iam_binary_authorization_attestor.go
  google/iam_cloud_functions_cloud_function.go
  google/iam_cloud_run_service.go
  google/iam_compute_disk.go
  google/iam_compute_image.go
  google/iam_compute_instance.go
  google/iam_compute_region_disk.go
  google/iam_compute_subnetwork.go
  google/iam_data_catalog_entry_group.go
  google/iam_dataproc_cluster.go
  google/iam_dataproc_job.go
  google/iam_folder.go
  google/iam_healthcare_dataset.go
  google/iam_healthcare_dicom_store.go
  google/iam_healthcare_fhir_store.go
  google/iam_healthcare_hl7_v2_store.go
  google/iam_iap_app_engine_service.go
  google/iam_iap_app_engine_version.go
  google/iam_iap_tunnel.go
  google/iam_iap_tunnel_instance.go
  google/iam_iap_web.go
  google/iam_iap_web_backend_service.go
  google/iam_iap_web_type_app_engine.go
  google/iam_iap_web_type_compute.go
  google/iam_kms_crypto_key.go
  google/iam_kms_key_ring.go
  google/iam_notebooks_instance.go
  google/iam_organization.go
  google/iam_project.go
  google/iam_pubsub_subscription.go
  google/iam_pubsub_topic.go
  google/iam_runtime_config_config.go
  google/iam_secret_manager_secret.go
  google/iam_service_account.go
  google/iam_service_management_service.go
  google/iam_source_repo_repository.go
  google/iam_spanner_database.go
  google/iam_spanner_instance.go
  google/iam_storage_bucket.go
  google/regional_utils.go
  google/test_utils.go
  google/utils.go
Labels: size/L

#8289 v1 Updates: Add tags, serviceAccountScopes, V100 GPU, ShieldedInstanc…
  .changelog/4425.txt
  google/resource_notebooks_instance.go
  website/docs/r/notebooks_instance.html.markdown
Labels: size/L

#8290 add fingerprint for privateIpv6GoogleAccess
  .changelog/4424.txt
  google/resource_compute_subnetwork.go
Labels: size/XS

#8295 Implemented a simple PascalCase function to remove strcase dependency
  .changelog/4428.txt
  google/resource_compute_instance_from_template.go
  google/utils.go
  google/utils_test.go
Labels: size/XS

#8298 fix permadiff on expiration_ms for google_bigquery_table
  .changelog/4419.txt
  google/resource_bigquery_table.go
Labels: size/XS

#8299 fix two tests for cloud_run_service
  .changelog/4416.txt
  google/resource_cloud_run_domain_mapping.go
  google/resource_cloud_run_service.go
  google/resource_cloud_run_service_generated_test.go
  google/resource_cloud_run_service_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
  website/docs/r/cloud_run_service.html.markdown
Labels: size/S

#8296 Part 1/2: Removed strcase dependency (tpg)
  go.mod
  go.sum
Labels: size/XS

#8303 Promote datapath and some networking fields of GKE to GA.
  .changelog/4432.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/XL

#8304 Validate base64 fields in the Google Provider
  .changelog/4338.txt
  google/resource_cloud_scheduler_job.go
  google/resource_healthcare_hl7_v2_store.go
  google/validation.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: size/S

#8313 Add correct signer and viewer roles for private CA
  .changelog/4434.txt
  website/docs/r/privateca_certificate_authority.html.markdown
Labels: size/XS

#8315 availability sli for SLO monitoring resource
  .changelog/4344.txt
  google/resource_monitoring_slo.go
  google/resource_monitoring_slo_test.go
  website/docs/r/monitoring_slo.html.markdown
Labels: size/M

#8316 doc updated to match examples for google_billing_budget
  .changelog/4399.txt
  google/resource_billing_budget.go
  website/docs/r/billing_budget.html.markdown
Labels: size/XS

#8309 Fix time_rotating argument name
  website/docs/r/google_service_account_key.html.markdown
Labels: size/XS

#8318 Update SDK to 2.4.2
  go.mod
  go.sum
Labels: size/XS

#8320 Bump cloud.google.com/go/bigtable from 1.5.0 to 1.7.1 (#2904)
  go.sum
Labels: size/XS

#8321 sort array of schema for bigquery_table
  .changelog/4440.txt
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
Labels: size/L

#8330 Bump google.golang.org/api from 0.36.0 to 0.37.0
  go.mod
  go.sum
Labels: size/XS

#8340 docs: fix incorrect argument name in time_rotating example #8267
  .changelog/4437.txt
  go.mod
  go.sum
Labels: size/XS

#8336 Minor: wording cleanup in Using GKE with Terraform
  website/docs/guides/using_gke_with_terraform.html.markdown
Labels: size/XS

#8341 Revert "Minor: wording cleanup in Using GKE with Terraform"
  website/docs/guides/using_gke_with_terraform.html.markdown
Labels: size/XS

#8342 Remove qualifier about # of supported projects in billing budget
  .changelog/4445.txt
  google/resource_billing_budget.go
  website/docs/r/billing_budget.html.markdown
Labels: size/XS

#8343 Add SSH Metadata Key Entry Example
  .changelog/4442.txt
  website/docs/r/compute_project_metadata.html.markdown
Labels: size/XS

#8344 Remove validation on data.google_service_account account_id
  .changelog/4446.txt
  google/data_source_google_service_account.go
  website/docs/d/service_account.html.markdown
Labels: size/XS

#8345 Minor: wording cleanup in Using GKE with Terraform
  .changelog/4447.txt
  website/docs/guides/using_gke_with_terraform.html.markdown
Labels: size/XS
