Repository hashicorp/terraform-provider-google, pull requests merged in 2021-03, with the labels that each got.

#8581 Fix log sink documentation
  .changelog/4544.txt
  website/docs/r/logging_billing_account_exclusion.html.markdown
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_exclusion.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_exclusion.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_exclusion.html.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: size/M

#8582 Add SQL Backup Retention fields
  .changelog/4385.txt
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/M

#8584 org_domain added from env to be used in cluster authenticator group c…
  .changelog/4547.txt
  google/resource_container_cluster_test.go
Labels: size/XS

#8585 Add async polling for 403s on cloud identity
  .changelog/4504.txt
  google/common_polling.go
  google/resource_access_context_manager_access_policy.go
  google/resource_big_query_dataset_access.go
  google/resource_bigquery_data_transfer_config.go
  google/resource_billing_budget.go
  google/resource_cloud_asset_folder_feed.go
  google/resource_cloud_asset_organization_feed.go
  google/resource_cloud_asset_project_feed.go
  google/resource_cloud_build_trigger.go
  google/resource_cloud_identity_group.go
  google/resource_cloud_identity_group_membership.go
  google/resource_compute_backend_service.go
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_network.go
  google/resource_dialogflow_entity_type.go
  google/resource_dialogflow_intent.go
  google/resource_firestore_index.go
  google/resource_iap_brand.go
  google/resource_iap_client.go
  google/resource_identity_platform_tenant.go
  google/resource_kms_secret_ciphertext.go
  google/resource_logging_metric.go
  google/resource_monitoring_alert_policy.go
  google/resource_monitoring_group.go
  google/resource_monitoring_notification_channel.go
  google/resource_monitoring_uptime_check_config.go
  google/resource_os_config_patch_deployment.go
  google/resource_os_login_ssh_public_key.go
  google/resource_resource_manager_lien.go
  google/resource_secret_manager_secret_version.go
  google/resource_security_center_source.go
  google/resource_source_repo_repository.go
  google/resource_spanner_instance.go
  google/resource_storage_hmac_key.go
  google/resource_vpc_access_connector.go
  website/docs/r/cloud_identity_group.html.markdown
Labels: size/L

#8538 Stopped marking provider as a /v3 library (1/2)
  GNUmakefile
  go.mod
  google/provider.go
  main.go
Labels: size/XS

#8588 Add windows based availability sli to slo
  .changelog/4542.txt
  google/resource_monitoring_slo.go
  google/resource_monitoring_slo_test.go
  website/docs/r/monitoring_slo.html.markdown
Labels: size/M

#8589 fixed maintenance_exclusion deletion
  .changelog/4541.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
Labels: size/XS

#8590 new instance type added for data_fusion
  .changelog/4514.txt
  website/docs/r/data_fusion_instance.html.markdown
Labels: size/XS

#8591 Adding missing replacement_method to documentation for MIGs and Regional MIGs
  .changelog/4540.txt
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: size/XS

#8592 add user-agent based on environment variable - opt in
  .changelog/4550.txt
  google/provider.go
Labels: size/XS

#8594 added 404 response code check on delete call
  .changelog/4512.txt
  google/resource_container_cluster.go
Labels: size/XS

#8595 Remove release channel UNSPECIFIED diff suppress
  .changelog/4554.txt
  google/resource_container_cluster.go
  google/resource_container_node_pool_test.go
Labels: size/XS

#8596 Added code for Apigee Environments
  .changelog/4553.txt
  google/provider.go
  google/resource_apigee_environment.go
  google/resource_apigee_environment_generated_test.go
  google/resource_apigee_environment_sweeper_test.go
  website/docs/r/apigee_environment.html.markdown
  website/google.erb
Labels: size/XL

#8604 Change GCP scope name up-to-date
  .changelog/4525.txt
  google/service_scope.go
Labels: size/XS

#8565 3.59.0 patchnotes
  CHANGELOG.md
Labels: size/XS

#8606 Add support for ephemeral_storage_config in container node_config
  .changelog/4510.txt
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#8602 Suppress diff for COS images
  google/image.go
  google/resource_compute_disk.go
  google/resource_compute_disk_test.go
Labels: size/XS

#8615 Add CMEK support to google_storage_bucket_object
  .changelog/4561.txt
  google/resource_storage_bucket_object.go
  google/resource_storage_bucket_object_test.go
  website/docs/r/storage_bucket_object.html.markdown
Labels: size/M

#8616 add note for disk resizing
  .changelog/4566.txt
  google/resource_compute_disk.go
  website/docs/r/compute_disk.html.markdown
Labels: size/XS

#8619 Fix CAS rest API link
  .changelog/4552.txt
  website/docs/r/privateca_certificate_authority.html.markdown
Labels: size/XS

#8620 Don't delete default network in region quota override example
  .changelog/4546.txt
  website/docs/r/service_usage_consumer_quota_override.html.markdown
Labels: size/XS

#8621 Ga clients
  .changelog/4560.txt
  google/config.go
  google/data_source_google_active_folder.go
  google/dataproc_cluster_operation.go
  google/iam_folder.go
  google/iam_pubsub_subscription.go
  google/provider.go
  google/provider_handwritten_endpoint.go
  google/resource_compute_security_policy.go
  google/resource_compute_shared_vpc_host_project.go
  google/resource_compute_shared_vpc_service_project.go
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  google/resource_google_folder.go
  google/resource_google_folder_iam_binding_test.go
  google/resource_google_folder_iam_policy_test.go
  google/resource_google_folder_test.go
Labels: size/XL

#8623 Add import for dataproc test
  .changelog/4569.txt
  google/resource_dataproc_cluster_test.go
Labels: size/XS

#8628 Mark BQ's materialized view query as ForceNew
  .changelog/4543.txt
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
Labels: size/XS

#8635 Fix prefix for composer datasource test
  .changelog/4574.txt
  google/data_source_google_composer_environment_test.go
Labels: size/XS

#8631 website/spanner_instance: Fixed the documentation
  website/docs/d/spanner_instance.html.markdown
  website/google.erb
Labels: size/XS

#8639 Add customize diff for deprecated attribute on gc_policy
  .changelog/4556.txt
  google/resource_bigtable_gc_policy.go
  google/resource_bigtable_gc_policy_test.go
  google/test_utils.go
Labels: size/L

#8640 latest runtime versions added to doc
  .changelog/4563.txt
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#8641 Added code for Apigee environment groups
  .changelog/4570.txt
  google/provider.go
  google/resource_apigee_envgroup.go
  google/resource_apigee_envgroup_generated_test.go
  google/resource_apigee_envgroup_sweeper_test.go
  website/docs/r/apigee_envgroup.html.markdown
  website/google.erb
Labels: size/XL

#8644 id added to exported attributes list
  .changelog/4579.txt
  website/docs/d/compute_network.html.markdown
Labels: size/XS

#8645 Add beta Serverless Connector features
  .changelog/4568.txt
  google/resource_vpc_access_connector.go
  website/docs/r/vpc_access_connector.html.markdown
Labels: size/M

#8647 Change google_compute_subnetwork.purpose to a String
  .changelog/4581.txt
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/XS

#8648 Add instructions on Cloud Identity values
  .changelog/4577.txt
  google/provider_test.go
Labels: size/XS

#8650 add two fields to ForceSendFields
  .changelog/4580.txt
  google/resource_compute_network_peering.go
  google/resource_compute_network_peering_test.go
Labels: size/XS

#8668 Fix missing GKE field descriptions
  .changelog/4555.txt
  google/node_config.go
  google/resource_container_cluster.go
Labels: size/L

#8670 Add enable_streaming_engine argument to google_dataflow_job
  .changelog/4585.txt
  google/resource_dataflow_job.go
  website/docs/r/dataflow_job.html.markdown
Labels: size/XS

#8681 Promote healthcare consent API to GA support
  .changelog/4393.txt
  google/iam_healthcare_consent_store.go
  google/iam_healthcare_consent_store_generated_test.go
  google/provider.go
  google/resource_healthcare_consent_store.go
  google/resource_healthcare_consent_store_generated_test.go
  google/resource_healthcare_consent_store_sweeper_test.go
  website/docs/r/healthcare_consent_store.html.markdown
  website/docs/r/healthcare_consent_store_iam.html.markdown
Labels: size/XXL

#8691 add TestAccProviderMeta_setModuleName test back to VCR tests
  .changelog/4588.txt
  google/provider_test.go
Labels: size/XS

#8669 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#8697 Promote field compute_instance.scheduling.min_node_cpus and related fields to ga
  .changelog/4593.txt
  google/resource_compute_disk.go
  google/resource_compute_health_check.go
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
  google/resource_compute_node_template.go
  google/resource_compute_node_template_generated_test.go
  google/resource_compute_region_backend_service.go
  google/resource_compute_region_health_check.go
  google/resource_compute_region_network_endpoint_group.go
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_machine_image.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
  website/docs/r/compute_region_network_endpoint_group.html.markdown
Labels: size/L

#8705 Made nic_type default to a string (and expand as a string)
  .changelog/4598.txt
  google/compute_instance_helpers.go
Labels: size/XS

#8706 Add Proxy Bind to Target Proxies
  .changelog/4597.txt
  google/resource_compute_backend_service_test.go
  google/resource_compute_target_http_proxy.go
  google/resource_compute_target_https_proxy.go
  google/resource_compute_target_tcp_proxy.go
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
Labels: size/M

#8708 Added tag product and tagkey resource
  .changelog/4565.txt
  google/error_retry_predicates_test.go
  google/resource_tags_tag_key_test.go
  website/docs/r/tags_tag_key.html.markdown
  website/google.erb
Labels: size/L

#8723 Added support for VPC Service Controls (VPC SC) Secure Data Exchange
  .changelog/4509.txt
  google/resource_access_context_manager_service_perimeter.go
  google/resource_access_context_manager_service_perimeter_test.go
  google/resource_access_context_manager_service_perimeters.go
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/docs/r/access_context_manager_service_perimeters.html.markdown
Labels: size/XXL

#8725 Add Google HC Datasource
  .changelog/4515.txt
  google/data_source_compute_health_check.go
  google/data_source_compute_health_check_test.go
  google/provider.go
  website/docs/d/compute_backend_bucket.html.markdown
  website/docs/d/compute_health_check.html.markdown
  website/google.erb
Labels: size/M

#8727 Allow other repo types for AR
  .changelog/4604.txt
  website/docs/r/artifact_registry_repository.html.markdown
Labels: size/XS

#8730 datacatalog: Added `google_data_catalog_tag_template_iam_*`
  .changelog/4590.txt
  google/iam_data_catalog_tag_template.go
  google/iam_data_catalog_tag_template_generated_test.go
  google/provider.go
  website/docs/r/data_catalog_tag_template_iam.html.markdown
  website/google.erb
Labels: size/XL

#8698 Fix broken kalm_config link
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#8739 Misc CONTRIBUTING.md updates
  .github/CONTRIBUTING.md
Labels: size/XS

#8740 Make misc. cleanups around the docs
  .changelog/4613.txt
  website/docs/guides/getting_started.html.markdown
  website/docs/guides/provider_reference.html.markdown
  website/docs/index.html.markdown
Labels: size/XS

#8726 v3.61.0 changelog
  CHANGELOG.md
Labels: size/S

#8744 Updated datatype for mtu
  .changelog/4601.txt
  google/resource_compute_interconnect_attachment.go
Labels: size/XS

#8745 Added data source google kms secret asymmetric
  .changelog/4609.txt
  go.mod
  google/config.go
  google/data_source_google_kms_secret_asymmetric.go
  google/data_source_google_kms_secret_asymmetric_test.go
  google/provider.go
  website/docs/d/kms_secret_asymmetric.html.markdown
  website/google.erb
Labels: size/XL

#8746 Add operation retry for exceeded quota group OperationReadGroup
  .changelog/4599.txt
  google/common_operation.go
  google/error_retry_predicates.go
  google/error_retry_predicates_test.go
Labels: size/XS

#8755 Gkehub Membership Resource [updated again]
  .changelog/4600.txt
  website/docs/r/gke_hub_membership.html.markdown
  website/google.erb
Labels: size/L

#8762 Follow user project override settings in Cloud Identity datasources
  .changelog/4612.txt
  google/data_source_cloud_identity_group_memberships.go
  google/data_source_cloud_identity_groups.go
Labels: size/S

#8763 Add fields to Datafusion Instance
  .changelog/4617.txt
  website/docs/r/data_fusion_instance.html.markdown
Labels: size/XS

#8693 updating to go 1.16
  .github/workflows/go.yml
  .go-version
  README.md
  go.mod
Labels: size/XS

#8770 Adresssing Terraform provider issue 8732
  .changelog/4614.txt
  google/resource_compute_region_target_http_proxy_generated_test.go
  website/docs/r/compute_region_target_http_proxy.html.markdown
Labels: size/XS

#8778 Add sweeper to gce disk
  .changelog/4624.txt
  google/resource_compute_disk_sweeper_test.go
Labels: size/M

#8771 v3.62.0 CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#8784 fix test failures
  .changelog/4582.txt
  google/resource_cloud_run_service.go
Labels: size/XS

#8785 query insights block added to doc
  .changelog/4628.txt
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#8788 Check for composer disk prefix in sweepers
  .changelog/4630.txt
  google/gcp_sweeper_test.go
Labels: size/XS

#8789 Added data source monitoring istio canonical service
  .changelog/4623.txt
  google/data_source_monitoring_istio_canonical_service.go
  google/provider.go
  website/docs/d/monitoring_istio_canonical_service.html.markdown
  website/google.erb
Labels: size/M

#8795 Apigee instance attachment resource
  .changelog/4619.txt
  google/provider.go
  google/resource_apigee_instance.go
  google/resource_apigee_instance_attachment.go
  google/resource_apigee_instance_attachment_generated_test.go
  google/resource_apigee_instance_attachment_sweeper_test.go
  website/docs/r/apigee_instance.html.markdown
  website/docs/r/apigee_instance_attachment.html.markdown
  website/google.erb
Labels: size/XL

#8797 set required for secret_data
  .changelog/4627.txt
  google/resource_secret_manager_secret_version.go
  website/docs/r/secret_manager_secret_version.html.markdown
Labels: size/XS

#8798 GKE L4 ILB Subsetting support
  .changelog/4626.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/S

#8799 Fixed labels permadiff in notebooks instance
  .changelog/4615.txt
  google/resource_notebooks_instance.go
Labels: size/XS

#8801 add minItems for the required field scopes
  .changelog/4634.txt
  google/resource_compute_instance.go
Labels: size/XS

#8803 Fix bug where bigquery table couldn't add columns
  .changelog/4606.txt
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
Labels: size/M

#8632 Add support for GKE Autopilot in `google_container_cluster` resource
  google/data_source_google_container_cluster_test.go
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/L

#8806 Allow MYSQL_5_5 for database_version
  .changelog/4625.txt
  google/resource_sql_source_representation_instance.go
  website/docs/r/sql_source_representation_instance.html.markdown
Labels: size/XS

#8812 Bump dataproc disk sizes
  .changelog/4637.txt
  google/resource_dataproc_cluster_iam_test.go
  google/resource_dataproc_cluster_test.go
  google/resource_dataproc_job_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/S

#8775 Add require_partition_filter to BigQuery table with hive_partitioning
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: size/XS

#8817 add polling to handle inconsistent result
  .changelog/4642.txt
  google/resource_storage_hmac_key.go
Labels: size/S
