Repository hashicorp/terraform-provider-google, pull requests merged in 2021-05, with the labels that each got.

#9055 Made check for creds vars in sweepers match test runs
  .changelog/4755.txt
  google/gcp_sweeper_test.go
Labels: size/XS

#9057 Added ForceNew on labels
  .changelog/4734.txt
  google/resource_logging_metric.go
  google/resource_logging_metric_test.go
Labels: size/M

#8445 Update documentation for sql instance
  website/docs/d/sql_database_instance.html.markdown
Labels: size/XS

#9052 Adds labels to disk on instance templates
  website/docs/d/compute_instance_template.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#9059 Docs update for SQL instance - remove ON_DEMAND option
  .changelog/4757.txt
  website/docs/d/compute_instance_template.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#9060 Adds labels to disk on instance templates
  .changelog/4759.txt
  website/docs/d/compute_instance_template.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#9063 Cloud Run Domain Verification Doc Update
  .changelog/4754.txt
  google/resource_cloud_run_domain_mapping.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
Labels: size/XS

#9071 add requireVerifiedChromeOs as optional
  .changelog/4758.txt
  google/resource_access_context_manager_access_level.go
  google/resource_access_context_manager_access_level_condition_test.go
  google/resource_access_context_manager_access_level_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
Labels: size/S

#9072 Add Android and iOS to supported OS types
  .changelog/4736.txt
  google/resource_access_context_manager_access_level.go
  google/resource_access_context_manager_access_level_condition.go
  google/resource_access_context_manager_access_levels.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_access_level_condition.html.markdown
  website/docs/r/access_context_manager_access_levels.html.markdown
Labels: size/XS

#9073 Added support for the integration with Secret Manager in Cloud Run.
  .changelog/4739.txt
  website/docs/r/cloud_run_service.html.markdown
Labels: size/L

#9075 Added tf-test prefix to negId and made network endpoints API endpoint match the version we're testing
  .changelog/4760.txt
  google/resource_compute_network_endpoint_test.go
Labels: size/XS

#9076 Add `force_destroy` to spanner instance
  .changelog/4644.txt
  google/resource_spanner_instance.go
  google/resource_spanner_instance_sweeper_test.go
  website/docs/r/spanner_instance.html.markdown
Labels: size/L

#9078 add initial_size to google_compute_node_group
  .changelog/4750.txt
  google/resource_compute_node_group.go
  google/resource_compute_node_group_generated_test.go
  website/docs/r/compute_node_group.html.markdown
Labels: size/S

#9085 add details to google_service_account_key documentation
  .changelog/4764.txt
  google/resource_google_service_account_key.go
Labels: size/XS

#9089 upgrade downstream-builder to go16 and update docs
  .changelog/4767.txt
  go.sum
Labels: size/M

#9095 add transform error function for security policy association read error
  .changelog/4765.txt
  google/security_policy_association_utils.go
Labels: size/XS

#9098 Add basepath generation
  .changelog/4745.txt
  google/config.go
  google/provider.go
  google/provider_dcl_endpoints.go
Labels: size/XS

#9099 dns: ignore case changes for DS records
  .changelog/4769.txt
  google/resource_dns_resource_dns_record_set.go
Labels: size/XS

#9100 Add conflicts with, node_version only works on the default node pool
  .changelog/4762.txt
  google/resource_container_cluster.go
Labels: size/XS

#9106 Only check node_version & remove_default_node_pool on creation
  .changelog/4772.txt
  google/resource_compute_backend_service_test.go
  google/resource_container_cluster.go
Labels: size/XS

#9107 Add support for setting kms_key_name on machine image
  .changelog/4771.txt
  website/docs/r/compute_machine_image.html.markdown
Labels: size/M

#9114 Revert "Add changelog for 3.67.0"
  CHANGELOG.md
Labels: size/S

#9115 3.67.0 changelog
  CHANGELOG.md
Labels: size/S

#9121 Update sql instance description
  .changelog/4768.txt
  google/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#9131 Allow enable_shielded_nodes to be false
  .changelog/4774.txt
  google/resource_container_cluster.go
  google/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/S

#9139 allow api gateway to change
  .changelog/4782.txt
  website/docs/r/api_gateway_gateway.html.markdown
Labels: size/XS

#9140 fix TestAccComputeHaVpnGateway_haVpnGatewayGcpToGcpExample and TestAccComputeExternalVpnGateway_externalVpnGatewayExample
  .changelog/4781.txt
  google/resource_compute_external_vpn_gateway_generated_test.go
  google/resource_compute_ha_vpn_gateway_generated_test.go
Labels: size/XS

#9141 allow testing suite to use GOOGLE_APPLICATION_CREDENTIALS for sweepers
  .changelog/4785.txt
  google/provider_test.go
Labels: size/XS

#9142 align provisioned networks to have the prefix tf-test
  .changelog/4784.txt
  google/resource_compute_address_test.go
  google/resource_compute_instance_template_test.go
  google/resource_dns_managed_zone_test.go
  google/resource_dns_policy_test.go
Labels: size/XS

#9143 remove ForceNew on initial_group_config
  .changelog/4780.txt
  google/resource_cloud_identity_group.go
Labels: size/XS

#9149 add docs for google_project_service timeouts
  .changelog/4787.txt
  website/docs/r/google_project_service.html.markdown
Labels: size/XS

#9152 Upstream tpgb 3238: docs for cluster notification_config
  .changelog/4786.txt
  go.sum
  website/docs/r/container_cluster.html.markdown
Labels: size/M

#9154 IPsec-encrypted Interconnect
  .changelog/4777.txt
  google/resource_compute_address.go
  google/resource_compute_ha_vpn_gateway.go
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_ha_vpn_gateway.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_router.html.markdown
Labels: size/XL

#9156 promote predictive autoscaling to ga
  .changelog/4789.txt
  google/resource_compute_autoscaler.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_autoscaler_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/L

#9165 promote schedule-based autoscaling to ga
  .changelog/4788.txt
  google/resource_compute_autoscaler.go
  google/resource_compute_autoscaler_test.go
  google/resource_compute_region_autoscaler.go
  google/resource_compute_region_autoscaler_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/XL

#9160 Update CHANGELOG.md - 3.68.0
  CHANGELOG.md
Labels: size/XS

#9168 Add mutex to compute_project_metadata_item
  .changelog/4778.txt
  google/resource_compute_project_metadata_item.go
Labels: size/XS

#9176 Add support for Instance schedules to Google compute resource policy
  .changelog/4779.txt
  google/resource_compute_resource_policy.go
  google/resource_compute_resource_policy_generated_test.go
  website/docs/r/compute_resource_policy.html.markdown
Labels: size/XL

#9178 upgrade google api to 0.46
  go.mod
  go.sum
Labels: size/M

#9186 Promote Capacity Aware Mode to GA
  .changelog/4795.txt
  google/resource_compute_region_instance_group_manager.go
Labels: size/XS

#9192 Add notes about renamed fields to docs
  .changelog/4796.txt
  website/docs/r/eventarc_trigger.html.markdown
Labels: size/XS

#9193 Add Provisioned IOPS support
  .changelog/4578.txt
  google/resource_compute_disk.go
  google/resource_compute_disk_resource_policy_attachment_test.go
  website/docs/r/compute_disk.html.markdown
Labels: size/S

#9198 Tagged relevant issue in the todo
  .changelog/4801.txt
  go.sum
Labels: size/M

#9203 Add option to set autoresize limit
  .changelog/4743.txt
  google/resource_sql_database_instance.go
  google/resource_sql_database_instance_test.go
  website/docs/d/sql_database_instance.html.markdown
Labels: size/XS

#9199 Update dcl
  go.mod
  go.sum
Labels: size/XS

#9206 Fix empty object behavior in the DCL
  .changelog/4803.txt
  google/resource_dataproc_workflow_template.go
  google/resource_eventarc_trigger.go
Labels: size/XL

#9209 Downgrade bigtable to 1.7.1
  go.mod
  go.sum
Labels: size/XS

#9212 Added sweeper for bigtable instances
  .changelog/4806.txt
  google/resource_bigtable_instance_sweeper_test.go
Labels: size/M

#9213 Cloudrun: Check knative observed generation when polling
  .changelog/4793.txt
  google/cloudrun_polling.go
  google/resource_cloud_run_domain_mapping.go
  google/resource_cloud_run_service.go
Labels: size/M

#9214 send_empty_value for two fields
  .changelog/4805.txt
  google/resource_compute_backend_service_test.go
Labels: size/S

#9191 Release 3.69.0 Changelog (GA)
  CHANGELOG.md
Labels: size/XS

#9221 allow matches_storage_class empty array
  .changelog/4809.txt
  google/resource_storage_bucket.go
  google/resource_storage_bucket_test.go
Labels: size/XS

#9231 Instance group wait for status
  .changelog/4783.txt
  google/resource_compute_instance_group_manager.go
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_region_instance_group_manager.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: size/XL

#9253 DialogFlow fulfillment support
  .changelog/4808.txt
  google/provider.go
  google/resource_dialogflow_fulfillment.go
  google/resource_dialogflow_fulfillment_test.go
  website/docs/r/dialogflow_fulfillment.html.markdown
  website/google.erb
Labels: size/XL

#9243 fix linter in tpg
  .golangci.yml
  staticcheck.conf
Labels: size/M

#9255 Match preview versions in google_composer_environment regex
  .changelog/4797.txt
  google/resource_composer_environment.go
  google/resource_composer_environment_test.go
Labels: size/XS

#9256 Compute: add support for instance reservation_affinity
  .changelog/4335.txt
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  google/resource_compute_instance_test.go
Labels: size/XL
