Repository hashicorp/terraform-provider-google, pull requests merged in 2021-06, with the labels that each got.

#9250 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#9269 Enabled additional binary auth tests in GA
  .changelog/4820.txt
  google/resource_binaryauthorization_policy_test.go
Labels: size/L

#9271 Fix TestAccContainerCluster_withILBSubsetting
  .changelog/4824.txt
  google/resource_container_cluster_test.go
Labels: size/XS

#9274 Promote logConfig of Healthchecks to GA
  .changelog/4822.txt
  google/resource_compute_health_check.go
  google/resource_compute_region_health_check.go
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
Labels: size/L

#9275 add module attribution to dcl packages
  .changelog/4814.txt
  google/config.go
  google/provider_dcl_client_creation.go
  google/provider_dcl_endpoints.go
  google/resource_dataproc_workflow_template.go
  google/resource_dataproc_workflow_template_sweeper_test.go
  google/resource_eventarc_trigger.go
  google/resource_eventarc_trigger_sweeper_test.go
Labels: size/L

#9281 fix skipping node pool deletion log message
  .changelog/4827.txt
  google/resource_container_node_pool.go
Labels: size/XS

#9282 fixed default for max_throughput
  .changelog/4823.txt
  google/resource_vpc_access_connector.go
  google/resource_vpc_access_connector_test.go
  website/docs/r/vpc_access_connector.html.markdown
Labels: size/XS

#9284 Ignore status during IGM tests
  .changelog/4830.txt
  google/resource_compute_instance_group_manager_test.go
  google/resource_compute_region_instance_group_manager_test.go
Labels: size/L

#9270 replace hashibot with github actions
  .github/labeler.yml
  .github/reviewer-lottery.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
  .github/workflows/pull-request-reviewer.yml
  .github/workflows/pull-request-size.yml
  .github/workflows/stale.yml
  .hashibot.hcl
Labels: size/L

#9294 attempting to fix random reviewer github action
  .github/workflows/pull-request-reviewer.yml
Labels: size/xs

#9295 fix version on issue-labeler
  .github/workflows/labeler.yml
Labels: size/xs

#9300 only add panic label
  .github/labeler.yml
Labels: size/xs

#9292 add grpc mod
  go.mod
  go.sum
Labels: size/m

#9283 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#9328 Update dcl
  go.mod
  go.sum
Labels: size/xs

#9348 upgrade linter version
  .golangci.yml
  go.mod
  go.sum
Labels: size/xl

#9354 .github/workflows: Fix waiting-response label removal
  .github/workflows/issue-comment-created.yml
Labels: size/xs

#9355 release 3.72.0 changelog
  CHANGELOG.md
Labels: size/xs

#9380 update removing waiting-response, update stale label
  .github/workflows/issue-comment-created.yml
  .github/workflows/stale.yml
Labels: size/xs

#9381 Updated DCL version (1/2)
  go.mod
  go.sum
Labels: size/xs

#9387 update the request reviewer workflow and use commit numbers rather than versions
  .github/workflows/go.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
  .github/workflows/pull-request-reviewer.yml
  .github/workflows/pull-request-size.yml
  .github/workflows/stale.yml
Labels: size/xs

#9384 Changelog
  CHANGELOG.md
Labels: size/xs

#9405 Release 3.73.0 changelog
  CHANGELOG.md
Labels: size/xs

#9407 Revert "Changelog (#9384)"
  CHANGELOG.md
Labels: size/xs

#9420 fix random reviewer workflow
  .github/workflows/pull-request-reviewer.yml
Labels: size/xs

#9434 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs
