Repository hashicorp/terraform-provider-google, pull requests merged in 2021-11, with the labels that each got.

#10468 Add changelog notes for 4.0.0
  CHANGELOG.md
Labels: size/m

#10552 4.1.0 changelog
  CHANGELOG.md
Labels: size/xs

#10578 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#10576 add files for gha release workflow
  .github/workflows/release.yml
  .goreleaser.yml
  scripts/changelog-links.sh
Labels: size/l
