Repository hashicorp/terraform-provider-google, pull requests merged in 2021-04, with the labels that each got.

#8821 Add warning notice to vpc documentation that permissions at the folder level are only supported on the beta provider
  .changelog/4646.txt
  website/docs/r/compute_shared_vpc_service_project.html.markdown
Labels: size/XS

#8824 Use correct service account for pubsub permission.
  .changelog/4649.txt
  google/resource_healthcare_dicom_store.go
  google/resource_healthcare_fhir_store.go
  google/resource_healthcare_hl7_v2_store.go
  website/docs/r/healthcare_dicom_store.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/healthcare_hl7_v2_store.html.markdown
Labels: size/XS

#8828 Revert "Added data source google kms secret asymmetric"
  .changelog/4651.txt
  google/config.go
  google/data_source_google_kms_secret_asymmetric.go
  google/data_source_google_kms_secret_asymmetric_test.go
  google/provider.go
  website/docs/d/kms_secret_asymmetric.html.markdown
  website/google.erb
Labels: size/XL

#8829 Revert "Updated datatype for mtu"
  .changelog/4643.txt
  google/resource_compute_interconnect_attachment.go
  google/resource_compute_interconnect_attachment_generated_test.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: size/L

#8831 Moved check for op name out of create*Waiter
  .changelog/4648.txt
  google/access_context_manager_operation.go
  google/active_directory_operation.go
  google/apigee_operation.go
  google/datastore_operation.go
  google/filestore_operation.go
  google/firestore_operation.go
  google/game_services_operation.go
  google/ml_engine_operation.go
  google/network_management_operation.go
  google/notebooks_operation.go
  google/redis_operation.go
  google/resource_manager_operation.go
  google/service_usage_operation.go
  google/spanner_operation.go
  google/tpu_operation.go
  google/vpc_access_operation.go
  google/workflows_operation.go
Labels: size/L

#8825 Add E2_HIGHCPU_8 and E2_HIGHCPU_32 MachineType validations
  google/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: size/XS

#8834 Remove test step as the error has been fixed in backend
  .changelog/4654.txt
  google/resource_cloud_run_domain_mapping_test.go
Labels: size/XS

#8835 adding new resource dns resource record set
  .changelog/4361.txt
  google/provider.go
  google/resource_dns_record_set.go
  google/resource_dns_record_set_test.go
  google/resource_dns_resource_dns_record_set.go
  google/resource_dns_resource_dns_record_set_sweeper_test.go
  website/docs/r/dns_record_set.html.markdown
  website/docs/r/dns_resource_dns_record_set.html.markdown
  website/google.erb
Labels: size/XXL

#8837 add sensitive tag to access_token output
  .changelog/4653.txt
  google/data_source_google_service_account_access_token_test.go
Labels: size/XS

#8819 corrected documentation of properties
  google/resource_sql_database_instance.go
Labels: size/XS

#8678 Update google_sql_database_instance documentation
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#8839 Update google_sql_database_instance documentation
  .changelog/4657.txt
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#8840 Added tag binding resource
  .changelog/4638.txt
  website/docs/r/tags_tag_binding.html.markdown
  website/docs/r/tags_tag_key.html.markdown
  website/docs/r/tags_tag_value.html.markdown
  website/google.erb
Labels: size/M

#8841 Format test step
  .changelog/4659.txt
  google/resource_cloud_run_domain_mapping_test.go
Labels: size/XS

#8842 add gVNIC support for instance template
  .changelog/4655.txt
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
  website/docs/r/compute_instance_template.html.markdown
Labels: size/L

#8844 Added iam policy support for tag value and tag key
  .changelog/4660.txt
  website/docs/r/tags_tag_key_iam.html.markdown
  website/docs/r/tags_tag_value_iam.html.markdown
  website/google.erb
Labels: size/L

#8830 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#8847 add field `maintenance_window.start_time` to `google_compute_node_group`
  .changelog/4656.txt
  google/resource_compute_node_group.go
  google/resource_compute_node_group_generated_test.go
  website/docs/r/compute_node_group.html.markdown
Labels: size/M

#8850 remove random provider when not needed
  .changelog/4663.txt
  google/resource_access_context_manager_gcp_user_access_binding_test.go
  google/resource_big_query_routine_test.go
  google/resource_bigquery_job_test.go
  google/resource_billing_budget_test.go
  google/resource_cloud_run_domain_mapping_test.go
  google/resource_compute_managed_ssl_certificate_generated_test.go
  google/resource_compute_region_ssl_certificate_generated_test.go
  google/resource_compute_ssl_certificate_generated_test.go
  google/resource_dns_managed_zone_generated_test.go
  google/resource_endpoints_service_test.go
  google/resource_os_login_ssh_public_key_test.go
  google/resource_redis_instance_test.go
  google/resource_spanner_database_test.go
Labels: size/M

#8811 Add support for description to tag template fields (#8810)
  google/resource_data_catalog_tag_template.go
  google/resource_data_catalog_tag_test.go
Labels: size/XS

#8851 Add support for description to tag template fields
  .changelog/4650.txt
  google/resource_data_catalog_tag_template.go
  google/resource_data_catalog_tag_test.go
  website/docs/r/data_catalog_tag_template.html.markdown
Labels: size/XS

#8853 Apigee environment group attachment
  .changelog/4641.txt
  google/provider.go
  google/resource_apigee_envgroup_attachment.go
  google/resource_apigee_envgroup_attachment_generated_test.go
  website/docs/r/apigee_envgroup_attachment.html.markdown
  website/google.erb
Labels: size/XL

#8854 Made tags GA
  .changelog/4661.txt
  google/config.go
  google/iam_tags_tag_key.go
  google/iam_tags_tag_value.go
  google/provider.go
  google/resource_tags_tag_binding.go
  google/resource_tags_tag_binding_sweeper_test.go
  google/resource_tags_tag_key.go
  google/resource_tags_tag_key_sweeper_test.go
  google/resource_tags_tag_value.go
  google/resource_tags_tag_value_sweeper_test.go
  google/resource_tags_test.go
  google/tags_operation.go
  website/docs/r/tags_tag_binding.html.markdown
  website/docs/r/tags_tag_key.html.markdown
  website/docs/r/tags_tag_key_iam.html.markdown
  website/docs/r/tags_tag_value.html.markdown
  website/docs/r/tags_tag_value_iam.html.markdown
Labels: size/XXL

#8857 Fix badly formatted descriptions in ACM
  .changelog/4668.txt
  google/resource_access_context_manager_service_perimeter.go
  google/resource_access_context_manager_service_perimeters.go
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/docs/r/access_context_manager_service_perimeters.html.markdown
Labels: size/XXL

#8858 Fix provider docs link on versions page
  .changelog/4667.txt
  website/docs/guides/provider_versions.html.markdown
Labels: size/XS

#8860 Allow iam member to utilize casing for principle and principleSet
  .changelog/4595.txt
  google/iam.go
  google/iam_test.go
  google/resource_google_service_account_iam_test.go
  google/resource_iam_member.go
Labels: size/XL

#8862 allow multiple fields in bgp_peer to be updatable
  .changelog/4670.txt
  google/resource_compute_router_bgp_peer.go
  google/resource_compute_router_bgp_peer_test.go
Labels: size/M

#8865 Fix min_node_cpus logic in GA
  .changelog/4671.txt
  google/compute_instance_helpers.go
Labels: size/XS

#8867 fix(cloud_identity): google_cloud_identity_group_membership import/update
  .changelog/4658.txt
  google/resource_cloud_identity_group_membership.go
  google/resource_cloud_identity_group_membership_test.go
Labels: size/XL

#8869 Use workflow short name rather than long name, state migrate
  .changelog/4669.txt
  google/resource_workflows_workflow.go
  google/resource_workflows_workflow_generated_test.go
  google/resource_workflows_workflow_sweeper_test.go
  google/resource_workflows_workflow_test.go
  website/docs/r/workflows_workflow.html.markdown
Labels: size/L

#8870 Bump machine types in dataproc test
  .changelog/4675.txt
  google/resource_dataproc_cluster_test.go
Labels: size/XS

#8877 Allow referencing IPs by reference in google_compute_forwarding_rule
  .changelog/4673.txt
  google/resource_compute_forwarding_rule.go
  google/resource_compute_forwarding_rule_test.go
  google/resource_compute_global_forwarding_rule.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: size/L

#8879 Added data source google kms secret asymmetric
  .changelog/4664.txt
  google/config.go
  google/data_source_google_kms_secret_asymmetric.go
  google/data_source_google_kms_secret_asymmetric_test.go
  website/docs/d/kms_secret_asymmetric.html.markdown
  website/google.erb
Labels: size/L

#8880 move logic of default func to configure
  .changelog/4678.txt
  google/provider.go
Labels: size/S

#8883 Revert "move logic of default func to configure"
  .changelog/4682.txt
  google/provider.go
Labels: size/XS

#8884 Change address purposes to strings
  .changelog/4681.txt
  google/resource_compute_address.go
  google/resource_compute_global_address.go
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_global_address.html.markdown
Labels: size/S

#8891 update default creds
  .changelog/4684.txt
  google/provider.go
  google/provider_test.go
  google/utils.go
Labels: size/S

#8868 Update changelog
  CHANGELOG.md
Labels: size/XS

#8893 Revert "add minItems for the required field scopes"
  .changelog/4686.txt
  google/resource_compute_instance.go
Labels: size/XS

#8894 Update DCL dependency
  go.mod
  go.sum
Labels: size/XS

#8895 Eventarc update
  .changelog/4611.txt
  go.mod
  go.sum
  google/config.go
  google/dcl.go
  google/dcl_logger.go
  google/provider.go
  google/resource_eventarc_trigger.go
  google/resource_eventarc_trigger_sweeper_test.go
  google/resource_eventarc_trigger_test.go
  google/transport.go
  google/utils.go
  website/docs/r/eventarc_trigger.html.markdown
  website/google.erb
Labels: size/XXL

#8896 Dataproc, container cluster, backend bucket test fixes
  .changelog/4679.txt
  google/resource_dataproc_cluster_test.go
Labels: size/XS

#8899 Added ingress settings note to cloudrun docs
  .changelog/4687.txt
  google/resource_cloud_run_service.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#8903 add os import
  .changelog/4691.txt
  google/utils.go
Labels: size/XS

#8905 Add conflictswith on autopilot to node config
  .changelog/4674.txt
  google/resource_container_cluster.go
Labels: size/XS

#8907 More GKE Documentation Updates
  .changelog/4696.txt
  website/docs/guides/using_gke_with_terraform.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: size/S

#8910 Adding shielded config values to dataproc_cluster
  .changelog/4694.txt
  google/resource_dataproc_cluster.go
  google/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/M

#8911 Added labels to issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/question.md
Labels: size/XS

#8919 dns/api.yaml: add missing record types
  .changelog/4689.txt
  google/resource_dns_resource_dns_record_set.go
  website/docs/r/dns_resource_dns_record_set.html.markdown
Labels: size/XS

#8920 add note for preemptible_worker_config
  .changelog/4695.txt
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/XS

#8921 promote min_node_cpus to GA for instance templates
  .changelog/4701.txt
  google/resource_compute_instance_template.go
  google/resource_compute_instance_template_test.go
Labels: size/XS

#8922 force_delete default value
  .changelog/4698.txt
  google/resource_data_catalog_tag_template.go
Labels: size/XS

#8923 Add BigTable source format in BigQuery tables
  .changelog/4155.txt
  google/resource_big_query_job.go
  google/resource_bigquery_table.go
  google/resource_bigquery_table_test.go
  website/docs/r/bigquery_job.html.markdown
  website/docs/r/bigquery_table.html.markdown
Labels: size/M

#8927 Make GCE Instance node affinities updatable
  .changelog/4402.txt
  google/compute_instance_helpers.go
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
Labels: size/L

#8932 Removed beta provider from node template test
  .changelog/4704.txt
  google/resource_compute_node_template_generated_test.go
  website/docs/r/compute_node_template.html.markdown
Labels: size/XS

#8933 Switched from name to name_prefix to avoid name conflicts and use a sweepable prefix
  .changelog/4705.txt
  google/resource_compute_backend_service_test.go
Labels: size/XS

#8940 made google_compute_network use google-beta provider
  .changelog/4707.txt
  website/docs/r/memcache_instance.html.markdown
Labels: size/XS

#8941 Switched tests relying on HTTP protocol to use INTERNAL_MANAGED load balancing
  .changelog/4708.txt
  google/resource_compute_region_ssl_certificate_generated_test.go
  google/resource_compute_region_target_http_proxy_test.go
  google/resource_compute_region_target_https_proxy_generated_test.go
  google/resource_compute_region_target_https_proxy_test.go
  google/resource_compute_region_url_map_generated_test.go
  google/resource_compute_region_url_map_test.go
  website/docs/r/compute_region_ssl_certificate.html.markdown
  website/docs/r/compute_region_target_https_proxy.html.markdown
  website/docs/r/compute_region_url_map.html.markdown
Labels: size/XS

#8914 Added 3.65.0 release notes
  CHANGELOG.md
Labels: size/XS

#8946 Remove validation on Cloud Functions available_memory_mb
  .changelog/4702.txt
  google/resource_cloudfunctions_function.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#8952 Add HA VPN Gateway Datasource
  .changelog/4710.txt
  google/data_source_google_compute_ha_vpn_gateway.go
  google/data_source_google_compute_ha_vpn_gateway_test.go
  google/provider.go
  website/docs/d/compute_ha_vpn_gateway.html.markdown
  website/google.erb
Labels: size/M

#8953 fixed empty serviceaccount.scopes in compute instance
  .changelog/4690.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
Labels: size/L

#8951 Fix typo in monitoring resource import documentation
  website/docs/r/monitoring_dashboard.html.markdown
Labels: size/XS

#8960 instance template sweeper
  .changelog/4718.txt
  google/resource_compute_instance_template_sweeper_test.go
Labels: size/M

#8962 Dataproc workflow template
  .changelog/4693.txt
  google/config.go
  google/expanders.go
  google/provider.go
  google/resource_dataproc_workflow_template.go
  google/resource_dataproc_workflow_template_sweeper_test.go
  google/resource_dataproc_workflow_template_test.go
  google/utils.go
  website/docs/r/dataproc_workflow_template.html.markdown
  website/google.erb
Labels: size/XXL

#8964 fixed update on parent
  .changelog/4712.txt
  google/resource_data_catalog_tag.go
Labels: size/XS

#8965 set point_in_time optional for sql clone
  .changelog/4715.txt
  google/resource_sql_database_instance.go
Labels: size/XS

#8966 Add cmek to spanner database
  .changelog/4699.txt
  google/config.go
  google/resource_spanner_database.go
  website/docs/r/spanner_database.html.markdown
Labels: size/M

#8969 Updated usage of " eq " in instance template filters
  .changelog/4719.txt
  google/data_source_google_compute_instance_template_test.go
  website/docs/d/compute_instance_template.html.markdown
Labels: size/XS

#8972 Add reference links for ML Engine Models
  .changelog/4723.txt
  website/docs/r/ml_engine_model.html.markdown
Labels: size/XS

#8973 make bigquery dataset dataset_id forcenew
  .changelog/4726.txt
  google/resource_big_query_dataset.go
Labels: size/XS

#8975 add project to big query dataset iam docs
  .changelog/4724.txt
  website/docs/r/bigquery_dataset_iam.html.markdown
Labels: size/XS

#8978 Add GCS Bucket Sweeper
  .changelog/4721.txt
  google/gcp_sweeper_test.go
  google/resource_storage_bucket_object_test.go
  google/resource_storage_bucket_sweeper_test.go
  google/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: size/XL

#8982 Promote Memcached to GA
  .changelog/4709.txt
  google/config.go
  google/memcache_operation.go
  google/provider.go
  google/resource_memcache_instance.go
  google/resource_memcache_instance_generated_test.go
  google/resource_memcache_instance_sweeper_test.go
  google/resource_memcache_instance_test.go
  website/docs/r/memcache_instance.html.markdown
Labels: size/XXL

#8986 Support healthcare dicom bq stream configure
  .changelog/4717.txt
  website/docs/r/healthcare_dicom_store.html.markdown
Labels: size/M

#8987 Made project_service.service validation reject invalid service domains
  .changelog/4722.txt
  google/resource_google_project_service.go
  google/resource_google_project_service_test.go
Labels: size/S

#8988 set skip_initial_version_creation a default
  .changelog/4729.txt
  google/resource_kms_crypto_key.go
Labels: size/XS

#8974 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#8989 Add interface to regional disks
  .changelog/4727.txt
  google/resource_compute_region_disk_test.go
  website/docs/r/compute_region_disk.html.markdown
Labels: size/XS

#8990 Made deletion of all budget filter projects be recognized
  .changelog/4731.txt
  google/resource_billing_budget.go
  google/resource_billing_budget_generated_test.go
  google/resource_billing_budget_sweeper_test.go
  google/resource_billing_budget_test.go
  website/docs/r/billing_budget.html.markdown
Labels: size/XL

#8997 string compare modified to include more cases
  .changelog/4716.txt
  google/error_retry_predicates.go
Labels: size/XS

#9005 Fix DCL resource doc formatting
  .changelog/4737.txt
  website/docs/r/dataproc_workflow_template.html.markdown
  website/docs/r/eventarc_trigger.html.markdown
Labels: size/S

#9008 update new role entity if old role does not match new role
  .changelog/4735.txt
  google/resource_storage_bucket_acl.go
  google/resource_storage_bucket_acl_test.go
Labels: size/S

#9009 Add support for generating endpoints from tpgtools
  .changelog/4730.txt
  google/config.go
  google/provider.go
  google/provider_dcl_endpoints.go
Labels: size/M

#9011 Add support for generating endpoints from tpgtools
  .changelog/4740.txt
  google/provider_dcl_endpoints.go
Labels: size/XS

#9012 Add Cloudrun for Anthos example
  .changelog/4438.txt
  website/docs/r/cloud_run_service.html.markdown
Labels: size/S

#9017 master_ipv4_cidr_block should be in line with documentation
  .changelog/4732.txt
  google/resource_composer_environment.go
  website/docs/r/composer_environment.html.markdown
Labels: size/XS

#9018 Enable Patching Workflows
  .changelog/4733.txt
  google/resource_workflows_workflow.go
  google/resource_workflows_workflow_test.go
Labels: size/S

#9020 fix provider.go.erb
  .changelog/4744.txt
  google/provider.go
Labels: size/XS

#9029 Resolved dns_record_set clearing rrdatas
  .changelog/4725.txt
  google/resource_dns_record_set_test.go
  google/resource_dns_resource_dns_record_set.go
Labels: size/M

#9032 fix crash in serviceAccountDiffSuppress
  .changelog/4748.txt
  google/resource_compute_instance.go
  google/resource_compute_instance_test.go
Labels: size/M

#9033 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#9034 gke node pool: add 404 response code check on delete call
  .changelog/4747.txt
  google/resource_container_node_pool.go
Labels: size/XS

#9035 Add support for InitialGroupConfig to google_cloud_identity_group
  .changelog/4746.txt
  google/resource_cloud_identity_group.go
  google/resource_cloud_identity_group_generated_test.go
  website/docs/r/cloud_identity_group.html.markdown
Labels: size/S

#9046 add secret manager cmek
  .changelog/4752.txt
  google/resource_secret_manager_secret.go
  google/resource_secret_manager_secret_test.go
  website/docs/r/secret_manager_secret.html.markdown
Labels: size/M

#9047 Support organization iam conditions
  .changelog/4749.txt
  google/iam.go
  google/iam_organization.go
  google/resource_google_organization_iam_test.go
  google/resource_iam_binding.go
  google/resource_iam_member.go
Labels: size/L

#9048 handle diff for duration
  .changelog/4753.txt
  google/common_diff_suppress.go
  google/resource_pubsub_subscription.go
  google/resource_pubsub_subscription_test.go
Labels: size/S
