Repository hashicorp/terraform-provider-google, pull requests merged in 2022-05, with the labels that each got.

#11621 update release to new github actions process
  .github/workflows/release.yml
  .goreleaser.yml
  terraform-registry-manifest.json
Labels: size/m

#11625 [DO NOT MERGE] Onboard project to Releases API
  .github/workflows/release.yml
  .goreleaser.yml
  .release/release-metadata.hcl
Labels: size/xs

#11697 add PROTOCOL_VERSIONs back to release.yml
  .github/workflows/release.yml
Labels: size/xs

#11708 remove protocol versions
  .github/workflows/release.yml
Labels: size/xs

#11649 Release 4.21.0 Changelog GA
  CHANGELOG.md
Labels: size/s

#11745 release notes 4.22.0
  CHANGELOG.md
Labels: size/s

#11760 add .release folder
  .release/release-metadata.hcl
Labels: size/xs

#11787 Add 4.23.0 changelog (ga)
  CHANGELOG.md
Labels: size/xs
