Repository hashicorp/terraform-provider-google, pull requests merged in 2022-09, with the labels that each got.

#12454 Made github actions use go 1.18
  .github/workflows/go.yml
Labels: size/xs

#12461 Add changelog for `4.35.0`
  CHANGELOG.md
Labels: size/s

#12522 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#12575 Point contributors to the MM repo from CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: size/m

#12571 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs
