Repository hashicorp/terraform-provider-google, pull requests merged in 2022-10, with the labels that each got.

#12538 Update the repo README
  README.md
Labels: size/m

#12698 4.39.0 changelog GA
  CHANGELOG.md
Labels: size/xs

#12791 Release notes for 4.41.0 - GA
  CHANGELOG.md
Labels: size/xs

#12900 4.42.0 changelog
  CHANGELOG.md
Labels: size/s
