Repository hashicorp/terraform-provider-google, pull requests merged in 2023-10, with the labels that each got.

#16067 5.0.0 changelog - GA
  CHANGELOG.md
Labels: size/m

#16136 Add 5.0.0 changelog entry
  CHANGELOG.md
Labels: size/m

#16143 Release 5.1.0 CHANGELOG
  CHANGELOG.md
Labels: size/m

#16239 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#16262 5.2.0 changelog
  CHANGELOG.md
Labels: size/xs

#16362 Tweak default date and dry run description for the issue labeler action
  .github/workflows/backfill-issue-labels.yml
Labels: size/xs

#16367 5.4.0 changelog
  CHANGELOG.md
Labels: size/s
