Repository hashicorp/terraform-provider-google, pull requests merged in 2023-08, with the labels that each got.

#15409 release 4.77.0 changelog
  CHANGELOG.md
Labels: size/s

#15467 Update template to link to new TC project, and provide info about transition period after migration to TC Cloud
  .github/ISSUE_TEMPLATE/10_test_failure.md
Labels: size/xs

#15474 Add 4.78.0 changelog
  CHANGELOG.md
Labels: size/xs

#15554 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#15591 Pin GitHub actions to commit SHAs of trusted versions
  .github/workflows/backfill-issue-labels.yml
Labels: size/xs

#15619 GA 4.80.0 change logs
  CHANGELOG.md
Labels: size/s

#15658 Revert "Fix Inconsistent logic when getting zone/region/location"
  website/docs/r/artifact_registry_repository.html.markdown
  website/docs/r/cloud_identity_group_membership.html.markdown
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/cloud_run_v2_job.html.markdown
  website/docs/r/cloud_run_v2_service.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_region_network_endpoint_group.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
  website/docs/r/compute_target_instance.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/data_fusion_instance.html.markdown
  website/docs/r/dataproc_metastore_service.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/dns_response_policy_rule.html.markdown
  website/docs/r/gke_hub_membership.html.markdown
  website/docs/r/healthcare_dicom_store.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/healthcare_hl7_v2_store.html.markdown
  website/docs/r/network_security_gateway_security_policy.html.markdown
  website/docs/r/vertex_ai_featurestore.html.markdown
  website/docs/r/vertex_ai_featurestore_entitytype.html.markdown
Labels: size/xl
