Repository hashicorp/terraform-provider-google, pull requests merged in 2024-11, with the labels that each got.

#20118 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/m

#20111 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#20186 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#20232 Release 5.45.0 changelogs
  CHANGELOG.md
Labels: size/xs

#20229 6.11.0 changelogs
  CHANGELOG.md
Labels: size/m

#20288 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#20315 Added 6.11.1 release notes
  CHANGELOG.md
Labels: size/xs

#20227 Create CODEOWNERS
  CODEOWNERS
Labels: size/xs

#20329 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#20374 Update CHANGELOG.md in the main branch
  CHANGELOG.md
Labels: size/s

#20469 Fixed duplicate changelog entry
  CHANGELOG.md
Labels: size/xs

#20501 Remove sweeper information from CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: size/xs
