Repository hashicorp/terraform-provider-google, pull requests merged in 2024-03, with the labels that each got.

#17424 Added issue form for developer productivity
  .github/ISSUE_TEMPLATE/14_developer_productivity.yml
Labels: size/s

#17497 Update docscheck.sh to accept provider function docs
  scripts/docscheck.sh
Labels: size/xs

#17509 Update docscheck.sh to accept provider function docs (#17497)
  scripts/docscheck.sh
Labels: size/xs

#17525 Add previous changelog
  CHANGELOG.md
Labels: size/xs

#17526 release 5.20.0 changelog
  CHANGELOG.md
Labels: size/xs

#17541 5.20.0 release notes
  CHANGELOG.md
Labels: size/xs

#17586 Release 5.21.0 changelog
  CHANGELOG.md
Labels: size/xs

#17611 Update CHANGELOG.md 5.21.0
  CHANGELOG.md
Labels: size/xs

#17650 5.22.0 changelog
  CHANGELOG.md
Labels: size/xs

#17688 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#17694 Release provider-defined functions (#10288)
  .changelog/10288.txt
  go.mod
  go.sum
  google/functions/element_from_id.go
  google/functions/element_from_id_internal_test.go
  google/functions/location_from_id.go
  google/functions/location_from_id_internal_test.go
  google/functions/location_from_id_test.go
  google/functions/name_from_id.go
  google/functions/name_from_id_internal_test.go
  google/functions/name_from_id_test.go
  google/functions/project_from_id.go
  google/functions/project_from_id_internal_test.go
  google/functions/project_from_id_test.go
  google/functions/region_from_id.go
  google/functions/region_from_id_internal_test.go
  google/functions/region_from_id_test.go
  google/functions/region_from_zone.go
  google/functions/region_from_zone_internal_test.go
  google/functions/region_from_zone_test.go
  google/functions/zone_from_id.go
  google/functions/zone_from_id_internal_test.go
  google/functions/zone_from_id_test.go
  google/fwprovider/framework_provider.go
  website/docs/functions/location_from_id.html.markdown
  website/docs/functions/name_from_id.html.markdown
  website/docs/functions/project_from_id.html.markdown
  website/docs/functions/region_from_id.html.markdown
  website/docs/functions/region_from_zone.html.markdown
  website/docs/functions/zone_from_id.html.markdown
Labels: size/xl

#17727 Fix bad resource in changelog (it's a datasource)
  CHANGELOG.md
Labels: size/xs
