Repository hashicorp/terraform-provider-google, pull requests merged in 2024-06, with the labels that each got.

#18298 release-5.32.0-changelog
  CHANGELOG.md
Labels: size/xs

#18343 Revert "Gha test reviewing pull 18241"
  .github/workflows/nightly-branch-maker.yaml
  .github/workflows/teamcity-nightly-workflow.yaml
Labels: size/m

#18347 Add 5.32 changelog to main branch
  CHANGELOG.md
Labels: size/xs

#18364 Fixed 5.32.0 changelog to include all added iam resources
  CHANGELOG.md
Labels: size/xs

#18352 Update 5.33 CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#18416 Update 4.85.0 CHANGELOG to main branch
  CHANGELOG.md
Labels: size/xs

#18439 Add changelog for 5.34.0
  CHANGELOG.md
Labels: size/s

#18460 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#18599 Update CHANGELOG.md 5.35.0
  CHANGELOG.md
Labels: size/xs
