Repository hashicorp/terraform-provider-google, pull requests merged in 2024-01, with the labels that each got.

#16903 Release 5.11.0 changelog
  CHANGELOG.md
Labels: size/s

#16929 Update 5.11.0 CHANGELOG in main branch
  CHANGELOG.md
Labels: size/s

#16933 Corrected typo in resource name in changelog
  CHANGELOG.md
Labels: size/xs

#16975 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#17011 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#17069 Update CHANGELOG.md for 5.13.0
  CHANGELOG.md
Labels: size/s

#17113 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#17120 Added test issue form for bugs
  .github/ISSUE_TEMPLATE/12_bug_test_form.yaml
Labels: size/m

#17130 Fixed problem with issue form
  .github/ISSUE_TEMPLATE/12_bug_test_form.yml
Labels: size/xs

#17133 Fixed typos / formatting in bug issue form
  .github/ISSUE_TEMPLATE/12_bug_test_form.yml
Labels: size/xs

#17143 Switched to issue form for bug reports
  .github/ISSUE_TEMPLATE/00_bug.md
  .github/ISSUE_TEMPLATE/00_bug.yml
Labels: size/m
