Repository hashicorp/terraform-provider-google, pull requests merged in 2024-08, with the labels that each got.

#18958 Add 5.39.1 to CHANGELOG on main
  CHANGELOG.md
Labels: size/xs

#18959 CHANGELOG 5.40.0
  CHANGELOG.md
Labels: size/xs

#19045 Update CHANGELOG.md for 5.40.0
  CHANGELOG.md
Labels: size/xs

#19046 Update CHANGELOG.md for 5.41.0
  CHANGELOG.md
Labels: size/m

#19103 Revert "feat: support Cloud SQL's new field server_ca_mode. (#11331) (#18998)"
  .changelog/11331.txt
  CHANGELOG.md
  go.mod
  go.sum
  google/services/sql/resource_sql_database_instance.go
  google/services/sql/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/m

#19116 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#19150 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#19208 5.43 changelog
  CHANGELOG.md
Labels: size/xs

#19231 6.0.0 changelog
  CHANGELOG.md
Labels: size/s

#19264 release-6.0.1-changelog
  CHANGELOG.md
Labels: size/xs
