Repository hashicorp/terraform-provider-google, pull requests merged in 2024-12, with the labels that each got.

#20539 Update docscheck.sh to accept ephemeral-resources folder
  scripts/docscheck.sh
Labels: size/xs

#20549 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#20590 Remove SarahFrench from reviewer-lottery.yml
  .github/reviewer-lottery.yml
Labels: size/xs

#20589 Removed now unused dry run input variable
  .github/workflows/backfill-issue-labels.yml
Labels: size/xs

#20591 Update reviewer-lottery.yml
  .github/reviewer-lottery.yml
Labels: size/xs

#20636 Update CHANGELOG.md v6.13
  CHANGELOG.md
Labels: size/m

#20678 `teamcity-nightly-workflow`: only create nightly-test branch on upstream provider repo
  .github/workflows/teamcity-nightly-workflow.yaml
Labels: size/xs

#20684 6.14 CHANGELOG
  CHANGELOG.md
Labels: size/s

#20702 Update CHANGELOG.md for 6.14.0
  CHANGELOG.md
Labels: size/s

#20743 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs
