Repository hashicorp/terraform-provider-google, pull requests merged in 2025-02, with the labels that each got.

#21094 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/m

#21093 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/m

#21211 Added 6.19.0 changelogs to main
  CHANGELOG.md
Labels: size/s

#21263 Delete .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Labels: size/m

#21275 Remove duplicate google_beyondcorp_security_gateway entry
  CHANGELOG.md
Labels: size/xs

#21308 release-6.20.0 changelogs
  CHANGELOG.md
Labels: size/s

#21336 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#21338 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#21410 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#21527 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/m
