Repository hashicorp/terraform-provider-google, pull requests merged in 2025-08, with the labels that each got.

#23880 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#23917 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#24013 `6.49.0`: CHANGELOG.md
  CHANGELOG.md
Labels: size/m

#24098 6.49.2 release notes
  CHANGELOG.md
Labels: size/xs

#24100 7.0.0 changelogs (GA)
  CHANGELOG.md
Labels: size/m

#24187 7.0.1 changelog
  CHANGELOG.md
Labels: size/xs

#24203 Update CODEOWNERS
  CODEOWNERS
Labels: size/xs
