Repository hashicorp/terraform-provider-google, pull requests merged in 2025-01, with the labels that each got.

#20812 Add changelog for 6.15.0
  CHANGELOG.md
Labels: size/s

#20852 Add github workflow create service-team labels
  .github/workflows/ensure-service-team-labels.yml
Labels: size/xs

#20877 Update CHANGELOG.md 6.15.0
  CHANGELOG.md
Labels: size/s

#20880 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#20897 Update CHANGELOG.md for v6.16.0
  CHANGELOG.md
Labels: size/xs

#20927 Update CHANGELOG.md for upcoming 6.17.0 release
  CHANGELOG.md
Labels: size/s

#21041 Add changelog for 6.18.0
  CHANGELOG.md
Labels: size/m
