Repository hashicorp/terraform-provider-google, pull requests merged in 2025-09, with the labels that each got.

#24219 release-7.1.0-changelog
  CHANGELOG.md
Labels: size/s

#24357 Release 7.3.0 changelog
  CHANGELOG.md
Labels: size/m

#24400 Backport bigtable IAM change
  google/services/bigtable/iam_bigtable_table.go
  google/services/bigtable/resource_bigtable_table_iam_test.go
Labels: size/l

#24424 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#24505 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s
