Repository hashicorp/terraform-provider-google, pull requests merged in 2025-04, with the labels that each got.

#22194 Update CHANGELOG.md with 6.28.0
  CHANGELOG.md
Labels: size/m

#22261 Fix v6.28.0 changelog entry
  CHANGELOG.md
Labels: size/xs

#22245 6.29.0 ga patch notes
  CHANGELOG.md
Labels: size/xs

#22274 Update 6.29.0 CHANGELOG.md in the main branch
  CHANGELOG.md
Labels: size/s

#22318 Update 6.30.0 CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#22360 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#22445 Fix the name of google_apigee_control_plane_access
  CHANGELOG.md
Labels: size/xs

#22457 Update CHANGELOG.md for 6.31.0
  CHANGELOG.md
Labels: size/s

#22547 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#22523 Release 6.33.0 changelog
  CHANGELOG.md
Labels: size/s
